﻿@model RawPage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.is_active)
    @Html.HiddenFor(x => x.created_date)
    @Html.HiddenFor(x => x.modified_date)
    @Html.HiddenFor(x => x.created_by)
    @Html.HiddenFor(x => x.modified_by)
    <div class="card card-outline">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="card card-secondary">
                        <dv class="card-header">
                            <h3 class="card-title">
                                @DT.LOCAL.Components.Labels.PageInfo
                            </h3>
                        </dv>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="role_id">
                                    @DT.LOCAL.Objects.Columns.role_id<br />
                                    <small>(Select role to show this page)</small>
                                </label>
                                <select id="roles" class="form-control select2" name="roles" multiple>
                                    @foreach (var role in StaticDB.Roles)
                                    {
                                        <option @(Model.roles.Contains(role.id) ? "selected" : "") value="@role.id">@role.title</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    @DT.LOCAL.Objects.Columns.name<br />
                                    <small>(Select name of page)</small>
                                </label>
                                <select id="name" class="form-control select2" name="name">
                                    <option selected disabled>Select one</option>
                                    <option @(Model.name == "FAQ" ? "selected" : "") value="FAQ">FAQ (FAQ Page Content)</option>
                                    <option @(Model.name == "HELP" ? "selected" : "") value="HELP">HELP (Help Page Content)</option>
                                    <option @(Model.name == "FEED" ? "selected" : "") value="FEED">FEED (Shows in home page as feed)</option>
                                    <option @(Model.name == "ANNOUNCEMENT" ? "selected" : "") value="ANNOUNCEMENT">ANNOUNCEMENT (Shows as announcement on top bar)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="card card-secondary">
                        <dv class="card-header">
                            <h3 class="card-title">
                                @DT.LOCAL.Objects.Columns.details   <small>(Seen only by admins)</small>
                            </h3>
                        </dv>
                        <div class="card-body">
                            <div class="form-group">
                                <textarea id="details" class="form-control" name="details" rows="7" style="height:100%;">@Model.details.ToStr()</textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="card card-secondary">
                        <dv class="card-header">
                            <h3 class="card-title">@DT.LOCAL.Objects.Columns.body</h3>
                        </dv>
                        <div class="card-body">
                            <textarea id="body" name="body" class="form-control">@Html.Raw(Model.body.ToStr())</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-lg btn-success pull-right" type="submit">
                <i class="fa fa-save"></i> @DT.LOCAL.Components.Buttons.Save
            </button>
        </div>
    </div>
}
@section scripts{
    <script>
        $(function () {
            $('#body').summernote({
                height: 600,
                dialogsInBody: true,
                toolbar: [
                    ['file', ['undo', 'redo']],
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['view', ['fullscreen', 'codeview', 'preview']],
                    ['insert', ['link', 'insertimage', 'insertvideo', 'insertaudio', 'hr']]
                ],

                buttons: {
                    preview: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-eye"></i>',
                            tooltip: 'Preview',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.Preview',
                                    content: $("#body").summernote('code'),
                                    columnClass: 'col-md-12',
                                    theme: 'material',
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Ok': function () {

                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertvideo: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-video"></i>',
                            tooltip: 'Insert Video',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.YoutubeLinkLabel</label>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:left;">' +
                                        '<input type="checkbox" onchange="ToggleTI(this)" data-target="#media-start-ti"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start-ti" onchange="ChangeEndTI(this);"/>' +
                                        '<label id="media-start-time-ti"></label>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:right;">' +
                                        '<input type="checkbox"  onchange="ToggleTI(this)" data-target="#media-end-ti"/> @DT.LOCAL.Objects.Columns.media_end_time' +
                                        '<input type="number" step="1" min="0"  class="form-control hidden" id="media-end-ti" onchange="ChangeStartTI(this);"/>' +
                                        '<label id="media-end-time-ti"></label>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                if (!media_link)
                                                    return;
                                                var media_start = this.$content.find('input#media-start').val();
                                                var media_end = this.$content.find('input#media-end').val();
                                                var YT_ID = YoutubeIdParser(media_link);
                                                if (!YT_ID) {
                                                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.EnterValidYoutubeURL', '@DT.LOCAL.Components.Buttons.Ok');
                                                    return;
                                                }
                                                var source_link = 'https://www.youtube.com/embed/' + YT_ID + '?start=' + media_start;
                                                if (media_end != 0)
                                                    source_link += '&end=' + media_end;
                                                source_link += '&rel=0';


                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '640');
                                                iframe.setAttribute('height', '360');
                                                iframe.setAttribute('class', 'material-body-video');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertaudio: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-volume-up"></i>',
                            tooltip: 'Insert Audio',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.SoundcloudLinkLabel</label>' +
                                        '<small>(Only SoundCloud links are accepted)</small>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                        '<input type="checkbox" onchange="ToggleTI(this)" data-target="#media-start-ti"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<label id="media-end-time-ti"></label>' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start-ti" onchange="ChangeTimeViewTI(this)"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                var media_start = this.$content.find('input#media-start').val();
                                                if (!media_link)
                                                    return;

                                                var source_link = 'https://w.soundcloud.com/player/?url=' + media_link;
                                                if (media_start != 0) {
                                                    var dt = new Date(media_start * 1000).toISOString().substr(14, 5).replace('-', ':');
                                                    source_link += '#t=' + dt;
                                                }



                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '100%');
                                                iframe.setAttribute('class', 'material-body-audio');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    },
                    insertimage: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-image"></i>',
                            tooltip: 'Insert Image',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                            '<label>@DT.LOCAL.Components.Labels.ImageLink</label>' +
                                            '<input class="form-control" id="image-link"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var image_link = this.$content.find('input#image-link').val();
                                                if (!image_link)
                                                    return;

                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var a = document.createElement('a');
                                                a.href = image_link;
                                                a.setAttribute('data-toggle', 'lightbox');
                                                a.setAttribute('data-title', image_link);
                                                var img = document.createElement('img');
                                                img.src = image_link;
                                                img.setAttribute('class', 'material-body-image');
                                                a.appendChild(img);
                                                div.appendChild(a);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + image_link + '" target="_blank"><strong>SOURCE : </strong>' + image_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    }
                }
            });
        });
    </script>
}

