﻿@model List<RawPage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}

<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    @ViewBag.SubDirectory
                </h3>
                <div class="card-tools">
                     <a class="btn btn-tool" id="btn-table-create"
                        href="@Url.Action("AddUpdate","RawPageManagement")">
                        <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.CreateNew
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                    <thead>

                        <tr>
                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.name</th>
                            <th>@DT.LOCAL.Objects.Columns.roles</th>
                            <th>@DT.LOCAL.Objects.Columns.details</th>
                            <th>@DT.LOCAL.Objects.Columns.created_by</th>
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                            <th>@DT.LOCAL.Objects.Columns.modified_by</th>
                            <th>@DT.LOCAL.Objects.Columns.modified_date</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (RawPage item in Model.Where(x=>x.is_active))
                        {

                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">

                                    <a href="@Url.Action("AddUpdate","RawPageManagement",new {id=item.id})"
                                       class="btn btn-default hover-orange">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a href="#"
                                       class="btn btn-danger"
                                       onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete","RawPageManagement",new {id=item.id })');">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>@item.name</td>
                            <td>
                                <ul>
                                    @foreach (int role_id in item.RoleIds)
                                    {
                                        <li>@StaticDB.Roles.GetById(role_id).ToStr()</li>
                                    }
                                </ul>
                            </td>
                            <td>@item.details.ToStr()</td>
                            <td>@StaticDB.Users.GetById(item.created_by).ToStr()</td>
                            <td data-order="@item.created_date.Ticks.ToStr()">@item.created_date.ToStr()</td>
                            <td>@StaticDB.Users.GetById(item.modified_by).ToStr()</td>
                            <td data-order="@item.modified_date.Ticks.ToStr()">@item.modified_date.ToStr()</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{
    @Html.Partial("_DatatableScripts")
    <script>
        function CreateNew() {
            location.href = '@Url.Action("AddUpdate", "RawPageManagement")';
        }
    </script>
}
