﻿@{

    User currentUser = Request.User();
    string roleStr = "Visitor";
    if (currentUser != null)
    {
        Role role = StaticDB.Roles.GetById(currentUser.role_id);
        roleStr = role.title;
    }

    RawPage faq = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count == 4 && x.name.Equals("FAQ"));
    RawPage help = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count == 4 && x.name.Equals("HELP"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="google-site-verification=aNI-Q7FKYab5a6uE-5CO1I-SVK0qn-IL_B2P2w4_xzc" />
    <title>
        @DT.LOCAL.ApplicationInfo.Abbreviation - @roleStr - @ViewBag.Title
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/plugins/admin-lte/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Jquery Confirm -->
    <link href="~/Content/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/Content/plugins/animate.css/animate.min.css" rel="stylesheet" />
    <!-- Lightbox -->
    <link href="~/Content/plugins/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/css/custom.css" rel="stylesheet" />

    @RenderSection("styles", false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3EFR6CYZK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L3EFR6CYZK');
    </script>
</head>
<body class="hold-transition account-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <a href="@Url.Action("Start","Account")">
                    <img src="~/Content/img/logo.gif" class="login-logo" />
                </a>
            </div>
            <div class="col-md-8 col-sm-12">
                <p style="font-size:30px;">
                    <strong>
                        Digitizing Pedagogical Task Design for <br />
                        Interactional Competence
                    </strong>
                </p>
                <p  style="font-size:18px;">
                    DIGITASK4IC – ERASMUS+ KA226-HE
                </p>
            </div>
        </div>

        @RenderBody()
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    @if (help != null)
                    {
                        <button title="HELP" data-toggle="tooltip" data-url="@Url.Action("RawPageShower","Account",new {id=help.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="btn">
                            <i class="far fa-2x fa-life-ring text-danger"></i> <span class="">HELP</span>
                        </button>
                    }
                    @if (faq != null)
                    {
                        <button title="FAQ" data-toggle="tooltip" data-url="@Url.Action("RawPageShower","Account",new {id=faq.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="btn">
                            <i class="fas fa-2x fa-question-circle text-primary"></i> <span class="">FAQ</span>
                        </button>
                    }
                </div>
            </div>
            <div class="col-12">
                <blockquote class="login-footer-quote">
                    “The European Commission’s support for the production of this publication does not constitute an endorsement of the contents, which reflect the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein.”
                </blockquote>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/img/ab_baskanligi_yazisiz-e1615999123107.jpg" class="img-login-footer" style="float: left;margin-left: 10px;" />
                <img src="~/Content/img/ua_logo.png" class="img-login-footer" style="float:left;margin-left: 10px;" />
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/img/logosbeneficaireserasmusleft_en.jpeg" class="img-login-footer" style="float:right;" />
            </div>
        </div>
    </div>
    <div class="modal fade animate__animated animate__fadeIn" id="terms-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="raw-modal"></div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/plugins/admin-lte/js/adminlte.min.js"></script>
    <!-- Jquery Cookie -->
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- Jquery Confirm -->
    <script src="~/Content/plugins/jquery-confirm/jquery-confirm.min.js"></script>
    <!-- Lightbox -->
    <script src="~/Content/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Common  -->
    <script src="~/Content/js/common.js"></script>
    <script>
		$(document).on('click', '[data-toggle="lightbox"]', function (event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
        function ShowMsg(content) {
            $.alert({
                title: '<i class="fas fa-info-circle fa-2x text-primary"></i> @DT.LOCAL.Messages.Infos.DialogTitle',
                content: content,
                theme: 'supervan'
            });
        }
        function ShowWarning(content) {
            $.alert({
                title: '<i class="fas fa-exclamation-triangle fa-2x text-danger"></i> @DT.LOCAL.Messages.Warnings.DialogTitle',
                content: content,
                theme: 'supervan'
            });
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
