﻿<!-- DataTables -->
@{
    string orderBy = "1";
    string orderSort = "desc";
    if (ViewData["OrderBy"] != null)
    {
        orderBy = ViewData["OrderBy"].ToStr("1");
    }
    if (ViewData["OrderSort"] != null)
    {
        orderSort = ViewData["OrderSort"].ToStr("desc");
    }
}
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script>
        $(function () {
            var datatable = $('.index-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fas fa-plus"></i> @DT.LOCAL.Components.Buttons.New',
                        className: 'btn-create-new @ViewData["cls"]',
                        action: function () {
                            CreateNew();
                        }
                    },
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-bars"></i>',
                        className: 'table-buttons btn-default',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'p',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                                key: {
                                    key: 'c',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'x',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'r',
                                    altKey: true
                                }
                            }
                        ]
                    }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });

</script>