﻿<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">DİKKAT</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bu girişi silmek istediğinizden emin misiniz? Bu işlem geri alınamayabilir.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ConfirmDelete();">SİL</button>
            </div>

        </div>
    </div>
</div>