﻿@{
    User user = WebUtils.Cookies.Get<User>(Request.RequestContext.HttpContext, "User");
}
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        @DT.LOCAL.ApplicationInfo.Abbreviation Ver.@DT.LOCAL.ApplicationInfo.ApplicationVersion
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021-@Zaman.Simdi.Year <a href="https://www.modsoft.com.tr">MODSOFT</a>.</strong>
</footer>