﻿<div class="row mb-2">
    <div class="col-sm-8">
        <h1 class="m-0 text-dark page-title">@Html.Raw(ViewBag.Title)</h1>
    </div><!-- /.col -->
    <div class="col-sm-4">
        <ol class="breadcrumb float-sm-right">
            @*<li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@DT.LOCAL.Components.Labels.HomePage</a></li>*@
            <li class="breadcrumb-item active">@ViewBag.SubDirectory</li>
        </ol>
    </div><!-- /.col -->
</div>