﻿@{
    string serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    string apiServerUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")) + "api/";
    User currentUser = Request.User();
    Role role = StaticDB.Roles.GetById(currentUser.role_id);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @DT.LOCAL.ApplicationInfo.Abbreviation - @role.title - @ViewBag.Title
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">


    <!-- Font Awesome Icons -->
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/plugins/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <!--Select 2 -->
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Jquery Confirm -->
    <link href="~/Content/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <!-- DateTimePicker -->
    <link href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Preloader -->
    <!-- <link href="~/Content/plugins/universal-preloader/css/preloader.css" rel="stylesheet" /> -->
    <!-- Tagify -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tagify/4.1.1/tagify.min.css" integrity="sha512-PmDlF8+NwANjpP2Kc1EqXOUCtV0bSz1mr5HC9zii3CxtHPDKGHsioVf+JFBqLItNJol0S9A+TXIjnG626ZxUHQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Summernote -->
    <link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/Content/plugins/animate.css/animate.min.css" rel="stylesheet" />
    <!-- Toast CSS -->
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Lightbox -->
    <link href="~/Content/plugins/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <!-- View Styles -->
    @RenderSection("styles", required: false)

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <style>
        .online {
            color: limegreen;
            float: right;
        }

        .participant-list {
            padding-left: 20px;
        }

        .direct-chat-timestamp {
            font-size: 80%;
        }

        .textarea_like_wp {
            display: block;
            min-height: 50px;
            max-height: 80px;
            overflow-x: auto;
            width: calc(100% - 103px);
            line-height: 21px;
            padding: 10px;
            font-size: 15px;
            line-height: 25px;
            border: 2px solid gray;
            float: left;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3EFR6CYZK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L3EFR6CYZK');
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("_Navbar")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("_Sidebar")
        <!-- /.Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    @Html.Partial("_Header")
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Rendered Body -->
                    @RenderBody()
                    <!-- /.Rendered Body -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")
        <!-- /.right-sidebar -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2021 <a href="https://www.digitask.app">@DT.LOCAL.ApplicationInfo.Abbreviation </a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> @DT.LOCAL.ApplicationInfo.ApplicationVersion
        </div>
    </footer>
    <div class="modal fade animate__animated animate__fadeIn" id="announce-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="raw-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="partial-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="inner-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="report-modal"></div>
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
        $(function () {
            $.cookie('DT_ServerUrl', encodeURI('@serverUrl'));
            $.cookie('DT_ApiServerUrl', encodeURI('@apiServerUrl'));
        });
    </script>
    <!-- Preloader -->
    <!-- <script src="~/Content/plugins/universal-preloader/js/preloader.js"></script> -->
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/select2/js/i18n/tr.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/plugins/admin-lte/js/adminlte.min.js"></script>
    <!-- Jquery Cookie -->
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- Jquery Confirm -->
    <script src="~/Content/plugins/jquery-confirm/jquery-confirm.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- DateTimePicker -->
    <script src="~/Content/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Tools Scripts -->
    <script src="~/Content/js/tools.js"></script>
    <!-- Tagify -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tagify/4.1.1/jQuery.tagify.min.js" integrity="sha512-i94GKsInNRFXnpLlVkQiiMAqZYdizWRL4fMeETjFeYsen3/UZy3cqNVYSKpJW6QLxL6J8BONJspPGIn6K2oXNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Toast JS -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <!-- Lightbox -->
    <script src="~/Content/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- QR Code -->
    <script src="~/Content/plugins/qrcode/jquery-qrcode.min.js"></script>
    <!-- SignalR -->
    <script src="~/Content/plugins/signalR/jquery.signalR-2.4.2.min.js"></script>
    <!-- SignalR/Hubs -->
    <script src="~/SignalR/Hubs" type="text/javascript"></script>
    <!-- Custom Scripts -->
    <script src="~/Content/js/custom.js"></script>
    <!-- View Scripts -->
    @RenderSection("scripts", required: false)
    <script>
        var SessionHub = $.connection.sessionHub;
        var hubStarted = false;
        var interacted = false;
        function interacting() {
            interacted = true;
            $(window).unbind("scroll");
            $(window).unbind("click");
        }
        $(function () {
            $(window).bind("scroll click", interacting);
            SetTheme();
            @{
                string message = Session["ErrorMessage"] == null || Session["ErrorMessage"].ToString() == "" ? "": Session["ErrorMessage"].ToString();
                Session["ErrorMessage"] = "";
            }
            var message = '@message';
            if (message != '')
                ShowInfo(message);

            $('[data-widget="sidebar-search"]').SidebarSearch();
            $('#input-search').change(function () {
                $('.sidebar-search-results>.list-group>a').each(function (i, item) {
                    var url = $(item).attr('href');
                    console.log(url);
                    var decodedUrl = decodeURIComponent(url);
                    console.log(decodedUrl);
                    $(item).attr('href', decodedUrl);
                });
            });
            SessionHub.client.messageReceived = function (msg) {
                console.log('Message Received!');
                PlaySound('@Url.Content("~/Content/sounds/msg_beep.mp3")');
                $.alert(msg.body, msg.User.FullName);
            };
            $.connection.hub.start().done(function () {
                SessionHub.server.session_started(@currentUser.id);
                hubStarted = true;
            })


            $.ajax({
                type: "POST",
                url: $('#announcements').data('url'),
                success: function (data) {
                    if (data['Result']) {
                        $('#announcement-count').html(data.list.length);
                        var template = ' <a href="#" data-url="{{URL}}" data-modal="#announce-modal" onclick="PartialShow(this);" class="dropdown-item">' +
                                '<div class="media">' +
                                    '<div class="media-body">' +
                                        '<h3 class="dropdown-item-title">' +
                                            '{{USER}}' +
                                            '<span class="float-right text-sm text-{{STAR_COLOR}}"><i class="fas fa-star"></i></span>' +
                                        '</h3>' +
                                        '<p class="text-sm">{{DETAILS}}</p>' +
                                        '<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{DATETIME}}</p>' +
                                    '</div>' +
                                '</div>' +
                            '</a > ' +
                            '<div class="dropdown-divider"></div>';
                        $('#announcements').html('');
                        console.log(data.list);
                        for (var i = 0; i < data.list.length; i++) {
                            var announcement = data.list[i];
                            $('#announcements').append(
                                template
                                    .replaceAll('{{URL}}', '@Url.Action("Details","RawPageManagement")'+'/' + announcement.id)
                                    .replaceAll('{{USER}}', announcement.User.FullName)
                                    .replaceAll('{{STAR_COLOR}}', announcement.User.role_id == 1?'text-danger':'text-warning')
                                    .replaceAll('{{DETAILS}}', announcement.details)
                                    .replaceAll('{{DATETIME}}', announcement.DateStr)
                            );
                        }
                    }
                }
            });
        });
        function PlaySound(sound) {
            try {
                var audio = new Audio(sound);
                audio.play();
            } catch (e) {

            }
        }
        function CreateTask() {
            $.confirm({
                title: 'Create Task',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Task Title</label>' +
                    '<input type="text" placeholder="Please Write" class="title form-control" required />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var title = this.$content.find('.title').val();
                            if (!title) {
                                $.alert('Please enter a proper title!');
                                return false;
                            }
                            location.href = '@Url.Action("Create","TaskManagement")' + '?title=' + decodeURI(title);
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }

        function Bookmarking(elm) {
            UpdateBookmark(elm,
                '@DT.LOCAL.Messages.Warnings.DialogTitle',
                '@DT.LOCAL.Components.Buttons.Ok');
    }
    function onSubmit(token) {
        document.getElementById("feedback-form").submit();
    }
    </script>

    @if (currentUser.role_id == 1)
    {
        <script>
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": true,
              "progressBar": true,
              "positionClass": "toast-bottom-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
            var onlineCount = 0;
                $(function () {
                    SessionHub.client.userConnected = function (user) {
                        var userSys = user.FullName + ' [' + user.id + ']';
                        console.log('User session has started : ' + userSys);
                        // toastr.success(userSys + ' is online!');

                        var li = '<li class="session-user" style="line-height:30px;" data-user-id="' + user.id + '">' +
                            '<a href="@Url.Action("Details","UserManagement")/' + user.id +'" target="_blank">' + user.FullName + '</a>' +
                            '<i class="fas fa-circle online" data-user-id="' + user.id + '"></i>' +
                            '</li>';
                        $('.participant-list').append(li);
                        ++onlineCount;
                        $('#online-count').html(onlineCount);
                    };
                    SessionHub.client.userDisconnected = function (user) {
                        var userSys = user.FullName + ' [' + user.id + ']';
                        console.log('User session has ended : ' + userSys);
                        // toastr.error(userSys + ' is offline!');

                        var li = $('li[data-user-id="' + user.id + '"]');
                        $(li).fadeOut(250, function () { $(this).remove(); })
                        --onlineCount;
                        $('#online-count').html(onlineCount);
                    };
                    SessionHub.client.receiveOnlines = function (users) {
                        onlineCount = users.length;
                        $('#online-count').html(onlineCount);
                        for (var i = 0; i < users.length; i++) {
                            var user = users[i];
                            var li = '<li class="session-user" style="line-height:30px;" data-user-id="' + user.id + '">' +
                                '<a href="@Url.Action("Details","UserManagement")/' + user.id +'" target="_blank">' + user.FullName + '</a>' +
                                 '<i class="fas fa-circle online" data-user-id="' + user.id + '"></i>' +
                                '</li>';
                            $('.participant-list').append(li);
                        }
                    };
                    document.querySelector('#msg-text').addEventListener('keypress', function (e) {
                        if (e.key === 'Enter') {
                            SendMessage();
                        }
                    });
                });
                //function OrderUsers() {
                //    $('.participant-list').each(function () {
                //        var $this = $(this);
                //        $this.append($this.find('.session-user').get().sort(function (a, b) {
                //            return $(a).data('status') - $(b).data('status');
                //        }));
                //    });
                //}
                function SendMessage() {
                    SessionHub.server.sendMessage(@currentUser.id, $('#msg-text').val());
                    document.getElementById('msg-text').value = ''
                }
        </script>

        @Html.Partial("InteractivityModal")
    }
</body>
</html>