﻿@{
    User current_user = Request.User();
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-90" id="selector-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Tables.Materials
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#selector-dialog"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-header">
            <div class="btn-group btn-tab-group">
                <a class="btn btn-default btn-tab" onclick="GetTable(this);" data-type="my"> @DT.LOCAL.Components.WebMenuItems.My_Materials</a>
                <a class="btn btn-warning btn-tab" onclick="GetTable(this);" data-type="bookmarked">@DT.LOCAL.Components.WebMenuItems.Bookmarked_Materials</a>
                <a class="btn btn-primary btn-tab" onclick="GetTable(this);" data-type="all">@DT.LOCAL.Components.WebMenuItems.All_Materials</a>
            </div>
        </div>
        <div class="modal-header">
            <table class="cell-border display table-bordered table-responsive responsive d-none" id="materials-table" style="width:100% !important;">
                <thead>
                    <tr>
                        <th></th>
                        <th>@DT.LOCAL.Objects.Columns.type</th>
                        <th>@DT.LOCAL.Objects.Columns.title</th>
                        <th>@DT.LOCAL.Objects.Columns.created_date</th>
                        <th>@DT.LOCAL.Objects.Columns.created_by</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="modal-body">
            <div class="row material-boxes">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="material-edit-modal"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
<script id="material-template" type="text/template">
    <div class="col-lg-4 col-sm-6 col-md-12 col-xs-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h4 class="card-title">{{TITLE}} </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool btn-fav hover-orange" data-id="{{ID}}" data-url="@Url.Action("Bookmark", "MaterialManagement")" onclick="Bookmarking(this)">
                        {{BOOKMARK_ICON}}
                    </button>
                    <a href="#"
                       data-id="{{ID}}"
                       data-title="{{TITLE}}"
                       data-type="{{TYPE}}"
                       onclick="SelectMaterial(this);"
                       class="btn btn-tool hover-orange"
                       title="@DT.LOCAL.Components.Buttons.Select">
                        <i class="fas fa-check"></i>
                    </a>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                </div>
            </div>
            <div class="card-body" style="height:250px !important; overflow:auto;">
                {{BODY}}
            </div>
        </div>
    </div>
</script>
<script>
     var type = 'my';
    function GetTable(elm) {
        type = $(elm).data('type');
        datatable.ajax.reload();
    }
    $(function () {
        datatable.ajax.reload();
    });
    $('#materials-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#materials-table thead');
    var datatable = $('#materials-table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': false,
            'ajax': {
                'url': '@Url.Action("GetList", "MaterialManagement")',
                'method': 'POST',
                'data': function (d) {
                    d.type = type;
                }
            },
            'columnDefs': [
                {width    : "100px", targets: [0]},
            ],
            'columns': [
                {
                    'data': function (data) {
                        var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';

                        return '<div class="btn-group btn-group-sm">' +
                            '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "MaterialManagement")" onclick="Bookmarking(this)">' +
                                    icon +
                            '</button>' +
                            '<button type="button" class="btn btn-success" ' +
                                    'data-id="' + data.id + '"' +
                                    'data-title="' + data.title + '"' +
                                    'data-type="' + data.type + '"' +
                            ' onclick="SelectMaterial(this);"><i class="fas fa-check"></i></button>' +
                        '</div>';
                    }
                },
                { 'data': 'type' },
                { 'data': 'title' },
                { 'data': 'details' },
                { 'data': 'Creator' }
            ],
            'rowReorder': true,
            'ordering': true,

            'paging': true,
            'searching': true,
            'info': false,
            'language': {
                'url': Credentials.Server + 'Content/plugins/datatables/en.json'
            },
            'orderCellsTop': true,
            'fixedHeader': true,
            'initComplete': function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        if (colIdx == 0)
                            return;
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();

                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', this.value)
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();

                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            }
    });
    datatable.on('xhr', function () {
        var json = datatable.ajax.json();
        materials = json.data;
        CreateDetails(materials);
    });
    function CreateDetails(materials) {
        $('.material-boxes').html('');
        for (var i = 0; i < materials.length; i++) {
            var material = materials[i];
            var icon = material.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
            var materialCard = $('#material-template').html()
                .replaceAll('{{BOOKMARK_ICON}}', icon)
                .replaceAll('{{TITLE}}', material.title)
                .replaceAll('{{TYPE}}', material.type)
                .replaceAll('{{ID}}', material.id)
                .replaceAll('{{BODY}}', material.body);
            $('.material-boxes').append(materialCard);
        }
        $('.material-body-content>a>img').attr('style', 'height:250px !important;width:auto !important;')
    }
</script>

