﻿<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Objects.Menus.UserManagement
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","UserManagement",new { role_id=1 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Menus.Administrators</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","UserManagement",new { role_id=2 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Menus.Editors</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","UserManagement",new { role_id=3 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Menus.Teachers</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","UserManagement",new { role_id=4 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Menus.Students</p>
            </a>
        </li>

    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Task_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "all" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Tasks</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.BookmarkedTasks</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Tasks</p>
            </a>
        </li>
        @if (StaticDB.DeletedTasks.Count > 0)
        {
            <li class="nav-item">
                <a href="@Url.Action("DeletedIndex","TaskManagement")" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>@DT.LOCAL.Components.WebMenuItems.DeletedTasksList</p>
                </a>
            </li>
        }
    </ul>
</li>
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Sequence_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Sequences</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement", new {type="bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.BookmarkedSequences</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement", new {type="my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Sequences</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Material_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new {type = "all" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Materials</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new { type = "bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.Bookmarked_Materials</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new {type = "my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Materials</p>
            </a>
        </li>
        @if (StaticDB.DeletedMaterials.Count() > 0)
        {
            <li class="nav-item">
                <a href="@Url.Action("DeletedIndex","MaterialManagement")" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>@DT.LOCAL.Components.WebMenuItems.DeletedMaterialsList</p>
                </a>
            </li>
        }
    </ul>


</li>


<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Class_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("AssignmentIndex","TaskResultManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.Assignments</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","ClassManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Classes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","StudentManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.ClassStudents</p>
            </a>
        </li>
    </ul>


</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Objects.Menus.SystemManagement
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","RawPageManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.RawPages</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","LanguageManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Languages</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SettingManagement",new { type_id=4 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Settings</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","RoleManagement",new { type_id=4 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Roles</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SessionManagement",new { type_id=1 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Sessions</p>
            </a>
        </li>
        @*<li class="nav-item">
            <a href="@Url.Action("Index","LogManagement",new { type_id=4 })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Objects.Tables.Logs</p>
            </a>
        </li>*@
    </ul>

</li>
