﻿@{ 
    User current_user = Request.User();
}

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Task_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "all" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Tasks</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.BookmarkedTasks</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","TaskManagement", new {type = "my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Tasks</p>
            </a>
        </li>
        @if (StaticDB.DeletedTasks.Where(t => t.created_by == current_user.id).Count() > 0)
        {
            <li class="nav-item">
                <a href="@Url.Action("DeletedIndex","TaskManagement")" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>@DT.LOCAL.Components.WebMenuItems.DeletedTasksList</p>
                </a>
            </li>
        }
    </ul>
</li>
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Sequence_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Sequences</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement", new {type="bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.BookmarkedSequences</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SequenceManagement", new {type="my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Sequences</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Material_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new {type = "all" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.All_Materials</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new { type = "bookmarked" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.Bookmarked_Materials</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","MaterialManagement", new {type = "my" })" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Materials</p>
            </a>
        </li>
        @if (StaticDB.DeletedMaterials.Where(t => t.created_by == current_user.id).Count() > 0)
        {
            <li class="nav-item">
                <a href="@Url.Action("DeletedIndex","MaterialManagement")" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>@DT.LOCAL.Components.WebMenuItems.DeletedMaterialsList</p>
                </a>
            </li>
        }
    </ul>


</li>

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            @DT.LOCAL.Components.WebMenuItems.Class_Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="@Url.Action("AssignmentIndex","TaskResultManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.Assignments</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","ClassManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Classes</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","StudentManagement")" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>@DT.LOCAL.Components.WebMenuItems.My_Students</p>
            </a>
        </li>
    </ul>


</li>






