﻿@{
    User user = Request.User();
    RawPage faq = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count != 4 && x.RoleIds.Contains(user.role_id) && x.name.Equals("FAQ"));
    RawPage help = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count != 4 && x.RoleIds.Contains(user.role_id) && x.name.Equals("HELP"));
}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" toggle-button" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-block" style="padding-left:5px">
            <a href="#" class="nav-link" onclick="CreateTask();" data-toggle="tooltip" title="@DT.LOCAL.Components.Labels.CreateTask">
                <i class="fas fa-tasks quick-icon"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-block" style="padding-left:10px;">
            <a class="nav-link" href="@Url.Action("AddUpdate","SequenceManagement")" data-toggle="tooltip" title="@DT.LOCAL.Components.Labels.CreateSequence">
                <i class="far fa-calendar-alt"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-block" style="padding-left:10px;">
            <a href="#"
               class="nav-link"
               data-url="@Url.Action("AddUpdate","MaterialManagement")"
               data-modal="#partial-modal"
               onclick="PartialShow(this);" data-toggle="tooltip" title="@DT.LOCAL.Components.Labels.CreateMaterial">
                <i class="fas fa-photo-video quick-icon"></i>
            </a>

        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        @if (help != null)
        {
            <li class="nav-item">
                <a href="#" title="HELP" data-toggle="tooltip" data-url="@Url.Action("Details","RawPageManagement",new {id=help.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="nav-link" style="padding-bottom:10px;">
                    <i class="far fa-life-ring text-danger"></i>
                </a>
            </li>
        }
        @if (faq != null)
        {
            <li class="nav-item">
                <a href="#" title="FAQ" data-toggle="tooltip" data-url="@Url.Action("Details","RawPageManagement",new {id=faq.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="nav-link">
                    <i class="fas fa-question-circle text-primary"></i>
                </a>
            </li>
        }
        <li class="nav-item">
            <a href="@Url.Action("CleanStatic","Home")"
               class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="@DT.LOCAL.Components.Labels.ClearStatic">
                <i class="fas fa-trash bt-clear-static"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#"
               data-url="@Url.Action("GetReportForm","Home")"
               data-modal="#report-modal"
               onclick="PartialShow(this);"
               class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Suggest & Develop Us">
                <i class="fas fa-at"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#"
               class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="@DT.LOCAL.Components.Labels.Logout"
               onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Questions.AskForLogout', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Logout","Account")');">
                <i class="fas fa-power-off bt-sign-out"></i>
            </a>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge" id="announcement-count">

                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right text-center"
                 id="announcements"
                 data-url="@Url.Action("GetAnnouncements","Home")">
                <div class="text-center d-block" style="height:100px;">
                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link lang-link" data-toggle="dropdown" href="#">
                @Request.GetFlag()
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                @if (StaticDB.Languages != null)
                {
                    foreach (Language language in StaticDB.Languages.Where(x => x.has_ui))
                    {
                        <a href="@Url.Action("ChangeLanguage","Home",new {language_id=language.id})" class="dropdown-item @(user.ui_language==language.iso_code?"active":"")">
                            @Request.GetFlag(language)
                        </a>
                    }
                }
            </div>
        </li>
        @if (user.role_id == 1)
        {
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" data-toggle="modal" data-target="#interactivity-modal">
                    <i class="fas fa-users"></i>
                    <span class="badge badge-success navbar-badge" id="online-count">
                        0
                    </span>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>