﻿@model TaskMaterial
<div class="card card-default card-outline">
    <!-- Modal Header -->
    <div class="card-header">
        <h4 class="card-title">@Model.Material.title </h4>
    </div>
    <!-- Modal body -->
    <div class="card-body card-material-body">
        @Html.Partial("_PreviewMaterialContentPartial", Model)
    </div>
</div>