﻿@model TaskMaterial
<div class="form-group material-body" title="@DT.LOCAL.Objects.Columns.body">
    @Html.Raw(Model.Material.body)
</div>

@switch (Model.Material.cc_status)
{
    case "BY":
        <img src="~/Content/img/CCs/by.svg" alt="@Model.Material.cc_status" class="tm-cc" />
        break;
    case "BY_NC":
        <img src="~/Content/img/CCs/by-nc.eu.svg" alt="@Model.Material.cc_status" class="tm-cc" />
        break;
    case "BY_NC_SA":
        <img src="~/Content/img/CCs/by-nc-sa.eu.svg" alt="@Model.Material.cc_status" class="tm-cc" />
        break;
    case "BY_SA":
        <img src="~/Content/img/CCs/by-sa.svg" alt="@Model.Material.cc_status" class="tm-cc" />
        break;
    case "CC0":
        <img src="~/Content/img/CCs/cc-zero.svg" alt="@Model.Material.cc_status" class="tm-cc" />
        break;
    default:
        break;
}