﻿<div class="modal-dialog modal-xl" id="report-form-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Suggestion Form</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#report-form-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <h3>
                <strong>Your opinions are important for us...</strong>
            </h3>
            <p>
                Report bugs, make suggestions, and/or contact the DIGITASK4IC Project Team
            </p>
            @using (Html.BeginForm("PostFeedback", "Home", FormMethod.Post, new { id = "feedback-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="subject" class="form-label">Subject</label>
                    <input class="form-control form-control-lg" name="subject" id="subject" required style="background-color:#ffffff59" />
                </div>
                <div class="form-group">
                    <label for="body" class="form-label">Your Opinions</label>
                    <textarea class="form-control form-control-lg" rows="10" name="body" id="body" required style="background-color:#ffffff59"></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block g-recaptcha"
                        data-sitekey="@DT.LOCAL.ApplicationInfo.RecaptchaSiteKey"
                        data-callback='onSubmit'
                        data-action='submit'>
                    <i class="fas fa-paper-plane"></i>  @DT.LOCAL.Components.Buttons.Send
                </button>
                <small class="font-italic">
                    By clicking the send button above, I hereby declare to agree to send my application usage data to system administrators without my account credentials.
                </small>
            }
        </div>
    </div>
</div>

