﻿<h2><i class="far fa-edit"></i> Suggestion Form</h2>
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <img src="~/Content/img/digitask_suıggestion_form.gif" class="img-responsive" />
        <h3>
            <strong>Your opinions are important for us...</strong>
        </h3>
        <p>
            Report bugs, make suggestions, and/or contact the DIGITASK4IC Project Team
        </p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
        @using (Html.BeginForm("PostFeedback", "Home", FormMethod.Post, new { id = "feedback-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="subject" class="form-label">Subject</label>
                <input class="form-control form-control-lg" name="subject" id="subject" required style="background-color:#ffffff59" />
            </div>
            <div class="form-group">
                <label for="body" class="form-label">Your Opinions</label>
                <textarea class="form-control form-control-lg" rows="10" name="body" id="body" required style="background-color:#ffffff59"></textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block g-recaptcha"
                    data-sitekey="@DT.LOCAL.ApplicationInfo.RecaptchaSiteKey"
                    data-callback='onSubmit'
                    data-action='submit'>
                <i class="fas fa-paper-plane"></i>  @DT.LOCAL.Components.Buttons.Send
            </button>
        }
    </div>
</div>