﻿<aside class="control-sidebar control-sidebar-dark">
    <div class="p-3 control-sidebar-content">
        <h5>@DT.LOCAL.Components.WebThemeLabels.GeneralSettings</h5>
        <hr class="mb-2">
        <div class="mb-1"><input type="checkbox" id="no_navbar_border" class="mr-1 thm-gen-set" data-target-element=".main-header" data-related-class="border-bottom-0"><span>@DT.LOCAL.Components.WebThemeLabels.no_navbar_border</span></div>
        <div class="mb-1"><input type="checkbox" id="body_small_text" class="mr-1 thm-gen-set" data-target-element="body" data-related-class="text-xs"><span>@DT.LOCAL.Components.WebThemeLabels.body_small_text</span></div>
        <div class="mb-1"><input type="checkbox" id="navbar_small_text" class="mr-1 thm-gen-set" data-target-element=".main-header" data-related-class="text-sm"><span>@DT.LOCAL.Components.WebThemeLabels.navbar_small_text</span></div>
        <div class="mb-1"><input type="checkbox" id="sidebar_nav_small_text" class="mr-1 thm-gen-set" data-target-element=".nav-sidebar" data-related-class="text-sm"><span>@DT.LOCAL.Components.WebThemeLabels.sidebar_nav_small_text</span></div>
        <div class="mb-1"><input type="checkbox" id="hidden_footer" class="mr-1 thm-gen-set" data-target-element=".main-footer" data-related-class="d-none"><span>@DT.LOCAL.Components.WebThemeLabels.hidden_footer</span></div>
        <div class="mb-1"><input type="checkbox" id="sidebar_nav_flat_style" class="mr-1 thm-gen-set" data-target-element=".nav-sidebar" data-related-class="nav-flat"><span>@DT.LOCAL.Components.WebThemeLabels.sidebar_nav_flat_style</span></div>
        <div class="mb-1"><input type="checkbox" id="sidebar_nav_legacy_style" class="mr-1 thm-gen-set" data-target-element=".nav-sidebar" data-related-class="nav-legacy"><span>@DT.LOCAL.Components.WebThemeLabels.sidebar_nav_legacy_style</span></div>
        <div class="mb-1"><input type="checkbox" id="sidebar_nav_compact" class="mr-1 thm-gen-set" data-target-element=".nav-sidebar" data-related-class="nav-compact"><span>@DT.LOCAL.Components.WebThemeLabels.sidebar_nav_compact</span></div>
        <div class="mb-1"><input type="checkbox" id="sidebar_nav_child_indent" class="mr-1 thm-gen-set" data-target-element=".nav-sidebar" data-related-class="nav-child-indent"><span>@DT.LOCAL.Components.WebThemeLabels.sidebar_nav_child_indent</span></div>
        <div class="mb-1"><input type="checkbox" id="main_sidebar_hover_focus_expand" class="mr-1 thm-gen-set" data-target-element=".main-sidebar" data-related-class="sidebar-no-expand"><span>@DT.LOCAL.Components.WebThemeLabels.main_sidebar_hover_focus_expand</span></div>
        <div class="mb-4"><input type="checkbox" id="brand_small_text" class="mr-1 thm-gen-set" data-target-element=".brand-link" data-related-class="text-sm"><span>@DT.LOCAL.Components.WebThemeLabels.brand_small_text</span></div>

        <h6>@DT.LOCAL.Components.WebThemeLabels.NavBarColorOptions</h6>
        <div class="d-flex">
            <div class="d-flex flex-wrap mb-3">
                <div data-related-class="navbar-dark navbar-primary" class="navbar-color-changer bg-primary elevation-2"></div>
                <div data-related-class="navbar-dark navbar-secondary" class="navbar-color-changer bg-secondary elevation-2"></div>
                <div data-related-class="navbar-dark navbar-info" class="navbar-color-changer bg-info elevation-2"></div>
                <div data-related-class="navbar-dark navbar-success" class="navbar-color-changer bg-success elevation-2"></div>
                <div data-related-class="navbar-dark navbar-danger" class="navbar-color-changer bg-danger elevation-2"></div>
                <div data-related-class="navbar-dark navbar-indigo" class="navbar-color-changer bg-indigo elevation-2"></div>
                <div data-related-class="navbar-dark navbar-purple" class="navbar-color-changer bg-purple elevation-2"></div>
                <div data-related-class="navbar-dark navbar-pink" class="navbar-color-changer bg-pink elevation-2"></div>
                <div data-related-class="navbar-dark navbar-navy" class="navbar-color-changer bg-navy elevation-2"></div>
                <div data-related-class="navbar-dark navbar-lightblue" class="navbar-color-changer bg-lightblue elevation-2"></div>
                <div data-related-class="navbar-dark navbar-teal" class="navbar-color-changer bg-teal elevation-2"></div>
                <div data-related-class="navbar-dark navbar-cyan" class="navbar-color-changer bg-cyan elevation-2"></div>
                <div data-related-class="navbar-dark" class="navbar-color-changer bg-dark elevation-2"></div>
                <div data-related-class="navbar-dark navbar-gray-dark" class="navbar-color-changer bg-gray-dark elevation-2"></div>
                <div data-related-class="navbar-dark navbar-gray" class="navbar-color-changer bg-gray elevation-2"></div>
                <div data-related-class="navbar-light" class="navbar-color-changer bg-light elevation-2"></div>
                <div data-related-class="navbar-light navbar-warning" class="navbar-color-changer bg-warning elevation-2"></div>
                <div data-related-class="navbar-light navbar-white" class="navbar-color-changer bg-white elevation-2"></div>
                <div data-related-class="navbar-light navbar-orange" class="navbar-color-changer bg-orange elevation-2"></div>
            </div>
        </div>
        <h6>@DT.LOCAL.Components.WebThemeLabels.AccentColorOptions</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
            <div data-related-class="accent-primary" class="accent-color-changer bg-primary elevation-2"></div>
            <div data-related-class="accent-warning" class="accent-color-changer bg-warning elevation-2"></div>
            <div data-related-class="accent-info" class="accent-color-changer bg-info elevation-2"></div>
            <div data-related-class="accent-danger" class="accent-color-changer bg-danger elevation-2"></div>
            <div data-related-class="accent-success" class="accent-color-changer bg-success elevation-2"></div>
            <div data-related-class="accent-indigo" class="accent-color-changer bg-indigo elevation-2"></div>
            <div data-related-class="accent-lightblue" class="accent-color-changer bg-lightblue elevation-2"></div>
            <div data-related-class="accent-navy" class="accent-color-changer bg-navy elevation-2"></div>
            <div data-related-class="accent-purple" class="accent-color-changer bg-purple elevation-2"></div>
            <div data-related-class="accent-fuchsia" class="accent-color-changer bg-fuchsia elevation-2"></div>
            <div data-related-class="accent-pink" class="accent-color-changer bg-pink elevation-2"></div>
            <div data-related-class="accent-maroon" class="accent-color-changer bg-maroon elevation-2"></div>
            <div data-related-class="accent-orange" class="accent-color-changer bg-orange elevation-2"></div>
            <div data-related-class="accent-lime" class="accent-color-changer bg-lime elevation-2"></div>
            <div data-related-class="accent-teal" class="accent-color-changer bg-teal elevation-2"></div>
            <div data-related-class="accent-olive" class="accent-color-changer bg-olive elevation-2"></div>
        </div>
        <h6>@DT.LOCAL.Components.WebThemeLabels.DarkSidebarOptions</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
            <div data-related-class="sidebar-dark-primary" class="sidebar-color-changer bg-primary elevation-2"></div>
            <div data-related-class="sidebar-dark-warning" class="sidebar-color-changer bg-warning elevation-2"></div>
            <div data-related-class="sidebar-dark-info" class="sidebar-color-changer bg-info elevation-2"></div>
            <div data-related-class="sidebar-dark-danger" class="sidebar-color-changer bg-danger elevation-2"></div>
            <div data-related-class="sidebar-dark-success" class="sidebar-color-changer bg-success elevation-2"></div>
            <div data-related-class="sidebar-dark-indigo" class="sidebar-color-changer bg-indigo elevation-2"></div>
            <div data-related-class="sidebar-dark-lightblue" class="sidebar-color-changer bg-lightblue elevation-2"></div>
            <div data-related-class="sidebar-dark-navy" class="sidebar-color-changer bg-navy elevation-2"></div>
            <div data-related-class="sidebar-dark-purple" class="sidebar-color-changer bg-purple elevation-2"></div>
            <div data-related-class="sidebar-dark-fuchsia" class="sidebar-color-changer bg-fuchsia elevation-2"></div>
            <div data-related-class="sidebar-dark-pink" class="sidebar-color-changer bg-pink elevation-2"></div>
            <div data-related-class="sidebar-dark-maroon" class="sidebar-color-changer bg-maroon elevation-2"></div>
            <div data-related-class="sidebar-dark-orange" class="sidebar-color-changer bg-orange elevation-2"></div>
            <div data-related-class="sidebar-dark-lime" class="sidebar-color-changer bg-lime elevation-2"></div>
            <div data-related-class="sidebar-dark-teal" class="sidebar-color-changer bg-teal elevation-2"></div>
            <div data-related-class="sidebar-dark-olive" class="sidebar-color-changer bg-olive elevation-2"></div>
        </div>
        <h6>@DT.LOCAL.Components.WebThemeLabels.LightSidebarOptions</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
            <div data-related-class="sidebar-light-primary" class="sidebar-color-changer bg-primary elevation-2"></div>
            <div data-related-class="sidebar-light-warning" class="sidebar-color-changer bg-warning elevation-2"></div>
            <div data-related-class="sidebar-light-info" class="sidebar-color-changer bg-info elevation-2"></div>
            <div data-related-class="sidebar-light-danger" class="sidebar-color-changer bg-danger elevation-2"></div>
            <div data-related-class="sidebar-light-success" class="sidebar-color-changer bg-success elevation-2"></div>
            <div data-related-class="sidebar-light-indigo" class="sidebar-color-changer bg-indigo elevation-2"></div>
            <div data-related-class="sidebar-light-lightblue" class="sidebar-color-changer bg-lightblue elevation-2"></div>
            <div data-related-class="sidebar-light-navy" class="sidebar-color-changer bg-navy elevation-2"></div>
            <div data-related-class="sidebar-light-purple" class="sidebar-color-changer bg-purple elevation-2"></div>
            <div data-related-class="sidebar-light-fuchsia" class="sidebar-color-changer bg-fuchsia elevation-2"></div>
            <div data-related-class="sidebar-light-pink" class="sidebar-color-changer bg-pink elevation-2"></div>
            <div data-related-class="sidebar-light-maroon" class="sidebar-color-changer bg-maroon elevation-2"></div>
            <div data-related-class="sidebar-light-orange" class="sidebar-color-changer bg-orange elevation-2"></div>
            <div data-related-class="sidebar-light-lime" class="sidebar-color-changer bg-lime elevation-2"></div>
            <div data-related-class="sidebar-light-teal" class="sidebar-color-changer bg-teal elevation-2"></div>
            <div data-related-class="sidebar-light-olive" class="sidebar-color-changer bg-olive elevation-2"></div>
        </div>
        <h6>@DT.LOCAL.Components.WebThemeLabels.LogoBGOptions</h6>
        <div class="d-flex"></div>
        <div class="d-flex flex-wrap mb-3">
            <div data-related-class="navbar-primary" class="brand-color-changer bg-primary elevation-2"></div>
            <div data-related-class="navbar-secondary" class="brand-color-changer bg-secondary elevation-2"></div>
            <div data-related-class="navbar-info" class="brand-color-changer bg-info elevation-2"></div>
            <div data-related-class="navbar-success" class="brand-color-changer bg-success elevation-2"></div>
            <div data-related-class="navbar-danger" class="brand-color-changer bg-danger elevation-2"></div>
            <div data-related-class="navbar-indigo" class="brand-color-changer bg-indigo elevation-2"></div>
            <div data-related-class="navbar-purple" class="brand-color-changer bg-purple elevation-2"></div>
            <div data-related-class="navbar-pink" class="brand-color-changer bg-pink elevation-2"></div>
            <div data-related-class="navbar-navy" class="brand-color-changer bg-navy elevation-2"></div>
            <div data-related-class="navbar-lightblue" class="brand-color-changer bg-lightblue elevation-2"></div>
            <div data-related-class="navbar-teal" class="brand-color-changer bg-teal elevation-2"></div>
            <div data-related-class="navbar-cyan" class="brand-color-changer bg-cyan elevation-2"></div>
            <div data-related-class="navbar-dark" class="brand-color-changer bg-dark elevation-2"></div>
            <div data-related-class="navbar-gray-dark" class="brand-color-changer bg-gray-dark elevation-2"></div>
            <div data-related-class="navbar-gray" class="brand-color-changer bg-gray elevation-2"></div>
            <div data-related-class="navbar-light" class="brand-color-changer bg-light elevation-2"></div>
            <div data-related-class="navbar-warning" class="brand-color-changer bg-warning elevation-2"></div>
            <div data-related-class="navbar-white" class="brand-color-changer bg-white elevation-2"></div>
            <div data-related-class="navbar-orange" class="brand-color-changer bg-orange elevation-2"></div>
            <a href="javascript:void(0)">clear</a>
        </div>
    </div>
</aside>