﻿@model List<Sequence>
<table class="index-table cell-border display table table-bordered table-responsive responsive  d-block" id="sequences-table" style="width:100% !important;">
    <thead>
        <tr>
            <th>@DT.LOCAL.Objects.Columns.title</th>
            <th>@DT.LOCAL.Objects.Columns.details</th>
            <th>@DT.LOCAL.Objects.Columns.tasks_count</th>
            <th>@DT.LOCAL.Objects.Columns.created_date</th>
            <th>@DT.LOCAL.Objects.Columns.created_by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sequence sequence in Model)
        {
        <tr>
            <td>@sequence.title.ToStr()</td>
            <td>@sequence.details.ToStr()</td>
            <td>@StaticDB.SequenceTasks.Count(x=>x.sequence_id == sequence.id)</td>
            <td>@sequence.created_date.ToString("dd.MM.yyyy, HH:mm")</td>
            <td>@StaticDB.Users.GetById(sequence.created_by).ToStr()</td>
        </tr>
        }
    </tbody>
</table>
