﻿@{
    int range = 0;
    if (ViewBag.Range != null)
    {
        range = (int)ViewBag.Range;
    }
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-90" id="selector-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Tables.Sequences @(range==0?"":" [Group Range : " + range + "]")
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#selector-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="btn-group btn-tab-group">
                <a class="btn btn-default btn-tab" onclick="GetTable(this);" data-type="my"> @DT.LOCAL.Components.WebMenuItems.My_Sequences</a>
                <a class="btn btn-warning btn-tab" onclick="GetTable(this);" data-type="bookmarked"> @DT.LOCAL.Components.WebMenuItems.BookmarkedSequences</a>
                <a class="btn btn-primary btn-tab" onclick="GetTable(this);" data-type="all"> @DT.LOCAL.Components.WebMenuItems.All_Sequences</a>
            </div>
        </div>
        <div class="modal-body" style="min-height:400px;">
            <table class="index-table cell-border display table-bordered table-responsive responsive" id="sequences-table" style="width:100% !important;">
                <thead>
                    <tr>
                        <th></th>
                        <th>@DT.LOCAL.Objects.Columns.title</th>
                        <th>@DT.LOCAL.Objects.Columns.details</th>
                        <th>@DT.LOCAL.Objects.Columns.tasks_count</th>
                        <th>@DT.LOCAL.Objects.Columns.created_date</th>
                        <th>@DT.LOCAL.Objects.Columns.created_by</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="sequence-details-modal"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    var type = 'my';
    function GetTable(elm) {
        type = $(elm).data('type');
        datatable.ajax.reload();
    }
    $(function () {
        datatable.ajax.reload();
    });
    $('#sequences-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#sequences-table thead');
    var datatable = $('#sequences-table').DataTable({
        'processing': true,
        'serverSide': true,
        'responsive': false,
        'autoWidth': false,
        'ajax': {
            'url': '@Url.Action("GetList", "SequenceManagement")',
            'method': 'POST',
            'data': function (d) {
                d.type = type;
                d.range = @range
            }
        },
        'columnDefs': [
            { width: "80px", targets: [0] },
        ],
        'columns': [
            {
                'data': function (data) {
                    var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                    return '<div class="btn-group btn-group-sm">' +
                        '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "SequenceManagement")" onclick="Bookmarking(this)">' +
                                icon +
                        '</button>' +
                        '<a href="#" data-modal="#sequence-details-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details", "SequenceManagement")/' + data.id + '" class="btn btn-default hover-orange" title="@DT.LOCAL.Components.Buttons.Details">' +
                                '<i class="fa fa-info-circle"></i>' +
                        '</a>' +
                        '<button type="button" class="btn btn-success" data-sequence-id="' + data.id + '" onclick="SelectSequence(this);">' +
                        '<i class="fas fa-check"></i>' +
                        '</button>' +
                    '</div>';
                }
            },
            { 'data': 'title' },
            { 'data': 'details' },
            { 'class': 'text-center','data': 'tasks_count' },
            {
                'data': function (data) {
                    return moment(data.created_date).format('DD-MM-YYYY HH:mm:ss');
                },
                'name':'created_date'
            },
            { 'data': 'Creator' }
        ],
        'rowReorder': true,
        'ordering': true,
        'order': [[4, 'desc']],
        'paging': true,
        'searching': true,
        'info': false,
        'pageLength': 10,
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        },
        'orderCellsTop': true,
        'fixedHeader': true,
        'initComplete': function () {
            var api = this.api();

            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    if (colIdx == 0)
                        return;
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', this.value)
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        }
            });
</script>

