﻿@model List<SessionTask>
@{
    User current_user = Request.User();
    List<SessionTaskParticipant> participants = new List<SessionTaskParticipant>();
    using (Repository<SessionTaskParticipant> Repository = new Repository<SessionTaskParticipant>())
    {
        participants = Repository.MultiSelectByQuery(s => s.is_active).ToList();
    }
    participants.ForEach(s => s.User = StaticDB.Users.GetById(s.participant_id));
}
<table class="table table-striped table-bordered projects">
    <thead>
        <tr>
            <th style="width: 30%">
                Title
            </th>
            <th width="20">
                Assigned By
            </th>
            <th style="width: 20%">
                Participants
            </th>
            <th style="width: 10%">
                Planned Start
            </th>
            <th style="width: 10%">
                Planned End
            </th>
            <th style="width: 10%" class="text-center">
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (SessionTask sessionTask in Model.Where(x => x.is_active))
        {
            _Task task = StaticDB.AllTasks.GetById(sessionTask.task_id);

            User Assigner = StaticDB.Users.GetById(sessionTask.created_by);
            <tr>
                <td>
                    @task.title.ToStr()
                </td>
                <td>
                    <a href="@Url.Action("Details","UserManagement",new {id=sessionTask.created_by })" target="_blank">
                        @Assigner.ToStr()
                    </a>
                </td>
                <td>
                    <div class="card-body table-responsive p-0" style="height: 100px;">
                        <table class="table table-head-fixed">
                            <tbody>
                                @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == sessionTask.id && x.is_active))
                                {
                                    <tr>
                                        <td>@sessionTaskParticipant.User</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    @sessionTask.planned_start_time.ToString("dd.MM.yyyy, HH:mm")
                </td>
                <td>
                    @sessionTask.planned_end_time.ToString("dd.MM.yyyy, HH:mm")
                </td>
                <td class="project-state">
                    @if (sessionTask.start_time == null)
                    {
                        <span class="badge badge-primary">Planned</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Completed</span>
                        <br />
                        <small class="text-success">
                            @sessionTask.start_time
                        </small>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>