﻿@model _Task
    @{ 
        string shareLink = HttpUtility.HtmlEncode(Credentials.SystemCredentials.RootUrl + "open-preview?smartcode=" + Model.smartcode);
        string msg = HttpUtility.HtmlEncode(string.Format(DT.LOCAL.Messages.SocialShares.TextPart, Model.title, Model.group_range));
    }
<div class="btn-group share-buttons">
    <!-- Copy -->
    <a href="#" class="btn share-btn clipboard" title="Copy" onclick="navigator.clipboard.writeText('@shareLink');toastr.success('Task link has been copied!');">
        <i class="far fa-copy"></i>
    </a>
    <!-- Copy QR -->
    <a href="#"
       data-url="@shareLink" 
       class="btn share-btn qr" title="QR Code" 
       data-modal="#partial-modal" 
       data-title="@Model.title"
       onclick="ShowQR(this);">
        <i class="fas fa-qrcode"></i>
    </a>
    <!-- Twitter (url, text, mention) -->
    <a href="@string.Format("https://twitter.com/share?url={0}&text={1}",shareLink, msg)" class="btn share-btn twitter" target="_blank" title="Twitter">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Facebook (url) -->
    <a href="@string.Format("https://www.facebook.com/sharer/sharer.php?u={0}",shareLink)" class="btn share-btn facebook" target="_blank" title="Facebook">
        <i class="fab fa-facebook-square"></i>
    </a>

    <!-- Reddit (url, title) -->
    <a href="@string.Format("https://reddit.com/submit?url={0}&title={1}",shareLink,msg)" class="btn share-btn reddit" target="_blank" title="Reddit">
        <i class="fab fa-reddit-alien"></i>
    </a>

    <!-- LinkedIn (url, title, summary, source url) -->
    <a href="@string.Format("https://www.linkedin.com/shareArticle?url={0}&title={1}&summary={2}&source={0}",shareLink, Model.title, msg)" class="btn share-btn linkedin" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Email (subject, body) -->
    <a href="@string.Format("mailto:?subject={0}&body={1}{2}",Model.title,msg,shareLink)" class="btn share-btn email" target="_blank" title="Email">
        <i class="far fa-envelope"></i>
    </a>
</div>
