﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    @{
        User current_user = Request.User();
    }
    <a href="@Url.Action("Index", "Home")" class="brand-link">
        <img src="~/Content/img/logo.png" alt="@DT.LOCAL.ApplicationInfo.Abbreviation" class="brand-image" />
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <hr />
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel d-flex">
            <div class="info">
                @Request.User().ToString()<br />
                <a href="@Url.Action("Details","UserManagement",new {id=Request.User().id })" class="text-truncate">
                    <small class="text-gray font-italic hoverize hoverize-orange">@DT.LOCAL.Components.Buttons.Edit</small>
                </a>
            </div>
        </div>
        <hr />

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" id="input-search" type="search" placeholder="@DT.LOCAL.Components.Buttons.Search" aria-label="@DT.LOCAL.Components.Buttons.Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2" style="padding-bottom: 50px;">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")" class="nav-link @Url.MakeActiveClass("Home", "Index")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            @DT.LOCAL.Components.WebMenuItems.Dashboard
                        </p>
                    </a>
                </li>
                @switch (Request.User().Role.title)
                {
                    case "Admin":
                        @Html.Partial("_MenuAdmin")
                        break;
                    case "Editor":
                        @Html.Partial("_MenuEditor")
                        break;
                    case "Teacher":
                        @Html.Partial("_MenuTeacher")
                        break;
                    case "Student":
                        @Html.Partial("_MenuStudent")
                        break;
                    default:
                        break;
                }
                <li class="nav-item has-treeview menu-open">

                </li>
            </ul>
        </nav>
    </div> 
    <!-- /.sidebar -->
    <!-- To the right -->
</aside>