﻿@{
    string serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    string apiServerUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")) + "api/";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @DT.LOCAL.ApplicationInfo.Abbreviation - Student - @ViewBag.Title
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">


    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Theme style -->
    <link href="~/Content/plugins/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <!--Select 2 -->
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Jquery Confirm -->
    <link href="~/Content/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <!-- DateTimePicker -->
    <link href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Preloader -->
    <link href="~/Content/plugins/universal-preloader/css/preloader.css" rel="stylesheet" />
    <!-- Tagify -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tagify/4.1.1/tagify.min.css" integrity="sha512-PmDlF8+NwANjpP2Kc1EqXOUCtV0bSz1mr5HC9zii3CxtHPDKGHsioVf+JFBqLItNJol0S9A+TXIjnG626ZxUHQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Summernote -->
    <link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/Content/plugins/animate.css/animate.min.css" rel="stylesheet" />
    <!-- Toast CSS -->
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Lightbox -->
    <link href="~/Content/plugins/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Content/css/custom2.css" rel="stylesheet" />
    <!-- View Styles -->
    @RenderSection("styles", required: false)


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3EFR6CYZK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L3EFR6CYZK');
    </script>
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("_StudentNavbar")
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Rendered Body -->
                    @RenderBody()
                    <!-- /.Rendered Body -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")
        <!-- /.right-sidebar -->
    </div>

    <div class="modal fade animate__animated animate__fadeIn" id="partial-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="inner-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="announce-modal"></div>
    <div class="modal fade animate__animated animate__fadeIn" id="raw-modal"></div>
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script>
        $(function () {
            $.cookie('DT_ServerUrl', encodeURI('@serverUrl'));
            $.cookie('DT_ApiServerUrl', encodeURI('@apiServerUrl'));
        });
    </script>
    <!-- Preloader -->
    <script src="~/Content/plugins/universal-preloader/js/preloader.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/select2/js/i18n/tr.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/plugins/admin-lte/js/adminlte.min.js"></script>
    <!-- Jquery Cookie -->
    <script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- Jquery Confirm -->
    <script src="~/Content/plugins/jquery-confirm/jquery-confirm.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/Content/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- DateTimePicker -->
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Lightbox -->
    <script src="~/Content/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- Tools Scripts -->
    <script src="~/Content/js/tools.js"></script>
    <!-- Custom Scripts -->
    <script src="~/Content/js/custom.js"></script>
    <!-- Tagify -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tagify/4.1.1/jQuery.tagify.min.js" integrity="sha512-i94GKsInNRFXnpLlVkQiiMAqZYdizWRL4fMeETjFeYsen3/UZy3cqNVYSKpJW6QLxL6J8BONJspPGIn6K2oXNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Toast JS -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <!-- View Scripts -->
    @RenderSection("scripts", required: false)
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(function () {
            @{
                string message = Session["ErrorMessage"] == null || Session["ErrorMessage"].ToString() == "" ? "": Session["ErrorMessage"].ToString();
                Session["ErrorMessage"] = "";
            }
            var message = '@message';
            if (message != '')
                ShowInfo(message);
            $.ajax({
                type: "POST",
                url: $('#announcements').data('url'),
                success: function (data) {
                    if (data['Result']) {
                        $('#announcement-count').html(data.list.length);
                        var template = ' <a href="#" data-url="{{URL}}" data-modal="#announce-modal" onclick="PartialShow(this);" class="dropdown-item">' +
                                '<div class="media">' +
                                    '<div class="media-body">' +
                                        '<h3 class="dropdown-item-title">' +
                                            '{{USER}}' +
                                            '<span class="float-right text-sm text-{{STAR_COLOR}}"><i class="fas fa-star"></i></span>' +
                                        '</h3>' +
                                        '<p class="text-sm">{{DETAILS}}</p>' +
                                        '<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{DATETIME}}</p>' +
                                    '</div>' +
                                '</div>' +
                            '</a > ' +
                            '<div class="dropdown-divider"></div>';
                        $('#announcements').html('');
                        for (var i = 0; i < data.list.length; i++) {
                            var announcement = data.list[i];
                            $('#announcements').append(
                                template
                                    .replaceAll('{{URL}}', '@Url.Action("Details","RawPageManagement")'+'/' + announcement.id)
                                    .replaceAll('{{USER}}', announcement.User.FullName)
                                    .replaceAll('{{STAR_COLOR}}', announcement.User.role_id == 1?'text-danger':'text-warning')
                                    .replaceAll('{{DETAILS}}', announcement.details)
                                    .replaceAll('{{DATETIME}}', announcement.DateStr)
                            );
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
