﻿@{
    User current_user = Request.User();
    RawPage faq = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count != 1 && x.RoleIds.Contains(current_user.role_id) && x.name.Equals("FAQ"));
    RawPage help = StaticDB.RawPages.FirstOrDefault(x => x.RoleIds.Count != 1 && x.RoleIds.Contains(current_user.role_id) && x.name.Equals("HELP"));
}

<nav class="main-header navbar navbar-expand-md navbar navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="@Url.Action("Index","Student")" class="nav-link">
                <i class="fas fa-home"></i>
            </a>
        </li>
    </ul>


    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        @if (help != null)
        {
            <li class="nav-item">
                <a title="HELP" data-toggle="tooltip" data-url="@Url.Action("Details","RawPageManagement",new {id=help.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="nav-link">
                    <i class="far fa-life-ring"></i>
                </a>
            </li>
        }
        @if (faq != null)
        {
            <li class="nav-item">
                <a title="FAQ" data-toggle="tooltip" data-url="@Url.Action("Details","RawPageManagement",new {id=faq.id })" data-modal="#raw-modal" onclick="PartialShow(this);" class="nav-link">
                    <i class="fas fa-question-circle"></i>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Details","UserManagement",new {id=current_user.id })">
                <i class="fas fa-user-circle"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="#"
               class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="@DT.LOCAL.Components.Labels.Logout"
               onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Questions.AskForLogout', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Logout","Account")');">
                <i class="fas fa-power-off bt-sign-out"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="@Url.Action("CleanStatic","Home")"
               class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="@DT.LOCAL.Components.Labels.ClearStatic">
                <i class="fas fa-trash bt-clear-static"></i>
            </a>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item d-none" id="feeds-button">
            <a href="#"
               class="nav-link"
               data-toggle="modal"
               data-target="#feeds-modal"
               title="Show Feeds">
                <i class="far fa-newspaper"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge" id="announcement-count">

                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right text-center"
                 id="announcements"
                 data-url="@Url.Action("GetAnnouncements","Home")">
                <div class="text-center d-block" style="height:100px;">
                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link lang-link" data-toggle="dropdown" href="#">
                @Request.GetFlag()
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                @if (StaticDB.Languages != null)
                {
                    foreach (Language language in StaticDB.Languages)
                    {
                        <a href="@Url.Action("ChangeLanguage","Home",new {language_id=language.id})" class="dropdown-item @(current_user.ui_language==language.iso_code?"active":"")">
                            @Request.GetFlag(language)
                        </a>
                    }
                }
            </div>
        </li>
        <li class="nav-item d-none d-md-block">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
