﻿@{ 
    int range = 0;
    if(ViewBag.Range != null)
    {
        range = (int)ViewBag.Range;
    }
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-90" id="selector-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Tables.Tasks @(range==0?"":" [Group Range : " + range + "]")
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#selector-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="btn-group btn-tab-group">
                <a class="btn btn-default btn-tab" onclick="GetTable(this);" data-type="my"> @DT.LOCAL.Components.WebMenuItems.My_Tasks</a>
                <a class="btn btn-warning btn-tab" onclick="GetTable(this);" data-type="bookmarked">@DT.LOCAL.Components.WebMenuItems.BookmarkedTasks</a>
                <a class="btn btn-primary btn-tab" onclick="GetTable(this);" data-type="all">@DT.LOCAL.Components.WebMenuItems.All_Tasks</a>
            </div>
        </div>
        <div class="modal-body" style="min-height:400px;">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#list-show" class="btn-tool"> <i class="fas fa-list"></i></a></li>
                            <li><a data-toggle="tab" href="#carousel-show" class="btn-tool"><i class="fas fa-th-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="list-show" role="tabpanel">

                            <table class="index-table cell-border display table-bordered table-responsive responsive" id="tasks-table" style="width:100% !important;">
                                <thead>

                                    <tr>
                                        <th></th>
                                        <th>@DT.LOCAL.Objects.Columns.title</th>
                                        <th>@DT.LOCAL.Objects.Columns.target_skill</th>
                                        <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                                        <th>@DT.LOCAL.Objects.Columns.adapted_by</th>
                                        <th>@DT.LOCAL.Objects.Columns.original_designer</th>
                                        <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                                        <th>@DT.LOCAL.Objects.Columns.group_range</th>
                                        <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                                        <th>@DT.LOCAL.Objects.Columns.can_preview</th>
                                        <th>@DT.LOCAL.Objects.Columns.created_date</th>
                                        <th>@DT.LOCAL.Objects.Columns.publish_date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane" id="carousel-show" role="tabpanel">
                            <div class="row">
                                <div class="col-2">
                                    <a href="#" data-index="" data-current-index="" class="btn btn-primary btn-detail-navigation btn-previous pull-left" onclick="Navigate(this);">
                                        <i class="fas fa-angle-left"></i> @DT.LOCAL.Components.Buttons.Previous
                                    </a>
                                </div>
                                <div class="col-8 detail-actions"></div>
                                <div class="col-2">
                                    <a href="#" data-index="" data-current-index="" class="btn btn-primary btn-detail-navigation btn-next pull-right" onclick="Navigate(this);">
                                        @DT.LOCAL.Components.Buttons.Next <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <div class="detail-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-footer-->
            </div>
        </div>
    </div>
</div>

<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
<script>
    var type = 'my';
    function GetTable(elm) {
        type = $(elm).data('type');
        datatable.ajax.reload();
    }
    $(function () {
        datatable.ajax.reload();
    });
    $('#tasks-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#tasks-table thead');
    var datatable = $('#tasks-table').DataTable({
        'processing': true,
        'serverSide': true,
        'responsive': false,
        'autoWidth': false,
        'ajax': {
            'url': '@Url.Action("GetList", "TaskManagement")',
            'method': 'POST',
            'data': function (d) {
                d.type = type;
                d.range = @range
            }
        },
        'columnDefs': [
            { width: "120px", targets: [0] },
        ],
        'columns': [
            {
                'data': function (data) {
                    var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                    return '<div class="btn-group btn-group-sm">' +
                        '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "TaskManagement")" onclick="Bookmarking(this)">' +
                                icon +
                        '</button>' +
                        '<a href="#" class="btn btn-default hover-orange" data-url="@Url.Action("Details","TaskManagement")'+'/' + data.id+'" onclick="PartialShow(this)" data-modal="#partial-modal">' +
                                '<i class="fa fa-info-circle"></i>' +
                        '</a>' +
                        '<button type="button" class="btn btn-success" data-task-id="' + data.id + '" onclick="SelectTask(this);">' +
                            '<i class="fas fa-check"></i>'+
                        '</button>' +
                    '</div>';
                }
            },
            {
                'data': function (data) {
                    return '<span class="text-truncate">' + data.title + '</span>';
                },
                'name': 'title'
            },
            { 'data': 'TargetSkill' },
            { 'data': 'Creator' },
            {
                'data': function (task) {
                    var originalDesigners = '<p title="Designer">' + task.Author + '</p>';
                    if (task.CoDesignerUsers.length > 0) {
                        originalDesigners += '<ul>';
                        for (var i = 0; i < task.CoDesignerUsers.length; i++) {
                            var coDesigner = task.CoDesignerUsers[i];
                            originalDesigners += '<li title="Co-Designer">' + coDesigner.FullName + '</li>';
                        }
                        originalDesigners += '</ul>';
                    }
                    return originalDesigners;
                }
            },
            { 'data': 'institution' },
            {
                'data': function (data) {
                    return data.target_min_age + '-' + data.target_max_age;
                }
            },
            { 'data': 'group_range'},
            { 'data': 'target_languages_str' },
            {
                'data': function (data) {
                    return data.can_preview ? '<i class="fas fa-check text-success"></i>' :'<i class="fas fa-times text-danger"></i>';
                }
            },
            { 'data': 'CreatedDate' },
            { 'data': 'PublishDate' }
        ],
        'ordering': true,
        'order': [[6, 'desc']],
        'paging': true,
        'searching': true,
        'info': false,
        'fixedHeader': true,
        'initComplete': function () {
            var api = this.api();

            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    if (colIdx == 0 || colIdx == 9)
                        return;
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', this.value)
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        }
    });
    var tasks = [];
     datatable.on('xhr', function () {
            var json = datatable.ajax.json();
            tasks = json.data;
            $('.detail-actions').html('');
            $('.detail-body').html('');
            $('.btn-detail-navigation').hide();
            if (tasks.length > 0)
                CreateDetail(0);
        });
        function Navigate(navigator) {
            var index = $(navigator).data('index');
            CreateDetail(index);
        }
        function CreateDetail(index) {
            var task = tasks[index];
            if (!task)
                return;
            $.ajax({
                url: '@Url.Action("TaskDetails", "TaskManagement")',
                data: {
                    id:task.id
                },
                success: function (data) {
                    $('.detail-body').html(data);
                    if (task.status == 'Draft') {
                        $('.detail-body').append('<h1 class="draft-overlay">@DT.LOCAL.Enums.StatusTypes.Draft</h1>');
                        $('.detail-body').addClass('bg-draft');
                    }

                    $('.btn-detail-navigation').data('current-index', index);
                    if (index > 0) {
                        $('.btn-previous').data('index', index - 1).show();
                    }
                    if (index + 1 < tasks.length) {
                        $('.btn-next').data('index', index + 1).show();
                    }
                    var icon = task.IsBookmarked ? '<i class="fas fa-star text-yellow"></i> Bookmarked': '<i class="far fa-star"></i> Bookmark';
                        var editButton = '';
                    if (task.UserCanEdit) {
                        editButton = '<a href="@Url.Action("AddUpdate", "TaskManagement")/' + task.id + '" class="btn btn-default hover-orange"><i class="fa fa-pencil-alt"></i> Edit This Task</a>'
                        }
                    $('.detail-actions').html('<div class="btn-group">' +
                        '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + task.id + '" data-url="@Url.Action("Bookmark", "TaskManagement")" onclick="Bookmarking(this)">' +
                                    icon +
                            '</button>' +
                        editButton +
                        '<a href="#" data-href="@Url.Action("Clone", "TaskManagement")/' + task.id + '" class="btn btn-default hover-orange" onclick="Clone(this);">' +
                            '<i class="fa fa-copy"></i> @DT.LOCAL.Components.Buttons.Clone' +
                        '</a>' +
                        '<button type="button" class="btn btn-success" data-task-id="' + task.id + '" onclick="SelectTask(this);">' +
                            '<i class="fas fa-check"></i> @DT.LOCAL.Components.Buttons.Select' +
                        '</button>' +
                    '</div>');
                },
                beforeSend: function () {
                    $('.detail-actions').html('');
                    $('.detail-body').html('');
                    $('.detail-body').removeClass('bg-draft');
                    $('.btn-detail-navigation').hide();
                    $('.detail-card').append('<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    $('.detail-card.overlay').fadeOut("slow", function () {
                        $(this).remove();
                    });
                },
            });
    }
    function Clone(elm) {
        var url = $(elm).data('href');
        $.confirm({
            title: '@DT.LOCAL.Components.Buttons.Clone',
            content: '@DT.LOCAL.Messages.Warnings.LeavingPageWarning',
            buttons: {
                confirm: function () {
                    location.href = url;
                },
                cancel: function () {

                }
            }
        });
    }
</script>

