﻿@model _Task
<div class="card card-default animate__animated animate__flipInX">
    <div class="card-header">
        <h3 class="card-title text-truncate W-P70" data-toggle="tooltip" title="@Model.title">
            @Model.title
        </h3>
        <div class="card-tools">
            <button type="button"
                    class="btn btn-tool"
                    data-url="@Url.Action("Details","TaskManagement", new { id = Model.id})"
                    data-modal="#partial-modal"
                    onclick="PartialShow(this);">
                <i class="fas fa-info-circle"></i>
            </button>
            <button type="button" class="btn btn-tool btn-add" data-id="@Model.id" onclick="AddRemove(this);">
                <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
        </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 200px;">
        <table class="table table-head-fixed">
            <tbody>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.title
                        </strong>
                    </td>
                    <td>
                        @Model.title
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.author_id
                        </strong>
                    </td>
                    <td>
                        @Model.author_id
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.information_gap
                        </strong>
                    </td>
                    <td>
                        @Model.information_gap.ToStr()
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.target_subject
                        </strong>
                    </td>
                    <td>
                        @Model.target_subject
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.target_ages
                        </strong>
                    </td>
                    <td>
                        @Model.target_min_age - @Model.target_max_age
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.target_languages
                        </strong>
                    </td>
                    <td>
                        @Model.target_languages
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.target_proficiency_level
                        </strong>
                    </td>
                    <td>
                        @Model.target_proficiency_level
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.estimated_duration
                        </strong>
                    </td>
                    <td>
                        @Model.estimated_duration
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.group_range
                        </strong>
                    </td>
                    <td>
                        @Model.group_range
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.objectives
                        </strong>
                    </td>
                    <td>
                        @Model.objectives
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @DT.LOCAL.Objects.Columns.tags
                        </strong>
                    </td>
                    <td>
                        @foreach (TaskTag taskTag in Model.TaskTags)
                        {
                        <span class="badge badge-pill badge-primary">
                            @taskTag
                        </span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>