﻿@model List<User>
<table class="index-table cell-border display table table-bordered table-responsive responsive  d-block" style="width:100% !important;">
    <thead>
        <tr>
            <th>@DT.LOCAL.Objects.Columns.role_id</th>
            <th>@DT.LOCAL.Objects.Columns.name</th>
            <th>@DT.LOCAL.Objects.Columns.lastname</th>
            <th>@DT.LOCAL.Objects.Columns.mail</th>
            <th>@DT.LOCAL.Objects.Columns.title</th>
            <th>@DT.LOCAL.Objects.Columns.institution</th>
            <th>@DT.LOCAL.Objects.Columns.department</th>
            <th>@DT.LOCAL.Objects.Columns.ui_language</th>
            <th>@DT.LOCAL.Objects.Columns.created_date</th>
            <th>@DT.LOCAL.Objects.Columns.is_allowed</th>
            <th>@DT.LOCAL.Objects.Columns.is_active</th>
        </tr>

    </thead>
    <tbody>

        @foreach (User user in Model)
        {
            <tr>
                <td>@StaticDB.Roles.GetById(user.role_id).ToStr()</td>
                <td>@user.name.ToStr()</td>
                <td>@user.lastname.ToStr()</td>
                <td>@user.mail.ToStr()</td>
                <td>@user.title.ToStr()</td>
                <td>@user.institution.ToStr()</td>
                <td>@user.department.ToStr()</td>
                <td>@StaticDB.Languages.GetByIso(user.ui_language).ToStr()</td>
                <td>@user.created_date.ToShortDateString()</td>
                <td class="@(user.is_allowed?"bg-success":"bg-danger")">@(user.is_allowed?DT.LOCAL.Components.Buttons.Yes:DT.LOCAL.Components.Buttons.No)</td>
                <td class="@(user.is_active?"bg-success":"bg-danger")">@(user.is_active?DT.LOCAL.Components.Buttons.Yes:DT.LOCAL.Components.Buttons.No)</td>
            </tr>
        }

    </tbody>
</table>
