﻿@{ 
    User currentUser = Request.User();
}
<div class="modal fade" id="interactivity-modal">
    <div class="modal-dialog" id="interactivity-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Online Users</h3>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#interactivity-dialog"><i class="fas fa-times"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="interactivity-modal-body" style="max-height:500px;overflow:auto;">
                <ul class="participant-list" style="list-style:none;">
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="input-group">
                    <textarea placeholder="Send a message to online users!" type="text" id="msg-text" name="message" class="form-control textarea_like_wp" rows="4"></textarea>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary" onclick="SendMessage();">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


