﻿
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" id="info-modal-title">@DT.LOCAL.Components.Labels.InfoTitle</h4>
            <button type="button" class="close dismiss-modal"><i class="fas fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" id="info-modal-body">
            @DT.LOCAL.Messages.Warnings.RecordNotFound
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="#" class="btn btn-danger dismiss-modal" id="btn-ok">@DT.LOCAL.Components.Buttons.Ok</a>
        </div>
    </div>
</div>