﻿
@{
    ViewBag.Title = "ErrorPage";
    User user = Request.User();
    if (user == null || user.role_id == 4)
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@{
    Exception exception;
    try
    {
        exception = Session["PageEx"] as Exception;
    }
    catch (Exception ex)
    {
        exception = ex;
    }
}
@section styles{
    <style>
        dt, dd {
            padding-bottom: 10px;
            padding-right: 30px;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">
                    @DT.LOCAL.Messages.Errors.DialogTitle
                </h3>
                <div class="card-tools">
                    <!-- This will cause the card to maximize when clicked -->
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <!-- This will cause the card to collapse when clicked -->
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <!-- This will cause the card to be removed when clicked -->
                    <button type="button" class="btn btn-tool" onclick="SendError();" title="Report"><i class="fas fa-at"></i></button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="card-body">
                @Html.ConvertToCode(exception)
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div>

@section scripts{
    <script>
        var isProcessContinue = false;
        function SendError() {
            if (!isProcessContinue)
                $.ajax({
                    url: '@Url.Action("SendReport", "Home")',
                    type: "POST",
                    beforeSend: function () {
                        isProcessContinue = true;
                    },
                    success: function (data, textStatus, xhr) {
                        if (data.Result) {
                            toastr.success('@DT.LOCAL.Messages.Infos.ErrorReported');
                        }else
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    },
                    complete: function () {
                        isProcessContinue = false;
                    }
                });
            else
                toastr.error('@DT.LOCAL.Messages.Warnings.RequestContinue')
        }
    </script>
}