﻿@model List<RawPage>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User current_user = Request.User();

}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <style>
        .btn-quick {
            padding: 10px;
            transition:all 0.2s ease-in-out;
        }

            .btn-quick:hover {
                transform:scale(1.1);
                z-index:9999999999;
            }

            .btn-quick > .btn-block {
                min-height: 200px;
                padding-top: 40px;
            }

        .content-header {
            display: none;
        }

        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
            padding-top: 13.5px;
        }
    </style>
}

<div class="card">
    <div class="card-header">
        <div class="card-tools">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#buttons" class="btn-tool text-primary"> <i class="fas fa-th-large"></i> @DT.LOCAL.Components.Labels.QuickMenu</a></li>
                <li><a data-toggle="tab" href="#dashboard" class="btn-tool text-primary"><i class="fas fa-chart-line"></i> @DT.LOCAL.Components.WebMenuItems.Dashboard</a></li>

            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="buttons" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a href="#" class="btn btn-lg btn-warning btn-block" onclick="CreateTask();">
                            <i class="fas fa-5x fa-tasks quick-icon"></i>&nbsp; <br /> @DT.LOCAL.Components.Labels.CreateTask
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a class="btn btn-lg btn-warning btn-block" href="@Url.Action("AddUpdate","SequenceManagement")">
                            <i class="far fa-5x fa-calendar-alt"></i>&nbsp;<br /> @DT.LOCAL.Components.Labels.CreateSequence
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a href="#"
                           class="btn btn-lg btn-warning btn-block"
                           data-url="@Url.Action("AddUpdate","MaterialManagement")"
                           data-modal="#partial-modal"
                           onclick="PartialShow(this);">
                            <i class="fas fa-5x fa-photo-video quick-icon"></i>&nbsp;<br /> @DT.LOCAL.Components.Labels.CreateMaterial
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a href="@Url.Action("Index","ClassManagement")"
                           class="btn btn-lg btn-warning btn-block">
                            <i class="fas fa-5x fa-users"></i>&nbsp;<br /> @DT.LOCAL.Objects.Tables.Classes
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a href="@Url.Action("Index","TaskManagement")"
                           class="btn btn-lg btn-warning btn-block">
                            <i class="fas fa-5x fa-list"></i>&nbsp;<br /> @DT.LOCAL.Objects.Tables.Tasks
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-quick">
                        <a href="@Url.Action("Index","SequenceManagement")"
                           class="btn btn-lg btn-warning btn-block">
                            <i class="fas fa-5x fa-route"></i>&nbsp;<br /> @DT.LOCAL.Objects.Tables.Sequences
                        </a>

                    </div>
                </div>
                @if (Model.Count > 0)
                {
                    <h3>FEEDS</h3>
                }
                <div class="row">
                    @foreach (RawPage rawPage in Model.OrderByDescending(s => s.created_date))
                    {
                        <div class="col-12">
                            <div class="card card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        @rawPage.created_date.FeedDateStr()
                                    </h3>

                                    <div class="card-tools">
                                        <!-- This will cause the card to maximize when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                        <!-- This will cause the card to collapse when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    @Html.Raw(rawPage.body)
                                </div>
                                <div class="card-footer">
                                    @StaticDB.Users.GetById(rawPage.created_by).ToStr()
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane" id="dashboard" role="tabpanel">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-gradient-info">
                            <div class="inner">
                                <h3>@StaticDB.Tasks.Count</h3>

                                <p>@DT.LOCAL.Objects.Tables.Tasks</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-tasks"></i>
                            </div>
                            <a href="@Url.Action("Index","TaskManagement")" class="small-box-footer">@DT.LOCAL.Components.Labels.MoreInfo <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-gradient-success">
                            <div class="inner">
                                <h3>@StaticDB.Materials.Count</h3>

                                <p>@DT.LOCAL.Objects.Tables.Materials</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-photo-video"></i>
                            </div>
                            <a href="@Url.Action("Index","MaterialManagement")" class="small-box-footer">@DT.LOCAL.Components.Labels.MoreInfo <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-gradient-warning">
                            <div class="inner">
                                <h3>@StaticDB.Users.Count(x => x.role_id == 3 && x.is_active)</h3>

                                <p>@DT.LOCAL.Objects.Tables.Teachers</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-chalkboard-teacher"></i>
                            </div>
                            <a href="@Url.Action("Index","UserManagement",new { role_id=3 })" class="small-box-footer">@DT.LOCAL.Components.Labels.MoreInfo <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-gradient-danger">
                            <div class="inner">
                                <h3>@StaticDB.Users.Count(x => x.role_id == 4 && x.is_active)</h3>

                                <p>@DT.LOCAL.Components.Labels.Students</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <a href="@Url.Action("Index","UserManagement",new { role_id=4 })" class="small-box-footer">@DT.LOCAL.Components.Labels.MoreInfo <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable">
                        <!-- Tasks-->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-tasks mr-1"></i>
                                    @DT.LOCAL.Components.Labels.LastCreatedTasks
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <table class="index-table cell-border display table-bordered table-responsive responsive" id="tasks-table" style="width:100% !important;">
                                    <thead>

                                        <tr>
                                            <th></th>
                                            <th>@DT.LOCAL.Objects.Columns.title</th>
                                            <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                                            <th>@DT.LOCAL.Objects.Columns.created_by</th>
                                            <th>@DT.LOCAL.Objects.Columns.institution</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                                            <th>@DT.LOCAL.Objects.Columns.group_range</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (_Task task in StaticDB.Tasks.Where(t => t.status.Equals("Published")).OrderByDescending(t => t.created_date).Take(5))
                                        {
                                            string author = StaticDB.Users.GetById(task.author_id).ToStr();
                                            <tr>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-xs" type="button" id="row-ddb-@task.id" data-toggle="modal" data-target="#drop-modal-@task.id">
                                                            <i class="fas fa-bars"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal fade" id="drop-modal-@task.id" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">@task</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    @if (task.created_by == current_user.id)
                                                                    {
                                                                        <a href="@Url.Action("AddUpdate","TaskManagement",new {id=task.id })"
                                                                           class="btn btn-default btn-block hover-orange">
                                                                            <i class="fa fa-pencil-alt"></i> @DT.LOCAL.Components.Buttons.Edit
                                                                        </a>
                                                                    }
                                                                    <a href="@Url.Action("Clone","TaskManagement",new {id=task.id })"
                                                                       class="btn btn-default btn-block hover-orange">
                                                                        <i class="fa fa-copy"></i> @DT.LOCAL.Components.Buttons.Clone
                                                                    </a>
                                                                    <a href="#"
                                                                       class="btn btn-default btn-block hover-orange"
                                                                       data-url="@Url.Action("PreviewModal","TaskManagement",new {id=task.id })"
                                                                       onclick="PartialShow(this)"
                                                                       data-modal="#partial-modal">
                                                                        <i class="fa fa-eye"></i>&nbsp;@DT.LOCAL.Components.Labels.MaterialsPreview
                                                                    </a>
                                                                    <a href="#"
                                                                       class="btn btn-default btn-block hover-orange"
                                                                       data-url="@Url.Action("Details","TaskManagement",new {id=task.id })"
                                                                       onclick="PartialShow(this)"
                                                                       data-modal="#partial-modal">
                                                                        <i class="fa fa-info"></i>&nbsp;@DT.LOCAL.Components.Buttons.Details
                                                                    </a>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    @Html.Partial("_ShareButtons", task)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-truncate">
                                                    @task.title.ToStr()
                                                    @if (task.author_id != task.created_by)
                                                    {
                                                        <br />
                                                        <a href="#" data-url="@Url.Action("Details","TaskManagement",new {id=task.original_id })" onclick="PartialShow(this);" data-modal="#partial-modal" title="@string.Format("{0} (created by {1})", DT.LOCAL.Components.Labels.SeeOriginal, author)">
                                                            @DT.LOCAL.Components.Labels.Cloned
                                                        </a>
                                                    }
                                                </td>
                                                <td>@task.information_gap.ToStr()</td>
                                                <td>@StaticDB.Users.GetById(task.created_by).ToStr()</td>
                                                <td>@task.institution.ToStr()</td>
                                                <td>@task.target_subject.ToStr()</td>
                                                <td>@string.Format("{0}-{1}", task.target_min_age, task.target_max_age)</td>
                                                <td>@task.group_range</td>
                                                <td>@string.Join(",", StaticDB.TargetLanguages.Where(x => x.task_id == task.id).Select(x => x.Language))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- Sequences -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-calendar-alt mr-1"></i>
                                    @DT.LOCAL.Components.Labels.LastCreatedSequences
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <table class="index-table cell-border display table table-bordered table-responsive responsive  d-block" id="sequences-table" style="width:100% !important;">
                                    <thead>

                                        <tr>
                                            <th></th>
                                            <th>@DT.LOCAL.Objects.Columns.title</th>
                                            <th>@DT.LOCAL.Objects.Columns.details</th>
                                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                                            <th>@DT.LOCAL.Objects.Columns.created_by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Sequence sequence in StaticDB.Sequences.OrderByDescending(t => t.created_date).Take(5))
                                        {
                                            <tr>
                                                <td>

                                                    <a href="#"
                                                       data-url="@Url.Action("Details",new {id=sequence.id })"
                                                       data-modal="#partial-modal"
                                                       onclick="PartialShow(this);"
                                                       class="btn btn-default btn-sm hover-orange" title="@DT.LOCAL.Components.Buttons.Details">
                                                        <i class="fa fa-info"></i>
                                                    </a>
                                                </td>
                                                <td>@sequence.title.ToStr()</td>
                                                <td>@sequence.details.ToStr()</td>
                                                <td>@sequence.created_date</td>
                                                <td>@StaticDB.Users.GetById(sequence.created_by)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div><!-- /.card-body -->
                        </div>
                        <!--/.card -->
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-5 connectedSortable">
                        <!-- Map card -->
                        <div class="card bg-gradient-primary">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-university mr-1"></i>
                                    @DT.LOCAL.Components.Labels.MemberCountsByInstitution
                                </h3>
                            </div>
                            <div class="card-body">
                                <table class="index-table cell-border display table-bordered table-responsive responsive" id="institutions-table" style="width:100% !important;">
                                    <thead>
                                        <tr>
                                            <th>@DT.LOCAL.Objects.Columns.title</th>
                                            <th>@DT.LOCAL.Components.Labels.TeachersCount</th>
                                            <th>@DT.LOCAL.Components.Labels.TasksCount</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var instGrp in StaticDB.Users.Where(x => x.is_active && x.role_id == 3 && !string.IsNullOrEmpty(x.institution)).GroupBy(x => x.institution).Take(10))
                                        {
                                            <tr>
                                                <td class="text-truncate">@instGrp.Key</td>
                                                <td class="text-center">@StaticDB.Users.Where(x => x.is_active && x.role_id == 3 && !string.IsNullOrEmpty(x.institution)).Count(x => x.institution.Equals(instGrp.Key))</td>
                                                <td class="text-center">@StaticDB.Tasks.Where(x => x.is_active && !string.IsNullOrEmpty(x.institution)).Count(x => x.institution.Equals(instGrp.Key))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- solid sales graph -->
                        <div class="card bg-gradient-info">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-chalkboard-teacher mr-1"></i>
                                    @DT.LOCAL.Components.Labels.LastRegisteredTeachers
                                </h3>
                            </div>
                            <div class="card-body">
                                <table class="index-table cell-border display table-bordered table-responsive responsive" id="teachers-table" style="width:100% !important;">
                                    <thead>
                                        <tr>
                                            <th>@DT.LOCAL.Objects.Columns.title</th>
                                            <th>@DT.LOCAL.Objects.Columns.name</th>
                                            <th>@DT.LOCAL.Objects.Columns.institution</th>
                                            <th>@DT.LOCAL.Objects.Columns.department</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var user in StaticDB.Users.OrderByDescending(x => x.created_date).Take(10))
                                        {
                                            <tr>
                                                <td>@user.title.ToStr()</td>
                                                <td>@user.ToStr()</td>
                                                <td>@user.institution.ToStr()</td>
                                                <td>@user.department.ToStr()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- right col -->
                </div>
            </div>


        </div>
    </div>
    <!-- /.card-footer-->
</div>



<!-- /.row (main row) -->

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.index-table').DataTable({
                'paging': false,
                'searching': false,
                'info': false,
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });

            'use strict'

            // Make the dashboard widgets sortable Using jquery UI
            $('.connectedSortable').sortable({
                placeholder: 'sort-highlight',
                connectWith: '.connectedSortable',
                handle: '.card-header, .nav-tabs',
                forcePlaceholderSize: true,
                zIndex: 999999,
                update: function (event, ui) {
                    console.log('SORT UI: ' + ui);
                    console.log('SORT EVENT : ' + event);
                }
            })
            $('.connectedSortable .card-header, .connectedSortable .nav-tabs-custom').css('cursor', 'move')

        })
        $(function () {
            $('#task-results-table').DataTable({
                'processing': true,
                'serverSide': true,
                'responsive': true,
                'autoWidth': true,
                'ajax': {
                    'url': '@Url.Action("GetList", "TaskResultManagement")',
                    'method': 'POST',
                },
                'columns': [
                    { 'data': 'Student' },
                    {
                        'data': function (data) {
                            return '<span class="text-truncate">' + data.Task.title + '</span>';
                        }
                    },
                    { 'data': 'Teacher' },
                    { 'data': 'StartDate' },
                    { 'data': 'FinishDate' },
                    {
                        'data': function (data) {
                            return '<span class="text-truncate" title="' + data.completion_result +'">' + data.completion_result + '</span>';
                        }
                    },
                ],
                'columnDefs': [
                    {
                        targets: 1,
                        className: 'text-truncate'
                    },
                    {
                        targets:5,
                        className: 'text-truncate'
                    },

                ],
                'rowReorder': true,
                'ordering': true,
                'order': [[1, 'desc']],
                'paging': true,
                'searching': true,
                'info': false,
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });
    </script>
}