﻿@model List<SearchResultModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center display-4">@ViewBag.PageTitle</h2>
<form action="@Url.Action("Search","Home")">
    @Html.Hidden("is_enhanced", true)
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row@(ViewBag.IsEnhanced ? "":" hidden")">
                <div class="col-6">
                    <div class="form-group">
                        <label>@DT.LOCAL.Components.Labels.SearchIn :</label>
                        <select class="select2" multiple="multiple" name="type" data-placeholder="Any" style="width: 100%;">
                            <option value="all" selected>All</option>
                            <option value="tasks">@DT.LOCAL.Objects.Tables.Tasks</option>
                            <option value="materials">@DT.LOCAL.Objects.Tables.Materials</option>
                            @if (Request.User().role_id == 1)
                            {
                                <option value="users">@DT.LOCAL.Objects.Tables.Users</option>
                                <option value="students">@DT.LOCAL.Components.Labels.Students</option>
                                <option value="teachers">@DT.LOCAL.Components.Labels.Teachers</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>@DT.LOCAL.Components.Labels.SortOrder :</label>
                        <select class="select2" name="sorting" style="width: 100%;">
                            <option value="asc" selected>@DT.LOCAL.Components.Labels.Ascending</option>
                            <option value="desc">@DT.LOCAL.Components.Labels.Descending</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>@DT.LOCAL.Components.Labels.OrderBy :</label>
                        <select class="select2" name="ordering" style="width: 100%;">
                            <option value="title" selected>@DT.LOCAL.Components.Labels.ByTitle</option>
                            <option value="date">@DT.LOCAL.Components.Labels.ByDate</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="search" name="search_phrase" class="form-control form-control-lg" placeholder="@DT.LOCAL.Components.Labels.PleaseWrite">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row mt-3">
    <div class="col-md-10 offset-md-1">
        <div class="list-group">
            @if (Model.Count > 0)
            {
                <div class="list-group-item">
                    <div class="row">
                        <div class="col px-4">
                            <div>
                                <div class="float-right">2021-04-20 04:04pm</div>
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo" style="max-height: 160px;">
                        </div>
                        <div class="col px-4">
                            <div>
                                <div class="float-right">2021-04-20 10:14pm</div>
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <iframe width="240" height="160" src="https://www.youtube.com/embed/WEkSYw3o5is?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen></iframe>
                        </div>
                        <div class="col px-4">
                            <div>
                                <div class="float-right">2021-04-20 11:54pm</div>
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p class="mb-0">consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (Request.RequestType == "POST")
            {
                <div class="list-group-item">
                    <div class="row">
                        <div class="col px-4">
                            <div>
                                <h3>@DT.LOCAL.Components.Labels.Sorry</h3>
                                <p class="mb-0">@DT.LOCAL.Components.Labels.NoSearchResult</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


