﻿@model Sequence
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-xl" id="sequence-edit-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateSequence: DT.LOCAL.Components.Labels.EditSequence)</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#sequence-edit-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>@DT.LOCAL.Objects.Columns.title</label>
                        <textarea name="title" id="sequence-title" class="form-control" rows="2" >@Model.title.ToStr()</textarea>
                    </div>
                    <div class="form-group">
                        <label>@DT.LOCAL.Objects.Columns.details</label>
                        <textarea id="sequence-details" class="form-control" name="details" rows="10" style="height:100%;">@Html.Raw(Model.details)</textarea>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card card-outline">
                        <dv class="card-header">
                            <h3 class="card-title">@DT.LOCAL.Objects.Tables.SequenceTasks</h3>
                            <div class="card-tools">
                                <a href="#"
                                   data-modal="#task-selector"
                                   data-url="@Url.Action("Selector","TaskManagement")"
                                   onclick="PartialShow(this)">
                                    <i class="fa fa-plus"></i> Add Task
                                </a>
                            </div>
                        </dv>
                        <div class="card-body">

                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                            @*<table class="sequence-tasks-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
            <thead>
                <tr>
                    <th>@DT.LOCAL.Objects.Entity._Task</th>
                    <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                    <th>@DT.LOCAL.Objects.Columns.group_range</th>
                    <th>@DT.LOCAL.Objects.Columns.planned_start_date</th>
                    <th></th>
                </tr>
            </thead>
        </table>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="button" id="btn-save-sequence" class="btn btn-success" onclick="Save();">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade animate__animated animate__fadeIn" id="task-selector"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatable-plugins/processing().js"></script>
<script>
    $(function () {
        AwakeJSEvents();
        calendar.fullCalendar('refresh');
    });

    var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 60,
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.RouteUrl(new{ action= "GetEvents", controller= "SequenceTaskManagement" })',
                        type: "GET",
                        dataType: "JSON",
                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.title,
                                        description: data.description,
                                        start: moment(data.planned_start_time).format('YYYY-MM-DD HH:mm:ss'),
                                        end: moment(data.planned_end_time).format('YYYY-MM-DD HH:mm:ss'),
                                        backgroundColor: data.background_color
                                    });
                            });

                            callback(events);
                        }
                    });
                }
            });
    function SelectTask(elm) {
        var task_id = $(elm).data('task-id');
        $.confirm({
            title: '@DT.LOCAL.Objects.Columns.activation_time',
            content: '' +
                '<form action="" class="formName">' +
                    '<div class="form-group">' +
                        '<label>@string.Format(DT.LOCAL.Messages.Warnings.PleaseEnter,DT.LOCAL.Objects.Columns.planned_start_date)</label>' +
                        '<input type="date" class="form-control" required id="seq-planned_start_date" autofocus/>' +
                    '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: '@DT.LOCAL.Components.Buttons.Ok',
                    btnClass: 'btn-blue',
                    action: function () {
                        // Get TS Modal values
                        var planned_start_date = this.$content.find('#seq-planned_start_date').val();

                        var sequenceTask = {
                            task_id: task_id,
                            sequence_id: parseInt('@Model.id'),
                            planned_start_date: planned_start_date
                        };
                        if (sequenceTask.id == 0) {
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.PleaseSelect,DT.LOCAL.Objects.Entity._Task)', '@DT.LOCAL.Components.Buttons.Ok');
                            return;
                        }else {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Add", "SequenceTaskManagement")',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify(sequenceTask),
                                success: function (data) {
                                    if (data['Result']) {
                                        calendar.fullCalendar('refresh');
                                        $('#task-selector').modal('toggle');
                                    } else {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                }
                            });
                        }
                    }
                },
                cancel: function () {
                    //close
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }
    function RemoveSequenceTask(elm) {
        var id = $(elm).data('id');
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "SequenceTaskManagement")' + '/' + id,
            success: function (data) {
                if (data['Result']) {
                    datatable.ajax.reload();
                } else {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
            }
        });
    }
    function Save() {
         var entity = {
            'id':@Model.id,
            'title': $('#sequence-title').val(),
            'details': $('#sequence-details').val()
        };
        if (!entity.title) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "SequenceManagement")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                success: function (data) {
                    if (data['Result']) {
                        $('#sequence-edit-dialog').parent('.modal').modal('toggle');
                        location.reload();
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
    }
</script>
