﻿@model Sequence
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-lg" id="sequence-details-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@DT.LOCAL.Objects.Entity.Sequence @DT.LOCAL.Objects.Columns.details</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#sequence-details-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            <div class="form-group">
                <label>@DT.LOCAL.Objects.Columns.title</label>
                <input name="title" id="sequence-title" class="form-control-plaintext" readonly value="@Model.title" />
            </div>
            <div class="form-group">
                <label>@DT.LOCAL.Objects.Columns.details</label>
                <textarea id="sequence-details" class="form-control-plaintext" name="details" rows="5" style="height:100%;" readonly>@Html.Raw(Model.details)</textarea>
            </div>
            <div class="form-group">
                <label>@DT.LOCAL.Objects.Tables.SequenceTasks</label>
                <table class="sequence-tasks-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                    <thead>
                        <tr>
                            <th>@DT.LOCAL.Objects.Entity._Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SequenceTask sequenceTask in Model.SequenceTasks)
                        {
                            <tr>
                                <td>
                                    <a href="#"
                                       data-url="@Url.Action("Details","TaskManagement",new {id=sequenceTask.Task.id })"
                                       onclick="PartialShow(this)"
                                       data-modal="#task-details-modal">@sequenceTask.Task.title</a>
                                    <br />
                                    <small>
                                        @sequenceTask.Task.User
                                    </small>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Ok</button>
        </div>
    </div>
</div>
<div class="modal" id="task-details-modal" style="z-index:9999999999"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatable-plugins/processing().js"></script>
<script>
    var datatable = $('.sequence-tasks-table').DataTable({
        'ordering': true,
        'autoWidth': false,
        'order': [[0, 'asc']],
        'paging': false,
        'searching': false,
        'info': false,
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        }
    });

</script>
