﻿
@model Sequence
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <!-- Full Calendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css"/>
    <style>
        .card-secondary > .card-header > .card-tools > a {
            color: white !important;
        }
    </style>
}

<div class="card card-outline">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="card card-secondary">
                    <dv class="card-header">
                        <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._BasicInformation</h3>
                    </dv>
                    <div class="card-body">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.title</label>
                            <textarea name="title" id="sequence-title" class="form-control" rows="5">@Model.title.ToStr()</textarea>
                        </div>
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.details</label>
                            <textarea id="sequence-details" class="form-control" name="details" rows="5" style="height:100%;">@Html.Raw(Model.details)</textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-9">
                <div class="card card-secondary">
                    <dv class="card-header">
                        <h3 class="card-title">@DT.LOCAL.Objects.Tables.SequenceTasks</h3>
                        <div class="card-tools">
                            <a href="#"
                               id="btn-add-task"
                               data-modal="#task-selector"
                               data-url="@Url.Action("Selector","TaskManagement")"
                               onclick="PartialShow(this)">
                                <i class="fa fa-plus"></i> Add Task
                            </a>
                        </div>
                    </dv>
                    <div class="card-body">

                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg btn-success pull-right" onclick="Save()">
            <i class="fa fa-save"></i> @DT.LOCAL.Components.Buttons.Save
        </a>
    </div>
</div>
@section scripts{
    <div class="modal fade animate__animated animate__fadeIn" id="task-selector"></div>
    <!-- Full Calendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script>
        var planned_start_date = new Date();
        $(function () {
           $('#calendar').fullCalendar('refetchEvents');
        });
        var events = [];
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },

            eventRender: function (eventObj, $el) {
                $el.popover({
                    title: eventObj.title,
                    content: eventObj.description,
                    trigger: 'hover',
                    placement: 'top',
                    container: 'body'
                });
            },
            editable: true,
            firstDay: 1, //The day that each week begins (Monday=1)
            slotMinutes: 60,
            height: 650,
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '@Url.RouteUrl(new{ action= "GetEvents", controller= "SequenceTaskManagement" })',
                    type: "GET",
                    dataType: "JSON",
                    success: function (result) {
                        events = [];
                        $.each(result, function (i, data) {
                            events.push(
                                {
                                    id:data.id,
                                    title: data.title,
                                    description: data.description,
                                    start: moment(data.planned_start_time).format('YYYY-MM-DD'),
                                    end: moment(data.planned_end_time).format('YYYY-MM-DD'),
                                    backgroundColor: data.background_color
                                });
                        });

                        callback(events);
                    }
                });
            },
            dayClick: function (date, jsEvent, view) {
                planned_start_date = date;
                $('#btn-add-task').click();
            },
            eventClick: function (event) {
                let str = event.title;                
                let subStr = str.match(/\[TASK:[0-9]*\]/gm).toString();
                var task_id = subStr.match(/\d+/gm);
                 $.confirm({
                    title: '@DT.LOCAL.Components.Labels.PleaseChoose',
                    content: '',
                    buttons: {
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                RemoveSequenceTask(event.id);
                            }
                        },
                        open: {
                            text: '@DT.LOCAL.Components.Buttons.Open',
                            btnClass: 'btn-blue',
                            action: function () {
                                console.log('TASK ID : ' + task_id);
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("Details", "TaskManagement")' + '/' + task_id,
                                    success: function (data) {
                                        $('#task-selector').html(data).modal({ backdrop: 'static', keyboard: false });
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                });
                            }
                        }
                    }
                });
            },
            eventDrop: function (event, delta, revertFunc) {
                UpdateItemDate(event);
            },
            eventResize: function (event, delta, revertFunc) {
                UpdateItemDate(event);
            }
        });
        function UpdateItemDate(event) {
            var sequenceTask = {
                id:event.id,
                planned_start_date: moment(event.start).format('YYYY-MM-DD HH:mm:ss')
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "SequenceTaskManagement")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(sequenceTask),
                success: function (data) {
                    if (data['Result']) {
                       $('#calendar').fullCalendar('refetchEvents');
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle',Canceldata.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
        function SelectTask(elm) {
            var task_id = $(elm).data('task-id');
              $.confirm({
                title: '@DT.LOCAL.Objects.Columns.activation_time',
                content: '' +
                    '<form action="" class="formName">' +
                        '<div class="form-group">' +
                            '<label>@string.Format(DT.LOCAL.Messages.Warnings.PleaseEnter,DT.LOCAL.Objects.Columns.planned_start_date)</label>' +
                            '<input type="date" class="form-control" required id="seq-planned_start_date" autofocus/>' +
                        '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: '@DT.LOCAL.Components.Buttons.Ok',
                        btnClass: 'btn-blue',
                        action: function () {
                            // Get TS Modal values
                            planned_start_date = this.$content.find('#seq-planned_start_date').val();
                            var sequenceTask = {
                                task_id: task_id,
                                sequence_id: parseInt('@Model.id'),
                                planned_start_date: planned_start_date
                            };
                            if (sequenceTask.id == 0) {
                                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.PleaseSelect,DT.LOCAL.Objects.Entity._Task)', '@DT.LOCAL.Components.Buttons.Ok');
                                return;
                            }else {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("AddUpdate", "SequenceTaskManagement")',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify(sequenceTask),
                                    success: function (data) {
                                        if (data['Result']) {
                                           $('#calendar').fullCalendar('refetchEvents');
                                            $('#task-selector').modal('toggle');
                                        } else {
                                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                });
                                planned_start_date = null;
                            }
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                  onContentReady: function () {
                    if (planned_start_date)
                        this.$content.find('#seq-planned_start_date').val(moment(planned_start_date).format('YYYY-MM-DD'));
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
        function RemoveSequenceTask(sequence_task_id) {
            $.confirm({
                    title: '@DT.LOCAL.Messages.Warnings.DialogTitle',
                    content: '@DT.LOCAL.Messages.Warnings.DeleteWarning',
                    buttons: {
                        yes: {
                            text: '@DT.LOCAL.Components.Buttons.Yes',
                            btnWarningsClass: 'btn-blue',
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("Delete", "SequenceTaskManagement")' + '/' + sequence_task_id,
                                    success: function (data) {
                                        if (data['Result']) {
                                           $('#calendar').fullCalendar('refetchEvents');
                                        } else {
                                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                });
                            }
                        },
                        no: function () {
                            text: '@DT.LOCAL.Components.Buttons.No'
                        },
                    }
                });

        }
        function Save() {
             var entity = {
                'id':@Model.id,
                'title': $('#sequence-title').val(),
                'details': $('#sequence-details').val(),
                'created_date':'@Model.created_date.ToString("yyyy-MM-dd HH:mm:ss")',
                'is_active':true
            };
            if (!entity.title) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else if (events.length <= 0) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.AddXAtLeastY, 1, DT.LOCAL.Objects.Entity.SequenceTask)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddUpdate", "SequenceManagement")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entity),
                    success: function (data) {
                        if (data['Result']) {
                            toastr.success('Sequence has been saved successfully!');
                        } else {
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                });
            }
        }
    </script>
}

