﻿
@model Sequence
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var range = 0;
    if (Model.id != 0 && Model.SequenceTasks.Count > 0 && Model.SequenceTasks.Select(s => s.Task).Count() > 0)
    {
        range = Model.SequenceTasks.Select(s => s.Task).Min(s => s.group_range);
    }
}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-rowreorder/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
    <style>
        .card-secondary > .card-header > .card-tools > a {
            color: white !important;
        }

        #st-list-show {
            padding: 10px;
        }
    </style>
}

<div class="card card-outline">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="card card-secondary">
                    <dv class="card-header">
                        <h3 class="card-title">@DT.LOCAL.Objects.Columns.title</h3>
                    </dv>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea name="title" id="sequence-title" class="form-control" rows="3">@Model.title.ToStr()</textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card card-secondary">
                    <dv class="card-header">
                        <h3 class="card-title">@DT.LOCAL.Objects.Columns.details</h3>
                    </dv>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea id="sequence-details" class="form-control" name="details" rows="3" style="height:100%;">@Html.Raw(Model.details)</textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="card card-secondary">
                    <dv class="card-header">
                        <h3 class="card-title">@DT.LOCAL.Objects.Tables.SequenceTasks</h3>
                        <div class="card-tools">
                            <a href="#"
                               id="btn-add-task"
                               data-modal="#task-selector"
                               data-baseurl="@Url.Action("Selector","TaskManagement")"
                               onclick="ShowTaskSelector(this)">
                                <i class="fa fa-plus"></i> Add Task
                            </a>
                        </div>
                    </dv>
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#st-list-show" class="nav-link active">
                                    <i class="fas fa-list"></i> @DT.LOCAL.Components.Buttons.List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#st-carousel-show" class="nav-link">
                                    <i class="fas fa-th-large"></i> @DT.LOCAL.Components.Buttons.Preview
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="st-list-show" role="tabpanel">
                                <table class="cell-border display table-bordered responsive" id="sequence-tasks-table" style="width:100% !important;">

                                    <thead>

                                        <tr>
                                            <th>@DT.LOCAL.Objects.Columns.index_order</th>
                                            <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                                            <th>@DT.LOCAL.Objects.Columns.title</th>
                                            <th>@DT.LOCAL.Objects.Columns.adapted_by</th>
                                            <th>@DT.LOCAL.Objects.Columns.original_designer</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                                            <th>@DT.LOCAL.Objects.Columns.group_range</th>
                                            <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane" id="st-carousel-show" role="tabpanel">
                                <div class="row">
                                    <div class="col-2">
                                        <a href="#" data-index="" data-current-index="" class="btn btn-primary st-btn-detail-navigation st-btn-previous pull-left" onclick="NavigateST(this);">
                                            <i class="fas fa-angle-left"></i> @DT.LOCAL.Components.Buttons.Previous
                                        </a>
                                    </div>
                                    <div class="col-8 st-detail-actions"></div>
                                    <div class="col-2">
                                        <a href="#" data-index="" data-current-index="" class="btn btn-primary st-btn-detail-navigation btn-next pull-right" onclick="NavigateST(this);">
                                            @DT.LOCAL.Components.Buttons.Next <i class="fas fa-angle-right"></i>
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div class="st-detail-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg btn-success pull-right" onclick="Save()">
            <i class="fa fa-save"></i> @DT.LOCAL.Components.Buttons.Save
        </a>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-rowreorder/js/rowReorder.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-rowreorder/js/dataTables.rowReorder.min.js"></script>
    <div class="modal fade animate__animated animate__fadeIn" id="task-selector"></div>
    <script>
        var groupRange = @range;
        var stdatatable = $('#sequence-tasks-table').DataTable({
            'processing': true,
            'serverSide': true,
            'rowReorder': true,
            'autoWidth': false,
            'ajax': {
                'url': '@Url.Action("GetList", "SequenceTaskManagement")',
                'method': 'POST'
            },
            'columns': [
                { 'data': 'index_order' },
                { 'data': 'information_gap' },
                { 'data': 'title' },
                { 'data': 'Creator' },
                { 'data': 'Author' },
                { 'data': 'target_subject' },
                {
                    'data': function (data) {
                        return data.target_min_age + '-' + data.target_max_age;
                    }
                },
                { 'data': 'group_range' },
                { 'data': 'target_languages_str' },
                {
                    'data': function (data) {
                        return '<button type="button" class="btn btn-danger" data-id="' + data.id + '" onclick="RemoveSequenceTask(this);">' +
                            '<i class="fas fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete' +
                            '</button>';
                    }
                }
            ],
            'columnDefs': [
                {
                    targets: 2,
                    className: 'text-truncate'
                }
            ],
            'createdRow': function (row, data, dataIndex, cells) {
                $(row).data('id',data.id);
                $(row).addClass('st-row');
            },
            'ordering': false,
            'paging': false,
            'searching': false,
            'info': false,
            'language': {
                'url': Credentials.Server + 'Content/plugins/datatables/en.json'
            }
        });
        stdatatable.on('row-reordered', function (e, diff, edit) {
            var ids = [];
            $('.st-row').each(function (i, item) {
                ids.push(parseInt($(item).data('id')));
            });
           $.ajax({
                type: "POST",
               url: '@Url.Action("Reorder", "SequenceTaskManagement")',
               data: {
                   id : @Model.id,
                   ordered_ids : ids
               },
                success: function (data) {
                    if (data['Result']) {
                        datatable.ajax.reload();
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        });
        var sequence_tasks = [];
        stdatatable.on('xhr', function () {
            sequence_tasks = stdatatable.ajax.json().data;
            $('.st-detail-actions').html('');
            $('.st-detail-body').html('');
            $('.st-btn-detail-navigation').hide();
            if (sequence_tasks.length > 0)
                CreateSTDetail(0);
            else
                groupRange = 0;
        });
        function NavigateST(navigator) {
            var index = $(navigator).data('index');
            CreateSTDetail(index);
        }
        function CreateSTDetail(index) {
            var sequence_task = sequence_tasks[index];
            $.ajax({
                url: '@Url.Action("Details", "TaskManagement")',
                data: {
                    id:sequence_task.task_id
                },
                success: function (data) {
                    $('.st-detail-body').html(data);
                    $('.st-btn-detail-navigation').data('current-index', index);
                    if (index > 0) {
                        $('.st-btn-previous').data('index', index - 1).show();
                    }
                    if (index + 1 < sequence_tasks.length) {
                        $('.btn-next').data('index', index + 1).show();
                    }
                    $('.st-detail-actions').html(
                        '<button type="button" class="btn btn-danger btn-block" data-id="' + sequence_task.id + '" onclick="RemoveSequenceTask(this);">' +
                            '<i class="fas fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete' +
                        '</button>');
                },
                beforeSend: function () {
                    $('.st-detail-actions').html('');
                    $('.st-detail-body').html('');
                    $('.st-detail-body').removeClass('bg-draft');
                    $('.st-btn-detail-navigation').hide();
                    $('.st-detail-card').append('<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    $('.st-detail-card.overlay').fadeOut("slow", function () {
                        $(this).remove();
                    });
                },
            });
        }

        function SelectTask(elm) {
            var task_id = $(elm).data('task-id');
            var sequenceTask = {
                task_id: task_id,
                sequence_id: parseInt('@Model.id')
            };
            if (sequenceTask.task_id == 0) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.PleaseSelect,DT.LOCAL.Objects.Entity._Task)', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddUpdate", "SequenceTaskManagement")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(sequenceTask),
                    success: function (data) {
                        if (data['Result']) {
                            if (groupRange == 0)
                                groupRange = data.GroupRange;
                            stdatatable.ajax.reload();
                            $('#task-selector').modal('toggle');
                        } else {
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                });
            }
        }
        function RemoveSequenceTask(elm) {
            var sequence_task_id = $(elm).data('id');
            $.confirm({
                    title: '@DT.LOCAL.Messages.Warnings.DialogTitle',
                    content: '@DT.LOCAL.Messages.Warnings.DeleteWarning',
                    buttons: {
                        yes: {
                            text: '@DT.LOCAL.Components.Buttons.Yes',
                            btnWarningsClass: 'btn-blue',
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("Delete", "SequenceTaskManagement")' + '/' + sequence_task_id,
                                    success: function (data) {
                                        if (data['Result']) {
                                            stdatatable.ajax.reload();
                                        } else {
                                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                });
                            }
                        },
                        no: function () {
                            text: '@DT.LOCAL.Components.Buttons.No'
                        },
                    }
                });

        }
        function Save() {
             var entity = {
                'id':@Model.id,
                'title': $('#sequence-title').val(),
                'details': $('#sequence-details').val(),
                'created_date':'@Model.created_date.ToString("yyyy-MM-dd HH:mm:ss")',
                'is_active':true
            };
            var ids = [];
            $('.st-row').each(function (i, item) {
                ids.push(parseInt($(item).data('id')));
            });
            if (!entity.title) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else if (ids.length <= 0) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.AddXAtLeastY, 1, DT.LOCAL.Objects.Entity.SequenceTask)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddUpdate", "SequenceManagement")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entity),
                    success: function (data) {
                        if (data['Result']) {
                            toastr.success('Sequence has been saved successfully!');
                        } else {
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                });
            }
        }

        function ShowTaskSelector(elm) {
            $(elm).data('url', $(elm).data('baseurl') + '?range=' + groupRange);
            PartialShow(elm);
        }
    </script>
}

