﻿@model List<Sequence>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <style>
        thead input {
            width: 100%;
        }

        .filters.th:nth-child(0).input {
            display: none;
        }
    </style>
}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" id="sequences-table" style="width:100% !important;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.title</th>
                            <th>@DT.LOCAL.Objects.Columns.details</th>
                            <th>@DT.LOCAL.Objects.Columns.tasks_count</th>
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                            <th>@DT.LOCAL.Objects.Columns.created_by</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{
    <div class="modal" id="sequence-details-modal"></div>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
    var type = '@ViewBag.Type';
    $(function () {
        datatable.ajax.reload();
    });
    $('#sequences-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#sequences-table thead');
    var datatable = $('#sequences-table').DataTable({
        'processing': true,
        'serverSide': true,
        'responsive': true,
        'autoWidth': false,
        'rowReorder': true,
        'ordering': true,
        'order': [[4, 'desc']],
        'paging': true,
        'searching': true,
        'info': false,
        'pageLength': 10,
        'orderCellsTop': true,
        'fixedHeader': true,
        'dom': 'Bfrtip',
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        },
        'buttons': [
                {
                    text: '<i class="fas fa-plus"></i> @DT.LOCAL.Components.Buttons.New',
                    className: 'btn-create-new',
                    action: function () {
                        location.href = '@Url.Action("AddUpdate", "SequenceManagement")';
                    }
                },
                {
                    extend: 'collection',
                    text: '<i class="fas fa-bars"></i>',
                    className: 'table-buttons btn-default',
                    autoClose: true,
                    buttons: [
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'p',
                                altKey: true
                            }
                        },
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                            key: {
                                key: 'c',
                                altKey: true
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'x',
                                altKey: true
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'r',
                                altKey: true
                            }
                        }
                    ]
                }
            ],
        'ajax': {
            'url': '@Url.Action("GetList", "SequenceManagement")',
            'method': 'POST',
            'data': function (d) {
                d.type = type;
            }
        },
        'columnDefs': [
            { width: "80px", targets: [0] },
        ],
        'columns': [
            {
                'data': function (data) {
                    var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                        var editButton = '';
                        if (data.CanEdit) {
                            editButton = '<a href="@Url.Action("AddUpdate", "SequenceManagement")/' + data.id + '" class="btn btn-default hover-orange"><i class="fa fa-pencil-alt"></i></a>' +
                                '<a href="#" data-id="' + data.id + '" onclick="DeleteSequence(this);" class="btn btn-default hover-orange"><i class="fa fa-trash"></i></a>';
                        }
                    return '<div class="btn-group btn-group-sm">' +
                        '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "SequenceManagement")" onclick="Bookmarking(this)">' +
                                icon +
                        '</button>' +
                            editButton +
                        '<a href="#" data-modal="#sequence-details-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details", "SequenceManagement")/' + data.id + '" class="btn btn-default hover-orange" title="@DT.LOCAL.Components.Buttons.Details">' +
                                '<i class="fa fa-info-circle"></i>' +
                        '</a>' +
                    '</div>';
                }
            },
            { 'data': 'title' },
            { 'data': 'details' },
            { 'data': 'tasks_count' },
            {
                'data': function (data) {
                    return moment(data.created_date).format('DD-MM-YYYY HH:mm:ss');
                },
                'name':'created_date'
            },
            { 'data': 'Creator' }
        ],
        'initComplete': function () {
            var api = this.api();

            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    if (colIdx == 0)
                        return;
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', this.value)
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        }
    });

        function DeleteSequence(elm) {
            var id = $(elm).data('id');
             $.confirm({
                    title: 'Confirmation',
                    content: '',
                    buttons: {
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                location.href = '@Url.Action("Delete", "SequenceManagement")' + '/' + id;
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
    </script>


}
