﻿@model List<StudentTaskModel>
<div class="card-body container-fluid">
    <div class="row">
        <div class="col-12 col-md-16">
            <div class="card-body pad table-responsive">
                <table class="tasks-table cell-border table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th>@DT.LOCAL.Objects.Columns.type</th>
                            <th>@DT.LOCAL.Objects.Columns.title</th>
                            <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                            <th>@DT.LOCAL.Components.Labels.Teacher</th>
                            <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                            <th>@DT.LOCAL.Objects.Columns.group_range</th>
                            <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                            <th>@DT.LOCAL.Components.Labels.PlannedStartingTime</th>
                            <th>@DT.LOCAL.Components.Labels.PlannedEndTime</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (StudentTaskModel task in Model)
                        {
                            <tr>
                                @switch (task.assigned_table)
                                {
                                    case "Class":
                                        <td>
                                            @DT.LOCAL.Objects.Entity._Class
                                        </td>
                                        break;
                                    case "Cluster":
                                        <td>
                                            @DT.LOCAL.Objects.Entity.Cluster
                                        </td>
                                        break;
                                    case "Room":
                                        <td>
                                            @DT.LOCAL.Objects.Entity.Room
                                        </td>
                                        break;
                                    default:
                                        <td>

                                        </td>
                                        break;
                                }
                                <td>
                                    @task.title
                                </td>
                                <td>
                                    @task.information_gap
                                </td>
                                <td>
                                    @StaticDB.Users.GetById(task.assigned_by)
                                </td>
                                <td>
                                    @task.target_subject
                                </td>
                                <td>
                                    @task.group_range
                                </td>
                                <td>
                                    @string.Join(",", StaticDB.TargetLanguages.Where(x => x.task_id == task.id).Select(x => x.Language))
                                </td>
                                <td>
                                    @task.planned_start_time
                                </td>
                                <td>
                                    @task.planned_end_time
                                </td>
                                <td>
                                    <div class="btn-group">

                                        @if (task.can_preview)
                                        {
                                        <a href="#"
                                           class="btn btn-info btn-lg"
                                           data-url="@Url.Action("Details","TaskManagement",new {id=task.id })"
                                           onclick="PartialShow(this)"
                                           data-modal="#partial-modal">@DT.LOCAL.Components.Labels.MaterialsPreview</a>
                                        }
                                        @if (Zaman.Simdi >= task.planned_start_time && (task.planned_end_time != null ? Zaman.Simdi < task.planned_end_time : true))
                                        {
                                            <a href="#" data-url="@Url.Action("StartTask","SessionManagement",new {user_id=Request.User().id, session_task_id=task.session_id })" data-end="@(task.end_time==null?"Ready":Convert.ToDateTime(task.end_time).ToString("dd.MM.yyyy,HH:mm"))" onclick="StartTask(this);" class="btn btn-success btn-lg text-white">
                                                <i class="fas fa-play"></i> Start
                                            </a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
