﻿@model StudentDashboardViewModel
@{

    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    User currentUser = Request.User();
}
@section styles{
    <!-- fullCalendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/boxpage/css/box.css" rel="stylesheet" />
    <style>
        .content-wrapper {
            min-height: 0px;
        }

            .content-wrapper,
            .content-wrapper > .content,
            .content-wrapper > .content > .container-fluid {
                padding: 0px !important;
            }
    </style>
    <script src="https://www.google.com/recaptcha/api.js"></script>
}
<div id="bl-main" class="bl-main">
    <section id="bl-work-section">
        <div class="bl-box">
            <i class="far fa-comments"></i><br />
            <h2>Assigned Tasks</h2>
        </div>
        <div class="bl-content">
            <h2><i class="far fa-comments"></i> Assigned Tasks</h2>
            @Html.Partial("_StudentTaskModelsPartial", Model.Tasks)
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
        <div class="bl-box">
            <i class="far fa-calendar-alt"></i><br />
            <h2>Calendar</h2>
        </div>
        <div class="bl-content">
            <h2><i class="far fa-calendar-alt"></i> Calendar</h2>
            <!-- THE CALENDAR -->
            <div style="border: 1px #8b8b8b solid;" id="calendar"></div>
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
        <div class="bl-box">
            <i class="fas fa-clock"></i><br />
            <h2>Engagement History</h2>
        </div>
        <div class="bl-content">
            <h2><i class="fas fa-clock"></i> Engagement History</h2>
            @Html.Partial("~/Views/TaskEngagementHistory/Index.cshtml")
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
        <div class="bl-box">
            <i class="far fa-edit"></i><br />
            <h2>Contact</h2>
        </div>
        <div class="bl-content">
            @Html.Partial("_ReportForm");
        </div>
        <span class="bl-icon bl-icon-close"></span>
    </section>
</div>

<div class="modal fade animate__animated animate__fadeIn" id="feeds-modal">
    <div class="modal-dialog modal-xl" id="feeds-modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">FEEDS</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    @foreach (RawPage rawPage in Model.Feeds.OrderByDescending(s => s.created_date))
                    {
                        <div class="col-12">
                            <div class="card @(rawPage.name.Equals("FEED")?"card-primary":"card-warning") collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        @rawPage.created_date.FeedDateStr()
                                    </h3>

                                    <div class="card-tools">
                                        <!-- This will cause the card to maximize when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                                        <!-- This will cause the card to collapse when clicked -->
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    @Html.Raw(rawPage.body)
                                </div>
                                <div class="card-footer">
                                    @StaticDB.Users.GetById(rawPage.created_by).ToStr()
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade animate__animated animate__fadeIn" id="details-modal"></div>

@section scripts{
    <script src="~/Content/plugins/boxpage/js/modernizr.custom.js"></script>
    <script src="~/Content/plugins/boxpage/js/boxlayout.js"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <!-- Full Calendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <!-- Page specific script -->
    <script>
        function onSubmit(token) {
            document.getElementById("feedback-form").submit();
        }
        var datatable = $('.tasks-table').DataTable({
            'responsive': true,
            "order": [[7, "desc"]],
            'language': {
                'url': Credentials.Server + 'Content/plugins/datatables/en.json'
            }
        });
        $(function () {
            if(@Model.Feeds.Count > 0)
                $('#feeds-button').removeClass('d-none');
            Boxlayout.init();
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                eventRender: function (eventObj, $el) {
                    $el.popover({
                        title: eventObj.title,
                        content: 'Information Gap : ' + eventObj.information_gap + '\r\n,' +
                                'Level : ' + eventObj.target_proficiency_level + '\r\n,' +
                                'Group Range : ' + eventObj.group_range + '\r\n,' +
                                'Target Ages : ' + eventObj.target_ages,
                        trigger: 'hover',
                        placement: 'top',
                        container: 'body'
                    });
                },
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 60,
                eventClick: function (event) {
                    var task_id = event.task_id;
                    console.log('TASK ID : ' + task_id);
                    $.confirm({
                        title: '@DT.LOCAL.Components.Labels.PleaseChoose',
                        content: '',
                        buttons: {
                            cancel: {
                                text: '@DT.LOCAL.Components.Buttons.Cancel',
                                btnClass: 'btn-default',
                            },
                            delete: {
                                text: '@DT.LOCAL.Components.Buttons.Start',
                                btnClass: 'btn-success',
                                action: function () {
                                    location.href = '@Url.Action("StartTask", "SessionManagement")' + '?user_id=@currentUser.id&session_task_id=' + event.id;
                                }
                           },
                            details: {
                                text: '@DT.LOCAL.Components.Buttons.Details',
                                btnClass: 'btn-blue',
                                action: function () {
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("Details", "TaskManagement")' + '/' + task_id,
                                        success: function (data) {
                                            $('#details-modal').html(data).modal({ backdrop: 'static', keyboard: false });
                                        },
                                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                                        }
                                    });
                                }
                            }
                        }
                    });

                },
                eventDidMount: function (info) {
                    console.log(info.event.extendedProps);
                    // {description: "Lecture", department: "BioChemistry"}
                },
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.RouteUrl(new{ action= "GetEvents", controller="Student"})',
                        type: "GET",
                        dataType: "JSON",
                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        id : data.id,
                                        task_id: data.task_id,
                                        session_id: data.session_id,
                                        target_proficiency_level: data.target_proficiency_level,
                                        information_gap: data.information_gap,
                                        group_range: data.group_range,
                                        target_ages: data.target_ages,
                                        title: data.title,
                                        description: data.description,
                                        start: moment(data.planned_start_time).format('YYYY-MM-DD'),
                                        end: moment(data.planned_end_time).format('YYYY-MM-DD'),
                                        backgroundColor: data.background_color
                                    });
                            });
                            console.log('Events', JSON.stringify(events));
                            callback(events);
                        }
                    });
                }
            });
        });
        function StartTask(elm) {
            var url = $(elm).data('url');
            var endTime = $(elm).data('end');
            if (endTime == 'Ready')
                location.href = url;
            else {
                var date = endTime.split(',')[0];
                var time = endTime.split(',')[1];
             $.confirm({
                 title: 'Confirmation',
                 content: '<p>This task has been completed on <strong>' + date + '</strong> at <strong>' + time +
                     '</strong></p>.<p>Would you like to start it again?</p>',
                    buttons: {
                        yes: {
                            text: '@DT.LOCAL.Components.Buttons.Yes',
                            btnClass: 'btn-success',
                            action: function () {
                                location.href = url;
                            }
                        },
                        no: {
                            text: '@DT.LOCAL.Components.Buttons.No'
                        }
                    }
                });
            }
        }
    </script>
}


