﻿@model List<Setting>
 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}

<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="btn-table-create"
                            data-url="@Url.Action("AddUpdate","SettingManagement")"
                            data-modal="#partial-modal"
                            onclick="PartialShow(this);">
                        <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.CreateNew
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                    <thead>

                        <tr>

                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.key</th>
                            <th>@DT.LOCAL.Objects.Columns.value</th>
                            <th>@DT.LOCAL.Objects.Columns.details</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (Setting item in Model)
                        {

                        <tr>
                            <td>

                                <button class="btn btn-default" type="button" id="row-ddb-@item.id" data-toggle="modal" data-target="#drop-modal-@item.id">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="modal fade" id="drop-modal-@item.id" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">@item</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <a href="#"
                                                   data-url="@Url.Action("AddUpdate","SettingManagement",new {id=item.id})"
                                                   data-modal="#partial-modal"
                                                   onclick="PartialShow(this);"
                                                   class="btn btn-default btn-block hover-orange">
                                                    <i class="fa fa-pencil-alt"></i> @DT.LOCAL.Components.Buttons.Edit
                                                </a>
                                                <a href="#"
                                                   class="btn btn-danger btn-block"
                                                   onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete",new {id=item.id })');">
                                                    <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>@item.key.ToStr()</td>
                            <td>@item.value.ToStr()</td>
                            <td>@item.details.ToStr()</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{
    @Html.Partial("_DatatableScripts")
    <script>
        function CreateNew() {
            ShowPartial('@Url.Action("AddUpdate", "SettingManagement")', $('.btn-create-new'))
        }
    </script>
}
