﻿@{ 
    User currentUser = Request.User();
    
}
@model User

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.created_by)
    @Html.HiddenFor(x => x.created_date)
    @Html.HiddenFor(x => x.is_active)
    <div class="modal-dialog modal-lg" id="user-edit-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateNew: DT.LOCAL.Components.Labels.Editing)</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @Html.Partial(currentUser.role_id == 1 ||currentUser.role_id == 2 ? "_UserEditForm_Admin": "_UserEditForm", Model)
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="button" id="btn-save-company" class="btn btn-success" onclick="SaveUser();">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
}

<script>

    var entity = @Html.Raw(Model.ToJson());
    jQuery(function () {
        SetProps(entity.role_id);
        console.log(JSON.stringify(entity));
        $('#user-mail').val(entity.mail);
        $('#user-name').val(entity.name);
        $('#user-lastname').val(entity.lastname);
        $('#user-password').val(entity.password);
        if (@currentUser.role_id == 1) {
            $('#user-confirm_password').val(entity.password);
        }
        $('#user-confirm_password').val();
        $('#user-bd').val(entity.birth);
        $('#user-pl').val(entity.proficiency_level);
        $('#user-pl').trigger('change');
        $('#user-role').change(function () {
            if ($(this).val() == 3)
                $('.teacher-prop').removeClass('hidden');
            else
                $('.teacher-prop').addClass('hidden');
        });
        $('#user-role').val(entity.role_id);
        $('#user-role').trigger('change');
        $('#user-role_id').change(function () {
            SetProps($(this).val());
        });
    });
    function SetProps(role_id) {
        if (role_id == 3) {
            $('.student-prop').addClass('hidden');
            $('.teacher-prop').removeClass('hidden');
        }
        else if (role_id == 4) {
            $('.teacher-prop').addClass('hidden');
            $('.student-prop').removeClass('hidden');
        } else {
            $('.student-prop').addClass('hidden');
            $('.teacher-prop').addClass('hidden');
        }
    }
    function SaveUser() {

        entity.name = $('#user-name').val();
        entity.lastname = $('#user-lastname').val();
        entity.role_id = $('#user-role_id').val();
        entity.mail = $('#user-mail').val();
        entity.password = $('#user-password').val();
        entity.confirm_password = $('#user-confirm_password').val();
        entity.birth = new Date($('#user-bd').val());
        entity.proficiency_level = $('#user-pl').val();

        console.log('ENTITY : ' + JSON.stringify(entity));
        if (!entity.mail) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.mail)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.password) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.password)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.confirm_password && @currentUser.role_id != 1) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.confirm_password)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (entity.password != entity.confirm_password) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', 'Password and confirmation are not same!', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.birth) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.birth_date)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.role_id) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.role_id)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else {
            if (entity.role_id == 1 || entity.role_id == 2)
            {
                var pass = prompt('You need to enter your password to continue:');
                if (!pass || pass != Credentials.User.password)
                    return;
                else
                    PostData();
            }
            else
                PostData();

        }
    }
    function PostData() {
        $.ajax({
                url: '@Url.Action("AddUpdate", "UserManagement")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                success: function (data) {
                    if (data.Result) {
                        $(PartialModal).modal('toggle');
                        location.reload();
                    }else
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
    }
</script>

