﻿@model User

@{
    User current_user = Request.User();
    string birth = "";
    if (Model.birth != null)
    {
        birth = Convert.ToDateTime(Model.birth).ToString("yyyy-MM-dd");
    }
}
<style>
    .teacher-prop {
        transition: all ease-in-out 0.2s;
    }
</style>

@Html.HiddenFor(x => x.role_id, new { id = "user-role_id" })
@Html.HiddenFor(x => x.mail, new { id = "user-mail" })
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="user-name">@DT.LOCAL.Components.Labels.Name</label>
            @Html.TextBoxFor(x => x.name, new { @class = "form-control", type = "text", id = "user-name", autocomplete = "off" })
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="user-lastname">@DT.LOCAL.Components.Labels.Last_Name</label>
            @Html.TextBoxFor(x => x.lastname, new { @class = "form-control", type = "text", id = "user-lastname", autocomplete = "off" })
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="user-password">@DT.LOCAL.Objects.Columns.password</label>
            @Html.TextBoxFor(x => x.password, new { @class = "form-control", type = "password", id = "user-password", autocomplete = "off" })
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="user-confirm_password">@DT.LOCAL.Objects.Columns.confirm_password</label>
            @Html.TextBoxFor(x => x.confirm_password, new { @class = "form-control", type = "password", id = "user-confirm_password", autocomplete = "off" })
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="user-ui_language">@DT.LOCAL.Objects.Columns.ui_language</label>
            <select name="ui_language" id="user-ui_language" class="form-control" required>
                <option>@string.Format(DT.LOCAL.Components.Labels.PleaseChooseX, DT.LOCAL.Objects.Columns.language_id)</option>
                @foreach (Language language in StaticDB.Languages.Where(x => x.has_ui))
                {
                    <option value="@language.iso_code" @(current_user.ui_language.Trim().Equals(language.iso_code.Trim()) ? "selected" : "")>@language.name</option>
                }
            </select>
        </div>
    </div>

    <div class="col-12 teacher-prop">
        <div class="form-group">
            <label for="user-institution">@DT.LOCAL.Objects.Columns.institution</label>
            @Html.TextBoxFor(x => x.institution, new { @class = "form-control", id = "user-institution", autocomplete = "off" })
        </div>
    </div>

    <div class="col-6 teacher-prop">
        <div class="form-group">
            <label for="user-department">@DT.LOCAL.Objects.Columns.department</label>
            @Html.TextBoxFor(x => x.department, new { @class = "form-control", id = "user-department", autocomplete = "off" })
        </div>
    </div>
    <div class="col-6 teacher-prop">
        <div class="form-group">
            <label for="user-title">@DT.LOCAL.Objects.Columns.title</label>
            @Html.TextBoxFor(x => x.title, new { @class = "form-control", id = "user-title", autocomplete = "off" })
        </div>
    </div>

    <div class="col-6 student-prop">
        <div class="form-group">
            <label for="bd-group">@DT.LOCAL.Objects.Columns.birth_date</label>
            <div class="input-group date" data-type="date" id="bd-group" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#bd-group" required id="user-bd" value="@birth" />
                <div class="input-group-append" data-target="#bd-group" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 student-prop">
        <div class="form-group">
            <label for="user-pl">@DT.LOCAL.Objects.Columns.target_proficiency_level</label>
            <select id="user-pl" class="form-control custom-select" name="proficiency_level">
                <option selected disabled>Select one</option>
                @foreach (var item in WebUtils.GetResourcesByType(typeof(DT.LOCAL.Enums.Proficiencies), true))
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
    </div>
</div>
