﻿@model  User
@{
    User current_user = Request.User();

    if (current_user.role_id == 4)
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
@{
    Role ModelRole = StaticDB.Roles.GetById(Model.role_id);
    ICollection<DT.DTO._Task> tasks = Model.Tasks;
    List<TimelineModel> timelineItems = (List<TimelineModel>)ViewData["TimelineItems"];
    Language language = StaticDB.Languages.FirstOrDefault(x => x.iso_code.Equals(Model.ui_language));
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img src="~/Content/img/user_icon.png" style="width:90px" />
                        </div>

                        <h3 class="profile-username text-center">@Model</h3>

                        <p class="text-muted text-center">@ModelRole.title</p>

                        @if (Model.role_id == 3)
                        {
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>@DT.LOCAL.Objects.Tables.Sequences</b> <a class="float-right">@StaticDB.Sequences.Count(x => x.created_by == Model.id && x.is_active)</a>
                        </li>
                        <li class="list-group-item">
                            <b>@DT.LOCAL.Components.Labels.Tasks</b> <a class="float-right">@StaticDB.Tasks.Count(x => x.created_by == Model.id && x.is_active)</a>
                        </li>
                        <li class="list-group-item">
                            <b>@DT.LOCAL.Objects.Tables.Materials</b> <a class="float-right">@StaticDB.Materials.Count(x => x.created_by == Model.id && x.is_active)</a>
                        </li>
                        <li class="list-group-item">
                            <b>@DT.LOCAL.Components.Labels.Classes</b> <a class="float-right">@StaticDB.Classes.Count(x => x.created_by == Model.id && x.is_active)</a>
                        </li>
                        <li class="list-group-item">
                            <b>@DT.LOCAL.Components.Labels.Class_Students</b> <a class="float-right">@StaticDB.ClassStudents.Count(x => x.created_by == Model.id && x.is_active)</a>
                        </li>
                    </ul>
                        }

                        @if (Model.role_id == 4)
                        {
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>@DT.LOCAL.Components.Labels.Classes</b> <a class="float-right">@Model.ClassStudents.Count</a>
                                </li>
                                <li class="list-group-item">
                                    <b>@DT.LOCAL.Components.Labels.Tasks</b> <a class="float-right">@Model.SessionTaskParticipants.Count</a>
                                </li>
                            </ul>
                        }


                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="far fa-envelope"></i> @DT.LOCAL.Objects.Columns.mail</strong>

                        <p class="text-muted">
                            @Model.mail
                        </p>

                        <hr>

                        <strong><i class="fas fa-language"></i> @DT.LOCAL.Objects.Columns.ui_language </strong>

                        <p class="text-muted">@language.ToStr()</p>

                        <hr>
                        @if (Model.role_id == 3)
                        {
                            <strong><i class="fas fa-building"></i> @DT.LOCAL.Objects.Columns.institution</strong>
                            <p class="text-muted">@Model.institution.ToStr()</p>
                            <hr>
                            <strong><i class="fas fa-hat-cowboy"></i> @DT.LOCAL.Objects.Columns.department</strong>
                            <p class="text-muted">@Model.department.ToStr()</p>
                            <hr>
                        }
                        @if (Model.role_id == 4)
                        {
                            <strong><i class="fas fa-map-pin"></i> @DT.LOCAL.Objects.Columns.target_proficiency_level</strong>
                            <p class="text-muted">@Model.proficiency_level.ToStr()</p>
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">@DT.LOCAL.Components.Labels.Timeline</a></li>
                            @if (Model.id == current_user.id)
                            {
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Edit Profile</a></li>
                            }
                            @if (Model.role_id == 3 || Model.role_id == 4)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#assignments" data-toggle="tab">
                                        Assignments
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="card-body bg">
                        <div class="tab-content">
                            <div class="tab-pane active" id="timeline">

                                <div class="timeline timeline-inverse">
                                    @foreach (TimelineModel timeline in timelineItems)
                                    {
                                        string url = "";
                                        <div>
                                            <i class="@timeline.Icon @timeline.Color"></i>
                                            <div class="timeline-item">
                                                @if (Zaman.isToday(timeline.CreatedDate))
                                                {
                                                    <span class="time">
                                                        <i class="far fa-clock"></i>
                                                        @timeline.CreatedDate.ToShortTimeString()
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="time">
                                                        <i class="far fa-calendar"></i>
                                                        @timeline.CreatedDate.ToString("dd.MM.yyyy, HH:mm")
                                                    </span>
                                                }


                                                @switch (timeline.Table)
                                                {
                                                    case "Task":
                                                        _Task task = timeline.Object as _Task;
                                                        url = Url.Action("Details", "TaskManagement", new { id = task.id });
                                                        <h3 class="timeline-header">
                                                            @Html.Raw(string.Format(DT.LOCAL.Messages.TimelineTitles.TaskCreation, task.title))
                                                        </h3>
                                                        break;
                                                    case "Material":
                                                        Material material = timeline.Object as Material;
                                                        url = Url.Action("Details", "materialManagement", new { id = material.id });
                                                        <h3 class="timeline-header">
                                                            @Html.Raw(string.Format(DT.LOCAL.Messages.TimelineTitles.MaterialCreation, material.type, material.title))
                                                        </h3>
                                                        break;
                                                    case "Sequence":
                                                        Sequence sequence = timeline.Object as Sequence;
                                                        url = Url.Action("Details", "SequenceManagement", new { id = sequence.id });
                                                        <h3 class="timeline-header">
                                                            @Html.Raw(string.Format(DT.LOCAL.Messages.TimelineTitles.SequenceCreation, sequence.title))
                                                        </h3>
                                                        break;
                                                    case "User":
                                                        User user = timeline.Object as User;
                                                        url = Url.Action("Details", "UserManagement", new { id = user.id });
                                                        <h3 class="timeline-header">
                                                            @Html.Raw(string.Format(DT.LOCAL.Messages.TimelineTitles.UserCreation, StaticDB.Roles.GetById(user.role_id), user))
                                                        </h3>
                                                        break;
                                                    default:
                                                        break;
                                                }

                                                @if (!string.IsNullOrEmpty(timeline.Details))
                                                {
                                                    <div class="timeline-body">
                                                        @timeline.Details
                                                    </div>
                                                }

                                                <div class="timeline-footer">

                                                    <a href="#"
                                                       class="btn btn-primary btn-sm"
                                                       data-modal="#partial-modal"
                                                       data-url="@url"
                                                       onclick="PartialShow(this)">
                                                        <i class="fas fa-info-circle"></i>&nbsp;@DT.LOCAL.Components.Buttons.SeeDetails
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div>
                                        <i class="fas fa-user bg-info"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> @Model.created_date</span>
                                            <h3 class="timeline-header border-0">
                                                <a href="#">@Model </a> joined Digitask
                                            </h3>
                                        </div>
                                    </div>

                                    <div>
                                        <i class="far fa-clock bg-gray"></i>
                                    </div>
                                </div>
                            </div>

                            @if (Model.id == current_user.id)
                            {
                                <div class="tab-pane" id="settings">
                                    @Html.Partial("_UserEditForm", Model)

                                    <button type="button" id="btn-save-company" class="btn btn-success btn-lg pull-right" onclick="SaveUser();">@DT.LOCAL.Components.Buttons.Save</button>
                                </div>
                            }


                            @if (Model.role_id == 3)
                            {

                                List<SessionTaskParticipant> participants = new List<SessionTaskParticipant>();
                                List<SessionTask> SessionTasks = new List<SessionTask>();
                                using (Ctx ctx = new Ctx())
                                {
                                    SessionTasks = ctx.Database.SqlQuery<SessionTask>("EXEC GetTeacherSessionTasksByUserId " + Model.id + ";").ToList();
                                }
                                using (Repository<SessionTaskParticipant> Repository = new Repository<SessionTaskParticipant>())
                                {
                                    participants = Repository.MultiSelectByQuery(s => s.is_active).ToList();
                                }
                                participants.ForEach(s => s.User = StaticDB.Users.GetById(s.participant_id));
                                <div class="tab-pane" id="assignments">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Engagement History</h3>
                                            <div class="card-tools">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tasks" class="btn-tool"> <i class="fas fa-list"></i> @DT.LOCAL.Objects.Tables.Tasks</a></li>
                                                    <li><a data-toggle="tab" href="#sequences" class="btn-tool"><i class="fas fa-th-large"></i> @DT.LOCAL.Objects.Tables.Sequences</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tasks" role="tabpanel">
                                                    <table class="table table-striped table-bordered projects">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 50%">
                                                                    Title
                                                                </th>
                                                                <th style="width: 30%">
                                                                    Participants
                                                                </th>
                                                                <th style="width: 8%" class="text-center">
                                                                    Status
                                                                </th>
                                                                <th style="width: 12%">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (SessionTask sessionTask in SessionTasks.Where(x => x.is_active))
                                                            {
                                                                _Task task = StaticDB.Tasks.GetById(sessionTask.task_id);
                                                                <tr>
                                                                    <td>
                                                                        <a>
                                                                            @task.title
                                                                        </a>
                                                                        <br />
                                                                        <small>
                                                                            @sessionTask.planned_start_time
                                                                        </small>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == sessionTask.id && x.is_active))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@sessionTaskParticipant.User</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td class="project-state">
                                                                        @if (sessionTask.start_time == null)
                                                                        {
                                                                            <span class="badge badge-primary">Planned</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="badge badge-success">Completed</span>
                                                                            <br />
                                                                            <small class="text-success">
                                                                                @sessionTask.start_time
                                                                            </small>
                                                                        }
                                                                    </td>
                                                                    <td class="project-actions text-right">
                                                                        <div style="text-align:center">
                                                                            @if (sessionTask.start_time == null)
                                                                            {
                                                                                <a class="btn btn-primary btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskManagement",new {id=sessionTask.task_id })">
                                                                                    <i class="fas fa-folder">
                                                                                    </i>
                                                                                    Task Details
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskResultManagement",new {session_task_id=sessionTask.id })">
                                                                                    <i class="fas fa-folder">
                                                                                    </i>
                                                                                    Results
                                                                                </a>
                                                                            }

                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="sequences" role="tabpanel">
                                                    <table class="table table-striped table-bordered projects">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 15%">
                                                                    Sequence
                                                                </th>
                                                                <th style="width: 35%">
                                                                    Tasks
                                                                </th>
                                                                <th style="width: 20%">
                                                                    Participants
                                                                </th>
                                                                <th>
                                                                    Task Progress
                                                                </th>
                                                                <th style="width: 8%" class="text-center">
                                                                    Status
                                                                </th>
                                                                <th style="width: 12%">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (IGrouping<int, SessionTask> grpSessionTasks in SessionTasks.Where(x => x.is_active && x.sequence_id != null).GroupBy(s => s.sequence_id.ToInteger()))
                                                            {
                                                                Sequence sequence = StaticDB.Sequences.GetById(grpSessionTasks.Key);
                                                                if (grpSessionTasks.Count() <= 0)
                                                                {
                                                                    continue;
                                                                }
                                                                SessionTask singleTask = grpSessionTasks.ToList()[0];
                                                                int doneCount = grpSessionTasks.Count(s => s.start_time != null);
                                                                int allCount = grpSessionTasks.Count();
                                                                int completionPercent = doneCount * 100 / allCount;
                                                                string status = "";
                                                                if (doneCount == allCount)
                                                                {
                                                                    status = "<span class=\"badge badge-success\">Completed</span>";
                                                                }
                                                                else if (doneCount == 0)
                                                                {
                                                                    status = "<span class=\"badge badge-primary\">Planned</span>";
                                                                }
                                                                else
                                                                {
                                                                    status = "<span class=\"badge badge-warning\">Continue</span>";
                                                                }
                                                                <tr>
                                                                    <td>
                                                                        <a>
                                                                            @sequence.title
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTask sessionTask in grpSessionTasks)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @StaticDB.Tasks.GetById(sessionTask.task_id).ToStr() - @sessionTask.planned_start_time
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == singleTask.id && x.is_active))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@sessionTaskParticipant.User</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td class="project_progress">
                                                                        <div class="progress progress-sm">
                                                                            <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@completionPercent" aria-volumemin="0" aria-volumemax="100" style="width: @(completionPercent)%">
                                                                            </div>
                                                                        </div>
                                                                        <small>
                                                                            @completionPercent% Complete
                                                                        </small>
                                                                    </td>
                                                                    <td class="project-state">
                                                                        @Html.Raw(status)
                                                                    </td>
                                                                    <td class="project-actions text-right">
                                                                        <div style="text-align:center">
                                                                            <a class="btn btn-primary btn-sm" href="#">
                                                                                <i class="fas fa-folder">
                                                                                </i>
                                                                                View
                                                                            </a>
                                                                            <a class="btn btn-danger btn-sm" href="#">
                                                                                <i class="fas fa-trash">
                                                                                </i>
                                                                                Delete
                                                                            </a>
                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>

                                </div>
                            }
                            @if (Model.role_id == 4)
                            {

                                List<SessionTaskParticipant> participants = new List<SessionTaskParticipant>();
                                List<SessionTask> SessionTasks = new List<SessionTask>();
                                using (Ctx ctx = new Ctx())
                                {
                                    SessionTasks = ctx.Database.SqlQuery<SessionTask>("EXEC GetStudentSessionTasksByUserId " + Model.id + ";").ToList();
                                }
                                using (Repository<SessionTaskParticipant> Repository = new Repository<SessionTaskParticipant>())
                                {
                                    participants = Repository.MultiSelectByQuery(s => s.is_active).ToList();
                                }
                                participants.ForEach(s => s.User = StaticDB.Users.GetById(s.participant_id));
                                <div class="tab-pane" id="assignments">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Engagement History</h3>
                                            <div class="card-tools">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tasks" class="btn-tool"> <i class="fas fa-list"></i> @DT.LOCAL.Objects.Tables.Tasks</a></li>
                                                    <li><a data-toggle="tab" href="#sequences" class="btn-tool"><i class="fas fa-th-large"></i> @DT.LOCAL.Objects.Tables.Sequences</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tasks" role="tabpanel">
                                                    <table class="table table-striped table-bordered projects">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 50%">
                                                                    Title
                                                                </th>
                                                                <th style="width: 30%">
                                                                    Participants
                                                                </th>
                                                                <th style="width: 8%" class="text-center">
                                                                    Status
                                                                </th>
                                                                <th style="width: 12%">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (SessionTask sessionTask in SessionTasks.Where(x => x.is_active))
                                                            {
                                                                _Task task = StaticDB.Tasks.GetById(sessionTask.task_id);
                                                                <tr>
                                                                    <td>
                                                                        <a>
                                                                            @task.title
                                                                        </a>
                                                                        <br />
                                                                        <small>
                                                                            @sessionTask.planned_start_time
                                                                        </small>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == sessionTask.id && x.is_active))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@sessionTaskParticipant.User</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td class="project-state">
                                                                        @if (sessionTask.start_time == null)
                                                                        {
                                                                            <span class="badge badge-primary">Planned</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="badge badge-success">Completed</span>
                                                                            <br />
                                                                            <small class="text-success">
                                                                                @sessionTask.start_time
                                                                            </small>
                                                                        }
                                                                    </td>
                                                                    <td class="project-actions text-right">
                                                                        <div style="text-align:center">
                                                                            @if (sessionTask.start_time == null)
                                                                            {
                                                                                <a class="btn btn-primary btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskManagement",new {id=sessionTask.task_id })">
                                                                                    <i class="fas fa-folder">
                                                                                    </i>
                                                                                    Task Details
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskResultManagement",new {session_task_id=sessionTask.id })">
                                                                                    <i class="fas fa-folder">
                                                                                    </i>
                                                                                    Results
                                                                                </a>
                                                                            }

                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="sequences" role="tabpanel">
                                                    <table class="table table-striped table-bordered projects">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 15%">
                                                                    Sequence
                                                                </th>
                                                                <th style="width: 35%">
                                                                    Tasks
                                                                </th>
                                                                <th style="width: 20%">
                                                                    Participants
                                                                </th>
                                                                <th>
                                                                    Task Progress
                                                                </th>
                                                                <th style="width: 8%" class="text-center">
                                                                    Status
                                                                </th>
                                                                <th style="width: 12%">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (IGrouping<int, SessionTask> grpSessionTasks in SessionTasks.Where(x => x.is_active && x.sequence_id != null).GroupBy(s => s.sequence_id.ToInteger()))
                                                            {
                                                                Sequence sequence = StaticDB.Sequences.GetById(grpSessionTasks.Key);
                                                                if (grpSessionTasks.Count() <= 0)
                                                                {
                                                                    continue;
                                                                }
                                                                SessionTask singleTask = grpSessionTasks.ToList()[0];
                                                                int doneCount = grpSessionTasks.Count(s => s.start_time != null);
                                                                int allCount = grpSessionTasks.Count();
                                                                int completionPercent = doneCount * 100 / allCount;
                                                                string status = "";
                                                                bool showResults = false;
                                                                if (showResults = doneCount == allCount)
                                                                {
                                                                    status = "<span class=\"badge badge-success\">Completed</span>";
                                                                }
                                                                else if (doneCount == 0)
                                                                {
                                                                    status = "<span class=\"badge badge-primary\">Planned</span>";
                                                                }
                                                                else
                                                                {
                                                                    showResults = true;
                                                                    status = "<span class=\"badge badge-warning\">Continue</span>";
                                                                }
                                                                <tr>
                                                                    <td>
                                                                        <a>
                                                                            @sequence.title
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTask sessionTask in grpSessionTasks)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                @StaticDB.Tasks.GetById(sessionTask.task_id).ToStr() - @sessionTask.planned_start_time
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                                                            <table class="table table-head-fixed">
                                                                                <tbody>
                                                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == singleTask.id && x.is_active))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@sessionTaskParticipant.User</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td class="project_progress">
                                                                        <div class="progress progress-sm">
                                                                            <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@completionPercent" aria-volumemin="0" aria-volumemax="100" style="width: @(completionPercent)%">
                                                                            </div>
                                                                        </div>
                                                                        <small>
                                                                            @completionPercent% Complete
                                                                        </small>
                                                                    </td>
                                                                    <td class="project-state">
                                                                        @Html.Raw(status)
                                                                    </td>
                                                                    <td class="project-actions text-right">
                                                                        @if (showResults)
                                                                        {
                                                                            <a class="btn btn-success btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("SequenceDetails","TaskResultManagement",new {sequence_id=sequence.id })">
                                                                                <i class="fas fa-folder">
                                                                                </i>
                                                                                Results
                                                                            </a>
                                                                        }

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var isMailAvailable = true;
        var entity = @Html.Raw(Model.ToJson());
        $(function () {
            SetProps(entity.role_id);
            console.log(JSON.stringify(entity));
            $('#user-mail').val(entity.mail);

            $('#user-mail').change(function () {
                var elm = $(this);
                var content = $(elm).html();
                var val = $(this).val();
                if (!val) {
                    isMailAvailable = false;
                    return;
                } else if (val == entity.mail) {
                    return;
                }
                $.ajax({
                    url: '@Url.Action("CheckMailIsAvailable", "Account")',
                    type: "POST",
                    data: {
                        mail: val
                    },
                    success: function (data) {
                        isMailAvailable = data.Result;
                        if (!isMailAvailable) {
                            $('#mail-part').addClass('bg-red');
                            WarnMsg('@DT.LOCAL.Messages.Warnings.MailExist');
                            return;
                        }
                        $('#mail-part').removeClass('bg-red');
                    },
                    beforeSend: function () {
                        $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
                    },
                    complete: function () {
                        $(elm).html(content);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        WarnMsg(errorThrown);
                    }
                });
            });
            $('#user-name').val(entity.name);
            $('#user-lastname').val(entity.lastname);
            $('#user-password').val(entity.password);
            $('#user-confirm_password').val();
            $('#user-role_id').val(entity.role_id);
            $('#user-role_id').trigger('change');
            if (entity.role_id == 4) {
                $('#user-bd').val(entity.birth);
                $('#user-pl').val(entity.proficiency_level);
                $('#user-pl').trigger('change');
            }
            else if (entity.role_id == 3) {
                $('#user-institution').val(entity.institution);
                $('#user-department').val(entity.department);
                $('#user-title').val(entity.title);
            }
            $('#user-role_id').change(function () {
                SetProps($(this).val());
            });
        });
        function SetProps(role_id) {
            if (role_id == 3) {
                $('.student-prop').addClass('hidden');
                $('.teacher-prop').removeClass('hidden');
            }
            else if (role_id == 4) {
                $('.teacher-prop').addClass('hidden');
                $('.student-prop').removeClass('hidden');
            } else {
                $('.student-prop').addClass('hidden');
                $('.teacher-prop').addClass('hidden');
            }
        }
        function SaveUser() {
            console.log('Birth : ' + $('#user-bd').val());
            console.log('Formatted Birth : ' + moment($('#user-bd').val()).format('YYYY-MM-DD'));
            entity.name = $('#user-name').val();
            entity.lastname = $('#user-lastname').val();
            entity.password = $('#user-password').val();
            entity.confirm_password = $('#user-confirm_password').val();
            if (entity.role_id == 4) {
                entity.birth =  moment($('#user-bd').val()).format('YYYY-MM-DD');
                entity.proficiency_level = $('#user-pl').val();
            } else if ($('#user-role_id').val() == 3) {
                entity.institution = $('#user-institution').val();
                entity.department = $('#user-department').val();
                entity.title = $('#user-title').val();
            }
            if (entity.role_id == 1 || entity.role_id == 2) {
                entity.role_id = $('#user-role_id').val();
                entity.mail = $('#user-mail').val();
            }

            console.log('ENTITY : ' + JSON.stringify(entity));

            if (!entity.name)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.name) ');
            else if (entity.name.length < 3)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.MinLength, DT.LOCAL.Objects.Columns.name, 3)');
            else if (!entity.lastname)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.lastname) ');
            else if (entity.lastname.length < 2)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.MinLength, DT.LOCAL.Objects.Columns.lastname, 2)');
            else if (entity.role_id == 3 && !entity.institution)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.institution) ');
            else if (entity.role_id == 4 && !entity.proficiency_level)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_proficiency_level) ');
            else if (!entity.ui_language)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.ui_language) ');
            else if (entity.role_id == 1 || entity.role_id == 2) {
                if (!entity.role_id)
                    return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.role_id) ');
                else if (!entity.mail)
                    return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.mail) ');
                else if (!validateEmail(entity.mail))
                    return WarnMsg('@DT.LOCAL.Messages.Warnings.NotValidMail');
                if (!isMailAvailable)
                    return NoValid('@DT.LOCAL.Messages.Warnings.MailExist');
            }
            else if (!entity.password)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.password) ');
            else if (!entity.confirm_password)
                return WarnMsg('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.confirm_password) ');
            else if (entity.password != entity.confirm_password)
                return WarnMsg('@DT.LOCAL.Messages.Warnings.PasswordsNotMatch');
            else {
                 $.confirm({
                    title: '@DT.LOCAL.Objects.Columns.activation_time',
                    content: '' +
                        '<form action="" class="formName">' +
                            '<div class="form-group">' +
                                '<label>Please enter your current password</label>' +
                                '<input type="password" class="form-control" required id="confirm-pass" autofocus/>' +
                            '</div>' +
                        '</form>',
                    buttons: {
                        formSubmit: {
                            text: '@DT.LOCAL.Components.Buttons.Ok',
                            btnClass: 'btn-blue',
                            action: function () {
                                var confirm_pass = this.$content.find('#confirm-pass').val();
                                if (confirm_pass == entity.password) {
                                    PostData();
                                }else {
                                    WarnMsg('@DT.LOCAL.Messages.Warnings.InvalidPassword');
                                }
                            }
                        },
                        cancel: function () {
                            //close
                        },
                    }
                });

            }
        }

        function WarnMsg(msg) {
            ShowInfo(msg, '@DT.LOCAL.Messages.Warnings.DialogTitle');
            return false;
        }
        function PostData() {
            $.ajax({
                url: '@Url.Action("AddUpdate", "UserManagement")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                success: function (data) {
                    if (data.Result) {
                        toastr.success('@DT.LOCAL.Messages.Infos.RecordSaved');
                    }else
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
    </script>
}