﻿@model List<User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
    string cls = "";

    if (current_user.role_id != 1)
    {
        if (current_user.role_id == 3 || current_user.role_id == 4)
        {
            cls = "hidden";
        }
    }

}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}

<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="btn-table-create"
                            data-url="@Url.Action("AddUpdate","UserManagement")"
                            data-modal="#partial-modal"
                            onclick="PartialShow(this);">
                        <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.CreateNew
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table table-bordered table-responsive responsive  d-block" style="width:100% !important;">
                    <thead>

                        <tr>

                            <th></th>
                            @if (ViewBag.role_id == 3)
                            {
                                <th>@DT.LOCAL.Objects.Columns.title</th>
                            }

                            <th>@DT.LOCAL.Objects.Columns.name</th>
                            <th>@DT.LOCAL.Objects.Columns.lastname</th>
                            <th>@DT.LOCAL.Objects.Columns.mail</th>
                            @if (ViewBag.role_id == 4)
                            {
                                <th>@DT.LOCAL.Objects.Columns.birth_date</th>
                                <th>@DT.LOCAL.Objects.Columns.target_proficiency_level</th>
                            }
                            else if (ViewBag.role_id == 3)
                            {
                                <th>@DT.LOCAL.Objects.Columns.institution</th>
                                <th>@DT.LOCAL.Objects.Columns.department</th>
                            }
                            <th>@DT.LOCAL.Objects.Columns.ui_language</th>
                            @if (ViewBag.role_id == 3)
                            {
                                <th>@DT.LOCAL.Objects.Columns.wanna_share_students</th>
                            }
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                            <th>@DT.LOCAL.Objects.Columns.is_allowed</th>
                            <th>@DT.LOCAL.Objects.Columns.is_confirmed</th>
                            <th>@DT.LOCAL.Objects.Columns.is_subscribed</th>
                            <th>@DT.LOCAL.Objects.Columns.is_profile_visible</th>
                            <th>@DT.LOCAL.Objects.Columns.is_active</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (User user in Model)
                        {
                            <tr>
                                <td>

                                    <button class="btn btn-xs" type="button" id="row-ddb-@user.id" data-toggle="modal" data-target="#drop-modal-@user.id">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="modal fade" id="drop-modal-@user.id" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">@user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="#"
                                                       data-url="@Url.Action("AddUpdate","UserManagement",new {id=user.id})"
                                                       data-modal="#partial-modal"
                                                       onclick="PartialShow(this);"
                                                       class="btn btn-default btn-block hover-orange">
                                                        <i class="fa fa-pencil-alt"></i> @DT.LOCAL.Components.Buttons.Edit
                                                    </a>
                                                    <a href="@Url.Action("Details",new {id=user.id })"
                                                       class="btn btn-default btn-block hover-orange">
                                                        <i class="fa fa-info"></i> @DT.LOCAL.Components.Buttons.Details
                                                    </a>
                                                    <a href="#"
                                                       class="btn btn-default btn-block hover-orange"
                                                       data-user_id="@user.id"
                                                       data-title="@DT.LOCAL.Components.Buttons.ShowPassword"
                                                       data-label="@DT.LOCAL.Objects.Columns.password"
                                                       data-url="@Url.Action("ShowPassword",new {user_id = user.id })"
                                                       data-modal="#partial-modal"
                                                       onclick="ShowPassword(this);">
                                                        <i class="fas fa-key"></i> @DT.LOCAL.Components.Buttons.ShowPassword
                                                    </a>
                                                    <a href="#"
                                                       class="btn btn-danger btn-block"
                                                       onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete",new {id=user.id })');">
                                                        <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                @if (ViewBag.role_id == 3)
                                {
                                    <td>@user.title</td>
                                }
                                <td>@user.name.ToStr()</td>
                                <td>@user.lastname.ToStr()</td>
                                <td>@user.mail.ToStr()</td>

                                @if (user.role_id == 4)
                                {
                                    <td data-order="@(user.birth == null || Convert.ToDateTime(user.birth).Year == 1? "0": Convert.ToDateTime(user.birth).Ticks.ToStr())">@(user.birth == null || Convert.ToDateTime(user.birth).Year == 1? "-": Convert.ToDateTime(user.birth).ToString("dd.MM.yyyy"))</td>
                                    <td>@user.proficiency_level.ToStr()</td>
                                }
                                else if (user.role_id == 3)
                                {
                                    <td>@user.institution.ToStr()</td>
                                    <td>@user.department.ToStr()</td>
                                }
                                <td>@StaticDB.Languages.GetByIso(user.ui_language)</td>
                                @if (ViewBag.role_id == 3)
                                {
                                    <td>
                                        @Helper.GetBoolString(user.wanna_share_students)
                                    </td>
                                }
                                <td data-order="@user.created_date.Ticks.ToStr()">
                                    @user.created_date.ToString("dd.MM.yyyy, HH:mm")
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" @(user.is_allowed ? "checked" : "")
                                               onchange="SetProp(this);"
                                               data-url="@Url.Action("SetProp","UserManagement")"
                                               data-id="@user.id"
                                               data-property="is_allowed"
                                               data-value="@(!user.is_allowed)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" @(user.is_confirmed ? "checked" : "")
                                               onchange="SetProp(this);"
                                               data-url="@Url.Action("SetProp","UserManagement")"
                                               data-id="@user.id"
                                               data-property="is_confirmed"
                                               data-value="@(!user.is_confirmed)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" @(user.is_subscribed ? "checked" : "")
                                               onchange="SetProp(this);"
                                               data-url="@Url.Action("SetProp","UserManagement")"
                                               data-id="@user.id"
                                               data-property="is_subscribed"
                                               data-value="@(!user.is_subscribed)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" @(user.is_profile_visible ? "checked" : "")
                                               onchange="SetProp(this);"
                                               data-url="@Url.Action("SetProp","UserManagement")"
                                               data-id="@user.id"
                                               data-property="is_profile_visible"
                                               data-value="@(!user.is_profile_visible)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" @(user.is_active ? "checked" : "")
                                               onchange="SetProp(this);"
                                               data-url="@Url.Action("SetProp","UserManagement")"
                                               data-id="@user.id"
                                               data-property="is_active"
                                               data-value="@(!user.is_active)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            var datatable = $('.index-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fas fa-plus"></i> @DT.LOCAL.Components.Buttons.New',
                        className: 'btn-create-new @cls',
                        action: function () {
                            ShowPartial('@Url.Action("AddUpdate", "UserManagement",new { role_id=ViewBag.role_id})', $('.btn-create-new'));
                        }
                    },
                    {
                        extend: 'collection',
                        text: '<i class="fas fa-bars"></i>',
                        className: 'table-buttons btn-default',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'p',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                                key: {
                                    key: 'c',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'x',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'r',
                                    altKey: true
                                }
                            }
                        ]
                    }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });

    </script>
}
