﻿@model User
<div class="modal-dialog" id="user-pass-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@DT.LOCAL.Objects.Columns.password</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#user-pass-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <h2>
                    @Model.password
                </h2>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>