﻿@model List<TaskMaterial>
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="container-fluid">
                    <div class="row">
                        @if (Model.Count > 1)
                        {
                            <div class="col-1">
                                <a class="carousel-control-prev text-dark" href="#previewCarousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left fa-3x"></i>
                                </a>
                            </div>
                        }
                        <div class="@(Model.Count > 1 ? "col-10":"col-12")">
                            <div id="previewCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <li data-target="#previewCarousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                    }
                                </ol>

                                <div class="carousel-inner">
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        TaskMaterial tm = Model.OrderBy(m => m.activation_time).ToList()[i];
                                        <div class="carousel-item@(i==0?" active":"")" data-interval="3000">
                                            @Html.Partial("_PreviewMaterialContentPartial", tm)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (Model.Count > 1)
                        {
                            <div class="col-1">
                                <a class="carousel-control-next text-dark" href="#previewCarousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right fa-3x"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

