﻿
@model List<SessionTaskParticipant>
<!-- DIRECT CHAT WARNING -->
<div class="card card-primary direct-chat direct-chat-primary">
    <div class="card-header">
        <h3 class="card-title">Direct Chat</h3>
        <div class="card-tools">
            <a href="#" class="btn btn-tool" id="btn-netiquette" onclick="ShowNetiquette();" title="Chat Room Netiquette And Rules" data-toggle="tooltip">
                <i class="far fa-smile"></i>
            </a>
            <a href="#" class="btn btn-tool btn-sound">
            </a>
            <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Participants"
                    data-widget="chat-pane-toggle">
                <i class="fas fa-users"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body" style="height: 80vh;">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" id="chat-list">

        </div>
        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
            <ul class="list-group list-group-flush" id="participant-list">
                @foreach (SessionTaskParticipant participant in Model)
                {
                    <li class="list-group-item text-black-50">
                        @participant.User.ToString()
                        <i class="fas fa-circle user-status" data-user-id="@participant.participant_id"></i>
                    </li>
                }
            </ul>
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div class="input-group">

            <textarea type="text" id="msg-text" name="message" placeholder="Type Message ..." class="form-control textarea_like_wp" rows="1"></textarea>
            <span class="input-group-append">
                <button type="button" class="btn btn-primary" id="btn-send">Send</button>
            </span>
        </div>
    </div>
    <!-- /.card-footer-->
</div>
<!--/.direct-chat -->
