﻿@model List<SessionTask>


<div class="card custom-column">
    @foreach (SessionTask s in Model)
    {
    <div class="card-header">
        <h3 class="card-title">TASKS</h3>
    </div>
        <div class="custom-column-content">
            <div class="list-group">

                <div class="list-group-item list-group-item-action active card">

                    <div class="card-header">
                        <p class="text-sm"><b>Index Order: </b> @s.index_order </p>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h1 class="lead"><strong>@s.Task.title</strong></h1>

                            </div>
                            @if (s.status == "Completed")
                            {
                                <div class="icon">
                                    <i style="float:right;color:limegreen" class="fas fa-check-circle fa-2x"></i>
                                </div>
                            }
                        </div>
                    </div>

                    @if (s.status == "Completed")
                    {
                        <div class="card-footer bg-gradient-gray">
                            <p><small><b>Start Time:</b> @s.start_time</small></p>
                            <p><small><b>End Time: </b>@s.end_time</small></p>
                        </div>
                    }


                    @if (s.status != "Completed")
                    {
                        <div class="card-footer bg-gradient-gray">
                            <p><small><b>Planned Start Time:</b> @s.planned_start_time</small></p>
                            <p><small><b>Planned End Time:</b> @s.planned_end_time</small></p>

                        </div>
                    }
                </div>

            </div>

        </div>
        if (s.Task.time_relevant != 0)
        {
            <div class="custom-column-footer" id="task-counter"></div>
        }

    }
</div>

