﻿@model List<SessionTaskParticipant>
<div class="card card-primary direct-chat direct-chat-primary" style=" height: 81vh;">
    <div class="card-header">
        <h3 class="card-title">Participants</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
                <ul class="list-group list-group-flush" id="participant-list">
                    @foreach (SessionTaskParticipant participant in Model)
                    {
                    <li class="list-group-item">
                        @participant.User.ToString()
                        <i class="fas fa-circle user-status" data-user-id="@participant.participant_id"></i>
                    </li>
                    }
                </ul>

            </div>
            <!-- /.direct-chat-msg -->
        </div>
        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here --
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
    <!-- /.card-footer-->
</div>
<!--/.direct-chat -->
