﻿@model SessionTask
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    User currentUser = Request.User();
    string planned_start_date = Model.planned_start_time.ToString("MMM dd, yyyy HH:mm:ss");
    var expired = Model.planned_start_time > Zaman.Simdi;
}


@section styles{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        html {
            height: 100%;
        }

        body {
            height: 100%;
            overflow: hidden;
        }

        #task-counter {
            position: fixed;
            background-color: #000000a3;
            color: #a3d42d;
            border: 2px solid #5d5d5d;
            box-shadow: 3px 3px 10px 3px #3c3c3c;
            text-shadow: 3px 3px 6px #909090;
            top: 0;
            width: 250px;
            left: 45%;
            text-align: center;
            z-index: 999999;
            border-radius: 25px;
            font-size: 36px;
            font-family: 'Share Tech Mono', monospace;
        }

        .about-body .tab-content .tab-pane hr {
            margin: 0px !important;
        }

        .about-body .tab-content .tab-pane p:not(:first-child),
        .about-body .tab-content .tab-pane ul {
            padding-left: 25px;
        }

        .about-body .tab-content .tab-pane strong,
        .about-body .tab-content .tab-pane .text-muted {
            font-size: 12px;
            margin-bottom: 3px;
            padding-bottom: 0;
        }

        .about-body .tab-content .tab-pane p:first-child {
            color: dimgray;
            text-align: center;
            text-transform: uppercase;
        }

        .info-part {
            bottom: 0;
            width: 100%;
            height: auto;
            background-color: white;
            padding: 7px;
        }

        .user-status,
        .user-ready-status {
            float: right;
        }

        .custom-column-header {
            font-size: 16px;
            background-color: #D3D3D3;
            color: black;
            padding: 15px;
            text-align: center;
        }

        .custom-column-content {
            border: 1px solid #D3D3D3;
            height: 87vh;
        }

        .custom-column-footer {
            background-color: #D3D3D3;
            text-align: center;
            height: 8vh;
        }

        .sequence-task-index {
            color: black;
            background-color: #D3D3D3;
            padding: 5px;
            border-radius: 2px;
        }

        .lead {
            margin-top: 10px;
        }

        .offline {
            color: red;
        }

        .online {
            color: limegreen;
        }

        .completed {
            color: blue;
        }

        .not-ready {
            display: none;
        }

        .ready {
            color: limegreen;
            display: normal;
        }

        #chat-list {
            height: 100%;
        }

        .direct-chat-timestamp {
            font-size: 80%;
        }

        .mySlides {
            display: none;
        }

        .textarea_like_wp {
            display: block;
            min-height: 50px;
            max-height: 80px;
            overflow-x: auto;
            width: calc(100% - 103px);
            line-height: 21px;
            padding: 10px;
            font-size: 15px;
            line-height: 25px;
            border: 2px solid gray;
            float: left;
        }

        .overlay {
            height: 93% !important;
        }

            .overlay .information {
                display: inline-block;
            }

                .overlay .information .header {
                    text-align: center;
                }

                .overlay .information .time-info {
                    text-align: center;
                    font-size: 24px;
                }

                .overlay .information #counter-card {
                    bottom: 0;
                    text-align: center;
                    font-size: 80px;
                    font-family: 'Aldrich', sans-serif;
                    width: 100%;
                    height: auto;
                }

                .overlay .information .wait {
                    text-align: center;
                    font-style: italic;
                }

                .overlay .information .expired {
                    text-align: center;
                    font-size: 80px;
                    font-family: 'Aldrich', sans-serif;
                }

        .card-footer.waiting-room {
            text-align: center;
        }

        .waiting-room img {
            width: 400px;
            height: auto;
        }

        .waiting-room p {
            font-style: italic;
            text-align: center;
        }

        .waiting-room ul {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .waiting-room {
            overflow: auto;
        }

        #no-materials-body {
            text-align: center;
        }

            #no-materials-body img {
                width: 500px;
                height: auto;
            }

            #no-materials-body p {
                font-size: 120%;
            }

        .direct-chat-contacts {
            height: 81vh;
            background: #fff;
        }
        #counter_div{
            font-size:150%;
        }
    </style>

    @if (Model.planned_start_time > Zaman.Simdi)
    {
        <style>
            .blur {
                /* Add the blur effect */
                filter: blur(4px);
                -webkit-filter: blur(4px);
            }
        </style>
    }
}

@if (Model.planned_start_time > Zaman.Simdi)
{
    <div class="overlay">
        <div class="information">
            <p class="header">
                @DT.LOCAL.Components.Labels.TaskWillBeStartAt
            </p>
            <p class="time-info">
                @Model.planned_start_time.ToLongDateString() @Model.planned_start_time.ToLongTimeString()
            </p>
            <span id="counter-card"></span>
            <p class="wait">
                @DT.LOCAL.Components.Labels.PleaseWait...
            </p>
        </div>
    </div>
}
@if (Model.planned_end_time != null && Model.planned_end_time < Zaman.Simdi)
{
    <div class="overlay">
        <div class="information">
            <p class="expired">
                @DT.LOCAL.Components.Labels.TaskHasExpired
            </p>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="row blur" style="padding-top: 6px;">

        <div class="col-lg-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        @DT.LOCAL.Objects.Entity._Task
                    </h3>
                    <div class="card-tools">

                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body box-profile" style="height: 20vh; overflow:auto">
                    <h3 class="profile-username text-center">@Model.Task.title</h3>
                    <p class="text-muted text-center">@StaticDB.Users.GetById(Model.Task.created_by).FullName</p>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        @DT.LOCAL.Components.TaskWizard._CompletionOptions
                    </h3>
                    <div class="card-tools">

                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body box-profile" style="height: 20vh; overflow:auto">
                    @if (Model.Task.exact_value != null)
                    {
                        <strong><i class="fas fa-angle-left mr-1"></i> Exact Value</strong>
                        try
                        {
                            int count = 0;
                            if (Model.Task.exact_value.StartsWith("["))
                            {
                                var list = JsonConvert.DeserializeObject<List<TagifyValueModel>>(Model.Task.exact_value);
                                count = list.Count;
                            }
                            <p class="text-muted">
                                There @(count>1?"are":"is") @count possible answer@(count>1?"s":"") for this task.
                            </p>
                        }
                        catch (Exception)
                        {

                            throw;
                        }
                    }
                    @if (Model.Task.minimum_word != 0)
                    {
                        <strong><i class="fas fa-angle-left mr-1"></i> Minimum Word Limit</strong>
                        <p class="text-muted">
                            @Model.Task.minimum_word
                        </p>
                    }

                    @if (Model.Task.maximum_word != 0)
                    {
                        <strong><i class="fas fa-angle-right mr-1"></i> Maximum Word Limit</strong>
                        <p class="text-muted">
                            @Model.Task.maximum_word
                        </p>
                    }

                    @if (Model.Task.time_relevant != 0)
                    {
                        <strong><i class="fas fa-clock mr-1"></i> Time Relevant</strong>
                        <p class="text-muted">
                            @TimeSpan.FromSeconds(Model.Task.time_relevant).ToStr()
                        </p>
                    }
                </div>
                <div class="card-footer">
                    <a href="#" id="btn-complete" class="btn btn-warning btn-block">
                        <i class="fas fa-check"></i> @DT.LOCAL.Components.Buttons.CompleteAnyway
                    </a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card card-primary">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">Info</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item" title="@DT.LOCAL.Components.TaskWizard._TaskInstructions">
                            <a class="nav-link active" href="#taskInstructions" data-toggle="tab">
                                <i class="fa fa-book"></i>
                            </a>
                        </li>
                        <li class="nav-item" title="@DT.LOCAL.Components.TaskWizard._BasicInformation">
                            <a class="nav-link" href="#basicInformation" data-toggle="tab">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </li>
                        <li class="nav-item" title="Maximize">
                            <a class="nav-link" href="#" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </a>
                        </li>
                        <li class="nav-item" title="Collapse">
                            <a class="nav-link" href="#" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <!-- /.card-header -->
                <div class="card-body about-body" style="height: 35vh; overflow:auto">
                    <div class="tab-content">
                        <div class="tab-pane active" id="taskInstructions">
                            
                            <div id="student_instructions"></div>                            
                            <p>
                                <strong class="text-center">@DT.LOCAL.Components.TaskWizard._TaskInstructions</strong>
                            </p>
                            <hr />
                            @Html.Raw(Model.Task.task_instructions.ToStr())
                        </div>

                        <div class="tab-pane" id="basicInformation">
                            <p>
                                <strong class="text-center">@DT.LOCAL.Components.TaskWizard._BasicInformation</strong>
                            </p>
                            <hr />
                            <strong><i class="fas fa-award mr-1"></i> @DT.LOCAL.Objects.Columns.information_gap</strong>

                            <p class="text-muted">
                                @(string.IsNullOrEmpty(Model.Task.information_gap.ToStr().Trim())?"-": Model.Task.information_gap.ToStr())
                            </p>

                            <hr>

                            <strong><i class="fas fa-users mr-1"></i> @DT.LOCAL.Objects.Columns.group_range</strong>

                            <p class="text-muted">
                                @(string.IsNullOrEmpty(Model.Task.group_range.ToStr().Trim())?"-": Model.Task.group_range.ToStr())
                            </p>

                            <hr>
                            <strong><i class="fas fa-atlas mr-1"></i> @DT.LOCAL.Objects.Columns.target_subject</strong>

                            <p class="text-muted">
                                @(string.IsNullOrEmpty(Model.Task.target_subject.ToStr().Trim())?"-": Model.Task.target_subject.ToStr())
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> @DT.LOCAL.Objects.Columns.objectives</strong>

                            <p class="text-muted">
                                @(string.IsNullOrEmpty(Model.Task.objectives.ToStr().Trim())?"-": Model.Task.objectives.ToStr())
                            </p>

                            <hr>

                            <strong><i class="fas fa-language mr-1"></i> @DT.LOCAL.Objects.Columns.target_languages</strong>


                            <ul style="list-style:none;">
                                @if (Model.Task.target_languages == null || Model.Task.target_languages.Length == 0)
                                {
                                    <li>-</li>
                                }
                                else
                                {
                                    foreach (int language_id in Model.Task.target_languages)
                                    {
                                        Language language = StaticDB.Languages.GetById(language_id);
                                        <li>@language.ToStr()</li>
                                    }
                                }
                            </ul>
                            <hr>

                            <strong><i class="fas fa-ribbon mr-1"></i> @DT.LOCAL.Objects.Columns.target_proficiency_level</strong>

                            <p class="text-muted">
                                @(string.IsNullOrEmpty(Model.Task.target_proficiency_level.ToStr().Trim())?"-": Model.Task.target_proficiency_level.ToStr())
                            </p>

                            <hr>

                            <strong><i class="fas fa-atom mr-1"></i> @DT.LOCAL.Objects.Columns.target_ages</strong>

                            <p class="text-muted">
                                @Model.Task.target_min_age - @Model.Task.target_max_age
                            </p>

                            <hr>

                            <strong><i class="fas fa-clock mr-1"></i> @DT.LOCAL.Objects.Columns.estimated_duration</strong>

                            <p class="text-muted">
                                @Model.Task.estimated_duration
                            </p>

                            <hr>
                            <strong><i class="fas fa-photo-video mr-1"></i> @DT.LOCAL.Objects.Tables.TaskMaterials</strong>

                            <p class="text-muted">
                                @Model.Task.TaskMaterials.Count
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

        <div class="col-lg-6">
            <div class="card card-primary" id="card-materials">
                <div class="card-header">
                    <h3 class="card-title">@DT.LOCAL.Objects.Tables.Materials</h3>
                    <div class="card-tools">
                        <!-- Maximize Button -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    </div>
                </div>

                <div class="card-body hidden" id="materials-body" style="height: 82vh;overflow: auto;">
                    <div class="overlay dark material-body-overlay">
                        <i class="fa fa-spinner fa-spin 4X"></i>
                    </div>
                </div>

                <div class="card-body hidden" id="no-materials-body" style="height: 82vh;">
                    <img src="~/Content/img/audience_sm.gif" />
                    <p>
                        There is no information for you on this session.
                    </p>
                </div>
                <div class="card-footer active-footer hidden">

                    <button class="btn btn-primary btn-block" id="btn-answer">
                        <i class="fa fa-comment"></i> Answer This
                    </button>
                </div>
                <div class="card-footer waiting-room">
                    <img src="~/Content/img/waiting_room.gif" />
                </div>
                <div class="card-body waiting-room" style="height: 48vh;">
                    <p>
                        This is the waiting room. You are waiting for other participants to click "I am ready". If you are ready to start, please click the button below to inform other participants that you are ready.
                    </p>
                    <p>
                        When all participants are ready, the session will start.
                    </p>
                    <ul class="list-group list-group-flush" id="participant-list">
                        @foreach (SessionTaskParticipant participant in Model.SessionTaskParticipants)
                        {
                            <li class="list-group-item">
                                @participant.User.ToString()
                                <i class="fas fa-check user-ready-status not-ready" data-user-id="@participant.participant_id"></i>
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer waiting-room">
                    <button class="btn btn-primary btn-block" id="btn-ready">
                        <i class="fa fa-check"></i> I am ready
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            @Html.Partial("_TaskChatBoxPartial", Model.SessionTaskParticipants)
        </div>

    </div>
</div>

<span id="task-counter" class="hidden">
    00:00:00
</span>

<div class="modal" id="answer-modal">
    <div class="modal-dialog" id="answer-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Submit Answer</h4>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#answer-dialog"><i class="fas fa-times"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="task-answer">@DT.LOCAL.Objects.Columns.task_answer</label>
                    <textarea id="task-answer" name="task-answer" class="form-control"></textarea>
                    <small class="text-warning d-block" id="word_count"></small>
                    <small class="text-danger d-block font-italic" id="words_border"></small>
                </div>
                <small style="font-style:italic; color:darkgrey;" id="writer"></small>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="button" id="btn-save-answer" class="btn btn-success" onclick="SaveAnswer();">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/plugins/signalR/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/SignalR/Hubs" type="text/javascript"></script>
    <script>
        var task = @Html.Raw(Model.Task.ToJson());
        //CHATBOX
        $('#task-answer').summernote({
                height: 300,
                dialogsInBody: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['view', ['fullscreen', 'codeview', 'preview']],
                    ['insert', ['link', 'insertimage', 'insertvideo', 'insertaudio', 'hr']]
                ],
                callbacks: {
                    onKeyup: function (e) {
                        SendText();
                    },
                    onInit: function () {
                        $(".note-btn").on('click', function (e) {
                            SendText();
                        });
                    }
                },
                buttons: {
                    preview: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-eye"></i>',
                            tooltip: 'Preview',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.Preview',
                                    content: $("#task-answer").summernote('code'),
                                    columnClass: 'col-md-12',
                                    theme: 'material',
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Ok': function () {

                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertvideo: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-video"></i>',
                            tooltip: 'Insert Video',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.YoutubeLinkLabel</label>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:left;">' +
                                        '<input type="checkbox" onchange="Toggle(this)" data-target="#media-start"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start" onchange="ChangeEnd(this);"/>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:right;">' +
                                        '<input type="checkbox"  onchange="Toggle(this)" data-target="#media-end"/> @DT.LOCAL.Objects.Columns.media_end_time' +
                                        '<input type="number" step="1" min="0"  class="form-control hidden" id="media-end" onchange="ChangeStart(this);"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                if (!media_link)
                                                    return;
                                                var media_start = this.$content.find('input#media-start').val();
                                                var media_end = this.$content.find('input#media-end').val();
                                                var YT_ID = YoutubeIdParser(media_link);
                                                if (!YT_ID) {
                                                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.EnterValidYoutubeURL', '@DT.LOCAL.Components.Buttons.Ok');
                                                    return;
                                                }
                                                var source_link = 'https://www.youtube.com/embed/' + YT_ID + '?start=' + media_start;
                                                if (media_end != 0)
                                                    source_link += '&end=' + media_end;
                                                source_link += '&rel=0';


                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '640');
                                                iframe.setAttribute('height', '360');
                                                iframe.setAttribute('class', 'material-body-video');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertaudio: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-volume-up"></i>',
                            tooltip: 'Insert Audio',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.SoundcloudLinkLabel</label>' +
                                        '<small>(Only SoundCloud links are accepted)</small>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                        '<input type="checkbox" onchange="Toggle(this)" data-target="#media-start"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                var media_start = this.$content.find('input#media-start').val();
                                                if (!media_link)
                                                    return;

                                                var source_link = 'https://w.soundcloud.com/player/?url=' + media_link;
                                                if (media_start != 0) {
                                                    var dt = new Date(media_start * 1000).toISOString().substr(14, 5).replace('-', ':');
                                                    source_link += '#t=' + dt;
                                                }



                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '100%');
                                                iframe.setAttribute('class', 'material-body-audio');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    },
                    insertimage: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-image"></i>',
                            tooltip: 'Insert Image',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                            '<label>@DT.LOCAL.Components.Labels.ImageLink</label>' +
                                            '<input class="form-control" id="image-link"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var image_link = this.$content.find('input#image-link').val();
                                                if (!image_link)
                                                    return;

                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var a = document.createElement('a');
                                                a.href = image_link;
                                                a.setAttribute('data-toggle', 'lightbox');
                                                a.setAttribute('data-title', image_link);
                                                var img = document.createElement('img');
                                                img.src = image_link;
                                                img.setAttribute('class', 'material-body-image');
                                                img.setAttribute('class', 'img-responsive');
                                                a.appendChild(img);
                                                div.appendChild(a);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + image_link + '" target="_blank"><strong>SOURCE : </strong>' + image_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    }
                }
        });
        $('.note-editable').keyup(function () {
            SetWordCount();
        });
        function SetWordCount() {
            //var text = $('.note-editable').text();

            var tmp = $("<div>").attr("style", "display:none");
            var text = tmp.html($('#task-answer').val()).text();
            tmp.remove();
            var word_count = 0;
            if (text) {
                var words = text.split(' ');
                console.log('Written Words : ' + words.length);
                for (var i = 0; i < words.length; i++) {
                    if (words[i].trim() != '')
                        ++word_count;
                }
                var appendix = word_count > 1 ? ' words' : ' word';
                $('#word_count').html(word_count + appendix);
            }
            $('#words_border').html('');

            $('#btn-save-answer').removeClass('disabled');
            $('#words_border').html('It is perfect to send!');
            $('#words_border').removeClass('text-danger').addClass('text-success');
            if (task.minimum_word != 0) {
                var needToSend = task.minimum_word - word_count;
                console.log('Need To Send :' + needToSend);
                if (needToSend > 0) {
                    $('#words_border').html('You need to write ' + needToSend + ' more words.');
                    $('#btn-save-answer').addClass('disabled');
                    $('#words_border').removeClass('text-success').addClass('text-danger');
                }
            }
            if (task.maximum_word != 0) {
                var overWords = word_count - task.maximum_word;
                console.log('Over Words :' + overWords);
                if (overWords > 0) {
                    $('#words_border').html('Your answer should be ' + overWords + ' words shorter.');
                    $('#btn-save-answer').addClass('disabled');
                    $('#words_border').removeClass('text-success').addClass('text-danger');
                }
            }
        }
        function SendText() {
            var text = $('#task-answer').val();
            if (!task.is_collabrative_writing)
                return;
            console.log('SEND : ' + text);
            ChatHub.server.sync(@Model.id, @currentUser.id, text);
        }
        var StartDate = new Date();
        var sessionStarted = false;
        var ChatHub = $.connection.myChatHub;
        var hubStarted = false;
        var interacted = false;
        function interacting() {
            interacted = true;
            $(window).unbind("scroll");
            $(window).unbind("click");
        }
        var AnsweredUser;
        var GivenAnswer = '';
        var WaitingForApprove = false;
        var CurrentUser;
        var UserTaskMaterials = [];

        function ShowNetiquette() {
            $.alert({
                columnClass: 'col-md-12',
                title: '@DT.LOCAL.Messages.Warnings.DialogTitle',
                content: '@Html.Raw(DT.LOCAL.Messages.Warnings.ChatRoomNetiquetteAndRules.Replace("\r\n", "").Replace("'", "\\'"))',
                buttons: {
                    ok: {
                        btnClass: 'btn-warning',
                        text: 'I declare to obey netiquette rules.',
                        action: function () {
                            store('netiquetteHasRead', true);
                            ShineElement('#btn-netiquette', 'You may see the rules when click here.');
                        }
                    }
                }
            });
        }
        $(function () {
            switch (task.completion_type) {
                case "E":
                    ShowInfo('@DT.LOCAL.Messages.CompletionMessages.E');
                    break;
                case "ET":
                    ShowInfo('@string.Format(DT.LOCAL.Messages.CompletionMessages.ET,TimeSpan.FromSeconds(Model.Task.time_relevant))');
                    break;
                case "W":
                    ShowInfo('@DT.LOCAL.Messages.CompletionMessages.W');
                    break;
                case "WT":
                    ShowInfo('@string.Format(DT.LOCAL.Messages.CompletionMessages.WT,TimeSpan.FromSeconds(Model.Task.time_relevant))');
                    break;
                case "N":
                    ShowInfo('@DT.LOCAL.Messages.CompletionMessages.N');
                    break;
                case "T":
                    ShowInfo('@string.Format(DT.LOCAL.Messages.CompletionMessages.T,TimeSpan.FromSeconds(Model.Task.time_relevant))');
                    break;
                default:
                    break;
            }
            $(window).bind("scroll click", interacting);
            var netiquetteHasRead = get('netiquetteHasRead');
            if (!netiquetteHasRead) {
                ShowNetiquette();
            }
            var soundStatus = get('dt_notifications');
            console.log('Sound Status : ' + soundStatus);
            if (soundStatus == 'true')
                $('.btn-sound').html('<i class="fas fa-volume-up"></i>');
            else
                $('.btn-sound').html('<i class="fas fa-volume-mute"></i>');
            document.querySelector('#msg-text').addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                   SendMessage();
                }
            });
            ChatHub.client.addMessage = function (messageModel) {
                var nameAllign = 'left';
                var dtAllign = 'right';
                var user_icon = '@Url.Content("~/Content/img/user_icon.png")';
                if ('@currentUser.id' == messageModel.user_id) {
                    nameAllign = 'right';
                    dtAllign = 'left';
                    user_icon = '@Url.Content("~/Content/img/self_icon.png")';
                }

                $('#chat-list').append('<div class="direct-chat-msg ' + nameAllign + '" data-toggle="tooltip" title="' + messageModel.FullDate + '">' +
                    '<div class="direct-chat-infos clearfix">' +
                    '<span class="direct-chat-name float-' + nameAllign + '">' + messageModel.User.FullName + '</span>' +
                    '<span class="direct-chat-timestamp float-' + dtAllign + '">' +
                    messageModel.StrDate +
                    '</span > ' +
                    '</div>' +
                    '<img class="direct-chat-img" src="' + user_icon + '" alt="Message User Image">' +
                    '<div class="direct-chat-text">' +
                    messageModel.body +
                    '</div>' +
                    '</div>');
                PlaySound('@Url.Content("~/Content/sounds/msg_beep.mp3")');
                var objDiv = document.getElementById("chat-list");
                objDiv.scrollTop = objDiv.scrollHeight;
            };

            ChatHub.client.UserStatusChanged = function (user, status) {
                console.log('USER : ' + user.id + ' - Status : ' + status);
                var st = $('i[data-user-id="' + user.id + '"]');
                $(st).removeClass('online').removeClass('online');
                if (status) {
                    $(st).addClass('online');
                    toastr.success(user.FullName + ' is online!');
                    PlaySound('@Url.Content("~/Content/sounds/online_beep.mp3")');
                }
                else {
                    $(st).addClass('offline');
                    toastr.error(user.FullName + ' is offline!');
                    PlaySound('@Url.Content("~/Content/sounds/offline_beep.mp3")');
                }
            };
            ChatHub.client.UserReadytatusChanged = function (user) {
                console.log('USER : ' + user.id + ' - Ready Status : ' + user.IsReady);
                var st = $('.user-ready-status[data-user-id="' + user.id + '"]');
                $(st).removeClass('not-ready');
                if (user.IsReady) {
                    $(st).addClass('ready');
                    toastr.info(user.FullName + ' is ready!');
                    PlaySound('@Url.Content("~/Content/sounds/online_beep.mp3")');
                }
                else {
                    $(st).addClass('not-ready');
                    toastr.info(user.FullName + ' is not ready!');
                    PlaySound('@Url.Content("~/Content/sounds/offline_beep.mp3")');
                }
            };
            ChatHub.client.ApproveAnswer = function (user, answer) {
                console.log('USER : ' + user.id + ' - Answered : ' + answer);
                AnsweredUser = user;
                GivenAnswer = answer;
                WaitingForApprove = true
                $('#btn-answer').removeClass('btn-primary').addClass('btn-success');
                $('#btn-answer').html('<i class="fa fa-check"></i> Click here to see the given answer and approve!')
                ShowApproveForm();
            };
            ChatHub.client.UserHasCompletedAnyway = function (user) {
                console.log('USER : ' + user.id + ' - Has Completed Anyway');
                if (user.id = @currentUser.id) {
                    location.reload();
                } else {
                    toastr.info(user.FullName + ' has completed and left session!');
                }
            };
            ChatHub.client.SessionStarted = function (startTime) {
                console.log('startTime Raw : ' + startTime);
                StartDate = new Date();
                console.log('startTime : ' + StartDate.toString());
                sessionStarted = true;
                $('#task-counter').removeClass('hidden');
            };
            ChatHub.client.SessionEnded = function (endTime) {
                console.log('endTime Raw : ' + endTime);
                var EndDate = new Date();
                console.log('endTime : ' + EndDate.toString());
                sessionStarted = false;
                $('.waiting-room').removeClass('hidden');
                $('#no-materials-body').addClass('hidden');
                $('#materials-body').addClass('hidden');
                $('.active-footer').addClass('hidden');
                $('#btn-ready').addClass('hidden');
                toastr.info('You will be redirected to main page in five seconds.');
                setTimeout(function () {
                    location.href = '@Url.Action("Index","Student")';
                }, 5000);
            };
            ChatHub.client.UserAnswered = function (user, result) {

                if (result) {
                    PlaySound('@Url.Content("~/Content/sounds/true_answer.mp3")');
                    /*
                     TODO
                     - Kullanıcının karşsına yeşil checkbox koy,
                     - Kullanıcıya Material'ları göstermeye devam et,
                     - Answerer'ların hepsi cevaplaması gerekiyorsa diğerlerini bekle,
                     - Task tamamlanınca herkese bilgi popup'ı göster,
                     - Popup'a tıklayınca
                     */
                    toastr.success(user.FullName + ' has sent the answer!');
                    if (task.is_collabrative_writing) {
                        ChatHub.server.finishTask(@Model.id);
                        $('.waiting-room').removeClass('hidden');
                        $('#no-materials-body').addClass('hidden');
                        $('#materials-body').addClass('hidden');
                        $('.active-footer').addClass('hidden');
                        $('#btn-ready').addClass('hidden');
                        $('i[data-user-id="' + @currentUser.id + '"]').removeClass('online').removeClass('offline').addClass('completed').html('Completed');
                        $('.user-ready-status[data-user-id="' + @currentUser.id + '"]').html('Completed');
                    } else {
                        if (user.id == @currentUser.id) {
                            $('.waiting-room').removeClass('hidden');
                            $('#no-materials-body').addClass('hidden');
                            $('#materials-body').addClass('hidden');
                            $('.active-footer').addClass('hidden');
                            $('#btn-ready').addClass('hidden');
                        }
                        $('i[data-user-id="' + user.id + '"]').removeClass('online').removeClass('offline').addClass('completed').html('Completed');
                        $('.user-ready-status[data-user-id="' + user.id + '"]').html('Completed');
                    }
                }
                else {
                    if (user.id == @currentUser.id) {
                        toastr.error('Revise your answer!');
                    } else {
                        toastr.error(user.FullName + ' has sent wrong answer!');
                    }
                    PlaySound('@Url.Content("~/Content/sounds/false_answer.mp3")');
                }
            };
            ChatHub.client.SetText = function (text, writer) {
                console.log('RECEIVED : ' + text);
                if (!text)
                    return;
                $('#word_count').html(text.split(' ').length);
                $('.note-editable').html(text);
                $('#writer').html('<span id="writer-inner">' + writer + ' is writing...' + '</span>');
                $('#task-answer').summernote('disable');
                SetWordCount();
                setTimeout(function () {
                    $('#writer-inner').fadeOut(250, function () {
                        $(this).remove();
                        $('#task-answer').summernote('enable');});

                }, 500);
            };
            ChatHub.client.StartTask = function (users, task_id) {
                $('.waiting-room').addClass('hidden');
                console.log('Users : ' + JSON.stringify(users));
                var index_order = 0;
                for (var i = 0; i < users.length; i++) {
                    var user = users[i];
                    if (user.id == @currentUser.id) {
                        CurrentUser = user;
                        if (user.UserTaskMaterials.length > 0) {
                            HasAssignedMaterial = true;
                            UserTaskMaterials = user.UserTaskMaterials;
                            var firstActivationTime = UserTaskMaterials[0].ActivationTime;
                            if (firstActivationTime != 0) {
                                $('#materials-body').removeClass('hidden');
                                PutCountDownToMaterialsBody(firstActivationTime);
                            }
                            if (UserTaskMaterials[0].TaskMaterials.length > 0) {
                                var si = UserTaskMaterials[0].TaskMaterials[0].attributes;
                                if (si) {
                                    $('#student_instructions').html('<p><strong class="text-center">Student Instructions</strong></p><hr /><div>'+si+'</div>');
                                }
                            }
                            break;
                        } else {
                            $('#no-materials-body').removeClass('hidden');
                        }
                    }
                }
                PlaySound('@Url.Content("~/Content/sounds/task_starting.mp3")');
                toastr.info('Task has started!');
                if (UserTaskMaterials.length == 0) {
                    $('#no-materials-body').removeClass('hidden');
                } else {
                    SetMaterial(0);
                }
                $('.active-footer').removeClass('hidden');
            };
            $('#btn-send').click(function () {
                SendMessage();
            });
            $('#btn-ready').click(function () {
                SendReady();
            });
            $.connection.hub.start().done(function () {
                ChatHub.server.new_user_connection(@Model.id, @currentUser.id);
                hubStarted = true;
            })


        });
        $('#btn-answer').click(function () {
            if (WaitingForApprove) {
                ShowApproveForm();
            } else {
                $('#answer-modal').modal({ backdrop: 'static', keyboard: false });
            }
        });
        $('#btn-complete').click(function () {
            if (WaitingForApprove) {
                ShowApproveForm();
            } else {
                $.confirm({
                    title: '@DT.LOCAL.Components.Labels.ApproveTitle',
                    content: 'Are you sure you want to finalize the task?',
                    columnClass: 'col-md-12',
                    theme: 'supervan',
                    buttons: {
                        ok: {
                            text: '@DT.LOCAL.Components.Buttons.CompleteAnyway',
                            keys: ['enter', 'space'],
                            action: function () {
                               var tmp = $("<div>").attr("style", "display:none");
                                var answer = tmp.html($('#task-answer').val()).text();
                                tmp.remove();
                                ChatHub.server.complete_anyway(@Model.id, @currentUser.id, answer);
                            }
                        },
                        cancel: {
                            text: 'Go Back to Task',
                            keys: ['esc']
                        }
                    }
                });
            }

        });
        function ShowApproveForm() {
            $.confirm({
                title: '@DT.LOCAL.Components.Labels.ApproveTitle',
                content: '@Html.Raw(DT.LOCAL.Components.Labels.ApproveContent)' + '<p><strong>' + AnsweredUser.FullName + '</strong></p><p>' + GivenAnswer + '</p>',
                columnClass: 'col-md-12',
                theme: 'material',
                buttons: {
                    '@DT.LOCAL.Components.Buttons.Yes': function () {
                        $('#answer-modal').modal('hide');
                        $('#btn-answer').addClass('d-none');
                        ChatHub.server.approve(@Model.id, @currentUser.id);
                    },
                    '@DT.LOCAL.Components.Buttons.No': function () {

                    }
                }
            });
        }
        function SaveAnswer() {
            $.confirm({
                title: '@DT.LOCAL.Components.Labels.ApproveTitle',
                content: 'Are you sure you want to finalize the task?',
                columnClass: 'col-md-12',
                theme: 'supervan',
                buttons: {
                    ok: {
                        text: '@DT.LOCAL.Components.Buttons.Yes',
                        keys: ['enter', 'space'],
                        action: function () {
                            var tmp = $("<div>").attr("style", "display:none");
                            var answer = tmp.html($('#task-answer').val()).text();
                            tmp.remove();
                            if (!answer) {
                                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.task_answer)', '@DT.LOCAL.Components.Buttons.Ok');
                                return;
                            }
                            $('#answer-modal').modal('hide');
                            ChatHub.server.answer(@Model.id, @currentUser.id, answer);
                        }
                    },
                    cancel: {
                        text: '@DT.LOCAL.Components.Buttons.No',
                        keys: ['esc']
                    }
                }
            });
        }
        $('.btn-sound').click(function () {
            var soundStatus = get('dt_notifications');
            console.log('Sound Status (old): ' + soundStatus);
            if (soundStatus == 'true') {
                $('.btn-sound').html('<i class="fas fa-volume-mute"></i>');
                store('dt_notifications', false);
                toastr.info('Notification sounds are muted!');
            }
            else {
                $('.btn-sound').html('<i class="fas fa-volume-up"></i>');
                store('dt_notifications', true);
                toastr.info('Notification sounds are unmuted!');
            }
            console.log('Sound Status (new): ' + get('dt_notifications'));
        });
        window.onbeforeunload = closingCode;
        function closingCode() {
            ChatHub.server.OnDisconnected(true);
            return null;
        }
        function SendMessage() {
            ChatHub.server.send(@Model.id, @currentUser.id, $('#msg-text').val());
            document.getElementById('msg-text').value = ''
        }
        function SendReady() {
            ChatHub.server.ready(@Model.id, @currentUser.id);
        }



        // TASK COUNTER
        var taskCounter = setInterval(function () {

            if (sessionStarted) {
                // Get today's date and time
                var now = new Date();

                // Find the distance between now and the count down date
                var distance = now.getTime() - StartDate.getTime();
                var elapsedTime = parseInt(distance / 1000);
                if (task.time_relevant != 0) {
                    distance = (task.time_relevant * 1000) - distance;

                    if (distance <= 0) {
                        sessionStarted = false;
                        $.alert('<h1>Time is up!</h1>');
                        ChatHub.server.finishTask(@Model.id);
                    } else if (distance < 10000) {
                        // TODO Find time beep
                        PlaySound('@Url.Content("~/Content/sounds/TimeBeep.mp3")');
                    } else if (distance >= 29000 && distance <= 30000) {
                        toastr.error('Last 30 seconds!');
                        PlaySound('@Url.Content("~/Content/sounds/30SecsReminder.mp3")');
                    } else if (distance >= 179000 && distance <= 180000) {
                        toastr.error('Last 3 minutes!');
                        PlaySound('@Url.Content("~/Content/sounds/3MinsReminder.mp3")');
                    }
                } else {

                }

                if (elapsedTime > 0) {
                    SetMaterial(elapsedTime);
                }
                // Time calculations for days, hours, minutes and seconds
                var h = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var s = Math.floor((distance % (1000 * 60)) / 1000);
                var totalSeconds = s + (60 * m) + (3600 * h);
                $('#task-counter').html(FormatTime(h) + ':' + FormatTime(m) + ':' + FormatTime(s));

            }
        }, 1000);
        function FormatTime(h) {
            if (h < 0)
                return '00';
            var hh = h < 10 ? '0' + h : h;
            return hh;
        }

        function SetMaterial(currentSec) {
            for (var i = 0; i < UserTaskMaterials.length; i++) {
                var sec = UserTaskMaterials[i].ActivationTime;
                if (sec == currentSec) {
                    var taskMaterials = UserTaskMaterials[i].TaskMaterials;
                    for (var j = 0; j < taskMaterials.length; j++) {
                        var taskMaterial = CurrentUser.UserTaskMaterials[i].TaskMaterials[j];
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("GetMaterial", "MaterialManagement")/' + taskMaterial.material_id,
                            success: function (data) {
                                if (data.Result) {
                                    $('.material-body-overlay').remove();
                                    $('#materials-body').removeClass('hidden');
                                    var matDetails = '';
                                    if (data.Material.details) {
                                        matDetails = '<div class="d-block"><p><strong>About This Material</strong></p><p>' +
                                            data.Material.details +
                                            '</p></div>';
                                    }
                                    $('.material-card').addClass('collapsed-card');
                                    $('.btn-collapsing').html('<i class="fas fa-plus"></i>');
                                    var matCard = '<div class="card card-default material-card">' +
                                                        '<div class="card-header">' +
                                                            '<h3 class="card-title">' +
                                                                data.Material.title +
                                                            '</h3>' +
                                                            '<div class="card-tools">' +
                                                                '<button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button> ' +
                                                                '<button type="button" class="btn btn-tool btn-collapsing" data-card-widget="collapse"><i class="fas fa-minus"></i></button>   ' +
                                                            '</div>' +
                                                        '</div>' +
                                                        '<div class="card-body">' +
                                                              data.Material.body +
                                                        '</div>' +
                                                        '<div class="card-body">' +
                                                              matDetails +
                                                        '</div>' +
                                                  '</div>';
                                    $('#materials-body').prepend(matCard);
                                }
                            }
                        });
                    }
                }
            }
        }
        //COUNTERS

        function PutCountDownToMaterialsBody(distance) {
            var x = setInterval(function () {
                        if (distance > 0) {
                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (60 * 60 * 24));
                            var hours = Math.floor((distance % (60 * 60 * 24)) / (60 * 60));
                            var minutes = Math.floor((distance % (60 * 60)) / (60));
                            var seconds = Math.floor(distance % 60);

                            // Output the result in an element with id="demo"
                            var counter_value = days + "d " + hours + "h "
                                + minutes + "m " + seconds + "s ";
                            if (days <= 0 && hours > 0)
                                counter_value = hours + "h "
                                    + minutes + "m " + seconds + "s ";
                            if (days > 0 && hours <= 0) {
                                counter_value = days + "d " + hours + "h "
                                    + minutes + "m " + seconds + "s ";
                            }
                            if (days <= 0 && hours <= 0)
                                counter_value = minutes + "min " + seconds + "sec ";

                            if (minutes > 0 && seconds <= 0) {
                                counter_value = minutes + "m " + seconds + "s ";
                            }

                            if (minutes <= 0 && seconds > 0) {
                                counter_value = seconds + "sec ";
                            }
                            var counter_div = '<div id="mat_counter_div"><strong class="text-warning">' + counter_value + '</strong> to show your first material.</div>';
                            $("#materials-body").html(counter_div);
                            --distance;
                            if (distance <= 0) {
                                clearInterval(x);
                                $('#mat_counter_div').remove();
                            }
                        }
                    }, 1000);
        }
        // Set the date we're counting down to
        var countDownDate = new Date('@planned_start_date').getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {
            if ('@expired' != 'False') {
                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                var counter_value = days + "<small>d</small> " + hours + "<small>h</small> "
                    + minutes + "<small>m</small> " + seconds + "<small>s</small> ";
                if (days <= 0 && hours > 0)
                    counter_value = hours + "<small>h</small> "
                        + minutes + "<small>m</small> " + seconds + "<small>s</small> ";
                if (days > 0 && hours <= 0) {
                    counter_value = days + "<small>d</small> " + hours + "<small>h</small> "
                        + minutes + "<small>m</small> " + seconds + "<small>s</small> ";
                }
                if (days <= 0 && hours <= 0)
                    counter_value = minutes + "<small>min</small> " + seconds + "<small>sec</small> ";

                if (minutes > 0 && seconds <= 0) {
                    counter_value = minutes + "<small>m</small> " + seconds + "<small>s</small> ";
                }

                if (minutes <= 0 && seconds > 0) {
                    counter_value = seconds + "<small>sec</small> ";
                }

                $("#counter-card").html(counter_value);
                console.log('Count Down Date : ' + countDownDate);
                console.log('Now : ' + now);
                console.log('Distance : ' + distance);
                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                }
            }
        }, 1000);


        //MATERIAL ITEM

        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;

            var y = document.getElementsByClassName("material-item");

            if (n > y.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = y.length }
            for (i = 0; i < y.length; i++) {
                $(y[i]).css('display','none');
            }
            $(y[slideIndex - 1]).css('display','block');
        }
    </script>

}
