﻿@model Role

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    <div class="modal-dialog" id="role-edit-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateNew: DT.LOCAL.Components.Labels.Editing)</h4>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#role-edit-dialog"><i class="fas fa-times"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    @if (Model.id > 4)
                    {
                        <div class="col-12">
                            <div class="form-group">
                                <label for="entity-key">@DT.LOCAL.Objects.Columns.title</label>
                                @Html.TextBoxFor(x => x.title, new { @class = "form-control", type = "text", id = "entity-title" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" value="@Model.title" name="title" />
                    }
                    <div class="col-12">
                        <div class="form-group">
                            <label for="entity-details">@DT.LOCAL.Objects.Columns.details</label>
                            @Html.TextAreaFor(x => x.details, new { @class = "form-control", type = "text", id = "entity-details" })
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="submit" id="btn-save-company" class="btn btn-success">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
}

