﻿@model Language

@using (Html.BeginForm("AddUpdate", "LanguageManagement"))
{
    @Html.HiddenFor(x => x.id)
    <div class="modal-dialog" id="language-edit-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateNew: DT.LOCAL.Components.Labels.Editing)</h4>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#language-edit-dialog"><i class="fas fa-times"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="entity-name">@DT.LOCAL.Objects.Columns.name</label>
                            @Html.TextBoxFor(x => x.name, new { @class = "form-control", type = "text", id = "entity-name" })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="entity-iso_code">@DT.LOCAL.Objects.Columns.iso_code</label>
                            @Html.TextBoxFor(x => x.iso_code, new { @class = "form-control", type = "text", id = "entity-iso_code" })
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="entity-locales">@DT.LOCAL.Objects.Columns.locales</label>
                            @Html.TextBoxFor(x => x.locales, new { @class = "form-control", type = "text", id = "entity-locales" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="entity-rtl">@DT.LOCAL.Objects.Columns.rtl</label>
                            @Html.CheckBoxFor(x => x.rtl, new { @class = "form-control", id = "entity-rtl" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="entity-has_ui">@DT.LOCAL.Objects.Columns.has_ui</label>
                            @Html.CheckBoxFor(x => x.has_ui, new { @class = "form-control", id = "entity-has_ui" })
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="submit" id="btn-save-company" class="btn btn-success">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
}

