﻿@model List<Language>
 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}

<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="btn-table-create"
                            data-url="@Url.Action("AddUpdate","LanguageManagement")"
                            data-modal="#partial-modal"
                            onclick="PartialShow(this);">
                        <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.CreateNew
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                    <thead>

                        <tr>

                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.name</th>
                            <th>@DT.LOCAL.Objects.Columns.iso_code</th>
                            <th>@DT.LOCAL.Objects.Columns.locales</th>
                            <th>@DT.LOCAL.Objects.Columns.rtl</th>
                            <th>@DT.LOCAL.Objects.Columns.has_ui</th>
                            <th>@DT.LOCAL.Objects.Columns.flag</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (Language item in Model)
                        {

                        <tr>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="#"
                                       data-url="@Url.Action("AddUpdate","LanguageManagement",new {id=item.id})"
                                       data-modal="#partial-modal"
                                       onclick="PartialShow(this);"
                                       class="btn btn-default hover-orange"
                                       title="@DT.LOCAL.Components.Buttons.Edit">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a href="#"
                                       class="btn btn-default hover-orange"
                                       onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete",new {id=item.id })');"
                                       title="@DT.LOCAL.Components.Buttons.Delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>@item.name.ToStr()</td>
                            <td>@item.iso_code.ToStr()</td>
                            <td>@item.locales.ToStr()</td>
                            <td>@((bool)item.rtl?DT.LOCAL.Components.Labels.Yes:DT.LOCAL.Components.Labels.No)</td>
                            <td>@((bool)item.has_ui?DT.LOCAL.Components.Labels.Yes:DT.LOCAL.Components.Labels.No)</td>
                            <td>@Request.GetFlag(item, false)</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{
    @Html.Partial("_DatatableScripts")
    <script>
        function CreateNew() {
            ShowPartial('@Url.Action("AddUpdate", "LanguageManagement")', $('.btn-create-new'))
        }
    </script>
}
