﻿@model RawPage
<div class="modal-dialog @(Model.name.Equals("FEED") || Model.name.Equals("ANNOUNCEMENT")?"":"modal-xl")" id="raw-page-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @Model.details.ToStr() 
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#raw-page-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="max-height:500px;overflow:auto;">
            @Html.Raw(Model.body)
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            @if (Model.name.Equals("FEED") || Model.name.Equals("ANNOUNCEMENT"))
            {
                @Model.User.ToStr()
            }
            <small class="text-muted">@Model.DateStr.ToStr()</small>
        </div>
    </div>
</div>
