﻿
@model User
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">@DT.LOCAL.Messages.Infos.ForgotPasswordInfo</p>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.id)
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.password, type = "password", required = "required", id = "password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" data-for="password" onclick="showPass('password');"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.confirm_password, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.confirm_password, type = "password", required = "required", id = "confirm_password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" data-for="confirm_password" onclick="showPass('confirm_password');"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="font-italic" href="@Url.Action("Login","Account")">@DT.LOCAL.Components.Buttons.SignIn</a><br />
                    <a class="font-italic" href="@Url.Action("Register","Account")">@DT.LOCAL.Components.Labels.RegisterNew</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">@DT.LOCAL.Components.Buttons.ResetPassword</button>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
    <!-- /.login-card-body -->
</div>

@section scripts{

<script>
        function showPass(target) {
            var password = document.getElementById(target);
            if (password.type === "password") {
                password.type = "text";
                $('[data-for="' + target + '"]').attr('class','<i class="fas fa-unlock"></i>')
            } else {
                password.type = "password";
                $('[data-for="' + target + '"]').attr('class', '<i class="fas fa-lock"></i>')
            }
        }

        $('#change-form').on('submit', function () {
            return validateForm();
        })
         function validateForm() {
            if (!$('#password').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.password) ');
            if (!$('#confirm_password').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.confirm_password) ');
            if ($('#password').val() != $('#confirm_password').val())
                 return NoValid('@DT.LOCAL.Messages.Warnings.PasswordsNotMatch');
             return true;
        }

        function NoValid(msg) {
            ShowInfo(msg, '@DT.LOCAL.Messages.Warnings.DialogTitle');
            return false;
        }
</script>
}