﻿@model User
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">@DT.LOCAL.Messages.Infos.LoginInfo</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.mail, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.mail, type = "email", required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.password, type = "password", required = "required", id = "password" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" onclick="showPass();"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-12" style="margin-bottom:20px;">
                    <small><a class="font-italic" href="@Url.Action("ForgotPassword","Account")">@DT.LOCAL.Components.Labels.ForgotPassword</a></small>
                    <br />
                    <small><a class="font-italic" href="@Url.Action("Register","Account")">@DT.LOCAL.Components.Labels.RegisterNew</a></small>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember_me" name="remember_me">
                        <label for="remember_me">
                            @DT.LOCAL.Components.Labels.RememberMe
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-block">@DT.LOCAL.Components.Buttons.SignIn</button>
                </div>
                <div class="col-md-12 col-sm-12">
                    <small>
                        <br />
                        <a class="font-italic" href="@Url.Action("ResendConfirmation","Account")">@DT.LOCAL.Components.Labels.ResendConfirmation</a>
                    </small>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
    <!-- /.login-card-body -->
</div>
@section scripts{
    @if (!Model.is_confirmed && Model.id > 0)
    {
        <script>
            $(function () {
                $.alert('@DT.LOCAL.Messages.Warnings.NotConfirmedMail');
            });
        </script>
    }
    else if (!Model.is_allowed && Model.id > 0)
    {
        <script>
            $(function () {
                $.alert('@DT.LOCAL.Messages.Warnings.NotAllowedToLogin');
            });
        </script>
    }
    else if (Model.id == -1)
    {
        <script>
            $(function () {
                $.alert('@DT.LOCAL.Messages.Errors.LoginNotSuccessful');
            });
        </script>
    }

    <script>
        function showPass() {
            var password = document.getElementById("password");
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }

    </script>


}
