﻿@model User
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">@DT.LOCAL.Components.Labels.RegisterNew</</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.name, required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.lastname, required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12" id="mail-part">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.mail, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.mail, type = "email", required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.password, type = "password", required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.confirm_password, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.confirm_password, type = "password", required = "required" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="input-group mb-3">
                        <select name="role_id" id="role_id" class="form-control" required>
                            <option>@string.Format(DT.LOCAL.Components.Labels.PleaseChooseX, DT.LOCAL.Objects.Columns.role_id)</option>
                            <option value="3">@DT.LOCAL.Enums.Roles.Teacher</option>
                            <option value="4">@DT.LOCAL.Enums.Roles.Student</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-tag"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="input-group mb-3">
                        <select name="ui_language" id="ui_language" class="form-control" required>
                            <option>@string.Format(DT.LOCAL.Components.Labels.PleaseChooseX, DT.LOCAL.Objects.Columns.language_id)</option>
                            @foreach (Language language in StaticDB.Languages.Where(x => x.has_ui))
                            {
                                <option value="@language.iso_code">@language.name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-globe"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 student">
                    <div class="input-group mb-3">
                        <select name="proficiency_level" id="proficiency_level" class="form-control" required>
                            <option>@string.Format(DT.LOCAL.Components.Labels.PleaseChooseX, DT.LOCAL.Objects.Columns.target_proficiency_level)</option>
                            <option value="A1">@DT.LOCAL.Enums.Proficiencies.A1</option>
                            <option value="A2">@DT.LOCAL.Enums.Proficiencies.A2</option>
                            <option value="B1">@DT.LOCAL.Enums.Proficiencies.B1</option>
                            <option value="B2">@DT.LOCAL.Enums.Proficiencies.B2</option>
                            <option value="C1">@DT.LOCAL.Enums.Proficiencies.C1</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-language"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 teacher">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.institution, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.institution })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-building"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 teacher">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.department, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.department })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-project-diagram"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 teacher">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.title, new { @class = "form-control", placeholder = DT.LOCAL.Objects.Columns.title })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-user-tag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12" style="margin-bottom:20px;">
                    <small><a class="font-italic" href="@Url.Action("Login","Account")">@DT.LOCAL.Components.Labels.AlreadyMember</a></small>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" required>
                        <label for="remember">
                            <a href="#"
                               data-url="@Url.Action("TermsAndConditions","Account")"
                               data-modal="#terms-modal"
                               onclick="PartialShow(this)">@DT.LOCAL.Components.Labels.AgreeTerms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-block">@DT.LOCAL.Components.Buttons.Register</button>
                </div>
                <!-- /.col -->
            </div>
        }

        <!-- /.login-card-body -->
    </div>
</div>

@section scripts{
    @if (ViewBag.Message != null)
    {
        <script>
            $(function () {
                var msg = '@ViewBag.Message';
                $.alert(msg);
            });
        </script>
    }
    <script>
        var isMailAvailable = false;
        $(function () {
            $('#register-form').on('submit', function() {
                return validateForm();
            })

            $('.teacher').hide();
            $('#role_id').change(function () {
                if ($(this).val() == 3) {
                    $('.teacher').show();
                    $('.student').hide();
                } else {
                    $('.teacher').hide();
                    $('.student').show();
                }
            });
            $('#role_id').val(4);
            $('#mail').change(function () {
                var elm = $(this);
                var content = $(elm).html();
                var val = $(this).val();
                if (!val) {
                    isMailAvailable = false;
                    return;
                }
                $.ajax({
                    url: '@Url.Action("CheckMailIsAvailable", "Account")',
                    type: "POST",
                    data: {
                        mail: val
                    },
                    success: function (data) {
                        isMailAvailable = data.Result;
                        if (!isMailAvailable) {
                            $('#mail-part').addClass('bg-red');
                            NoValid('@DT.LOCAL.Messages.Warnings.MailExist');
                            return;
                        }
                        $('#mail-part').removeClass('bg-red');
                    },
                    beforeSend: function () {
                        $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
                    },
                    complete: function () {
                        $(elm).html(content);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        NoValid(errorThrown);
                    }
                });
            });
        });
        function validateForm() {
            if (!$('#name').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.name) ');
            if ($('#name').val().length < 3)
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.MinLength, DT.LOCAL.Objects.Columns.name, 3)');
            if (!$('#lastname').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.lastname) ');
            if ($('#lastname').val().length < 2)
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.MinLength, DT.LOCAL.Objects.Columns.lastname, 2)');
            if (!$('#role_id').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.role_id) ');
            if ($('#role_id').val() == 3 && !$('#institution').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.institution) ');
            if ($('#role_id').val() == 4 && !$('#proficiency_level').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_proficiency_level) ');
            if (!$('#ui_language').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.ui_language) ');
            if (!$('#mail').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.mail) ');
            if (!validateEmail($('#mail').val()))
                return NoValid('@DT.LOCAL.Messages.Warnings.NotValidMail');
            if (!isMailAvailable)
                return NoValid('@DT.LOCAL.Messages.Warnings.MailExist');
            if (!$('#password').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.password) ');
            if (!$('#confirm_password').val())
                return NoValid('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.confirm_password) ');
            if ($('#password').val() != $('#confirm_password').val())
                return NoValid('@DT.LOCAL.Messages.Warnings.PasswordsNotMatch');
        }

        function NoValid(msg) {
            ShowInfo(msg, '@DT.LOCAL.Messages.Warnings.DialogTitle');
            return false;
        }
    </script>
}
