﻿
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">@DT.LOCAL.Messages.Infos.ResendConfirmationInfo</p>
        @using (Html.BeginForm("PostConfirmation", "Account"))
        {
            @Html.AntiForgeryToken()
            <div class="input-group mb-3">
                <input name="mail" id="mail" class="form-control" placeholder="@DT.LOCAL.Objects.Columns.mail" required />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="font-italic" href="@Url.Action("Login","Account")">@DT.LOCAL.Components.Buttons.SignIn</a><br />
                    <a class="font-italic" href="@Url.Action("Register","Account")">@DT.LOCAL.Components.Labels.RegisterNew</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">@DT.LOCAL.Components.Buttons.Send</button>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
    <!-- /.login-card-body -->
</div>

@section scripts{

    @if (ViewBag.Message != null)
    {
        <script>
            $(function () {
                var msg = '@ViewBag.Message';
                $.alert(msg);
            });
        </script>
    }
}