﻿
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}<div class="card">
     <div class="card-body login-card-body">
         <h3 class="loading">
             I am a
         </h3>

         <div class="row">
             <div class="col-md-6 col-sm-12">
                 <a href="@Url.Action("Login","Account")" class="btn btn-warning btn-start-page" style="float:right;">
                     <i class="fas fa-chalkboard-teacher"></i> TEACHER
                 </a>
             </div>
             <div class="col-md-6 col-sm-12">
                 <a href="@Url.Action("Login","Account")" class="btn btn-warning btn-start-page pull-left" style="float:left;">
                     <i class="fas fa-user-graduate"></i>  STUDENT
                 </a>
             </div>
             <div class="col-12 text-center" style="padding-top:30px;">
                 <a class="font-italic text-center" href="@Url.Action("Register","Account")">@DT.LOCAL.Components.Labels.RegisterNew</a>
             </div>
         </div>
     </div>
    <!-- /.login-card-body -->
</div>

