﻿@model User
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@{ 
    User current_user = Request.User();
}
<div class="card">
    <div class="card-body login-card-body">
        @if (!Model.is_allowed)
        {
            <p class="login-box-msg">@DT.LOCAL.Messages.Warnings.NotAllowedToLogin</p>
            <p class="text-center">
                <i class="fas fa-exclamation-triangle text-danger fa-5x"></i>
            </p>
        }
        else if (Model.is_subscribed)
        {
            <p class="login-box-msg">@string.Format(DT.LOCAL.Messages.Infos.SuccessfullySubscribed, Model.mail)</p>
            <p class="text-center">
                <i class="fas fa-smile text-success fa-5x"></i>
            </p>
        }
        else
        {
            <p class="login-box-msg">@string.Format(DT.LOCAL.Messages.Infos.SuccessfullyUnsubscribed, Model.mail)</p>
            <p class="text-center">
                <i class="fas fa-sad-tear text-warning fa-5x"></i>
            </p>
            <p class="mb-1">
                <a href="@Url.Action("Index","Home")">@DT.LOCAL.Components.Labels.HomePage</a>
            </p>
            <p class="mb-0">
                <a href="@Url.Action("Subscribe","Account")" class="text-center">@DT.LOCAL.Components.Buttons.Subscribe</a>
            </p>
        }
    </div>
</div>