﻿@model User
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">@DT.LOCAL.Messages.Warnings.NotAllowedToLogin</p>
        <p class="text-center">
            <i class="fas fa-exclamation-triangle text-danger fa-5x"></i>
        </p>
        <p class="mb-1">
            <a href="@Url.Action("ForgotPassword","Account")">@DT.LOCAL.Components.Labels.ForgotPassword</a>
        </p>
        <p class="mb-0">
            <a href="@Url.Action("Register","Account")" class="text-center">@DT.LOCAL.Components.Labels.RegisterNew</a>
        </p>
    </div>
</div>