﻿@model TaskResult
<div class="modal-dialog modal-xl" id="task-answer-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Columns.task_answer
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-answer-dialog"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="min-height:400px;">
            @Html.Raw(Model.completion_result)
        </div>
    </div>
</div>

