﻿@model List<TaskResult>
@{
    User currentUser = Request.User();

    _Task task = ViewBag.Task as _Task;
    TaskResult finishedTR = Model.FirstOrDefault(x => x.finish_time != null);
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-xl" id="task-results-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Entity.TaskResult
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-results-dialog"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="min-height:400px;">
            <table class="cell-border display table-bordered" id="task-results-table" style="width:100% !important;">
                <thead>
                    <tr>
                        <th>@DT.LOCAL.Components.Labels.Student</th>
                        @if (currentUser.role_id == 1 || currentUser.role_id == 2)
                        {
                            <th>@DT.LOCAL.Objects.Columns.assigned_by</th>
                        }
                        <th>@DT.LOCAL.Objects.Columns.started_date</th>
                        <th>@DT.LOCAL.Objects.Columns.completed_date</th>
                        <th>@DT.LOCAL.Objects.Columns.task_answer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TaskResult taskResult in Model.DistinctBy(x => x.student_id))
                    {
                    <tr>
                        <td>@StaticDB.Users.GetById(taskResult.student_id).ToStr()</td>
                        @if (currentUser.role_id == 1 || currentUser.role_id == 2)
                        {
                            <td>@StaticDB.Users.GetById(taskResult.teacher_id).ToStr()</td>
                        }
                        <td>@taskResult.start_time</td>
                        @if (taskResult.finish_time == null && task.is_collabrative_writing && finishedTR != null)
                        {
                            <td>@Convert.ToDateTime(finishedTR.finish_time)</td>
                        }
                        else if (taskResult.finish_time == null && finishedTR != null)
                        {
                            <td class="text-red">@Convert.ToDateTime(finishedTR.finish_time)</td>
                        }
                        else if (taskResult.finish_time == null)
                        {
                            <td><span class="badge badge-danger">Continue</span></td>
                        }
                        else
                        {
                            <td>@Convert.ToDateTime(taskResult.finish_time)</td>
                        }
                        <td>
                            @if (!string.IsNullOrEmpty(taskResult.completion_result))
                            {

                                <a href="#" data-url="@Url.Action("ShowAnswer","TaskResultManagement", new { id = taskResult.id })" data-modal="#answer-modal" onclick="PartialShow(this)">
                                    <span class="badge badge-primary">Answer</span>
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="answer-modal"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script>
    var datatable = $('#task-results-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                buttons: [
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'p',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                                key: {
                                    key: 'c',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'x',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'r',
                                    altKey: true
                                }
                            }
                        ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
</script>

