﻿@model List<TaskResult>
@{
    User currentUser = Request.User();
    int index = 0;
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-xl" id="task-results-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Entity.TaskResult
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-results-dialog"><i class="fas fa-times"></i></button>
        </div>

        <div class="modal-body">
            <div class="btn-group btn-tab-group">
                <a class="btn btn-default btn-tab" onclick="GetTable(this);" data-type="my"> @DT.LOCAL.Components.WebMenuItems.My_Tasks</a>
                <a class="btn btn-warning btn-tab" onclick="GetTable(this);" data-type="bookmarked">@DT.LOCAL.Components.WebMenuItems.BookmarkedTasks</a>
                <a class="btn btn-primary btn-tab" onclick="GetTable(this);" data-type="all">@DT.LOCAL.Components.WebMenuItems.All_Tasks</a>
            </div>
        </div>

        <div class="modal-body" style="min-height:400px;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    @foreach (var item in Model.GroupBy(x => x.session_task_id))
                    {
                        SessionTask sessionTask = StaticDB.SessionTasks.GetById(item.Key);
                        sessionTask.Task = StaticDB.Tasks.GetById(sessionTask.task_id);
                        <button class="nav-link@(index == 0?" active":"")" id="tr-@item.Key-tab" data-bs-toggle="tab" data-bs-target="#nav-@item.Key" type="button" role="tab" aria-controls="nav-@item.Key" aria-selected="true">
                            @sessionTask.Task.ToStr()
                            @if (sessionTask.end_time != null)
                            {
                                <br />
                                <small class="text-success">
                                    @Convert.ToDateTime(sessionTask.end_time)
                                </small>
                            }
                        </button>
                        ++index;
                    }
                    @{ 
                        index = 0;
                    }
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                @foreach (var item in Model.GroupBy(x => x.session_task_id))
                {
                    SessionTask sessionTask = StaticDB.SessionTasks.GetById(item.Key);
                    sessionTask.Task = StaticDB.Tasks.GetById(sessionTask.task_id);
                    <div class="tab-pane fade@(index == 0?" show active":"")" id="nav-@item.Key" role="tabpanel" aria-labelledby="nav-@item.Key-tab">
                        <table class="cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                            <thead>
                                <tr>
                                    <th>@DT.LOCAL.Components.Labels.Student</th>
                                    @if (currentUser.role_id == 1 || currentUser.role_id == 2)
                                    {
                                        <th>@DT.LOCAL.Objects.Columns.assigned_by</th>
                                    }
                                    <th>@DT.LOCAL.Objects.Columns.started_date</th>
                                    <th>@DT.LOCAL.Objects.Columns.completed_date</th>
                                    <th>@DT.LOCAL.Objects.Columns.task_answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TaskResult taskResult in item)
                                {
                                    <tr>
                                        <td>@StaticDB.Users.GetById(taskResult.student_id).ToStr()</td>
                                        @if (currentUser.role_id == 1 || currentUser.role_id == 2)
                                        {
                                            <td>@StaticDB.Users.GetById(taskResult.teacher_id).ToStr()</td>
                                        }
                                        <td>@taskResult.start_time</td>
                                        @if (taskResult.finish_time == null)
                                        {
                                            <td><span class="badge badge-warning">Continue</span></td>
                                        }
                                        else
                                        {
                                            <td>@Convert.ToDateTime(taskResult.finish_time)</td>
                                        }
                                        <td>
                                            @if (!string.IsNullOrEmpty(taskResult.completion_result))
                                            {

                                                <a href="#" data-url="@Url.Action("ShowAnswer","TaskResultManagement", new { id = taskResult.id })" data-modal="#answer-modal" onclick="PartialShow(this)">
                                                    <span class="badge badge-primary">Answer</span>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    ++index;
                }
            </div>
        </div>
    </div>
</div>
<div class="modal" id="answer-modal"></div>
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script>
    var datatable = $('.task-results-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                buttons: [
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'p',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                                key: {
                                    key: 'c',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'x',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'r',
                                    altKey: true
                                }
                            }
                        ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
</script>

