﻿@model List<SessionTask>
@{
    ViewBag.Title = "Assignment History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
    List<SessionTaskParticipant> participants = new List<SessionTaskParticipant>();
    using (Repository<SessionTaskParticipant> Repository = new Repository<SessionTaskParticipant>())
    {
        participants = Repository.MultiSelectByQuery(s => s.is_active).ToList();
    }
    participants.ForEach(s => s.User = StaticDB.Users.GetById(s.participant_id));
}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <style>
        thead input {
            width: 100%;
        }

        .filters.th:nth-child(0).input {
            display: none;
        }
    </style>
}
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" id="assignments-table" style="width:100% !important;">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Assigned By
                            </th>
                            <th>
                                Participants
                            </th>
                            <th>
                                Planned Start
                            </th>
                            <th>
                                Planned End
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SessionTask sessionTask in Model.Where(x => x.is_active))
                        {
                            _Task task = StaticDB.AllTasks.GetById(sessionTask.task_id);
                            if (task == null)
                            {
                                continue;
                            }
                            var taskParticipants = participants.Where(x => x.session_task_id == sessionTask.id && x.is_active).ToList();
                            User Assigner = StaticDB.Users.GetById(sessionTask.created_by);
                        <tr>
                            <td class="project-actions text-right">
                                <div class="btn-group-sm btn-group">
                                    @if (sessionTask.start_time != null)
                                    {
                                        <a class="btn btn-success" href="#" data-toggle="tooltip" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskResultManagement",new {session_task_id=sessionTask.id })" title="Results">
                                            <i class="fas fa-list"></i>
                                        </a>
                                    }

                                    <a class="btn btn-primary" href="#" data-toggle="tooltip" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskManagement",new {id=sessionTask.task_id })" title="Details">
                                        <i class="fas fa-info"></i>
                                    </a>
                                    @if (sessionTask.created_by == current_user.id || sessionTask.start_time == null || current_user.role_id == 1 || current_user.role_id == 2)
                                    {
                                        <a class="btn btn-danger" href="#" data-toggle="tooltip" data-id="@sessionTask.id" title="Delete" onclick="DeleteSessionTask(this);">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    }
                                </div>

                            </td>
                            <td>
                                <a>
                                    @task.title.ToStr()
                                </a>
                                <br />
                                <small>
                                    @sessionTask.planned_start_time.ToStr()
                                </small>
                            </td>
                            <td>
                                <a href="@Url.Action("Details","UserManagement",new {id=sessionTask.created_by })" target="_blank">
                                    @Assigner.ToStr()
                                </a>
                            </td>
                            <td>
                                <div class="card-body table-responsive p-0" style="height: 100px;">
                                    <table class="table table-head-fixed">
                                        <tbody>
                                            @foreach (SessionTaskParticipant sessionTaskParticipant in taskParticipants)
                                            {
                                                <tr>
                                                    <td>@sessionTaskParticipant.User.ToStr()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td data-order="@(sessionTask.planned_start_time == null?"0":Convert.ToDateTime(sessionTask.planned_start_time).Ticks.ToStr())">
                                @sessionTask.planned_start_time.ToString("dd.MM.yyyy, HH:mm")
                            </td>
                            <td data-order="@(sessionTask.planned_end_time == null?"0":Convert.ToDateTime(sessionTask.planned_end_time).Ticks.ToStr())">
                                @sessionTask.planned_end_time.ToString("dd.MM.yyyy, HH:mm")
                            </td>
                            <td class="project-state">
                                @if (sessionTask.start_time == null)
                                {
                                    <span class="badge badge-primary">Planned</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">Completed</span>
                                }
                            </td>
                            <td data-order="@(sessionTask.start_time == null?"0":Convert.ToDateTime(sessionTask.start_time).Ticks.ToStr())">
                                @(sessionTask.start_time == null?"-":Convert.ToDateTime(sessionTask.start_time).ToString("dd.MM.yyyy, HH:mm"))
                            </td>
                            <td data-order="@(sessionTask.end_time == null?"0":Convert.ToDateTime(sessionTask.end_time).Ticks.ToStr())">
                                @(sessionTask.end_time == null?"-":Convert.ToDateTime(sessionTask.end_time).ToString("dd.MM.yyyy, HH:mm"))
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section scripts{

    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        // Setup - add a text input to each footer cell
        $(document).ready(function () {
            $('#assignments-table thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('#assignments-table thead');
            var datatable = $('#assignments-table').DataTable({
                'responsive': true,
                'autoWidth': false,
                'rowReorder': true,
                'ordering': true,
                'order': [[8, 'desc']],
                'paging': true,
                'searching': true,
                'info': false,
                'pageLength': 10,
                'orderCellsTop': true,
                'fixedHeader': true,
                'dom': 'Bfrtip',
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                },
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    }
                ],
                'columnDefs': [
                    { width: "80px", targets: [0] },
                    { width: "200px", targets: [3] }
                ],
                'initComplete': function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            if (colIdx == 0)
                                return;
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text().trim();
                            $(cell).html('<input type="text" class="text-center" placeholder="' + title + '" />').addClass('text-center');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', this.value)
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                }
            });

            datatable.columns().every(function () {
                var dataTableColumn = this;

                $(this.footer()).find('input').on('keyup change', function () {
                    dataTableColumn.search(this.value).draw();
                });
            });
        });
    </script>
    <script>
        function DeleteSessionTask(elm) {

            var id = $(elm).data('id');
            var url = '@Url.Action("Delete", "SessionManagement")' + '?id=' + id;
             $.confirm({
                    title: 'Confirmation',
                    content: '',
                    buttons: {
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                location.href = url;
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
    </script>
}