﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-body">
        <table class="cell-border display table-bordered table-responsive responsive" id="task-results-table" style="width:100% !important;">
            <thead>
                <tr>
                    <th>@DT.LOCAL.Components.Labels.Student</th>
                    <th>@DT.LOCAL.Objects.Entity._Task</th>
                    <th>@DT.LOCAL.Objects.Columns.assigned_by</th>
                    <th>@DT.LOCAL.Objects.Columns.started_date</th>
                    <th>@DT.LOCAL.Objects.Columns.completed_date</th>
                    <th>@DT.LOCAL.Objects.Columns.task_answer</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            $('#task-results-table').DataTable({
                'processing': true,
                'serverSide': true,
                'responsive': true,
                'autoWidth': false,
                'ajax': {
                    'url': '@Url.Action("GetList", "TaskResultManagement")',
                    'method': 'POST'
                },
                'columns': [
                    { 'data': 'Student' },
                    {
                        'data': function (data) {
                            return '<span class="text-truncate">' + (data.Task != null && data.Task.title != null ? data.Task.title : '<span class="disabled">[DELETED TASK]</span>') + '</span>';
                        }
                    },
                    { 'data': 'Teacher' },
                    { 'data': 'StartDate' },
                    { 'data': 'FinishDate' },
                    {
                        'data': function (data) {
                            return '<span class="text-truncate" title="' + data.completion_result +'">' + data.completion_result + '</span>';
                        }
                    },
                ],
                'rowReorder': true,
                'ordering': true,
                'order': [[1, 'desc']],
                'paging': true,
                'searching': true,
                'info': false,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });
    </script>
}

