﻿@model List<ClassStudent>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User current_user = Request.User();
    string cls = "";
    if (current_user.role_id == 3 || current_user.role_id == 4)
    {
        cls = "hidden";
    }
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
            </div>

            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                    <thead>

                        <tr>

                            @if (cls == "")
                            {
                                <th></th>
                            }
                            <th>@DT.LOCAL.Objects.Entity._Class</th>
                            <th>@DT.LOCAL.Objects.Columns.mail</th>
                            <th>@DT.LOCAL.Objects.Columns.name</th>
                            <th>@DT.LOCAL.Objects.Columns.lastname</th>
                            <th>@DT.LOCAL.Objects.Columns.ui_language</th>
                            <th>@DT.LOCAL.Objects.Columns.birth_date</th>
                            <th>@DT.LOCAL.Objects.Columns.target_proficiency_level</th>
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ClassStudent student in Model)
                        {

                        <tr>
                            @if (cls == "")
                            {
                                <td>
                                    <button class="btn btn-default" type="button" data-id="@student.id" onclick="ShowMenu(this)">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </td>
                            }
                            <td>@student.Class.title</td>
                            <td>@student.User.mail.ToStr()</td>
                            <td>@student.User.name.ToStr()</td>
                            <td>@student.User.lastname.ToStr()</td>
                            @if (student.User.ui_language.ToStr().Equals("en"))
                            {
                                <td>English</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td data-order="@(student.User.birth == null?"0":Convert.ToDateTime(student.User.birth).Ticks.ToStr())">@(student.User.birth == null?"-":Convert.ToDateTime(student.User.birth).ToString("dd.MM.yyyy"))</td>
                            <td>@student.User.proficiency_level.ToStr()</td>
                            <td data-order="@student.created_date.Ticks.ToStr()">@student.created_date.ToString("dd.MM.yyyy, HH:mm")</td>


                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</div>

<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@DT.LOCAL.Components.Labels.Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <a href="#"
                   data-modal="#partial-modal"
                   onclick="PartialShow(this)"
                   class="btn btn-default btn-block hover-orange btn-edit">
                    <i class="fa fa-pencil-alt"></i> @DT.LOCAL.Components.Buttons.Edit
                </a>
                <a href="#"
                   class="btn btn-danger btn-block btn-delete">
                    <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            var datatable = $('.index-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                'columnDefs': [
                    { width: "250px", targets: [1, 2] }
                ],
                buttons: [

                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'p',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                                key: {
                                    key: 'c',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'x',
                                    altKey: true
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@ViewBag.Title',
                                key: {
                                    key: 'r',
                                    altKey: true
                                }
                            }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });

    </script>
    <script>
        function ShowMenu(elm) {
            var id = $(elm).data('id');
            $('#menu-modal .btn-edit').data('url', '@Url.Action("AddUpdate","UserManagement")/' + id);
            $('#menu-modal .btn-delete').click(function() {
                ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete")/' + id);
            });
            $('#menu-modal').modal();
        }
    </script>
}
