﻿
@model List<ClassStudent>

<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-lg" id="class-student-edit-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @DT.LOCAL.Objects.Entity.ClassStudent
            </h4>
            <button type="button" class="close"  onclick="CloseModal(this)" data-target="#class-student-edit-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="card">
                <div class="card-header border-transparent">
                    <div class="card-body p-0">
                        <table class="index-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                            <thead>
                                <tr>
                                    <th>@DT.LOCAL.Objects.Columns.mail</th>
                                    <th>@DT.LOCAL.Objects.Columns.name</th>
                                    <th>@DT.LOCAL.Objects.Columns.lastname</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (ClassStudent classStudent in Model)
                                {

                                    <tr>
                                        <td>@classStudent.User.mail</td>
                                        <td>@classStudent.User.name</td>
                                        <td>@classStudent.User.lastname</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" onclick="CloseModal(this)" data-target="#class-student-edit-dialog" class="btn btn-success">@DT.LOCAL.Components.Buttons.Ok</button>
        </div>
    </div>
</div>


@Html.Partial("_DatatableScripts")
<script>
        function CreateNew() {
            ShowPartial('@Url.Action("AddUpdate","ClassManagement", new {id=ViewBag.ClassId, just_student = true })', $('.btn-create-new'))
        }
</script>