﻿@model _Class
<div class="modal-dialog" id="class-edit-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            @if (!ViewBag.JustStudent)
            {
                <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateClass: DT.LOCAL.Components.Labels.EditClass)</h4>
            }
            else
            {
                <h4 class="modal-title">
                    Add Student
                </h4>
            }

            <button type="button" class="close" onclick="CloseModal(this)" data-target="#class-edit-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            <div class="form-group">
                <label for="title">@DT.LOCAL.Components.Labels.Title</label>
                @Html.TextBoxFor(m => m.title, new { @class = "form-control", id = "class-title" })
            </div>
            <div class="form-group">
                <label>@DT.LOCAL.Objects.Columns.details</label>
                @Html.TextAreaFor(m => m.details, new { @class = "form-control", id = "class-details", rows = "3" })
            </div>
            @*<div class="form-group">
                <label for="maxStudentLimit">@DT.LOCAL.Components.Labels.MaxStudentLimit</label>
                @Html.TextBoxFor(m => m.max_student_limit, "{0:N0}", new { @class = "form-control", type = "number", id = "class-max_student_limit" })
            </div>*@
            <div class="form-group">
                <label>@DT.LOCAL.Objects.Tables.ClassStudents</label>
                @Html.ListBoxFor(M => M.students, new MultiSelectList(Model.ClassStudents, "student_id", "Student"), new { @class = "form-control", multiple = "multiple", id = "class-student", style = "width: 100%" })
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#class-edit-dialog">@DT.LOCAL.Components.Buttons.Cancel</button>
                <button type="button" id="btn-save-class" class="btn btn-success" onclick="Save();">@DT.LOCAL.Components.Buttons.Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    var entity = @Html.Raw(Model.ToJson());
    if (entity.id != 0) {
        $('#class-student').val(entity.students);
        $('#class-student').trigger('change');
    }
    $(function () {
        jQuery('#class-student').select2({
            allowClear: true,
            placeholder: PleaseChoose[Credentials.Language.iso_code],
            language: Credentials.Language.iso_code,
            ajax: {
                url: '@Url.Action("GetStudents","StudentManagement")',
                data: function (params) {
                    var query = {
                        search: params.term
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                dataType: 'json'
            }
        }).on('select2:select', function (e) {

            @*var maxLimit = parseInt($('#class-max_student_limit').val());

            if (!maxLimit)
                maxLimit = parseInt(entity.max_student_limit);
            console.log('Max Limit : ' + maxLimit);
            var stuCount = $('#class-student').val().length;
            console.log('Student Count : ' + stuCount);

            if (stuCount > maxLimit)
                ShowInfo('@DT.LOCAL.Messages.Warnings.SelectedStudentsCountOnLimit', '@DT.LOCAL.Messages.Warnings.DialogTitle');*@
        }).trigger('change');
    });

    function Save() {

        entity.title = $('#class-title').val();
        entity.details = $('#class-details').val();
        entity.teacher_id = @Model.teacher_id;
        entity.students = $('#class-student').val();
        console.info(entity);
        if (!entity.title) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else {
            if (isPartialContinue) {
                alert("Previous request is being continued. Please wait...");
                return;
            }
            var btnContent = $('#btn-save-class').html();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "ClassManagement")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                success: function (data) {
                    if (data['Result']) {
                        location.reload();
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                beforeSend: function () {
                    isPartialContinue = true;
                    $('body').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                    $('#btn-save-class').html('<i class="fas fa-sync-alt fa-spin"></i>');
                },
                complete: function () {
                    isPartialContinue = false;
                    $('body.overlay').fadeOut(250, function () {
                        $(this).remove();
                    });
                    $('#btn-save-class').html(btnContent);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
    }
</script>
