﻿@model _Class
<div class="modal-dialog" id="cluster-edit-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                Clustering Options
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#cluster-edit-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label>Number of Clusters</label>
                <input class="form-control" type="number" step="1" min="1" id="clusters-count" onfocus="$('#cluster-size').val('')" value="@Model.Clusters.Count()" autofocus />
            </div>
        </div>
        <div class="modal-body text-center">
            <strong class="text-center w-100">
                OR
            </strong>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Number of Students per cluster</label>
                <input class="form-control" type="number" step="1" min="1" id="cluster-size" onfocus="$('#clusters-count').val('')" />
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#cluster-edit-dialog">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="button" id="btn-save-cluster" class="btn btn-success" onclick="Create();">@DT.LOCAL.Components.Buttons.Create</button>
        </div>
    </div>
</div>
<script>
    function Create() {
        if (isPartialContinue) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
            return;
        }
        var model = {
            id : @Model.id,
            type: "",
            value: 0
        }
        var clustersCount = $('#clusters-count').val();
        var clusterSize = $('#cluster-size').val();
        if (!clustersCount && !clusterSize)
            return;
        if (clustersCount =='' && clusterSize == '')
            return;
        if (clustersCount) {
            model.type = 'byCount';
            model.value = parseInt(clustersCount);
        } else {
            model.type = 'bySize';
            model.value = parseInt(clusterSize);
        }
        var body = $('.class-body[data-id="@Model.id"]');
         $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Clustering", "ClassManagement")',
            data: JSON.stringify(model),
            beforeSend: function () {
                isPartialContinue = true;
                $(body).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
            },
            complete: function () {
                $(body).remove('.overlay');
                isPartialContinue = false;
            },
            success: function (data) {
                $(body).html(data);
                $(PartialModal).modal('toggle');
            }
         });
    }
</script>
