﻿@model _Class
@{
    List<int> classStudentIds = new List<int>();
}
<div class="row">
    @foreach (Cluster cluster in Model.Clusters)
    {
        classStudentIds.AddRange(cluster.ClusterStudents.Select(x => x.class_student_id));
        <div class="col-6 animate__animated animate__bounceIn">
            <div class="info-box cursor-pointer" data-id="@cluster.id" data-range="@cluster.ClusterStudents.Count" data-class-id="@Model.id" onclick="ShowMenu(this)">
                <span class="info-box-icon" style="background-color:@cluster.color_code">
                    <i class="fab fa-buromobelexperte"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">@cluster.title</span>
                    <span class="info-box-number">@cluster.ClusterStudents.Count</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    }
</div>
@{
    var nonClusteredStudents = Model.ClassStudents.Where(x => !classStudentIds.Contains(x.id));
}
@if (nonClusteredStudents.Count() > 0)
{
    <table class="index-table cell-border display table-bordered table-responsive" style="width:100% !important;">
        <thead>

            <tr>
                <th>@DT.LOCAL.Components.Labels.NonClusteredStudents</th>
            </tr>
        </thead>
        <tbody>

            @foreach (ClassStudent classStudent in Model.ClassStudents.Where(x => !classStudentIds.Contains(x.id)))
            {

                <tr>
                    <td>
                        <div class="icheck-primary">
                            <input class="form-control student-check" type="checkbox" id="chk-@Model.id-@classStudent.id" data-class-id="@Model.id" data-id="@classStudent.id" />
                            <label for="chk-@Model.id-@classStudent.id" style="font-weight:400;">
                                @classStudent.Student
                            </label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

