﻿@model List<ClusterStudent>

@{
    User current_user = Request.User();
}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table class="clusterStudents-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
    <thead>
        <tr>
            <th>@DT.LOCAL.Objects.Columns.name</th>
            <th>@DT.LOCAL.Objects.Columns.lastname</th>
            <th>@DT.LOCAL.Objects.Columns.mail</th>
            <th>@DT.LOCAL.Objects.Columns.ui_language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (ClusterStudent clusterStudent in Model)
        {
            <tr data-id="@clusterStudent.id">

                <td>@clusterStudent.ClassStudent.User.name.ToStr()</td>
                <td>@clusterStudent.ClassStudent.User.lastname.ToStr()</td>
                <td>@clusterStudent.ClassStudent.User.mail.ToStr()</td>
                <td>@StaticDB.Languages.GetByIso(clusterStudent.ClassStudent.User.ui_language)</td>
                <td>

                    <button type="button" class="btn btn-tool" data-id="@clusterStudent.id" onclick="Remove(this);">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script>
    var datatable = $('.clusterStudents-table').DataTable({
        'autoWidth': false,
        'ordering': true,
        'order': [[0, 'asc']],
        'paging': false,
        'searching': false,
        'info': false,
        'responsive': true,
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        }
    });
    async function Remove(elm) {
        var id = $(elm).data('id');
        await AddRemove(elm);
        $('tr[data-id="' + id + '"]').fadeOut("slow", function () {
            $(this).remove();
            ++removedCount;
        });
        if (removedCount <= parseInt('@ViewBag.SelectedTasksCount'))
            $(PartialModal).modal('toggle');
    }
</script>