﻿@model _Class
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .bg {
            background: -webkit-linear-gradient(left, #50764f, #53c64f);
            margin-top: 3%;
            padding: 3%;
            border-radius: 2.5rem;
            text-align:center;
        }
        label{
            color:white;
        }
        select {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
            margin-right: 6%;
            margin-left:30px;
            background-color: white;
            color: #405b3e;
            margin-top: 4%;
        }

        option {
            background-color: white;
            color: #405b3e;
        }

        .classButton {
            width: 30%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
            margin-right: 6%;
            background-color: #405b3e;
            color: white;
            margin-top: 4%;
        }

    </style>


}
<div class="container bg">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Task Type</label>
                    <select id="task-type">
                        <option>Please Choose</option>
                        <option value="single">Single</option>
                        <option value="multiple">Multiple</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Task List Type</label>
                    <select id="task-list-type">
                        <option>Please Choose</option>
                        <option value="my">My Tasks</option>
                        <option value="all">All Tasks</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Task List</label>
                    <select id="task-list">
                        <option>Please Choose</option>
                    </select>
                </div>
            }
        </div>
    </div>

    <input type="button" name="publishButton" class="classButton" value="Publish Now" id="btnPublish"/>
    <input type="button" name="schedulePublishButton" 
           class="classButton" 
           value="Schedule Publishing" 
           id="btnSchedule" 
           data-url="@Url.Action("Schedule")" 
           data-modal="#partial-modal"
           onclick="PartialShow(this);"/>
</div>
    @section scripts{
        <script>
        var allTasks = @Html.Raw(ViewBag.AllTasks.ToJson());
        var myTasks = @Html.Raw(ViewBag.MyTasks.ToJson());
        $(function () {
            $('#task-type').change(function () {
                if ($('#task-list').val())
                    if (!confirm('Would you like to change Task Type? All selected tasks will be cleared.'))
                        return;
                $('#task-list').val('');
                if ($(this).val() == 'single')
                    $('#task-list').removeAttr('multiple');
                else
                    $('#task-list').attr('multiple', 'multiple');
            });
            $('#task-list-type').change(function () {
                if ($(this).val() == 'my') {
                    GetTasks(@Request.User().id);
                    //LoadTasks(myTasks);
                } else {
                    GetTasks(0);
                    //LoadTasks(allTasks);
                }
            });
        });

        function LoadTasks(tasks) {
            $('#task-list').html('');
            $('#task-list').append('<option>Please Choose</option>')
            for (var i = 0; i < tasks.length; i++) {
                var id = tasks[i].id;
                var title = tasks[i].title;
                $('#task-list').append('<option value="' + id + '">' + title + '</option>')
            }
        }
        function GetTasks(created_by) {
            jQuery.ajax({
                url: '@Url.Action("GetTasksList","ClassManagement")',
                dataType: 'json',
                beforeSend: function () {

                },
                complete: function () {

                },
                data: {
                    created_by :created_by
                },
                success: function (data) {
                    LoadTasks(data.list);
                },
                error: function (ex) {

                }
            });
        }
        </script>
    }
