﻿@model List<_Class>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
    var classes = Model.ToList();
    if (current_user.role_id != 1 || current_user.role_id != 2)
    {
        classes = Model.Where(x => x.teacher_id == current_user.id).ToList();
    }
}
<style>
    .card-secondary > .card-header > .card-tools > .dropdown-menu a {
        color: black;
    }
</style>
<!-- /.card -->
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">
            @DT.LOCAL.Objects.Tables.Classes
        </h3>
        <div class="card-tools">
            <a href="#"
               class="btn btn-tool hover-orange"
               data-url="@Url.Action("AddUpdate","ClassManagement")"
               data-modal="#partial-modal"
               onclick="PartialShow(this);">
                <i class="fas fa-plus"></i>&nbsp; @DT.LOCAL.Components.Labels.CreateClass
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (_Class _Class in classes)
            {
                int range = _Class.ClassStudents.Count;
                if(_Class.Clusters != null && _Class.Clusters.Count > 0)
                {
                    Cluster cluster = _Class.Clusters.FirstOrDefault();
                    range = cluster.ClusterStudents.Count;
                }
                _Class.range = range;
                <div class="col-4">
                    <!-- Default box -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title text-truncate w-75">
                                @_Class.title
                            </h3>
                            <div class="card-tools">
                                <a href="#"
                                   title="Clusterize"
                                   data-id="@_Class.id"
                                   class="btn btn-tool hidden btn-chk-dependent animate__animated animate__bounceIn"
                                   onclick="Clusterize(this)">
                                    <i class="fas fa-object-group"></i>
                                </a>
                                <a href="#"
                                   title="Delete Students"
                                   data-id="@_Class.id"
                                   class="btn btn-tool hidden btn-chk-dependent animate__animated animate__bounceIn"
                                   onclick="DeleteStudents(this)">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a class="btn btn-tool dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fas fa-bars"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item"
                                       data-assign_id="@_Class.id"
                                       data-assign_table="Class"
                                       data-assign_type="Task"
                                       data-url="@Url.Action("Selector","TaskManagement", new { range = range})"
                                       data-modal="#partial-modal"
                                       onclick="ShowSelector(this);">
                                        <i class="fas fa-tasks"></i>&nbsp;Assign Task
                                    </a>
                                    <a href="#" class="dropdown-item"
                                       data-assign_id="@_Class.id"
                                       data-assign_table="Class"
                                       data-assign_type="Sequence"
                                       data-url="@Url.Action("Selector","SequenceManagement", new { range = range})"
                                       data-modal="#partial-modal"
                                       onclick="ShowSelector(this);">
                                        <i class="fas fa-route"></i>&nbsp;Assign Sequence
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"
                                       data-url="@Url.Action("Index","ClassStudentManagement", new {class_id=_Class.id})"
                                       data-modal="#partial-modal"
                                       onclick="PartialShow(this);">
                                        <i class="fas fa-user-friends"></i>&nbsp;Students List
                                    </a>
                                    <a href="#" class="dropdown-item"
                                       data-url="@Url.Action("AddUpdate","ClassManagement", new {id=_Class.id, just_student = true})"
                                       data-modal="#partial-modal"
                                       onclick="PartialShow(this);">
                                        <i class="fas fa-user-plus"></i>&nbsp;Add Student
                                    </a>
                                    @if (_Class.Clusters.Count > 0)
                                    {
                                        <a href="#" class="dropdown-item"
                                           data-url="@Url.Action("Clustering","ClassManagement", new {id=_Class.id})"
                                           data-modal="#partial-modal"
                                           onclick="PartialShow(this);">
                                            <i class="fas fa-object-ungroup"></i>&nbsp;Recluster
                                        </a>
                                        <a href="#" class="dropdown-item"
                                           data-url="@Url.Action("RemoveClustering","ClassManagement", new {id=_Class.id})"
                                           data-id="@_Class.id"
                                           onclick="RemoveClustering(this);">
                                            <i class="far fa-object-ungroup"></i>&nbsp;Remove Clusters
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="dropdown-item"
                                           data-url="@Url.Action("Clustering","ClassManagement", new {id=_Class.id})"
                                           data-modal="#partial-modal"
                                           onclick="PartialShow(this);">
                                            <i class="fas fa-object-group"></i>&nbsp;Cluster
                                        </a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"
                                       data-url="@Url.Action("AddUpdate","ClassManagement", new {id=_Class.id})"
                                       data-modal="#partial-modal"
                                       onclick="PartialShow(this);">
                                        <i class="fas fa-edit"></i>&nbsp;Edit Class
                                    </a>
                                    <a href="#" class="dropdown-item text-danger"
                                       onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete","ClassManagement",new { id = _Class.id })')">
                                        <i class="fas fa-trash"></i>&nbsp;Delete Class
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body class-body" data-id="@_Class.id">
                            @Html.Partial("_ClassBodyPartial", _Class)
                        </div>
                        <div class="card-footer">
                            <small>
                                @Html.Raw(string.Format("<strong>{0}</strong> : {1}", DT.LOCAL.Objects.Columns.details, _Class.details))
                            </small>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="menu-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#menu-modal-dialog"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            @DT.LOCAL.Objects.Entity.Cluster @DT.LOCAL.Components.Labels.Options
                        </h3>
                        <div class="card-tools">

                            <a href="#" class="btn btn-tool cluster-assignment"
                               data-assign_table="Cluster"
                               data-assign_type="Task"
                               data-baseurl="@Url.Action("Selector","TaskManagement")"
                               data-modal="#partial-modal"
                               onclick="ShowSelector(this);">
                                <i class="fas fa-tasks"></i>&nbsp;Assign Task
                            </a>
                            <a href="#" class="btn btn-tool cluster-assignment"
                               data-assign_table="Cluster"
                               data-assign_type="Sequence"
                               data-baseurl="@Url.Action("Selector","SequenceManagement")"
                               data-modal="#partial-modal"
                               onclick="ShowSelector(this);">
                                <i class="fas fa-route"></i>&nbsp;Assign Sequence
                            </a>
                            <a href="#"
                               title="@DT.LOCAL.Components.Buttons.Edit"
                               data-modal="#partial-modal"
                               onclick="PartialShow(this)"
                               class="btn btn-tool btn-edit">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <a href="#"
                               title="@DT.LOCAL.Components.Buttons.Delete"
                               class="btn btn-tool btn-delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body" id="cluster-students">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade animate__animated animate__fadeIn" id="inner-modal"></div>
@section scripts{
    <script>
        $('.student-check').change(function () {
            var student_id = $(this).data('id');
            var class_id = $(this).data('class-id');
            var checkedCount = $('.student-check[data-class-id="' + class_id + '"]:checked').length;
            if (checkedCount > 0)
                $('.btn-chk-dependent[data-id="' + class_id + '"]').removeClass('hidden');
            else
                $('.btn-chk-dependent[data-id="' + class_id + '"]').addClass('hidden');
        });
        function Clusterize(elm) {
            if (isPartialContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            var class_id = $(elm).data('id');
            var students = [];
            $('.student-check[data-class-id="' + class_id + '"]:checked').each(function(i, item) {
                var student = {
                    student_id: $(item).data('id'),
                    class_id: class_id
                };
                students.push(student);
            });
            console.log('SELECTED STUDENTS : ' + JSON.stringify(students));
            if (students.length > 0) {
                var body = $('.class-body[data-id="' + class_id + '"]');
                $.ajax({
                    type: "POST",
                    cache: false,
                    data: JSON.stringify(students),
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ClusterSelectedStudents", "ClassManagement")/' + class_id,
                    beforeSend: function () {
                        isPartialContinue = true;
                        $(body).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                    },
                    complete: function () {
                        $(body).remove('.overlay');
                        isPartialContinue = false;
                    },
                    success: function (data) {
                        $(body).html(data);
                        location.reload();
                    }
                });
            }
        }
        function DeleteStudents(elm) {
            if (isPartialContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            var class_id = $(elm).data('id');
            var students = [];
            $('.student-check[data-class-id="' + class_id + '"]:checked').each(function(i, item) {
                var student = {
                    student_id: $(item).data('id'),
                    class_id: class_id
                };
                students.push(student);
            });
            console.log('SELECTED STUDENTS : ' + JSON.stringify(students));
            if (students.length > 0) {
                var body = $('.class-body[data-id="' + class_id + '"]');
                $.ajax({
                    type: "POST",
                    cache: false,
                    data: JSON.stringify(students),
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DeleteSelectedStudents", "ClassManagement")/' + class_id,
                    beforeSend: function () {
                        isPartialContinue = true;
                        $(body).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                    },
                    complete: function () {
                        $(body).remove('.overlay');
                        isPartialContinue = false;
                    },
                    success: function (data) {
                        $(body).html(data);
                    }
                });
            }
        }
        function CreateNew() {
            ShowPartial('@Url.Action("AddUpdate", "ClassManagement")', $('.btn-create-new'))
        }
        function RemoveClustering(elm) {
            if (isPartialContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            var url = $(elm).data('url');
            var id = $(elm).data('id');
            $.confirm({
                title: '@DT.LOCAL.Messages.Questions.ApproveTitle',
                theme: 'supervan',
                content: '@DT.LOCAL.Messages.Warnings.DeleteWarning',
                draggable: true,
                dragWindowBorder: false,
                buttons: {

                    cancel: {
                        text: '@DT.LOCAL.Components.Buttons.Cancel',
                        keys: ['esc'],
                        action: function () {

                        }
                    },
                    ok: {
                        text: '@DT.LOCAL.Components.Buttons.Ok',
                        keys: ['enter', 'space'],
                        action: function () {
                            var body = $('.class-body[data-id="' + id + '"]');
                             $.ajax({
                                type: "POST",
                                cache: false,
                                contentType: "application/json; charset=utf-8",
                                 url: url,
                                 beforeSend: function () {
                                     isPartialContinue = true;
                                     $(body).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                                 },
                                 complete: function () {
                                     $(body).remove('.overlay');
                                     isPartialContinue = false;
                                 },
                                success: function (data) {
                                    $(body).html(data);
                                    location.reload();
                                    console.log(data);
                                }
                            });
                        }
                    }
                }
            });
        }
        function ShowMenu(elm) {
            if (isPartialContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            var id = $(elm).data('id');
            var class_id = $(elm).data('class-id');
            var range = $(elm).data('range');
            $('.cluster-assignment').each(function(i, item) {
                $(item).data('url', $(item).data('baseurl') + '?range=' + range);
                $(item).data('assign_id', id);
            })
            $('#menu-modal .btn-edit').data('url', '@Url.Action("AddUpdate", "ClusterManagement")/' + id);
            $('#menu-modal .btn-delete').click(function() {
                if (isPartialContinue) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                    return;
                }
                $.confirm({
                    title: '@DT.LOCAL.Messages.Questions.ApproveTitle',
                    theme: 'supervan',
                    content: '@DT.LOCAL.Messages.Warnings.DeleteWarning',
                    draggable: true,
                    dragWindowBorder: true,
                    buttons: {

                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel',
                            keys: ['esc'],
                            action: function () {

                            }
                        },
                        ok: {
                            text: '@DT.LOCAL.Components.Buttons.Ok',
                            keys: ['enter', 'space'],
                            action: function () {
                                var body = $('.class-body[data-id="' + class_id + '"]');
                                var model = {
                                    id: class_id,
                                    cluster_id: id
                                };
                                $.ajax({
                                    type: "POST",
                                    cache: false,
                                    data: JSON.stringify(model),
                                    contentType: "application/json; charset=utf-8",
                                    url: '@Url.Action("DeleteCluster", "ClassManagement")',
                                    beforeSend: function () {
                                        isPartialContinue = true;
                                        $(body).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                                    },
                                    complete: function () {
                                        $(body).remove('.overlay');
                                        isPartialContinue = false;
                                    },
                                    success: function (data) {
                                        $(body).html(data);
                                        $('#menu-modal').modal('toggle');
                                    }
                                });
                            }
                        }
                    }
                });
            });
            $.ajax({
                type: "POST",
                cache: false,
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetClusterStudents", "ClassManagement")/' + id,
                beforeSend: function () {
                    isPartialContinue = true;
                    $('#cluster-students').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    $('#cluster-students').remove('.overlay');
                    isPartialContinue = false;
                },
                success: function (data) {
                    $('#cluster-students').html(data);
                }
            });
            $('#menu-modal').modal();
        }
        var assign_id=0;
        var assign_table = "Class";
        var assign_type = "Task";

        function ShowSelector(elm) {
            assign_id = $(elm).data('assign_id');
            assign_table = $(elm).data('assign_table');
            assign_type = $(elm).data('assign_type');
            PartialShow(elm);
        }

        function SelectTask(elm) {
            $(PartialModal).modal('toggle');
            var task_id = $(elm).data('task-id');
            if (isPartialContinue) {
                alert("Previous request is being continued. Please wait...");
                return;
            }
            $.ajax({
                url: '@Url.Action("AssignTaskModal","TaskAssignment")',
                data: {
                    id: task_id,
                    assign_id: assign_id,
                    assign_table: assign_table
                },
                beforeSend: function () {
                    isPartialContinue = true;
                    $('body').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    isPartialContinue = false;
                    $('body.overlay').fadeOut(250, function () {
                        $(this).remove();
                    });
                },
                success: function (data) {
                    $('#inner-modal').html(data).modal({ backdrop: 'static', keyboard: false });
                }
            });
        }
        function SelectSequence(elm) {
            $(PartialModal).modal('toggle');
            var sequence_id = $(elm).data('sequence-id');
            if (isPartialContinue) {
                alert("Previous request is being continued. Please wait...");
                return;
            }
            $.ajax({
                url: '@Url.Action("AssignSequenceModal", "TaskAssignment")',
                data: {
                    id: sequence_id,
                    assign_id: assign_id,
                    assign_table: assign_table
                },
                success: function (data) {
                    $('#inner-modal').html(data).modal({ backdrop: 'static', keyboard: false });
                },
                beforeSend: function () {
                    isPartialContinue = true;
                    $('body').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    isPartialContinue = false;
                    $('body.overlay').fadeOut(250, function () {
                        $(this).remove();
                    });
                }
            });
        }
    </script>
}
