﻿@model Material
<div class="modal-dialog modal-xl" id="material-create-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateMaterial: DT.LOCAL.Components.Labels.EditMaterial)</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#material-create-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label>@DT.LOCAL.Objects.Columns.title</label>
                        <input name="title" id="material-title" class="form-control" value="@Model.title.ToStr()" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>@DT.LOCAL.Objects.Columns.material_type</label>
                        <select name="type" id="material-type" class="form-control">
                            <option>@DT.LOCAL.Components.Labels.PleaseChoose</option>
                            @foreach (var item in WebUtils.GetResourcesByType(typeof(DT.LOCAL.Enums.MaterialTypes)))
                            {
                                <option value="@item.Key">
                                    @item.Value
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group" id="body-area">
                        <label>@DT.LOCAL.Objects.Columns.body</label>
                        <textarea id="material-body" name="body" style="height:100%;">@Html.Raw(Model.body)</textarea>
                    </div>
                </div>

                <input id="material-source_link" name="source_link" type="hidden" />
                <input id="material-cc_status" name="cc_status" type="hidden" />
                <input type="hidden" id="material-media_start_time" />
                <input type="hidden" id="material-media_end_time" />
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="button" id="btn-save-company" class="btn btn-success" onclick="Save(true);">@DT.LOCAL.Components.Buttons.Save</button>
        </div>
    </div>
</div>
<div class="modal fade animate__animated animate__fadeIn" id="material-selector"></div>
<script type="text/template" id="video-template">
    <div class="form-group">
        <label>@DT.LOCAL.Components.Labels.YoutubeLinkLabel</label>
        <input class="form-control" id="media-link" autofocus />
    </div>
    <div class="form-group" style="width:48% !important;float:left;">
        <input type="checkbox" onchange="Toggle(this)" data-target="#media-start" /> @DT.LOCAL.Objects.Columns.media_start_time
        <input type="number" step="1" min="0" class="form-control hidden" id="media-start" onchange="ChangeEnd(this);" />
        <label id="media-start-time"></label>
    </div>
    <div class="form-group" style="width:48% !important;float:right;">
        <input type="checkbox" onchange="Toggle(this)" data-target="#media-end" /> @DT.LOCAL.Objects.Columns.media_end_time
        <input type="number" step="1" min="0" class="form-control hidden" id="media-end" onchange="ChangeStart(this);" />
        <label id="media-end-time"></label>
    </div>
</script>
<script type="text/template" id="audio-template">
    <div class="form-group">
        <label>@DT.LOCAL.Components.Labels.SoundcloudLinkLabel</label>
        <small>(Only SoundCloud links are accepted)</small>
        <input class="form-control" id="media-link" />
    </div>
    <div class="form-group">
        <input type="checkbox" onchange="Toggle(this)" data-target="#media-start" /> @DT.LOCAL.Objects.Columns.media_start_time
        <input type="number" step="1" min="0" class="form-control hidden" id="media-start" onchange="ChangeTimeView(this)" />
        <label id="media-start-time"></label>
    </div>
</script>
<script type="text/template" id="image-template">
    <div class="form-group">
        <label>@DT.LOCAL.Components.Labels.ImageLink</label>
        <input class="form-control" id="image-link" />
    </div>
</script>
<script type="text/template" id="source-template">
    <div class="form-group">
        <label>@DT.LOCAL.Objects.Columns.source_link</label>
        <input class="form-control" id="source-link" />
    </div>
</script>
<script type="text/template" id="cc-template">
    <div class="form-group">
        <label>Copyright Status</label>
        <select name="cc_status" id="media-cc_status" class="form-control">
            <option>Please Choose</option>
            <option value="BY">
                CC BY
            </option>
            <option value="BY_NC">
                CC BY-NC
            </option>
            <option value="BY_NC_SA">
                CC BY-NC-SA
            </option>
            <option value="BY_SA">
                CC BY-SA
            </option>
            <option value="CC0">
                CC ZERO (No Copyright)
            </option>
        </select>
    </div>
</script>
<script>
    $(function () {
        if (@Model.id == 0) {
            $('#material-cc_status').val('BY_NC');
            $('#material-source_link').val('Original');
        }
        $('#material-body').summernote({
            height: 500,
            dialogsInBody: true,
            toolbar: [
                ['file',['undo','redo','save']],
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['view', ['fullscreen', 'codeview', 'preview']],
                ['insert', ['link','addsource', 'insertmaterial', 'insertimage', 'insertvideo', 'insertaudio', 'hr']]
            ],

            buttons: {
                save: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="far fa-save"></i>',
                        tooltip: 'Save',
                        click: function () {
                            Save();
                        }
                    });

                    return button.render();
                },
                preview: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="far fa-eye"></i>',
                        tooltip: 'Preview',
                        click: function () {
                            $.confirm({
                                title: '@DT.LOCAL.Components.Labels.Preview',
                                content: $("#material-body").val(),
                                columnClass: 'col-md-12',
                                theme: 'material',
                                buttons: {
                                    '@DT.LOCAL.Components.Buttons.Ok': function () {

                                    }
                                }
                            });
                        }
                    });

                    return button.render();
                },
                addsource: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="fab fa-stripe-s"></i>',
                        tooltip: 'Add Source',
                        click: function () {
                            $.confirm({
                                title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                content: $('#source-template').html() + $('#cc-template').html(),
                                buttons: {
                                    '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                    },
                                    'Original Text': {
                                        btnClass: 'btn-orange',
                                        action: function () {
                                            $('#material-cc_status').val('BY_NC');
                                            $('#material-source_link').val('Original');
                                            $('#material-type').val('Text');
                                        }
                                    },
                                    '@DT.LOCAL.Components.Buttons.Ok': {
                                        btnClass: 'btn-primary',
                                        action: function () {
                                            var source_link = this.$content.find('input#source-link').val();
                                            var cc_status = this.$content.find('select#media-cc_status').val();

                                            var sourceDiv = document.createElement('div');
                                            sourceDiv.classList.add('source-link');
                                            sourceDiv.setAttribute('style', 'text-align: center;');
                                            $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                            sourceDiv.appendChild(GetCC(cc_status));
                                            context.invoke('editor.insertNode', sourceDiv);
                                            $('#material-type').val('Text');
                                            $('#material-source_link').val(source_link);
                                            console.log(context);
                                        }
                                    }
                                }
                            });
                        }
                    });

                    return button.render();
                },
                insertmaterial: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="fas fa-folder-plus"></i>',
                        tooltip: 'Add Another Material',
                        click: function () {
                            $.ajax({
                                url: '@Url.Action("Selector", "MaterialManagement")',
                                success: function (data) {
                                    $('#material-selector').html(data).modal({ backdrop: 'static', keyboard: false });
                                },
                                complete: function () {
                                    isPartialContinue = false;
                                },
                            });
                        }
                    });

                    return button.render();
                },
                insertvideo: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="fas fa-video"></i>',
                        tooltip: 'Insert Video',
                        click: function () {
                            $.confirm({
                                title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                content: $('#video-template').html(),
                                buttons: {
                                    '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                    },
                                    '@DT.LOCAL.Components.Buttons.Ok': {
                                        btnClass: 'btn-orange',
                                        action: function () {
                                            var media_link = this.$content.find('input#media-link').val();
                                            var media_start = this.$content.find('input#media-start').val();
                                            var media_end = this.$content.find('input#media-end').val();
                                            var cc_status = 'BY_NC';
                                            var YT_ID = YoutubeIdParser(media_link);
                                            if (!YT_ID) {
                                                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.EnterValidYoutubeURL', '@DT.LOCAL.Components.Buttons.Ok');
                                                return;
                                            }

                                            $.ajax({
                                                type: "POST",
                                                url: '@Url.Action("CheckYoutubeLicence", "MaterialManagement")',
                                                data: {
                                                    video_id: YT_ID
                                                },
                                                success: function (data) {
                                                    if (data.Result) {
                                                        var source_link = 'https://www.youtube.com/embed/' + YT_ID + '?start=' + media_start;
                                                        if (media_end != 0)
                                                            source_link += '&end=' + media_end;
                                                        source_link += '&rel=0';

                                                        $('#material-source_link').val(media_link);
                                                        $('#material-media_start_time').val(media_start);
                                                        $('#material-media_end_time').val(media_end);


                                                        var div = document.createElement('div');
                                                        div.classList.add('material-body-content');
                                                        div.setAttribute('style', 'text-align: center;');
                                                        var iframe = document.createElement('iframe');
                                                        iframe.src = source_link;
                                                        iframe.setAttribute('frameborder', 0);
                                                        iframe.setAttribute('width', '640');
                                                        iframe.setAttribute('height', '360');
                                                        iframe.setAttribute('class', 'material-body-video');
                                                        div.appendChild(iframe);
                                                        var sourceDiv = document.createElement('div');
                                                        sourceDiv.classList.add('source-link');
                                                        sourceDiv.setAttribute('style', 'text-align: center;');
                                                        $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                        div.appendChild(GetCC(cc_status));
                                                        div.appendChild(sourceDiv);
                                                        $('#material-source_link').val(source_link);
                                                        context.invoke('editor.insertNode', div);

                                                        $('#material-type').val('Video');
                                                    } else {
                                                        $.alert(data.Message)
                                                    }

                                                },
                                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', 'Video CC status could not be checked!', '@DT.LOCAL.Components.Buttons.Ok');
                                                },
                                                complete: function () {

                                                }
                                            });

                                        }
                                    }
                                }
                            });
                        }
                    });

                    return button.render();
                },
                insertaudio: function (context) {
                    var ui = $.summernote.ui;
                    var button = ui.button({
                        contents: '<i class="fas fa-volume-up"></i>',
                        tooltip: 'Insert Audio',
                        click: function () {
                            $.confirm({
                                title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                content: $('#audio-template').html() + $('#cc-template').html(),
                                buttons: {
                                    '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                    },
                                    '@DT.LOCAL.Components.Buttons.Ok': {
                                        btnClass: 'btn-orange',
                                        action: function () {
                                            var media_link = this.$content.find('input#media-link').val();
                                            var media_start = this.$content.find('input#media-start').val();
                                            var cc_status = this.$content.find('select#media-cc_status').val();

                                            var source_link = 'https://w.soundcloud.com/player/?url=' + media_link;
                                            if (media_start != 0) {
                                                var dt = new Date(media_start * 1000).toISOString().substr(14, 5).replace('-', ':');
                                                source_link += '#t=' + dt;
                                            }

                                            $('#material-source_link').val(media_link);
                                            $('#material-media_start_time').val(media_start);


                                            var div = document.createElement('div');
                                            div.classList.add('material-body-content');
                                            div.setAttribute('style', 'text-align: center;');
                                            var iframe = document.createElement('iframe');
                                            iframe.src = source_link;
                                            iframe.setAttribute('frameborder', 0);
                                            iframe.setAttribute('width', '100%');
                                            iframe.setAttribute('class', 'material-body-audio');
                                            div.appendChild(iframe);
                                            var sourceDiv = document.createElement('div');
                                            sourceDiv.classList.add('source-link');
                                            sourceDiv.setAttribute('style', 'text-align: center;');
                                            $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                            div.appendChild(GetCC(cc_status));
                                            div.appendChild(sourceDiv);
                                            $('#material-source_link').val(source_link);
                                            context.invoke('editor.insertNode', div);

                                            $('#material-type').val('Audio');
                                        }
                                    }
                                }
                            });
                        }
                    });
                    return button.render();
                },
                insertimage: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-image"></i>',
                            tooltip: 'Insert Image',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content: $('#image-template').html() + $('#cc-template').html(),
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var image_link = this.$content.find('input#image-link').val();
                                                var cc_status = this.$content.find('select#media-cc_status').val();
                                                var cc_status_value = this.$content.find('select#media-cc_status option:selected').text();
                                                if (!image_link)
                                                    return;

                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var a = document.createElement('a');
                                                a.href = image_link;
                                                a.setAttribute('data-toggle', 'lightbox');
                                                a.setAttribute('data-type', 'image');
                                                a.setAttribute('data-gallery', 'material-image');
                                                if (cc_status_value)
                                                    a.setAttribute('data-title', cc_status_value);
                                                var img = document.createElement('img');
                                                img.src = image_link;
                                                img.setAttribute('class', 'material-body-image');
                                                img.setAttribute('class', 'img-responsive');
                                                a.appendChild(img);
                                                div.appendChild(a);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + image_link + '" target="_blank"><strong>SOURCE : </strong>' + image_link + '</a>');
                                                $('#material-source_link').val(image_link);
                                                div.appendChild(GetCC(cc_status));
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    }
            }
        });

        if ('@Model.id' != '0') {
            $('#material-title').html('@Model.title');
            $('#material-type').val('@Model.type');
            $('#material-source_link').val('@Model.source_link');
            $('#material-cc_status').val('@Model.cc_status');
            $('#material-media_start_time').val('@Model.media_start_time');
            $('#material-media_end_time').val('@Model.media_end_time');
        }
    });
    function SelectMaterial(elm) {
        var material_id = $(elm).data('id');
        $.ajax({
            url: '@Url.Action("GetMaterialBody","MaterialManagement")',
            data: {
                material_id: material_id
            },
            success: function (data) {
                var material_body = document.createElement('div');
                $(material_body).html(data);
                $('#material-body').summernote('editor.insertNode', material_body);
                $('#material-selector').modal('hide');
            }
        });
    }
    function GetCC(cc_status) {
        var ccDiv = document.createElement('div');
        ccDiv.classList.add('cc-status-div');
        ccDiv.setAttribute('style', 'text-align: center;');
        $('#material-cc_status').val(cc_status);
        if (!cc_status)
            return ccDiv;
        switch (cc_status)
        {
            case "BY":
                $(ccDiv).html('<img src="@Url.Content("~/Content/img/CCs/by.svg")" alt="' + cc_status + '" class="cc-status-img" />');
                break;
            case "BY_NC":
                $(ccDiv).html('<img src="@Url.Content("~/Content/img/CCs/by-nc.eu.svg")" alt="' + cc_status + '" class="cc-status-img" />');
                break;
            case "BY_NC_SA":
                $(ccDiv).html('<img src="@Url.Content("~/Content/img/CCs/by-nc-sa.eu.svg")" alt="' + cc_status + '" class="cc-status-img" />');
                break;
            case "BY_SA":
                $(ccDiv).html('<img src="@Url.Content("~/Content/img/CCs/by-sa.svg")" alt="' + cc_status + '" class="cc-status-img" />');
                break;
            case "CC0":
                $(ccDiv).html('<img src="@Url.Content("~/Content/img/CCs/cc-zero.svg")" alt="' + cc_status + '" class="cc-status-img" />');
                break;
            default:
                break;
        }
        return ccDiv;
    }
    function ChangeEnd(elm) {
        var value = $(elm).val();
        $('#media-end').attr('min', value);
        if (value) {
            $('#media-start-time').html(parseInt($(elm).val()).toHHMMSS());
        }
    }
    function ChangeStart(elm) {
        var value = $(elm).val();
        $('#media-start').attr('max', value);
        if (value) {
            $('#media-end-time').html(parseInt($(elm).val()).toHHMMSS());
        }
    }
    function ChangeTimeView(elm) {
        var value = $(elm).val();
        if (value) {
            $('#media-start-time').html(parseInt($(elm).val()).toHHMMSS());
        }
    }
    function Toggle(elm) {
        var target = $(elm).data('target');
        $(target).toggleClass('hidden');
    }
    function Save(then) {
        var entity = {
            'id':@Model.id,
            'title': $('#material-title').val(),
            'type': $('#material-type').val(),
            'body': $('#material-body').val(),
            'media_start_time': $('#material-media_start_time').val(),
            'media_end_time': $('#material-media_end_time').val(),
            'source_link': $('#material-source_link').val(),
            'cc_status': $('#material-cc_status').val(),
            'created_date': '@Model.created_date.ToString("yyyy-MM-dd HH:mm:ss")',
            'created_by': @Model.created_by,
            'is_active': true
        };
        if (!entity.title) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.type) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.type)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.body) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.body)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.source_link) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.source_link)', '@DT.LOCAL.Components.Buttons.Ok');
            GetSourceLink();
        }
        else if (!entity.cc_status) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.cc_status)', '@DT.LOCAL.Components.Buttons.Ok');
            GetSourceLink();
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "MaterialManagement")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                beforeSend: function () {
                    $('#body-area').prepend('<i class="fa fa-spinner fa-spin" id="body-spinner"></i>');
                },
                success: function (data) {
                    if (data['Result']) {
                        toastr.success('Successfully Saved!')
                        if (then)
                            CloseThis();
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                },
                complete: function () {
                    $('#body-spinner').fadeOut(250, function () {
                        $(this).remove();
                    });
                }
            });
        }

    }
    function CloseThis() {
        $(PartialModal).modal('toggle');
    }
    function GetSourceLink() {
        $.confirm({
            title: 'Requirements',
            content: $('#source-template').html() + $('#cc-template').html(),
            buttons: {
                '@DT.LOCAL.Components.Buttons.Cancel': function () {

                },
                '@DT.LOCAL.Components.Buttons.Ok': {
                    btnClass: 'btn-orange',
                    action: function () {
                        var source_link = this.$content.find('input#source-link').val();
                        var cc_status = this.$content.find('select#media-cc_status').val();
                        if (!source_link || !cc_status)
                            return;
                        $('#material-source_link').val(source_link);
                        $('#material-cc_status').val(cc_status);
                        Save();
                    }
                }
            },
            onContentReady: function () {
                if ($('#material-source_link').val())
                    this.$content.find('input#source-link').val($('#material-source_link').val());
                if ($('#material-cc_status').val())
                    this.$content.find('select#media-cc_status').val($('#material-cc_status').val());
            }
        });
    }
</script>
