﻿@model Material
<div class="card card-primary card-outline">
    <!-- Modal Header -->
    <div class="card-header">
        <h4 class="card-title">@Model.title </h4>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- Modal body -->
    <div class="card-body">
        @Html.Raw(Model.body)
    </div>
</div>