﻿@model Material
@{

    var bookmarkers = Model.BookmarkedMaterials.Select(x => x.User).ToList();
    var tasks = Model.TaskMaterials.Select(x => x.Task).ToList();
    bool noRelation = bookmarkers.Count == 0 && tasks.Count == 0;
}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
}
<div class="modal-dialog @(noRelation?"":"modal-xl")" id="material-related-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">DATA RELATIONS OF THIS MATERIAL</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#material-related-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            @if (noRelation)
            {
                <p>
                    There is no data relation of this material.
                </p>
            }
            else
            {

                <ul class="nav nav-tabs" role="tablist">
                    @{
                        string tabActive = "active";
                    }
                    @if (bookmarkers.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="bookmarkers-tab" data-toggle="pill" href="#bookmarkers" type="button" role="tab" aria-controls="bookmarkers" aria-selected="true">BOOKMARKERS</a>
                        </li>
                        tabActive = "";
                    }
                    @if (tasks.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="material-tasks-tab" data-toggle="pill" href="#material-tasks" type="button" role="tab" aria-controls="material-tasks" aria-selected="false">TASKS</a>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    @{
                        string contentActive = "active";
                    }
                    @if (bookmarkers.Count > 0)
                    {
                        <div class="tab-pane @contentActive" id="bookmarkers" role="tabpanel" aria-labelledby="bookmarkers-tab">
                            @Html.Partial("_UsersTable", bookmarkers)
                        </div>
                        contentActive = "";
                    }
                    @if (tasks.Count > 0)
                    {
                <div class="tab-pane @contentActive" id="material-tasks" role="tabpanel" aria-labelledby="material-tasks-tab">
                    <table class="index-table cell-border display table-bordered table-responsive responsive" id="tasks-table" style="width:100% !important;">
                        <thead>

                            <tr>
                                <th>@DT.LOCAL.Objects.Columns.deleted_date</th>
                                <th>@DT.LOCAL.Objects.Columns.task_type</th>
                                <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                                <th>@DT.LOCAL.Objects.Columns.title</th>
                                <th>@DT.LOCAL.Objects.Columns.adapted_by</th>
                                <th>@DT.LOCAL.Objects.Columns.original_designer</th>
                                <th>@DT.LOCAL.Objects.Columns.institution</th>
                                <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                                <th>@DT.LOCAL.Objects.Columns.created_date</th>
                                <th>@DT.LOCAL.Objects.Columns.publish_date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (_Task task in tasks)
                            {
                                <tr>
                                    <td>
                                        @task.modified_date.ToString("dd.MM.yyyy, HH:mm")
                                    </td>
                                    <td>
                                        @task.type.ToStr()
                                    </td>
                                    <td>
                                        @task.information_gap.ToStr()
                                    </td>
                                    <td>
                                        @task.title.ToStr()
                                    </td>
                                    <td>
                                        @(task.created_by != task.author_id ? StaticDB.Users.GetById(task.created_by).ToStr() : "")
                                    </td>
                                    <td>
                                        @StaticDB.Users.GetById(task.author_id).ToStr()
                                    </td>
                                    <td>
                                        @task.institution.ToStr()
                                    </td>
                                    <td>
                                        @task.target_subject.ToStr()
                                    </td>
                                    <td>
                                        @task.created_date.ToString("dd.MM.yyyy, HH:mm")
                                    </td>
                                    <td>
                                        @task.PublishDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                    }
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#material-related-dialog">@DT.LOCAL.Components.Buttons.Ok</button>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            var datatable = $('.index-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });

    </script>
}

