﻿@model Material
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@string.Format("{0}-{1}", WebUtils.GetStringByResourceType(typeof(DT.LOCAL.Enums.MaterialTypes),Model.type), Model.id) </h4>
            <div class="btn-group-xs">
                <button type="button"
                        class="btn btn-default"
                        data-type="Database"
                        data-dismiss="modal"
                        onclick="AddRemoveMaterial(@Model.id);">
                    <i class="fas fa-check"></i>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-id="@Model.id"
                        data-url="@Url.Action("Bookmark", "MaterialManagement")"
                        onclick="Bookmarking(this)">
                    @if (Model.IsBookmarked)
                    {
                        <i class="fas fa-star text-yellow"></i>
                    }
                    else
                    {
                        <i class="far fa-star"></i>
                    }
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-url="@Url.Action("AddUpdate","MaterialManagement", new {id=Model.id, clone = true })"
                        data-modal="#partial-modal"
                        data-dismiss="modal"
                        onclick="PartialShow(this);">
                    <i class="fas fa-copy"></i>
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            @Html.Raw(Model.body)
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="button" id="btn-save-company" class="btn btn-success" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Ok</button>
        </div>
    </div>
</div>