﻿@model TaskMaterial
<div class="modal-dialog">
    <div class="modal-content" id="update-order-dialog">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@DT.LOCAL.Components.Labels.UpdateIndexOrder</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#update-order-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" id="indexing-modal">
            <div class="form-group">
                @if (ViewBag.IndexOrder)
                {
                    <label>@DT.LOCAL.Objects.Columns.index_order</label>
                }
                else
                {
                    <label>@DT.LOCAL.Objects.Columns.activation_time</label>
                }
                <input type="time" step="1" min="0" id="value" name="value" value="00:00:00" class="form-control" />
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="button" id="btn-save-company" class="btn btn-success" onclick="Save();">@DT.LOCAL.Components.Buttons.Save</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#value').val(@(ViewBag.IndexOrder ? Model.index_order:Model.activation_time));
    });
    function Save() {
        var entity = {
            'material_id':@Model.id,
            'value': $('#value').val(),
            'is_order': ('@ViewBag.IndexOrder' == 'true')
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateOrder", "MaterialManagement")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(entity),
            success: function (data) {
                if (data['Result']) {
                    $(PartialModal).modal('toggle');
                    RefreshTaskMaterials();
                } else {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
            }
        });

    }
</script>
