﻿
@model List<Material>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User current_user = Request.User();
    bool IsBookmarkedList = ViewBag.Type == "bookmarked";
    int count = Model.Count();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />

}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
            </div>
            <div class="card-body">
                <table class="cell-border display table-bordered table-responsive responsive d-none" id="materials-table" style="width:100% !important;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.type</th>
                            <th>@DT.LOCAL.Objects.Columns.title</th>
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                            <th>@DT.LOCAL.Objects.Columns.created_by</th>
                        </tr>
                    </thead>
                </table>
                <div class="row material-boxes">

                </div>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="modal" id="material-edit-modal"></div>
@section scripts{

    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script id="material-template" type="text/template">
        <div class="col-lg-4 col-sm-6 col-md-12 col-xs-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h4 class="card-title">{{TITLE}} </h4>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btn-fav hover-orange" data-id="{{ID}}" data-url="@Url.Action("Bookmark", "MaterialManagement")" onclick="Bookmarking(this)">
                            {{BOOKMARK_ICON}}
                        </button>
                        <a href="#"
                           data-url="@Url.Action("AddUpdate","MaterialManagement")/{{ID}}"
                           data-modal="#partial-modal"
                           data-id="{{ID}}"
                           onclick="PartialShow(this);"
                           class="btn btn-edit hidden btn-tool hover-orange"
                           title="@DT.LOCAL.Components.Buttons.Edit">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        <a href="#"
                           data-url="@(Url.Action("AddUpdate","MaterialManagement"))?id={{ID}}&clone=true"
                           data-modal="#partial-modal"
                           onclick="PartialShow(this);"
                           class="btn btn-tool hover-orange"
                           title="@DT.LOCAL.Components.Buttons.Clone">
                            <i class="fa fa-copy"></i>
                        </a>
                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    </div>
                </div>
                <div class="card-body" style="height:250px !important; overflow:auto;">
                    {{BODY}}
                </div>
            </div>
        </div>
    </script>
    <script>
        $('#materials-table thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#materials-table thead');
       var datatable = $('#materials-table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': false,
           'autoWidth': false,

            'ajax': {
                'url': '@Url.Action("GetList", "MaterialManagement")',
                'method': 'POST',
                'data': function (d) {
                    d.type = '@ViewBag.Type';
                }
            },
            'columns': [
                {
                    'data': function (data) {
                        var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                        var edit = '';
                        var canEdit = @current_user.role_id == 1 || @current_user.role_id == 2 || (!data.being_used && data.created_by == @current_user.id);
                        if (canEdit) {
                            edit = '<a href="#" data-url="@Url.Action("AddUpdate", "MaterialManagement")' + '/' + data.id + '" class="btn btn-edit btn-default hover-orange" data-id="' + data.id + '" data-modal="#material-edit-modal" onclick="PartialShow(this);">' +
                                '<i class="fa fa-pencil-alt"></i>' +
                                '</a>' +
                                '<a href="#" class="btn btn-edit btn-default hover-orange" data-id="' + data.id + '" onclick="DeleteMaterial(this);">' +
                                '<i class="fa fa-trash"></i>' +
                                '</a>';
                        } else {
                            edit = '<a href="#" class="btn btn-default"  onclick="$.alert(\'@DT.LOCAL.Messages.Warnings.ThisMaterialIsBeingUsed\');" >' +
                                '<i class="fa fa-pencil-alt" style="opacity:0.4;"></i>' +
                                '</a>';
                        }
                        return '<div class="btn-group btn-group-sm">' +
                            '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "MaterialManagement")" onclick="Bookmarking(this)">' +
                                    icon +
                            '</button>' +
                            edit +
                            '<a href="#" data-id="'+data.id+'" onclick="CloneMaterial(this)" class="btn btn-default hover-orange" data-modal="#material-edit-modal" onclick="PartialShow(this);">' +
                                '<i class="fa fa-copy"></i>' +
                            '</a>' +
                        '</div>';
                    }
                },
                { 'data': 'type' },
                { 'data': 'title' },
                { 'data': 'details' },
                { 'data': 'Creator' }
           ],
           'columnDefs': [
               { width: "80px", targets: [0] },
           ],
            'ordering': true,

            'paging': true,
            'searching': true,
            'info': false,
            'language': {
                'url': Credentials.Server + 'Content/plugins/datatables/en.json'
           },
            'dom': 'Bfrtip',
            'buttons': [
                {
                    text: '<i class="fas fa-plus"></i> @DT.LOCAL.Components.Buttons.New',
                    className: 'btn-create-new',
                    action: function () {
                        ShowPartial('@Url.Action("AddUpdate", "MaterialManagement")', $('.btn-create-new'), true);
                    }
                },
                {
                    extend: 'collection',
                    text: '<i class="fas fa-bars"></i>',
                    className: 'table-buttons btn-default',
                    autoClose: true,
                    buttons: [
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'p',
                                altKey: true
                            }
                        },
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                            key: {
                                key: 'c',
                                altKey: true
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'x',
                                altKey: true
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'r',
                                altKey: true
                            }
                        }
                    ]
                }
            ],
           'orderCellsTop': true,
           'fixedHeader': true,
           'initComplete': function () {
               var api = this.api();

               // For each column
               api
                   .columns()
                   .eq(0)
                   .each(function (colIdx) {
                       if (colIdx == 0)
                           return;
                       // Set the header cell to contain the input element
                       var cell = $('.filters th').eq(
                           $(api.column(colIdx).header()).index()
                       );
                       var title = $(cell).text();
                       $(cell).html('<input type="text" placeholder="' + title + '" />');

                       // On every keypress in this input
                       $(
                           'input',
                           $('.filters th').eq($(api.column(colIdx).header()).index())
                       )
                           .off('keyup change')
                           .on('keyup change', function (e) {
                               e.stopPropagation();

                               // Get the search value
                               $(this).attr('title', $(this).val());
                               var regexr = '({search})'; //$(this).parents('th').find('select').val();

                               var cursorPosition = this.selectionStart;
                               // Search the column for that value
                               api
                                   .column(colIdx)
                                   .search(
                                       this.value != ''
                                           ? regexr.replace('{search}', this.value)
                                           : '',
                                       this.value != '',
                                       this.value == ''
                                   )
                                   .draw();

                               $(this)
                                   .focus()[0]
                                   .setSelectionRange(cursorPosition, cursorPosition);
                           });
                   });
           }
        });
        datatable.on('xhr', function () {
            var json = datatable.ajax.json();
            materials = json.data;
            CreateDetails(materials);
        });
        function CreateDetails(materials) {
            $('.material-boxes').html('');
            for (var i = 0; i < materials.length; i++) {
                var material = materials[i];
                var icon = material.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                var materialCard = $('#material-template').html()
                    .replaceAll('{{BOOKMARK_ICON}}', icon)
                    .replaceAll('{{TITLE}}', material.title)
                    .replaceAll('{{ID}}', material.id)
                    .replaceAll('{{BODY}}', material.body);
                $('.material-boxes').append(materialCard);
                if (material.created_by == @current_user.id || @current_user.role_id == 1 || @current_user.role_id == 2) {
                    $('btn-edit[data-id="'+material.id+'"]').remove('hidden');
                }
            }
            $('.material-body-content>a>img').attr('style', 'height:250px !important;width:auto !important;')
        }
        function CloneMaterial(elm) {
            var id = $(elm).data('id');
            var url = '@Url.Action("AddUpdate", "MaterialManagement")' + '?id=' + id + '&clone=true';
            $(elm).data('url', url);
             $.confirm({
                    title: 'Confirmation',
                    content: '',
                    buttons: {
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Clone',
                            btnClass: 'btn-danger',
                            action: function () {
                                PartialShow(elm);
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
        function DeleteMaterial(elm) {
            var id = $(elm).data('id');
            var url = '@Url.Action("Delete", "MaterialManagement")' + '?id=' + id;
             $.confirm({
                    title: 'Confirmation',
                    content: '',
                    buttons: {
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                location.href = url;
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
    </script>

}
