﻿@model List<_Task>
<div class="row">
    @foreach (_Task task in Model)
    {
        <div class="col-md-6 col-sm-6 col-12 task-box" data-id="@task.id">
            @Html.Partial("_TaskBoxPartial",task, new ViewDataDictionary { {"type", ViewData["Type"] } })
        </div>
    }
</div>
