﻿@model List<SessionTask>
@{

}
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-xl" id="assign-modal">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                Planning
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#assign-modal"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <table class="cell-border display table-bordered responsive" id="sequence-tasks-table" style="width:100% !important;">
                <thead>
                    <tr>
                        <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                        <th>@DT.LOCAL.Objects.Columns.title</th>
                        <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                        <th>@DT.LOCAL.Objects.Columns.group_range</th>
                        <th>@DT.LOCAL.Objects.Columns.planned_start_date</th>
                        <th>@DT.LOCAL.Objects.Columns.expiration_date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SessionTask sessionTask in Model)
                    {
                    <tr>
                        <td>@sessionTask.Task.information_gap</td>
                        <td>@sessionTask.Task.title</td>
                        <td>@sessionTask.Task.target_min_age - @sessionTask.Task.target_max_age</td>
                        <td>@sessionTask.Task.group_range</td>
                        <td>
                            <div class="input-group date" data-type="datetime" id="sd-group-@sessionTask.id" data-target-input="nearest">
                                <input type="text" data-id="@sessionTask.id" class="form-control datetimepicker-input planned_start_time" data-target="#sd-group-@sessionTask.id" value="@Zaman.Simdi" />
                                <div class="input-group-append" data-target="#sd-group-@sessionTask.id" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group date" data-type="datetime" id="ed-group-@sessionTask.id" data-target-input="nearest">
                                <input type="text" data-id="@sessionTask.id" class="form-control datetimepicker-input expiration_date" data-target="#ed-group-@sessionTask.id" value="@Zaman.Simdi.AddYears(1)" />
                                <div class="input-group-append" data-target="#ed-group-@sessionTask.id" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#assign-modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="submit" id="btn-save-assignment" class="btn btn-success" onclick="SaveSequenceAssignment();">@DT.LOCAL.Components.Buttons.Save</button>
        </div>
    </div>
</div>
 

<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    var sessionTasks = @Html.Raw(Model.ToJson());
    $('.index-table').DataTable({
        'autoWidth': false,
        'ordering': false,
        'paging': false,
        'searching': false,
        'info': false,
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        }
    });
    function SaveSequenceAssignment() {
        var sts = [];
        for (var i = 0; i < sessionTasks.length; i++) {
            var sessionTask = sessionTasks[i];

            var planned_start_time = $('.planned_start_time[data-id="' + sessionTask.id + '"]').val();
            sessionTask.planned_start_time = planned_start_time;

            var expiration_date = $('.expiration_date[data-id="' + sessionTask.id + '"]').val();
            sessionTask.planned_end_time = expiration_date;
            sts.push(sessionTask);
        }
        $.confirm({
            title: 'Confirm!',
            content: '@DT.LOCAL.Components.Labels.SendMailToParticipant',
            buttons: {
                yes: {
                    text: '@DT.LOCAL.Components.Buttons.Yes',
                    action: function () {
                        SendAssignment(sts, true);
                    }
                },
                no: {
                    text: '@DT.LOCAL.Components.Buttons.No',
                    action: function () {
                        SendAssignment(sts, false);
                    }
                }
            }
        });
    }
    function SendAssignment(sts, mail_status) {
        var model = {
            sessionTasks: sts,
            send_mail: mail_status
        };
        if (isPartialContinue) {
            alert("Previous request is being continued. Please wait...");
            return;
        }
        console.log(JSON.stringify(model));
        var btnContent = $('#btn-save-assignment').html();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AssignSequence", "TaskAssignment")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(model),
            success: function (data) {
                if (data['Result']) {
                    $('#assign-modal').parent('.modal').modal('toggle');
                } else {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                }
            },
            beforeSend: function () {
                isPartialContinue = true;
                $('#btn-save-assignment').html('<i class="fas fa-sync-alt fa-spin"></i>');
                $('body').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
            },
            complete: function () {
                isPartialContinue = false;
                $('#btn-save-assignment').html(btnContent);
                $('body.overlay').fadeOut(250, function () {
                    $(this).remove();
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error');
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
            }
        });
    }
</script>