﻿@model SessionTask
@{
    Model.planned_start_time = Zaman.Simdi;
    Model.planned_end_time = Zaman.Simdi.AddYears(50);
}
<style>
    .future, .expiration {
        padding-left: 40px;
        padding-right: 150px;
    }
</style>
<div class="modal-dialog" id="assign-modal">

    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                Assignment Options
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#assign-modal"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" id="future" onchange="$('.future').toggleClass('hidden')">
                    <label for="future" style="font-weight:400;">
                        @DT.LOCAL.Components.Labels.PlanForFuture
                    </label>
                </div>
                <div class="input-group date future hidden" data-type="datetime" id="sd-group" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#sd-group" required id="planned_start_time" name="planned_start_time" value="@Model.planned_start_time" />
                    <div class="input-group-append" data-target="#sd-group" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="icheck-primary">
                    <input type="checkbox" id="expiration" onchange="$('.expiration').toggleClass('hidden')">
                    <label for="expiration" style="font-weight:400;">
                        @DT.LOCAL.Components.Labels.SetExpiration
                    </label>
                </div>
                <div class="input-group date expiration hidden" data-type="datetime" id="ed-group" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#ed-group" id="planned_end_time" name="planned_end_time" value="@Model.planned_end_time" />
                    <div class="input-group-append" data-target="#ed-group" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="icheck-primary">
                    <input class="form-control" type="checkbox" id="chk-warn" />
                    <label for="chk-warn" style="font-weight:400;">
                        @DT.LOCAL.Components.Labels.SendMailToParticipant
                    </label>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#assign-modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button id="btn-assign-task" onclick="SendAssignment();" class="btn btn-success">@DT.LOCAL.Components.Buttons.Send</button>
        </div>
    </div>
</div>

<script>
    var model = @Html.Raw(Model.ToJson());
    function SendAssignment() {

        model.send_mail = $('#chk-warn').is(':checked');
        model.planned_start_time = moment($('#planned_start_time').val()).format('YYYY-MM-DD');
        model.planned_end_time = moment($('#planned_end_time').val()).format('YYYY-MM-DD');
        if (isPartialContinue) {
            alert("Previous request is being continued. Please wait...");
            return;
        }
        console.log(JSON.stringify(model));
        var btnContent = $('#btn-assign-task').html();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AssignTask", "TaskAssignment")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(model),
            success: function (data) {
                if (data['Result']) {
                    $('#assign-modal').parent('.modal').modal('toggle');
                } else {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                }
            },
            beforeSend: function () {
                isPartialContinue = true;
                $('body').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                $('#btn-assign-task').html('<i class="fas fa-sync-alt fa-spin"></i>');
            },
            complete: function () {
                isPartialContinue = false;
                $('body.overlay').fadeOut(250, function () {
                    $(this).remove();
                });
                $('#btn-assign-task').html(btnContent);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error');
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
            }
        });
    }
</script>