﻿@model List<SequenceTask>

<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="modal-dialog modal-xl" id="selected-tasks-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                Selected Tasks
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#selected-tasks-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            <table class="selected-tasks-table cell-border display table-bordered table-responsive responsive" style="width:100% !important;">
                <thead>
                    <tr>
                        <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                        <th>@DT.LOCAL.Objects.Columns.title</th>
                        <th>@DT.LOCAL.Objects.Columns.author_id</th>
                        <th>@DT.LOCAL.Objects.Columns.institution</th>
                        <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                        <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                        <th>@DT.LOCAL.Objects.Columns.group_range</th>
                        <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SequenceTask sequenceTask in Model)
                    {
                        <tr data-id="@sequenceTask.task_id" style="cursor:grab">
                            <td>@sequenceTask.Task.information_gap.ToStr()</td>
                            <td>@sequenceTask.Task.title.ToStr()</td>
                            <td>@StaticDB.Users.GetById(sequenceTask.Task.author_id)</td>
                            <td>@sequenceTask.Task.institution.ToStr()</td>
                            <td>@sequenceTask.Task.target_subject.ToStr()</td>
                            <td>@string.Format("{0}-{1}", sequenceTask.Task.target_min_age, sequenceTask.Task.target_max_age)</td>
                            <td>@sequenceTask.Task.group_range</td>
                            <td>@string.Join(",", StaticDB.TargetLanguages.Where(x => x.task_id == sequenceTask.Task.id).Select(x => x.Language))</td>
                            <td>

                                <button type="button" class="btn btn-tool" data-id="@sequenceTask.task_id" onclick="Remove(this);">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatable-plugins/processing().js"></script>
<script>
    var datatable = $('.selected-tasks-table').DataTable({
        'autoWidth': false,
        'ordering': true,
        'order': [[0, 'asc']],
        'paging': false,
        'searching': false,
        'info': false,
        'responsive': true,
        'language': {
            'url': Credentials.Server + 'Content/plugins/datatables/en.json'
        }
    });
    var removedCount = 0;
    async function Remove(elm) {
        var id = $(elm).data('id');
        await AddRemove(elm);
        $('tr[data-id="' + id + '"]').fadeOut("slow", function () {
            $(this).remove();
            ++removedCount;
        });
        if (removedCount <= parseInt('@ViewBag.SelectedTasksCount'))
            $(PartialModal).modal('toggle');
    }
</script>