﻿<a class="btn btn-tool" href="#" 
   data-url="@Url.Action("GetSelectedTasks","TaskAssignment")"
   data-modal="#partial-modal"
   onclick="PartialShow(this)">
    <i class="fas fa-tasks"></i> Selected Tasks
    @if (ViewBag.SelectedTasksCount > 0)
    {
        <span class="badge badge-warning navbar-badge">@ViewBag.SelectedTasksCount</span>
    }
</a>
