﻿@{
    ViewBag.Title = "AddUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <!-- Range Slider -->
    <link href="~/Content/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <!-- Bootstrap Toggle -->
    <link href="~/Content/plugins/bootstrap-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet" />
    <style>
        .task-type {
            transition: ease-in-out 0.3s all;
        }

            .task-type:hover {
                box-shadow: 0 0 20px #000;
            }
    </style>
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            TASK ASSIGNMENT
        </h3>

        <div class="card-tools" id="selected-tasks">

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5 col-sm-3">
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="task-selection-tab" data-toggle="pill" href="#task-selection" role="tab" aria-controls="task-selection" aria-selected="true">
                        Task Type Selection
                    </a>
                    <a class="nav-link" id="tasks-list-tab" data-toggle="pill" href="#tasks-list" role="tab" aria-controls="tasks-list" aria-selected="false">
                        Task List
                    </a>
                    <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">

                    </a>
                    <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">

                    </a>
                </div>
            </div>
            <div class="col-7 col-sm-9">
                <div class="tab-content" id="vert-tabs-tabContent">
                    <div class="tab-pane text-left fade show active" id="task-selection" role="tabpanel" aria-labelledby="task-selection-tab">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" onclick="$('#tasks-list-tab').tab('show');">
                                    <div class="card task-type">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Single Task
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <img class="card-img" src="~/Content/img/task-types/single-task.png" />
                                        </div>
                                        <div class="card-footer">
                                            Single task explanation
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" onclick="$('#tasks-list-tab').tab('show');">
                                    <div class="card task-type">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Sequence
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <img class="card-img" src="~/Content/img/task-types/multiple-task.png" />
                                        </div>
                                        <div class="card-footer">
                                            Sequence explanation
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tasks-list" role="tabpanel" aria-labelledby="tasks-list-tab">
                        <div class="card card-primary card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="my-tasks-tab" data-toggle="pill" href="#my-tasks" role="tab" aria-controls="my-tasks" aria-selected="true" onclick="GetTasksByType('My');">
                                            My Tasks
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="all-tasks-tab" data-toggle="pill" href="#all-tasks" role="tab" aria-controls="all-tasks" aria-selected="false" onclick="GetTasksByType('All');">
                                            All Tasks
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-three-tabContent">
                                    <div class="tab-pane fade show active" id="my-tasks" role="tabpanel" aria-labelledby="my-tasks-tab">

                                    </div>
                                    <div class="tab-pane fade" id="all-tasks" role="tabpanel" aria-labelledby="all-tasks-tab">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">

                    </div>
                    <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- Range Slider -->
    <script src="~/Content/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="~/Content/plugins/bootstrap-toggle/js/bootstrap4-toggle.min.js"></script>
    <script>
        var lastCall = 'My';
        var isProcessContinue = false;
        $(function () {
            GetTasksByType("My");
            GetSelectedTasks();
        });

        function GetTasksByType(type) {
            if (isProcessContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            lastCall = type;
            var content = $('#my-tasks');
            if (type == 'All')
                content = $('#all-tasks');
            isProcessContinue = true;
            $.ajax({
                url: type == 'My' ? '@Url.Action("GetTasks", "TaskAssignment", new {type="My"})' : '@Url.Action("GetTasks", "TaskAssignment", new { type = "All" })',
                beforeSend: function () {
                    $(content).append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                success: function (data, textStatus, xhr) {
                    if (textStatus == 'success')
                        $(content).html(data);
                },
                complete: function () {
                    $(content).remove('.overlay');
                    isProcessContinue = false;
                },
                error: function() {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.ServerError', '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
        function GetSelectedTasks() {
            $.ajax({
                url: '@Url.Action("GetSelectedTasksButton", "TaskAssignment")',
                beforeSend: function () {
                    $('#selected-tasks').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                success: function (data, textStatus, xhr) {
                    if (textStatus == 'success')
                        $('#selected-tasks').html(data);
                },
                complete: function () {
                    $('#selected-tasks').remove('.overlay');
                    isProcessContinue = false;
                },
                error: function() {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.ServerError', '@DT.LOCAL.Components.Buttons.Ok');
                }
            });

        }
        function AddRemove(elm) {
            var id = $(elm).data('id');
            $.ajax({
                method:'POST',
                url: '@Url.Action("AddRemoveTask", "TaskAssignment")' + '/' + id,
                beforeSend: function () {
                    $('#selected-tasks').append('<div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                },
                success: function (data, textStatus, xhr) {
                    if (textStatus == 'success') {
                        $('#selected-tasks').html(data);
                        var status = decodeURI($.cookie('TaskAddStatus'));
                        if (status == 'true')
                            $('.btn-add[data-id="'+id+'"]').html('<i class="fas fa-minus"></i>');
                        else
                            $('.btn-add[data-id="' + id + '"]').html('<i class="fas fa-plus"></i>');
                    }
                },
                complete: function () {
                    $('#selected-tasks').remove('.overlay');
                    isProcessContinue = false;
                },
                error: function() {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.ServerError', '@DT.LOCAL.Components.Buttons.Ok');
                }
            });

        }
    </script>
}

