﻿@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    User currentUser = Request.User();
}


@section styles{
    <style>
        .room-count{
            color:#ccc;
        }
        .card-options a i{
            width:20px !important;
        }
        .card-options a{
            color: #000 !important;
        }
    </style>
}
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">
            @DT.LOCAL.Objects.Tables.Rooms
        </h3>
        <div class="card-tools">
            <a href="#"
               class="btn btn-tool hover-orange"
               onclick="CreateRoom()">
                <i class="fas fa-plus"></i>&nbsp; @DT.LOCAL.Components.Labels.CreateRoom
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="room-list">

        </div>
    </div>
</div>

<div class="modal" id="create-room-modal">
    <div class="modal-dialog" id="create-room-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">

                <h4 class="modal-title">@DT.LOCAL.Components.Labels.CreateRoom</h4>
                <button type="button" class="close" onclick="CloseModal(this)" data-target="#create-room-dialog"><i class="fas fa-times"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="room-group-range">@DT.LOCAL.Objects.Entity._Task</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button"
                                    class="btn btn-primary"
                                    id="btn-details"
                                    onclick="PartialShow(this)"
                                    data-modal="#partial-modal">
                                <i class="fas fa-info"></i>
                            </button>
                        </div>
                        <select class="form-control select2" id="room-task_id"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>@DT.LOCAL.Objects.Columns.activation_time</label>
                    <div class="input-group date" data-type="datetime" id="ad-group" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#ad-group" required id="room-ad" />
                        <div class="input-group-append" data-target="#ad-group" data-toggle="datetimepicker">
                            <div class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>@DT.LOCAL.Objects.Columns.expiration_date</label>
                    <div class="input-group date" data-type="datetime" id="ed-group" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#ed-group" required id="room-ed" />
                        <div class="input-group-append" data-target="#ed-group" data-toggle="datetimepicker">
                            <div class="input-group-text">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="room-details">@DT.LOCAL.Objects.Columns.details</label>
                    <textarea class="form-control" id="room-details" rows="3"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
                    <button type="button" id="btn-save-company" class="btn btn-success" onclick="SaveRoom();">@DT.LOCAL.Components.Buttons.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/signalR/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/SignalR/Hubs" type="text/javascript"></script>
    <script type="text/template" id="student-template">
        <li class="nav-item student-item" data-room-id="{{ROOM_ID}}" data-user-id="{{STUDENT_ID}}">
            <div class="nav-link">
                {{STUDENT}}
                <span class="float-right">
                    {{JOIN_DATE}}
                </span>
            </div>
        </li>
    </script>
    <script type="text/template" id="room-template">
        <div class="col-4 room" data-id="{{ROOM_ID}}">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ROOM_NAME}}
                        <span class="room-count">(<span class="room-current-range" data-id="{{ROOM_ID}}">{{CURRENT_RANGE}}</span>/{{GROUP_RANGE}})</span>
                    </h3>
                    <div class="card-tools">
                        <a class="btn btn-tool dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                        <div class="dropdown-menu card-options">
                            <a href="#" class="dropdown-item btn-join {{CAN_JOIN}}" onclick="join_room(this)" data-id="{{ROOM_ID}}">
                                <i class="fas fa-plus"></i>&nbsp;Join
                            </a>
                            <a href="#"
                               class="dropdown-item btn-task-details"
                               data-url="@Url.Action("TaskDetails","Room")/{{ROOM_ID}}"
                               onclick="PartialShow(this)"
                               data-modal="#partial-modal">
                                <i class="fas fa-info-circle"></i>&nbsp;Task Info
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column student-list" data-room-id="{{ROOM_ID}}">
                        {{STUDENTS}}
                    </ul>
                </div>

            </div>
        </div>
    </script>
    <script>
        var CurrentUser = @Html.Raw(currentUser.ToJson());
        //CHATBOX

        var RoomHub = $.connection.RoomHub;
        var hubStarted = false;
        var interacted = false;
        function interacting() {
            interacted = true;
            $(window).unbind("scroll");
            $(window).unbind("click");
        }
        $(function () {
            $(window).bind("scroll click", interacting);

            var soundStatus = get('dt_notifications');
            console.log('Sound Status : ' + soundStatus);
            if (soundStatus == 'true')
                $('.btn-sound').html('<i class="fas fa-volume-up"></i>');
            else
                $('.btn-sound').html('<i class="fas fa-volume-mute"></i>');

            RoomHub.client.addRoom = function (roomModel) {
                console.log('ROOM : ' + JSON.stringify(roomModel));
                var studentTemplate = $('#student-template').html();
                var students = "";
                for (var i = 0; i < roomModel.RoomStudents.length; i++) {
                    var room_student = roomModel.RoomStudents[i];
                    roomModel.tas
                    students += studentTemplate
                        .replaceAll('{{STUDENT}}', room_student.User.FullName)
                        .replaceAll('{{ROOM_ID}}', room_student.room_id)
                        .replaceAll('{{STUDENT_ID}}', room_student.student_id)
                        .replaceAll('{{JOIN_DATE}}', room_student.JoinStr);
                }
                var roomTemplate = $('#room-template').html();
                var room = roomTemplate.replaceAll('{{ROOM_NAME}}', 'ROOM - ' + roomModel.id)
                    .replaceAll('{{ROOM_ID}}', roomModel.id)
                    .replaceAll('{{CURRENT_RANGE}}', roomModel.current_range)
                    .replaceAll('{{GROUP_RANGE}}', roomModel.group_range)
                    .replaceAll('{{CAN_JOIN}}', roomModel.current_range >= roomModel.group_range?'hidden':'')
                    .replaceAll('{{STUDENTS}}', students);
                $('#room-list').append(room);

                PlaySound('@Url.Content("~/Content/sounds/msg_beep.mp3")');
            };
            RoomHub.client.addStudent = function (room_student, room) {
                console.log('STUDENT : ' + JSON.stringify(room_student));
                var studentTemplate = $('#student-template').html();
                var std = studentTemplate
                    .replaceAll('{{STUDENT}}', room_student.User.FullName)
                    .replaceAll('{{ROOM_ID}}', room_student.room_id)
                    .replaceAll('{{STUDENT_ID}}', room_student.student_id)
                    .replaceAll('{{JOIN_DATE}}', room_student.JoinStr)
                $('.student-list[data-room-id="' + room_student.room_id + '"]').append(std);
                var current = $('.room-current-range[data-id="' + room_student.room_id + '"]');
                var currentRange = parseInt($(current).html());
                ++currentRange;
                $(current).html(currentRange);

                PlaySound('@Url.Content("~/Content/sounds/online_beep.mp3")');
            };
            RoomHub.client.showReady = function (session_id) {
                console.log('showReady');
                ShowMessage('Room is ready to start session!', '@DT.LOCAL.Components.Buttons.Start', '@Url.Action("StartWithMessage","SessionManagement")' + '?user_id=@currentUser.id&session_id=' + session_id);
            };
            RoomHub.client.removeStudent = function (room_student) {
                console.log('STUDENT : ' + JSON.stringify(room_student));
                $('.student-item[data-room-id="' + room_student.room_id + '"][data-user-id="' + room_student.student_id + '"]').fadeOut("slow", function () {
                    $(this).remove();
                });
                var current = $('.room-current-range[data-id="' + room_student.room_id + '"]');
                var currentRange = parseInt($(current).html());
                --currentRange;
                $(current).html(currentRange);
                PlaySound('@Url.Content("~/Content/sounds/offline_beep.mp3")');
            };

            toastr.options = {
                "positionClass": "toast-bottom-right"
            }
            RoomHub.client.UserStatusChanged = function (user, status) {
                console.log('USER : ' + user.id + ' - Status : ' + status);
                var st = $('i[data-user-id="' + user.id + '"]');
                $(st).removeClass('online').removeClass('online');
                if (status) {
                    $(st).addClass('online');
                    toastr.success(user.FullName + ' is online!');
                    PlaySound('@Url.Content("~/Content/sounds/online_beep.mp3")');
                }else {
                    $(st).addClass('offline');
                    toastr.error(user.FullName + ' is offline!');
                    PlaySound('@Url.Content("~/Content/sounds/offline_beep.mp3")');
                }
            };
            $.connection.hub.start().done(function () {
                RoomHub.server.new_user_connection(@currentUser.id);
                hubStarted = true;
            })
        });
        function CreateRoom() {
            var modal = $('#create-room-modal');
            if (CurrentUser.birth == null) {
                // Add Birth
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.BirthNotEntered ', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            } else if (CurrentUser.proficiency_level == null) {
                // Select proficiency_level
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.ProficiencyLevelNotSelected', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            } else {
                $('#room-task_id').select2({
                    ajax: {
                        url: '@Url.Action("GetTasks","TaskManagement")',
                        data: function (params) {
                            var query = {
                                proficiency_level: CurrentUser.proficiency_level,
                                age: CurrentUser.Age
                            };
                            return query;
                        }
                    }
                }).change(function () {
                    $('#btn-details').data('url', '@Url.Action("Details","TaskManagement")' + '/' + $('#room-task_id').val());
                });

                $('.select2-container').css('width', '93%');
                $(modal).modal('toggle');
            }
        }

        function join_room(elm) {
            var room_id = parseInt($(elm).data('id'));
            var user_id = parseInt('@currentUser.id');
            console.log('ROOM ID : ' + room_id);
            console.log('USER ID : ' + user_id);
            RoomHub.server.join_room(room_id, user_id);
            var btnJoin = $('.btn-join[data-id="' + room_id + '"]');
            $(btnJoin).attr('onclick', 'leave_room(this);')
            $(btnJoin).html('<i class="fas fa-minus"></i>&nbsp;Leave')
        }
        function leave_room(elm) {
            var room_id = parseInt($(elm).data('id'));
            var user_id = parseInt('@currentUser.id');
            console.log('ROOM ID : ' + room_id);
            console.log('USER ID : ' + user_id);
            RoomHub.server.leave_room(room_id, user_id);
            var btnJoin = $('.btn-join[data-id="' + room_id + '"]');
            $(btnJoin).attr('onclick', 'join_room(this);')
            $(btnJoin).html('<i class="fas fa-plus"></i>&nbsp;Join')
        }
        var entity = @Html.Raw(Json.Encode(new Room()));

        function SaveRoom() {

            entity.TaskId = parseInt($('#room-task_id').val());
            entity.activation_date = new Date($('#room-ad').val());
            entity.expiration_date = new Date($('#room-ed').val());
            entity.details = $('#room-details').val();


            console.log('ENTITY : ' + JSON.stringify(entity));
            if (!entity.activation_date) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.activation_time)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else if (entity.TaskId == 0) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Entity._Task)', '@DT.LOCAL.Components.Buttons.Ok');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddUpdate", "Room")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(entity),
                    success: function (data) {
                        if (data['Result']) {
                            $('#create-room-modal').modal('toggle');
                            RoomHub.server.create_room(data.Room.id, parseInt('@currentUser.id'));
                        } else {
                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                });
            }
        }
        function PlaySound(sound) {
            var soundStatus = get('dt_notifications');
            if (soundStatus == 'true' && interacted) {
                try {
                    var audio = new Audio(sound);
                    audio.play();
                } catch (e) {

                }
            }
        }
        $('.btn-sound').click(function () {
            var soundStatus = get('dt_notifications');
            console.log('Sound Status (old): ' + soundStatus);
            if (soundStatus == 'true') {
                $('.btn-sound').html('<i class="fas fa-volume-mute"></i>');
                store('dt_notifications', false);
                toastr.info('Notification sounds are muted!');
            }
            else {
                $('.btn-sound').html('<i class="fas fa-volume-up"></i>');
                store('dt_notifications', true);
                toastr.info('Notification sounds are unmuted!');
            }
            console.log('Sound Status (new): ' + get('dt_notifications'));
        });
        window.onbeforeunload = closingCode;
        function closingCode() {
            RoomHub.server.OnDisconnected(true);
            return null;
        }
    </script>

}
