﻿@model Cluster
@{
    System.Drawing.Color color = Utilities.getRandomColor();
    string strColor = Model.id == 0? "#" + color.R.ToString("X2") + color.G.ToString("X2") + color.B.ToString("X2"):Model.color_code;
}
<div class="modal-dialog" id="cluster-edit-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">@(Model.id == 0? DT.LOCAL.Components.Labels.CreateCluster: DT.LOCAL.Components.Labels.EditCluster)</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#cluster-edit-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label for="title">@DT.LOCAL.Objects.Entity._Class</label>
                @Html.DropDownListFor(M => M.class_id, new SelectList(StaticDB.Classes.Where(c=>c.teacher_id == Request.User().id && c.is_active), "id", "title"), new { @class = "form-control select2", id = "cluster-class_id" })
            </div>
            <div class="form-group">
                <label for="title">@DT.LOCAL.Components.Labels.Title</label>
                @Html.TextBoxFor(m => m.title, new { @class = "form-control", id = "cluster-title" })
            </div>
            <div class="form-group">
                <label for="color_code">@DT.LOCAL.Components.Labels.Color</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" id="changeButton" class="btn btn-danger" onclick="GetRandomColor(this);">Change</button>
                    </div>
                    <!-- /btn-group -->
                    <input type="color" class="form-control form-control-color" value="@strColor" name="color_code" id="cluster-color_code">
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">@DT.LOCAL.Components.Buttons.Cancel</button>
            <button type="button" id="btn-save-company" class="btn btn-success" onclick="Save();">@DT.LOCAL.Components.Buttons.Save</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        AwakeJSEvents();
    })
    function GetRandomColor(elm) {
        var content = $(elm).html();
        $.ajax({
            url: '@Url.Action("GetRandomColor","ClusterManagement")',
            success: function (data) {
                $('#cluster-color_code').val(data.Color);
            },
            beforeSend: function () {
                $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
            },
            complete: function () {
                $(elm).html(content);
            },
        })
    }
    function Save() {
        var entity = {
            'title': $('#cluster-title').val(),
            'color_code': $('#cluster-color_code').val(),
            'class_id': $('#cluster-class_id').val()
        };
        if (!entity.title) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.color_code) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.color_code)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else if (!entity.class_id) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Entity._Class)', '@DT.LOCAL.Components.Buttons.Ok');
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "ClusterManagement")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(entity),
                success: function (data) {
                    if (data['Result']) {
                        $(PartialModal).modal('toggle');
                        location.reload();
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', errorThrown, '@DT.LOCAL.Components.Buttons.Ok');
                }
            });
        }
    }

</script>
