﻿@model List<Cluster>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User current_user = Request.User();
    int classCount = StaticDB.Classes.Count(c => c.teacher_id == current_user.id && c.is_active);
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <style>
    </style>
}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="@Request.Url.ToString()">
                        @ViewBag.SubDirectory
                    </a>
                </h3>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive">
                    <thead>

                        <tr>
                            <th></th>
                            <th>@DT.LOCAL.Objects.Entity._Class</th>
                            <th>@DT.LOCAL.Objects.Columns.title</th>
                            <th>@DT.LOCAL.Objects.Columns.color_code</th>
                            <th>@DT.LOCAL.Objects.Tables.ClusterStudents</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Cluster cluster in Model)
                        {

                        <tr>
                            <td>
                                <button class="btn btn-default" type="button" data-id="@cluster.id" onclick="ShowMenu(this)">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </td>
                            <td>@cluster.Class.title</td>
                            <td>@cluster.title.ToStr()</td>
                            <td>
                                <button class="btn btn-block" style="background-color:@cluster.color_code">
                                    @cluster.color_code
                                </button>
                            </td>

                            <td>
                                <ul>
                                    @foreach (ClusterStudent clusterStudent in cluster.ClusterStudents)
                                    {
                                        <li>@StaticDB.ClassStudents.GetById(clusterStudent.class_student_id).Student</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@DT.LOCAL.Components.Labels.Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <a href="#"
                   data-modal="#partial-modal"
                   onclick="PartialShow(this)"
                   class="btn btn-default btn-block hover-orange btn-edit">
                    <i class="fa fa-pencil-alt"></i> @DT.LOCAL.Components.Buttons.Edit
                </a>
                <a href="#"
                   class="btn btn-danger btn-block btn-delete">
                    <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @Html.Partial("_DatatableScripts")
<script>
    function CreateNew() {
        if ('@classCount' == '0') {
            ShowInfo('You need to create class first.', '@DT.LOCAL.Messages.Warnings.DialogTitle');
            ShowPartial('@Url.Action("AddUpdate", "ClassManagement")', $('.btn-create-new'))
        } else {
            ShowPartial('@Url.Action("AddUpdate", "ClusterManagement")', $('.btn-create-new'))
        }
    }
    function ShowMenu(elm) {
        var id = $(elm).data('id');
        $('#menu-modal .btn-edit').data('url', '@Url.Action("AddUpdate")/' + id);
        $('#menu-modal .btn-delete').click(function() {
            ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete")/' + id);
        });
        $('#menu-modal').modal();
    }
</script>
}
