﻿@model _Task
<div class="modal-dialog modal-xl" id="task-details-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-details-dialog"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            @Html.Partial("~/Views/Front/_TaskPreviewBody.cshtml", Model)
        </div>
    </div>
</div>