﻿@model _Task
@{
    User currentUser = Request.User();
}
<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="~/Content/img/favicon.png"
                         alt="Task picture">
                </div>

                <h3 class="profile-username text-center">@Model.title</h3>

                <p class="text-muted text-center">@StaticDB.Users.GetById(Model.created_by).ToStr()</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Task</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> @DT.LOCAL.Objects.Columns.target_subject</strong>

                <p class="text-muted">
                    @Model.target_subject
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @DT.LOCAL.Objects.Columns.objectives</strong>

                <p class="text-muted">
                    @Model.objectives
                </p>

                <hr>


                <strong><i class="fas fa-book mr-1"></i> Previewable</strong>

                <p class="text-muted">
                    @(Model.can_preview?DT.LOCAL.Components.Labels.Yes:DT.LOCAL.Components.Labels.No)
                </p>

                <hr>
                @if (Model.expiration_date != null && Model.expiration_date.Year != 2099)
                {

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Expiration Date</strong>

                    <p class="text-muted">
                        @Model.expiration_date
                    </p>

                    <hr>
                }
                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_languages</strong>

                <p class="text-muted">
                    <ul>
                        @foreach (TargetLanguage targetLanguage in StaticDB.TargetLanguages.Where(x => x.task_id == Model.id))
                        {
                            Language language = StaticDB.Languages.GetById(targetLanguage.language_id);
                            <li>@language.ToStr()</li>
                        }
                    </ul>
                </p>

                <hr>

                @if (Model.target_proficiency_level != null)
                {
                    <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_proficiency_level</strong>
                    List<TagifyValueModel> values = new List<TagifyValueModel>();
                    try
                    {
                        if (!Model.target_proficiency_level.StartsWith("["))
                        {
                            values.Add(new TagifyValueModel() { value = Model.target_proficiency_level });
                        }
                        <ul>
                            @foreach (TagifyValueModel item in values)
                            {
                                <li class="text-muted">
                                    @item.value
                                </li>
                            }
                        </ul>
                    }
                    catch (Exception)
                    {
                        <span>@Model.target_proficiency_level.ToStr()</span>
                    }
                    <hr>
                }

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_ages</strong>

                <p class="text-muted">
                    @Model.target_min_age - @Model.target_max_age
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.information_gap</strong>

                <p class="text-muted">
                    @Model.information_gap
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.estimated_duration</strong>

                <p class="text-muted">
                    @TimeSpan.FromSeconds(Model.estimated_duration)
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.group_range</strong>

                <p class="text-muted">
                    @Model.group_range
                </p>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->

    <div class="col-lg-9 col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._TaskInstructions</h3>
            </div>
            <div class="card-body">
                @Html.Raw(Model.task_instructions)
            </div>
        </div>
        @if (Model.can_preview)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">@DT.LOCAL.Components.Labels.MaterialsPreview</h3>
                </div>
                <div class="card-body card-materials-body">
                    @Html.Partial("~/Views/TaskManagement/_PreviewBodyPartial.cshtml", Model.TaskMaterials)
                </div>
            </div>
        }
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._CompletionOptions</h3>
            </div>
            <div class="card-body">
                @if (Model.exact_value != null)
                {
                    if (!Model.exact_value.StartsWith("["))
                    {
                        List<TagifyValueModel> list = new List<TagifyValueModel>();
                        list.Add(new TagifyValueModel() { value = Model.exact_value });
                        Model.exact_value = list.ToJson();
                    }
                    List<TagifyValueModel> values = JsonConvert.DeserializeObject<List<TagifyValueModel>>(Model.exact_value.ToStr("[]"));
                    <strong><i class="fas fa-book mr-1"></i> Exact Value</strong>
                    if (currentUser != null && currentUser.role_id != 4)
                    {
                        <ul>
                            @foreach (TagifyValueModel item in values)
                            {
                                <li class="text-muted">
                                    @item.value
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        try
                        {
                            int count = values.Count;
                            <p class="text-muted">
                                There @(count>1?"are":"is") @count possible answer@(count>1?"s":"") for this task.
                            </p>
                        }
                        catch (Exception)
                        {

                            throw;
                        }
                    }
                }
                @if (@Model.minimum_word != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Minimum Word Limit</strong>
                    <p class="text-muted">
                        @Model.minimum_word
                    </p>
                }
                @if (@Model.maximum_word != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Maximum Word Limit</strong>
                    <p class="text-muted">
                        @Model.maximum_word
                    </p>
                }
                @if (@Model.time_relevant != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Time Relevant</strong>
                    <p class="text-muted">
                        @TimeSpan.FromSeconds(Model.time_relevant).ToStr()
                    </p>
                }
            </div>
        </div>
        <!--card -->
    </div>
    <!-- col -->
</div>