﻿@model _Task
@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    int user_id = 0;
    User currentUser = Request.User();
    bool isBookmarked = false;
    if (currentUser != null)
    {
        user_id = currentUser.id;
        isBookmarked = StaticDB.BookmarkedTasks.FirstOrDefault(x => x.task_id == Model.id && x.user_id == user_id) != null;
    }
}
<div id="task-@Model.id-details">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary pull-left" onclick="print();">
                <i class="fas fa-print"></i> Print
            </button>
        </div>
        <div class="card-header">
            <a class="btn btn-default pull-left btn-fav" onclick="Bookmark(this)" data-id="@Model.id">
                @if (isBookmarked)
                {

                    <i class="fas fa-star text-yellow"></i> <span>Bookmarked</span>
                }
                else
                {
                    <i class="far fa-star"></i> <span>Bookmark This</span>
                }
            </a>
            @if (currentUser != null)
            {
                <span class="p-3">
                    <i>
                        Hello <strong>@currentUser</strong>
                    </i>
                </span>
            }
            <div class="card-tools">
                @Html.Partial("_ShareButtons", Model)
            </div>
        </div>
        <div class="card-body login-card-body">
            @Html.Partial("_TaskPreviewBody", Model)
        </div>
        <!-- /.login-card-body -->
    </div>
</div>



@section scripts{
    <script>
    function Bookmark(elm) {
        var id = $(elm).data('id');
        var content = $(elm).html();
        if (@user_id != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Bookmark", "TaskManagement")' + '/' + id,
                success: function (data) {
                    if (data['Result']) {
                        if (data['Bookmarked']) {
                            $('.btn-fav[data-id="' + id + '"').html('<i class="fas fa-star text-yellow animate__animated animate__bounceIn"></i> Bookmarked');
                        } else {
                            $('.btn-fav[data-id="' + id + '"').html('<i class="far fa-star animate__animated animate__fadeIn"></i> Bookmark This');
                        }
                    } else {
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                    }
                },
                beforeSend: function () {
                    $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowAlert(title, errorThrown, ok);
                    $(elm).html(content);
                }
            });
        } else {
            $.confirm({
                title: '@DT.LOCAL.Components.Buttons.SignIn',
                content:
                    '<div class="form-group">' +
                        '<p>Your account has not been found. Please sign in to bookmark this task!</p>' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label>Mail</label>' +
                        '<input class="form-control" type="email" id="user-mail"  name="mail"/>' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label>Password</label>' +
                        '<input class="form-control" type="password" id="user-password" name="password"/>' +
                    '</div>'
                ,
                buttons: {
                    '@DT.LOCAL.Components.Buttons.Cancel': function () {

                    },
                    '@DT.LOCAL.Components.Buttons.SignIn': {
                        btnClass: 'btn-success',
                        action: function () {
                            var mail = this.$content.find('input#user-mail').val();
                            var password = this.$content.find('input#user-password').val();
                            if (!mail)
                                return;
                            if (!password)
                                return;
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("LoginDynamic", "Account")',
                                data: {
                                    mail: mail,
                                    password: password
                                },
                                success: function (data) {
                                    if (data['Result']) {
                                        location.reload();
                                    } else {
                                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    ShowAlert(title, errorThrown, ok);
                                }
                            });
                        }
                    }
                }
            });
        }
    }
    </script>
}