﻿@{
    User currentUser = Request.User();
    if(currentUser.role_id != 4)
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    List<SessionTaskParticipant> participants = new List<SessionTaskParticipant>();
    List<SessionTask> SessionTasks = new List<SessionTask>();
    using (Ctx ctx = new Ctx())
    {
        SessionTasks = ctx.Database.SqlQuery<SessionTask>("EXEC GetStudentSessionTasksByUserId " + currentUser.id + ";").ToList();
    
        //participants = ctx.Database.SessionTaskParticipants.Where(s => s.is_active).ToList();
    }
    //participants.ForEach(s => s.User = StaticDB.Users.GetById(s.participant_id));
	
	// TODO Participants listesi procedure ile çekilecek
}

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Engagement History</h3>
            <div class="card-tools">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tasks" class="btn-tool"> <i class="fas fa-list"></i> @DT.LOCAL.Objects.Tables.Tasks</a></li>
                    <li><a data-toggle="tab" href="#sequences" class="btn-tool"><i class="fas fa-th-large"></i> @DT.LOCAL.Objects.Tables.Sequences</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="tab-content">
                <div class="tab-pane active" id="tasks" role="tabpanel">
                    <table class="table table-striped table-bordered projects">
                        <thead>
                            <tr>
                                <th style="width: 50%">
                                    Title
                                </th>
                                <th style="width: 30%">
                                    Participants
                                </th>
                                <th style="width: 8%" class="text-center">
                                    Status
                                </th>
                                <th style="width: 12%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SessionTask sessionTask in SessionTasks.Where(x => x.is_active))
                            {
                                _Task task = StaticDB.Tasks.GetById(sessionTask.task_id);
                                <tr>
                                    <td>
                                        <a>
                                            @task.title
                                        </a>
                                        <br />
                                        <small>
                                            @sessionTask.planned_start_time
                                        </small>
                                    </td>
                                    <td>
                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                            <table class="table table-head-fixed">
                                                <tbody>
                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == sessionTask.id && x.is_active))
                                                    {
                                                        <tr>
                                                            <td>@sessionTaskParticipant.User</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td class="project-state">
                                        @if (sessionTask.start_time == null)
                                        {
                                            <span class="badge badge-primary">Planned</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Completed</span>
                                            <br />
                                            <small class="text-success">
                                                @sessionTask.start_time
                                            </small>
                                        }
                                    </td>
                                    <td class="project-actions text-right">
                                        <div style="text-align:center">
                                            @if (sessionTask.start_time == null)
                                            {
                                                <a class="btn btn-primary btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskManagement",new {id=sessionTask.task_id })">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Task Details
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("Details","TaskResultManagement",new {session_task_id=sessionTask.id })">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Results
                                                </a>
                                            }

                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="sequences" role="tabpanel">
                    <table class="table table-striped table-bordered projects">
                        <thead>
                            <tr>
                                <th style="width: 15%">
                                    Sequence
                                </th>
                                <th style="width: 35%">
                                    Tasks
                                </th>
                                <th style="width: 20%">
                                    Participants
                                </th>
                                <th>
                                    Task Progress
                                </th>
                                <th style="width: 8%" class="text-center">
                                    Status
                                </th>
                                <th style="width: 12%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (IGrouping<int, SessionTask> grpSessionTasks in SessionTasks.Where(x => x.is_active && x.sequence_id != null).GroupBy(s => s.sequence_id.ToInteger()))
                            {
                                Sequence sequence = StaticDB.Sequences.GetById(grpSessionTasks.Key);
                                if (grpSessionTasks.Count() <= 0)
                                {
                                    continue;
                                }
                                SessionTask singleTask = grpSessionTasks.ToList()[0];
                                int doneCount = grpSessionTasks.Count(s => s.start_time != null);
                                int allCount = grpSessionTasks.Count();
                                int completionPercent = doneCount * 100 / allCount;
                                string status = "";
                                bool showResults = false;
                                if (showResults = doneCount == allCount)
                                {
                                    status = "<span class=\"badge badge-success\">Completed</span>";
                                }
                                else if (doneCount == 0)
                                {
                                    status = "<span class=\"badge badge-primary\">Planned</span>";
                                }
                                else
                                {
                                    showResults = true;
                                    status = "<span class=\"badge badge-warning\">Continue</span>";
                                }
                                <tr>
                                    <td>
                                        <a>
                                            @sequence.title
                                        </a>
                                    </td>
                                    <td>
                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                            <table class="table table-head-fixed">
                                                <tbody>
                                                    @foreach (SessionTask sessionTask in grpSessionTasks)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @StaticDB.Tasks.GetById(sessionTask.task_id).ToStr() - @sessionTask.planned_start_time
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="card-body table-responsive p-0" style="height: 100px;">
                                            <table class="table table-head-fixed">
                                                <tbody>
                                                    @foreach (SessionTaskParticipant sessionTaskParticipant in participants.Where(x => x.session_task_id == singleTask.id && x.is_active))
                                                    {
                                                        <tr>
                                                            <td>@sessionTaskParticipant.User</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@completionPercent" aria-volumemin="0" aria-volumemax="100" style="width: @(completionPercent)%">
                                            </div>
                                        </div>
                                        <small>
                                            @completionPercent% Complete
                                        </small>
                                    </td>
                                    <td class="project-state">
                                        @Html.Raw(status)
                                    </td>
                                    <td class="project-actions text-right">
                                        @if (showResults)
                                        {
                                            <a class="btn btn-success btn-sm" href="#" data-modal="#partial-modal" onclick="PartialShow(this);" data-url="@Url.Action("SequenceDetails","TaskResultManagement",new {sequence_id=sequence.id })">
                                                <i class="fas fa-folder">
                                                </i>
                                                Results
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>