﻿.brand-link.text-sm .brand-image, .text-sm .brand-link .brand-image {
    height: 100px;
}

.material-body img {
    width: 100%;
    height: auto;
}

.layout-navbar-fixed.layout-fixed .wrapper .brand-link.text-sm ~ .sidebar, .text-sm .layout-navbar-fixed.layout-fixed .wrapper .brand-link ~ .sidebar {
    margin-top: calc(6.93725rem + 1px);
}

.brand-link .brand-image {
    max-height: unset !important;
}

.text-truncate {
    max-width: 100px !important;
}

.hoverize {
    transition: all 0.2s ease-in-out;
}

.img-responsive {
    width: 100% !important;
    height: auto !important;
}

.hoverize-orange:hover {
    color: orange !important;
}

.user-panel img {
    height: auto;
    width: 3.1rem;
}

.account-body {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.ekko-lightbox {
    z-index: 99999999 !important;
}

.login-logo {
    height: 172px;
}

.material-body-content {
    padding: 10px;
    border: 2px solid #ccc;
}

.source-link {
    padding: 5px;
}

    .source-link a {
        font-style: italic;
    }

.account-body, .register-box {
    width: 100% !important;
}

.login-card-body, .register-card-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn-start-page {
    min-height: 85px;
    width: 80%;
    padding-top: 15px;
    font-size: 36px;
    letter-spacing: 7px;
    color: white !important;
    border-radius: 10px;
    border: 2px solid #ababab;
}

    .btn-start-page i {
        color: #545454;
    }

.login-page, .register-page {
    background-color: #fff !important;
}

.img-login-footer {
    height: 70px !important;
    width: auto;
}

.account-body {
    margin-left: auto;
    margin-right: auto;
}
.recordvalue-img{
    width:300px;
    height:auto;
}
.dt-button-collection {
    margin-left: -70px !important;
}
.note-group-select-from-files {
    display: none;
}
.no-padding{
    padding:0px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-border-radius {
    border-radius: 0px !important;
}
.cursor-pointer{
    cursor:pointer;
}
#material-list,
#task-material-list {
    max-height: 450px !important;
    overflow: auto !important;
}
.cc-status-img {
    height: 40px !important;
    width: auto !important;
}
.material-info-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hidden {
    display: none !important;
}
.content-header > h1 {
    font-size: 24px !important;
    color: #f39c12;
}
/*.nav-treeview{
    padding-left:25px !important;
}*/
.completion-value-input {
    width: 98%;
    margin-left: 2%;
}
.parameter select,
.parameter input,
.parameter textarea,
.select2-selection {
    min-height: 40px !important;
}

.select2-selection__arrow {
    top: 0.4rem !important;
    right: 6px !important;
}
/*.select2-container,
.select2-drop {
    z-index: 100000;
}*/
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}

.index-table th:not(:first-child) {
    padding: 5px 15px;
    min-width: 100px;
    text-align: center;
}

.lb-data .lb-number {
    font-size: 16px !important;
    color: #fff !important;
}

.model-title {
    font-size: 100% !important;
    font-weight: bold !important;
}

.record-list-row .even {
    background-color: #f1f1f1;
}

.record-list-row,
.record-list-row > .data-cell{
    transition: all 0.2s linear !important;
    text-align: center;
}

    .record-list-row:not(.connected):hover {
        background-color: rgb(235, 235, 235);
    }

    .record-list-row > .data-cell:not(.connected):hover {
        background-color: rgb(111, 111, 111) !important;
        cursor: pointer;
    }

    .record-list-row > .data-cell:not(.connected):hover a {
        color: #fff !important;
    }

.edit-data-cell {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e8e8e8;
    cursor: pointer;
}

.btn-xxs {
    font-size: 10px;
}

.btn-gray {
    color: gray !important;
}
.btn-group > .btn:first-child {
    padding-left: 8px;
    padding-right: 8px;
}

.hover-orange:hover {
    color: #eac355 !important;
}

.active > a > span {
    color: #f39c12 !important;
}

.treeview-menu > li {
    border-left: solid #444 2px;
    margin-left: 20px !important;
}

.button-cell {
    width: 125px !important;
}

.dtr-data {
    left: 200px;
    position: absolute !important;
}

.btn-group > ul > li > a > i {
    width: 15px;
}

.error {
    color: red;
    font-size: 90%;
    font-weight: 400 !important;
    border-color: red !important;
}

.waiter-outer {
    background: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0.9;
    transition: all linear 0.3s;
}

.waiter-inner {
    background: url(../img/loader.html) no-repeat center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0.9;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.card > .overlay,
.panel > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card > .overlay,
.panel .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    display: none;
}

    .card .overlay > .fas,
    .panel .overlay > .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
    }

    .card .overlay.dark,
    .panel .overlay.dark {
        background: rgba(0, 0, 0, 0.5);
    }

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.81, 0.13, 0.85, 0.24);
    -webkit-animation-direction: alternate;
}

.index-table tbody tr td {
    word-wrap: break-word !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    min-height: 40px !important;
}

.selected-row {
    background-color: rgba(106, 177, 246, 0.70) !important;
}

.form-group {
    transition: all 0.3s ease-in-out;
}

.input-spinner {
    margin-top: 9px;
    position: absolute;
    font-size: 22px !important;
    right: 9px;
    color: #eac355;
}

.flag-icon {
    width: 1.7em !important;
}

.lang-link {
    padding-top: 5px !important;
}

/*.nav-link small {
    display: block;
    padding-left: 33px;
}*/

.form-groups-menu {
    position: absolute;
    z-index: 999;
    opacity: 1.0;
    transition: 0.2s all ease-in-out;
    box-shadow: 7px 5px 5px 3px #ccc;
}

    .form-groups-menu > .card-header {
        cursor: move !important;
    }
    .form-groups-menu > .card-body{
        background-color:#fff !important;
    }
    /*.bt-clear-static {
    color: dimgray;
}

.bt-sign-out {
    color: red;
    transition: all ease-in-out 0.2s;
}

    .bt-sign-out:hover {
        text-shadow: 0 0 10px #ff7373;
    }*/
/*    .control-sidebar-content {
        overflow-y: scroll;
    }*/

/*.navbar-color-changer,
.accent-color-changer,*/
/*.sidebar-color-changer,*/
/*.brand-color-changer {
    width: 40px;
    height: 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    cursor: pointer;
}*/

.mandatory-asterix {
    text-indent: 3px !important;
    color: red !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
}

.select-radio-button > label {
    font-weight: 400 !important;
}

input[type=checkbox], input[type=radio] {
    margin-top: -25px !important;
}

input[type=checkbox] {
    margin-top: -25px !important;
    height: 22px !important;
}

.col-selector {
    display: none;
}

.col-selector-dropdown {
    width: 1000px;
    padding: 10px;
    margin-right: -100px;
}

.overlay {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
}

.parameter-image-box {
    padding: 5px !important;
}

.parameter-image-container {
    padding: 5px !important;
    border: 1px solid #ccc;
    margin-left: 5px;
    text-align: center;
}

.parameter-image {
    max-width: 100% !important;
    height: 150px;
}

.parameter-image-details {
}

.lightboxOverlay {
    z-index: 9999999999 !important;
}

.lightbox {
    z-index: 9999999999 !important;
}

.copyright {
    color: #808080;
    position: absolute;
    bottom: 5px;
    left: 20px;
    border-top: 1px solid #ccc;
    width: 80%;
}

th.parameter-col {
    font-size: 13px;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-top: 0.3rem !important;
    margin-bottom: 0rem !important;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* End of Switch */

.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor:not-allowed;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1b1b1b;
    border-color: rgb(111, 111, 111);
    color: rgb(235, 235, 235) !important;
}

.W-P70{
    width:70% !important;
}


.material-body {
    height: 550px !important;
    overflow: auto;
    padding: 30px;
    border: solid #ccc 1px;
}

    .material-body img:not(.cc-status-img) {
        height: 350px;
        width: auto;
        cursor: pointer;
    }

.material-body-content > iframe {
    width: 100% !important;
}

.tm-property {
    font-style: italic;
}

.tm-cc {
    height: 40px;
    width: auto;
    float: left;
}

#preview-container {
    padding: 20px;
    text-align: center;
}

.qr-code-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    padding: 20px;
}

.share-buttons {
    width: 100% !important;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.1em 0.6em;
    outline: none;
    text-align: center;
    font-size: 0.9em;
    margin: 0 0.2em;
}

    .share-btn:focus,
    .share-btn:hover {
        text-decoration: none;
        opacity: 0.8;
    }

    .share-btn:active {
        color: #e2e2e2;
    }

    .share-btn.clipboard {
        background: #565656;
    }

    .share-btn.qr {
        background: #eac355;
    }

    .share-btn.twitter {
        background: #55acee;
    }

    .share-btn.google-plus {
        background: #dd4b39;
    }

    .share-btn.facebook {
        background: #3B5998;
    }

    .share-btn.stumbleupon {
        background: #EB4823;
    }

    .share-btn.reddit {
        background: #ff5700;
    }

    .share-btn.hackernews {
        background: #ff6600;
    }

    .share-btn.linkedin {
        background: #4875B4;
    }

    .share-btn.email {
        background: #444444;
    }
.card-material-body {
    padding-left: 50px;
    padding-right: 50px;
}

.card-materials-body {
    padding: 5px !important;
}

@media (max-width: 576px) {
    .hide-in-mobile {
        display: none !important;
    }

    .material-body img:not(.cc-status-img) {
        width: 100% !important;
        height: auto !important;
        cursor: pointer;
    }

    .material-body {
        height: auto !important;
        padding: 0px !important;
    }

    .card-material-body {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}