﻿@model _Task
<div class="row">
    <div class="col-md-12">
        <div class="card card-gray" style="height:100% !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.title <span class="text-danger" title="Required">*</span></label>
                            <textarea name="title" id="title" class="form-control task-prop" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.co_designers</label>
                            @Html.ListBoxFor(M => M._CoDesigners, new MultiSelectList(Model.CoDesignerUsers, "id", "SelectLabel"), new { @class = "form -control", multiple = "multiple", id = "_CoDesigners", style = "width: 100%" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.task_type</label>
                            <input name="type" id="type" class="form-control task-prop" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.information_gap <span class="text-danger" title="Required">*</span></label>
                            <select name="information_gap" id="information_gap" class="form-control task-prop">
                                <option value="Emergent">Emergent</option>
                                <option value="Multi Way">Multi Way</option>
                                <option value="None">None</option>
                                <option value="One Way">One Way</option>
                                <option value="Two Way">Two Way</option>
                                <option value="Other">Other</option>
                            </select>
                            <input class="form-control hidden" id="other-gap" style="margin-top: 10px;" placeholder="@DT.LOCAL.Components.Labels.PleaseWrite" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.target_skill <span class="text-danger" title="Required">*</span></label>
                            <select name="target_skill" id="target_skill" class="form-control task-prop">
                                <option value="Speaking">@DT.LOCAL.Enums.TargetSkills.Speaking</option>
                                <option value="Interaction">@DT.LOCAL.Enums.TargetSkills.Interaction</option>
                                <option value="Reading">@DT.LOCAL.Enums.TargetSkills.Reading</option>
                                <option value="Writing">@DT.LOCAL.Enums.TargetSkills.Writing</option>
                                <option value="Mediation">@DT.LOCAL.Enums.TargetSkills.Mediation</option>
                                <option value="IntegratedSkills">@DT.LOCAL.Enums.TargetSkills.IntegratedSkills</option>
                            </select>
                            <input class="form-control hidden" id="other-gap" style="margin-top: 10px;" placeholder="@DT.LOCAL.Components.Labels.PleaseWrite" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.target_subject</label>
                            <textarea name="target_subject" id="target_subject" class="form-control task-prop" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.objectives</label>
                            <textarea name="objectives" id="objectives" class="form-control task-prop" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.target_languages <span class="text-danger" title="Required">*</span></label>
                            <select name="target_languages" id="target_languages" class="form-control select2 task-prop" multiple>
                                <option>@DT.LOCAL.Components.Labels.PleaseChoose</option>
                                @foreach (Language language in StaticDB.Languages)
                                {
                                    TargetLanguage tl = StaticDB.TargetLanguages.FirstOrDefault(t => t.task_id == Model.id);
                                    string slc = tl != null && tl.language_id == language.id ? "selected" : "";
                                    <option @slc value="@language.id">@language.name</option>
                                }
                                <option value="0">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.target_proficiency_level <span class="text-danger" title="Required">*</span></label>
                            <select name="target_proficiency_levels" id="target_proficiency_levels" class="form-control select2 task-prop" multiple="multiple">
                                <option>@DT.LOCAL.Components.Labels.PleaseChoose</option>
                                @foreach (var item in WebUtils.GetResourcesByType(typeof(DT.LOCAL.Enums.Proficiencies), true))
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.target_ages</label>
                            <input id="target_ages" type="text" name="target_ages" value="" class="task-prop">
                            <input type="hidden" id="target_min_age" />
                            <input type="hidden" id="target_max_age" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" style="float:left;padding-right:20px;">
                            <p style="margin-bottom:0;"><label>@DT.LOCAL.Components.Labels.CanPreviewable</label></p>
                            <input type="checkbox"
                                   name="can_preview"
                                   id="can_preview"
                                   class="pull-right task-prop"
                                   @(Model.can_preview ? "checked" : "") data-toggle="toggle"
                                   data-width="150"
                                   data-onstyle="success"
                                   data-offstyle="secondary"
                                   data-on="<i class='far fa-eye'></i> @DT.LOCAL.Components.Labels.Previewable"
                                   data-off="<i class='far fa-eye-slash'></i> @DT.LOCAL.Components.Labels.NotPreviewable">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Estimated Duration</label>
                            <input type="time" class="form-control" step="1" id="duration" value="00:05:00" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.expiration_date</label>
                            <input id="expiration_date" type="date" value="@(Model.expiration_date.Year == 2099?"":Model.expiration_date.ToString("yyyy-MM-dd"))" class="form-control task-prop">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.tags</label>
                            <input type="text" id="tags" name="tags" class="form-control task-prop" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@DT.LOCAL.Objects.Columns.task_details</label>
                            <textarea name="details" id="details" class="form-control task-prop" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="card card-gray" style="height:100% !important;">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-question-circle"></i>  @DT.LOCAL.Messages.Helps.DialogTitle
                </h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>*@
</div>