﻿@model _Task
<div class="row">
    <div class="col-md-12">
        <div class="card card-gray" style="height:100% !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="exact_value">@string.Format(DT.LOCAL.Components.Labels.PleaseChooseX, DT.LOCAL.Objects.Columns.completion_type)</label>
                            <select class="form-control" id="completion_type">
                                <option>@DT.LOCAL.Components.Labels.PleaseChoose</option>
                                <option value="E">@DT.LOCAL.Enums.CompletionTypes.ExactValue</option>
                                <option value="W">@DT.LOCAL.Enums.CompletionTypes.WordLimits</option>
                                <option value="T">@DT.LOCAL.Enums.CompletionTypes.TimeRelevant</option>
                                <option value="ET">@DT.LOCAL.Enums.CompletionTypes.ExactValue + @DT.LOCAL.Enums.CompletionTypes.TimeRelevant</option>
                                <option value="WT">@DT.LOCAL.Enums.CompletionTypes.WordLimits + @DT.LOCAL.Enums.CompletionTypes.TimeRelevant</option>
                                <option value="N">@DT.LOCAL.Enums.CompletionTypes.None</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                    </div>
                    <div class="col-lg-6 col-md-12 d-none" data-type="ExactValue">
                        <div class="form-group">
                            <label for="exact_value">@DT.LOCAL.Enums.CompletionTypes.ExactValue</label>
                            <input type="text" data-id="exact_value" id="exact_value" name="exact_value" class="form-control task-prop" />
                            <small data-id="exact_value" class="text-gray d-block">@DT.LOCAL.Components.Labels.ExactValueDesc</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 d-none" data-type="WordLimits">
                        <div class="form-group">
                            <label for="minimum_word">@DT.LOCAL.Components.Labels.MinimumWordLimit</label>
                            <input type="number" step="1" min="1" data-id="minimum_word" id="minimum_word" name="minimum_word" class="form-control task-prop" />
                            <small class="text-gray d-block">@DT.LOCAL.Components.Labels.MinimumWordDesc</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 d-none" data-type="WordLimits">
                        <div class="form-group">
                            <label for="maximum_word">@DT.LOCAL.Components.Labels.MaximumWordLimit</label>
                            <input type="number" step="1" min="2" data-id="maximum_word" id="maximum_word" name="maximum_word" class="form-control task-prop" />
                            <small class="text-gray d-block">@DT.LOCAL.Components.Labels.MaximumWordDesc</small>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 d-none" data-type="TimeRelevant">
                        <input type="hidden" id="time_relevant">
                        <label for="time_relevant" style="padding-left:7.5px;">@DT.LOCAL.Enums.CompletionTypes.TimeRelevant</label>
                        <div class="form-group">
                            <div style="max-width:80px;float:left;text-align:center;">
                                <input type="number" min="0" step="1" class="form-control timing" style="text-align: center;" id="tr_hour" value="0" />
                                <small class="text-gray">Hour</small>
                            </div>
                            <span style="float:left;font-size:20px;min-width: 10px;text-align: center;">:</span>
                            <div style="max-width:80px;float:left;text-align:center;">
                                <input type="number" min="0" max="59" step="1" class="form-control timing" style="text-align: center;" id="tr_minute" value="0" />
                                <small class="text-gray">Minute</small>
                            </div>
                            <span style="float:left;font-size:20px;min-width: 10px;text-align: center;">:</span>
                            <div style="max-width:80px;float:left;text-align:center;">
                                <input type="number" min="0" max="59" step="1" class="form-control timing" style="text-align: center;" id="tr_second" value="0" />
                                <small class="text-gray">Second</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 d-none" data-type="TimeRelevant">
                        <small class="text-gray d-block">@DT.LOCAL.Components.Labels.TimeRelevantDesc</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="card card-gray" style="height:100% !important;">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-question-circle"></i>  @DT.LOCAL.Messages.Helps.DialogTitle
                    </h3>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>*@
</div>