﻿@model _Task
@{

    User current_user = Request.User();
}
<div class="modal-dialog modal-xl" id="task-details-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                <button type="button" class="btn btn-primary" data-smartlink="@HttpUtility.HtmlEncode(Credentials.SystemCredentials.RootUrl + "open-preview?smartcode=" + Model.smartcode)" onclick="PrintTask(this);"><i class="fas fa-print"></i></button>
                @Model.title
            </h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-details-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="height:700px;overflow:auto;">
            @Html.Partial("_TaskDetails", Model)
        </div>
        <div class="modal-footer">
            <img src="~/Content/img/CCs/by-nc-sa.eu.svg" alt="@DT.LOCAL.Enums.CreativeCommons.BY_NC_SA" class="cc-status-img float-left" />
        </div>
    </div>
</div>


