﻿@model _Task
<div class="row">
    <div class="col-md-8">
       
    </div>
    <div class="col-md-4">
        <div class="card card-gray" style="height:100% !important;">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-question-circle"></i>  @DT.LOCAL.Messages.Helps.DialogTitle
                </h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>