﻿@model Material
<div class="small-box @ViewData["color"] no-border-radius no-padding no-margin">
    <div class="inner">
        <h6 class="material-info-title">@Model.title</h6>

        
    </div>
    <div class="icon">
        @switch (Model.type)
        {
            case "Text":
                <i class="fas fa-align-justify"></i>
                break;
            case "Image":
                <i class="far fa-image"></i>
                break;
            case "Audio":
                <i class="fas fa-volume-up"></i>
                break;
            case "Video":
                <i class="fas fa-video"></i>
                break;
            case "Mixed":
                <i class="far fa-newspaper"></i>
                break;
            default:
                break;
        }
        @switch (Model.cc_status)
        {
            case "BY":
                <img src="~/Content/img/CCs/by.svg" alt="@Model.cc_status" class="cc-status-img" />
                break;
            case "BY_NC":
                <img src="~/Content/img/CCs/by-nc.eu.svg" alt="@Model.cc_status" class="cc-status-img" />
                break;
            case "BY_NC_SA":
                <img src="~/Content/img/CCs/by-nc-sa.eu.svg" alt="@Model.cc_status" class="cc-status-img" />
                break;
            case "BY_SA":
                <img src="~/Content/img/CCs/by-sa.svg" alt="@Model.cc_status" class="cc-status-img" />
                break;
            case "CC0":
                <img src="~/Content/img/CCs/cc-zero.svg" alt="@Model.cc_status" class="cc-status-img" />
                break;
            default:
                break;
        }
    </div>
    <a href="#" 
        class="small-box-footer"
        data-url="@Url.Action("Details","MaterialManagement", new {id=Model.id, function="TaskDetails"})" 
        data-modal="#partial-modal"
        onclick="PartialShow(this);">
        @DT.LOCAL.Components.Labels.MoreInfo <i class="fas fa-arrow-circle-right"></i>
    </a>
</div>