﻿@model _Task
@{
    User current_user = Request.User();
}
<div class="modal-dialog modal-dialog-centered modal-sm" role="document" id="task-menu-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Model</h5>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-menu-dialog"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">

            <a href="@Url.Action("Clone","TaskManagement",new {id=Model.id })"
               class="btn btn-default btn-block hover-orange">
                <i class="fa fa-copy"></i> @DT.LOCAL.Components.Buttons.Clone
            </a>
            <a href="#"
               class="btn btn-default btn-block hover-orange"
               data-url="@Url.Action("PreviewModal","TaskManagement",new {id=Model.id })"
               onclick="PartialShow(this)"
               data-modal="#partial-modal">
                <i class="fa fa-eye"></i>&nbsp;@DT.LOCAL.Components.Labels.MaterialsPreview
            </a>
            <a href="#" class="btn btn-default btn-block hover-orange" data-url="@Url.Action("Details","TaskManagement",new {id=Model.id })" onclick="PartialShow(this)" data-modal="#partial-modal">
                <i class="fa fa-info"></i>&nbsp;@DT.LOCAL.Components.Buttons.Details
            </a>
            @if (Model.UserCanEdit)
            {
                <a href="#"
                   class="btn btn-danger btn-block"
                   onclick="ConfirmGoLink('@DT.LOCAL.Messages.Questions.ApproveTitle', '@DT.LOCAL.Messages.Warnings.DeleteWarning', '@DT.LOCAL.Components.Buttons.Cancel', '@DT.LOCAL.Components.Buttons.Ok', '@Url.Action("Delete",new {id=Model.id })');">
                    <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                </a>
            }
            else if (Model.being_used)
            {
                <a href="#" class="btn btn-danger btn-block" style="opacity:0.4;" onclick="BeingUsed(@Model.id);" data-toggle="tooltip">
                    <i class="fa fa-trash"></i> @DT.LOCAL.Components.Buttons.Delete
                </a>
            }
        </div>

        <div class="modal-footer">
            @Html.Partial("_ShareButtons", Model)
        </div>
    </div>
</div>


