﻿@model List<TaskMaterial>
@foreach (var grpTM in Model.OrderBy(t => t.index_order).GroupBy(t => t.index_order))
{
    if (grpTM.Count() == 0)
    {
        continue;
    }
    int index = 1;
    string st = grpTM.ToList()[0].attributes.ToStr();
    <div class="card card-secondary collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Student-@grpTM.Key</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">


            @foreach (TaskMaterial taskMaterial in grpTM.OrderBy(x => x.activation_time))
            {
                string activation = "";
                if (taskMaterial.activation_time > 0)
                {
                    activation = string.Format("(Activation Time : {0})", TimeSpan.FromSeconds(taskMaterial.activation_time).ToStr());
                }
                <div class="card card-default collapsed-card">
                    <div class="card-header" id="@string.Format("heading_{0}_{1}",grpTM.Key,taskMaterial.id)">
                        <h3 class="card-title">
                            @string.Format("Task Material - {0} {1}", index++, activation)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <strong>
                            @taskMaterial.Material.title
                        </strong>
                        <div class="form-group material-body" title="@DT.LOCAL.Objects.Columns.body">
                            @Html.Raw(taskMaterial.Material.body)
                        </div>

                        @switch (taskMaterial.Material.cc_status)
                        {
                            case "BY":
                                <img src="~/Content/img/CCs/by.svg" alt="@taskMaterial.Material.cc_status" class="tm-cc" />
                                break;
                            case "BY_NC":
                                <img src="~/Content/img/CCs/by-nc.eu.svg" alt="@taskMaterial.Material.cc_status" class="tm-cc" />
                                break;
                            case "BY_NC_SA":
                                <img src="~/Content/img/CCs/by-nc-sa.eu.svg" alt="@taskMaterial.Material.cc_status" class="tm-cc" />
                                break;
                            case "BY_SA":
                                <img src="~/Content/img/CCs/by-sa.svg" alt="@taskMaterial.Material.cc_status" class="tm-cc" />
                                break;
                            case "CC0":
                                <img src="~/Content/img/CCs/cc-zero.svg" alt="@taskMaterial.Material.cc_status" class="tm-cc" />
                                break;
                            default:
                                break;
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(taskMaterial.details))
                    {
                        <div class="card-footer">

                            <strong>Material Instructions</strong>
                            <p>
                                @taskMaterial.details.ToStr()
                            </p>
                        </div>
                    }
                </div>
            }
        </div>
        @if (!string.IsNullOrEmpty(st))
        {

            <div class="card-footer">
                <strong>Student-@grpTM.Key Instructions</strong>
                <p>
                    @st
                </p>
            </div>
        }
    </div>
}

