﻿@model List<TaskMaterial>
<div class="modal-dialog modal-xl" id="task-preview-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">PREVIEW</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-preview-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-1">
                    <a class="carousel-control-prev text-dark" href="#previewCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                </div>
                <div class="col-10">
                    <div id="previewCarousel" class="carousel slide" data-ride="carousel" style="box-shadow: 2px 2px 10px 0px; border-radius: 10px;">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <li data-target="#previewCarousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                            }
                        </ol>

                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                TaskMaterial tm = Model.OrderBy(m => m.activation_time).ToList()[i];
                                <div class="carousel-item@(i==0?" active":"")" data-interval="3000">
                                    @Html.Partial("_PreviewMaterialPartial", tm)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <a class="carousel-control-next text-dark" href="#previewCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

