﻿@model _Task
<div class="row">
    <div class="col-md-12">
        <div class="card card-gray" style="height:100% !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <button class="btn btn-block btn-lg btn-primary" id="btn-preview" data-url="@HttpUtility.HtmlEncode(Credentials.SystemCredentials.RootUrl + "open-preview?smartcode=" + Model.smartcode)" data-container="#preview-container" onclick="ShowPreview(this);" type="button">
                            <i class='far fa-eye'></i>  @DT.LOCAL.Components.Labels.PressToPreview
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <button class="btn btn-block btn-lg btn-secondary" id="btn-qr" data-url="@string.Format("{0}{1}",Credentials.SystemCredentials.RootUrl, Url.Action("TaskPreview","Front",new {smartcode=Model.smartcode}))" data-container="#preview-container" onclick="GenerateQR(this);" type="button">
                            <i class="fas fa-qrcode"></i> @DT.LOCAL.Components.Labels.GenerateQR
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <button class="btn btn-block btn-lg btn-success" id="btn-save" onclick="SaveTask(this)" type="button">
                            <i class="fas fa-save"></i> @DT.LOCAL.Components.Buttons.SaveAndPublish
                        </button>
                    </div>
                    <div class="col-12" id="preview-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="card card-gray" style="height:100% !important;">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-question-circle"></i>  @DT.LOCAL.Messages.Helps.DialogTitle
                    </h3>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>*@
</div>