﻿@model _Task
@{

    var bookmarkers = Model.BookmarkedTasks.Select(x => x.User).ToList();
    var sequences = Model.SequenceTasks.Select(x => x.Sequence).ToList();
    var sessions = Model.SessionTasks;
    var cloners = Model.TaskEditors.Select(x => x.User).DistinctBy(x => x.id).ToList();
    bool noRelation = bookmarkers.Count == 0 && sequences.Count == 0 && sessions.Count == 0 && cloners.Count == 0;
}
@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
}
<div class="modal-dialog @(noRelation?"":"modal-xl")" id="task-related-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">DATA RELATIONS OF THIS TASK</h4>
            <button type="button" class="close" onclick="CloseModal(this)" data-target="#task-related-dialog"><i class="fas fa-times"></i></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            @if (noRelation)
            {
                <p>
                    There is no data relation of this task.
                </p>
            }
            else
            {

                <ul class="nav nav-tabs" role="tablist">
                    @{
                        string tabActive = "active";
                    }
                    @if (bookmarkers.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="bookmarkers-tab" data-toggle="pill" href="#bookmarkers" type="button" role="tab" aria-controls="bookmarkers" aria-selected="true">BOOKMARKERS</a>
                        </li>
                        tabActive = "";
                    }
                    @if (sequences.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="sequences-tab" data-toggle="pill" href="#sequences" type="button" role="tab" aria-controls="sequences" aria-selected="false">SEQUENCES</a>
                        </li>
                        tabActive = "";
                    }
                    @if (sessions.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="assignments-tab" data-toggle="pill" href="#assignments" type="button" role="tab" aria-controls="assignments" aria-selected="false">ASSIGNMENTS</a>
                        </li>
                        tabActive = "";
                    }
                    @if (cloners.Count > 0)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link @tabActive" id="cloners-tab" data-toggle="pill" href="#cloners" type="button" role="tab" aria-controls="cloners" aria-selected="false">CLONERS</a>
                        </li>
                        tabActive = "";
                    }
                </ul>

                <div class="tab-content">
                    @{
                        string contentActive = "active";
                    }
                    @if (bookmarkers.Count > 0)
                    {
                        <div class="tab-pane @contentActive" id="bookmarkers" role="tabpanel" aria-labelledby="bookmarkers-tab">
                            @Html.Partial("_UsersTable", bookmarkers)
                        </div>
                        contentActive = "";
                    }
                    @if (sequences.Count > 0)
                    {
                        <div class="tab-pane @contentActive" id="sequences" role="tabpanel" aria-labelledby="sequences-tab">
                            @Html.Partial("_SequencesTable", sequences)
                        </div>
                        contentActive = "";
                    }
                    @if (sessions.Count > 0)
                    {
                        <div class="tab-pane @contentActive" id="assignments" role="tabpanel" aria-labelledby="assignments-tab">
                            @Html.Partial("_SessionTasksTable", sessions)
                        </div>
                        contentActive = "";
                    }
                    @if (cloners.Count > 0)
                    {
                        <div class="tab-pane @contentActive" id="cloners" role="tabpanel" aria-labelledby="cloners-tab">
                            @Html.Partial("_UsersTable", cloners)
                        </div>
                        contentActive = "";
                    }
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="CloseModal(this)" data-target="#task-related-dialog">@DT.LOCAL.Components.Buttons.Ok</button>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            var datatable = $('.index-table').DataTable({
                'autoWidth': false,
                'ordering': true,
                'responsive':true,
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    }
                ],
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                }
            });
        });

    </script>
}

