﻿@model _Task
@{
    User current_user = Request.User();
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_TaskDetailsBasics", Model)
    </div>
    <!-- /.col -->

    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._TaskInstructions</h3>
            </div>
            <div class="card-body">
                @Html.Raw(Model.task_instructions)
            </div>
        </div>
        @if (Model.can_preview)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">@DT.LOCAL.Components.Labels.MaterialsPreview</h3>
                </div>
                <div class="card-body">
                    @Html.Partial("_PreviewBodyPartial", Model.TaskMaterials)
                </div>
            </div>
        }
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._CompletionOptions</h3>
            </div>
            <div class="card-body">
                @if (Model.exact_value != null)
                {
                    <strong><i class="fas fa-book mr-1"></i> Exact Value</strong>
                    List<TagifyValueModel> values = new List<TagifyValueModel>();
                    try
                    {
                        if (!Model.exact_value.StartsWith("["))
                        {
                            values.Add(new TagifyValueModel() { value = Model.exact_value });
                        }

                        <ul>
                            @foreach (TagifyValueModel item in values)
                            {
                                <li class="text-muted">
                                    @item.value
                                </li>
                            }
                        </ul>
                    }
                    catch (Exception)
                    {
                        <span>@Model.exact_value.ToStr()</span>
                    }
                }
                @if (Model.minimum_word != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Minimum Word Limit</strong>
                    <p class="text-muted">
                        @Model.minimum_word
                    </p>
                }
                @if (Model.maximum_word != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Maximum Word Limit</strong>
                    <p class="text-muted">
                        @Model.maximum_word
                    </p>
                }
                @if (Model.time_relevant != 0)
                {
                    <strong><i class="fas fa-book mr-1"></i> Time Relevant</strong>
                    <p class="text-muted">
                        @TimeSpan.FromSeconds(Model.time_relevant).ToStr()
                    </p>
                }
            </div>
        </div>
        <!--card -->
    </div>
    <!-- col -->
</div>
