﻿@model _Task
<style>
    .about-body hr {
        margin: 0px !important;
    }

    .about-body p,
    .about-body ul {
        padding-left: 25px;
    }
</style>
<!-- /.card -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@DT.LOCAL.Components.TaskWizard._BasicInformation</h3>
        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body about-body">

        <strong><i class="fas fa-user mr-1"></i> @DT.LOCAL.Objects.Columns.original_designer</strong>

        <p class="text-muted">
            @StaticDB.Users.GetById(Model.author_id).ToStr()
        </p>

        <hr>
        @if (Model.CoDesigners != null && Model.CoDesigners.Count > 0)
        {

            <strong><i class="fas fa-award mr-1"></i> @DT.LOCAL.Objects.Columns.co_designers</strong>
            <ul>

                @foreach (int designer_id in Model.CoDesigners)
                {
                <li class="text-muted">
                    @StaticDB.Users.GetById(designer_id).ToStr()
                </li>
                }
            </ul>

            <hr>
        }
        <strong><i class="fas fa-award mr-1"></i> @DT.LOCAL.Objects.Columns.information_gap</strong>

        <p class="text-muted">
            @(string.IsNullOrEmpty(Model.information_gap.ToStr().Trim())?"-": Model.information_gap.ToStr())
        </p>

        <hr>

        <strong><i class="fas fa-users mr-1"></i> @DT.LOCAL.Objects.Columns.group_range</strong>

        <p class="text-muted">
            @(string.IsNullOrEmpty(Model.group_range.ToStr().Trim())?"-": Model.group_range.ToStr())
        </p>

        <hr>
        @if (Request.User() != null && Request.User().role_id == 4)
        {

            <strong><i class="fas fa-question-circle"></i> @DT.LOCAL.Objects.Columns.task_instructions</strong>

            <p class="text-muted">
                @Html.Raw(string.IsNullOrEmpty(Model.task_instructions.ToStr().Trim()) ? "-" : Model.task_instructions.ToStr())
            </p>

            <hr>
        }
        <strong><i class="fas fa-atlas mr-1"></i> @DT.LOCAL.Objects.Columns.target_subject</strong>

        <p class="text-muted">
            @(string.IsNullOrEmpty(Model.target_subject.ToStr().Trim())?"-": Model.target_subject.ToStr())
        </p>

        <hr>

        <strong><i class="fas fa-map-marker-alt mr-1"></i> @DT.LOCAL.Objects.Columns.objectives</strong>

        <p class="text-muted">
            @(string.IsNullOrEmpty(Model.objectives.ToStr().Trim())?"-": Model.objectives.ToStr())
        </p>

        <hr>


        <strong><i class="fas fa-book mr-1"></i> Previewable</strong>

        <p class="text-muted">
            @(Model.can_preview?DT.LOCAL.Components.Labels.Yes:DT.LOCAL.Components.Labels.No)
        </p>

        <hr>
        @if (Model.expiration_date.Year != 2099)
        {
            <strong><i class="fas fa-pencil-alt mr-1"></i> Expiration Date</strong>

            <p class="text-muted">
                @Model.expiration_date
            </p>

            <hr>
        }


        <strong><i class="fas fa-language mr-1"></i> @DT.LOCAL.Objects.Columns.target_languages</strong>


        <ul style="list-style:none;">
            @foreach (TargetLanguage targetLanguage in StaticDB.TargetLanguages.Where(x => x.task_id == Model.id))
            {
                Language language = StaticDB.Languages.GetById(targetLanguage.language_id);
                <li>@language.ToStr()</li>
            }
        </ul>
        <hr>

        <strong><i class="fas fa-ribbon mr-1"></i> @DT.LOCAL.Objects.Columns.target_proficiency_level</strong>

        <p class="text-muted">
            @(string.IsNullOrEmpty(Model.target_proficiency_level.ToStr().Trim())?"-": Model.target_proficiency_level.ToStr())
        </p>

        <hr>

        <strong><i class="fas fa-atom mr-1"></i> @DT.LOCAL.Objects.Columns.target_ages</strong>

        <p class="text-muted">
            @Model.target_min_age - @Model.target_max_age
        </p>

        <hr>
        @if (Model.estimated_duration != 0)
        {

            <strong><i class="fas fa-clock mr-1"></i> @DT.LOCAL.Objects.Columns.estimated_duration</strong>

            <p class="text-muted">

                @TimeSpan.FromSeconds(Model.estimated_duration).ToStr()
            </p>

            <hr>
        }
        <strong><i class="fas fa-photo-video mr-1"></i> @DT.LOCAL.Objects.Tables.TaskMaterials</strong>

        <p class="text-muted">
            @Model.TaskMaterials.Count
        </p>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
