﻿@model _Task
<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    @DT.LOCAL.Components.TaskWizard._TaskInstructions
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <textarea id="task_instructions" name="task_instructions" class="form-control task-prop"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Students</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="btn-add-material-to-all" data-modal="#material-selector-modal" onclick="AssignMaterialToAll(this);">
                        <i class="far fa-plus-square"></i>&nbsp;@DT.LOCAL.Components.Buttons.AddMaterialToAll
                    </button>
                    <button type="button" class="btn btn-tool" id="btn-add-student" onclick="AddStudent();">
                        <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.AddStudent
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                </div>
            </div>
            <div class="card-body" style="min-height:500px;">
                <div class="row" id="students-box">

                </div>
            </div>
            <div class="card-footer" id="collabrative-bar">
                <div class="icheck-primary">
                    <input type="checkbox" class="task-prop" id="is_collabrative_writing" name="is_collabrative_writing">
                    <label for="is_collabrative_writing">
                        @DT.LOCAL.Objects.Columns.is_collabrative_writing
                    </label>
                </div>
            </div>
            @*<div class="card-footer">
                    <div class="trackbarContainer">
                        <input type="range" min="0" max="300" value="0" class="trackbar" id="trackbar">
                    </div>
                    <div class="duration-group">
                        <label>Estimated Duration</label>
                        <div class="input-group">
                            <input type="time" class="form-control" step="1" id="duration" value="00:05:00" />
                            <div class="input-group-append">
                                <div class="input-group-text cursor-pointer" onclick="SetDuration();">
                                    <span class="fas fa-check"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-buttons">
                        <p>
                            <strong>Current: </strong><span id="current-min">00:05:00</span>
                        </p>
                        <span class="btn btn-default text-red" id="btn-stop" onclick="Stop();">
                            <i class="fa fa-stop"></i>
                        </span>
                        <span class="btn btn-default" style="color:green" id="btn-play" onclick="PlayPause();">
                            <i class="fa fa-play"></i>
                        </span>
                    </div>
                </div>*@
        </div>
    </div>
</div>