﻿@model DT.DTO._Task

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    User current_user = Request.User();
    int reminder_interval = SettingsManager.Get("REMINDER_INTERVAL").ToInteger();
}

@section styles{
    <!-- Range Slider -->
    <link href="~/Content/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <!-- Bootstrap Toggle -->
    <link href="~/Content/plugins/bootstrap-toggle/css/bootstrap4-toggle.min.css" rel="stylesheet" />
    <!-- JQUERY UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .left-input {
            width: 49%;
            float: left;
        }

        .right-input {
            width: 49%;
            float: right;
        }

        .timeline > li {
            margin-bottom: 5px !important;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            font-size: 18px;
        }

        .caret-back {
            float: left !important;
        }

        .caret-right {
            float: right !important;
        }

        .task-qr-code {
            width: 100%;
            height: auto;
            display: block;
        }

        .materials-card,
        .task-design-card {
            min-height: 500px;
        }

        .font-m {
            font-size: 17px;
            padding: 0px !important;
            height: 27px;
            text-align: center;
        }

        .font-sm {
            font-size: 12px;
            padding: 0px !important;
            height: 27px;
            text-align: center;
        }

        .btn-draft {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: fixed;
            right: 15px;
            bottom: 0px;
            opacity: 0.65;
            color: #fff;
            transition: all linear 0.3s;
        }

            .btn-draft:hover {
                opacity: 1;
            }

        .share-buttons {
            padding-bottom: 200px;
        }


        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }

            .student-material textarea {
                text-align: justify;
            }

        .student-card .card-footer label {
            color: #6d757d;
            font-weight: 100;
            font-style: italic;
        }

        #preview-container div canvas,
        .share-buttons {
            width: 100% !important;
        }
    </style>

}
<form id="task-form">
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.author_id)
    @Html.HiddenFor(m => m.smartcode)
    @Html.HiddenFor(m => m.created_date)
    @Html.HiddenFor(m => m.created_by)
    @Html.HiddenFor(m => m.is_active)
    <input type="hidden" name="can_edit" value="true" />
    @Html.HiddenFor(m => m.institution, new { value = current_user.institution })


    <ul class="nav nav-tabs" id="task-titles" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="basic-informations-tab" data-toggle="pill" href="#basic-informations" type="button" role="tab" aria-controls="basic-informations" aria-selected="true">@DT.LOCAL.Components.TaskWizard._BasicInformation</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="task-design-tab" data-toggle="pill" href="#task-design" type="button" role="tab" aria-controls="task-design" aria-selected="false">@DT.LOCAL.Components.TaskWizard._TaskDesign <span class="text-danger" title="Required">*</span></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="completion-options-tab" data-toggle="pill" href="#completion-options" type="button" role="tab" aria-controls="completion-options" aria-selected="false">@DT.LOCAL.Components.TaskWizard._CompletionOptions <span class="text-danger" title="Required">*</span></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="preview-confirm-tab" data-toggle="pill" href="#preview-confirm" type="button" role="tab" aria-controls="preview-confirm" aria-selected="false">@DT.LOCAL.Components.TaskWizard._PreviewAndConfirm</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="basic-informations" role="tabpanel" aria-labelledby="basic-informations-tab">
            @Html.Partial("_BasicInformation", Model)
        </div>
        <div class="tab-pane" id="task-design" role="tabpanel" aria-labelledby="task-design-tab">
            @Html.Partial("_TaskDesign", Model)
        </div>
        <div class="tab-pane" id="completion-options" role="tabpanel" aria-labelledby="completion-options-tab">
            @Html.Partial("_CompletionOptions", Model)
        </div>
        <div class="tab-pane" id="preview-confirm" role="tabpanel" aria-labelledby="preview-confirm-tab">
            @Html.Partial("_PreviewAndConfirm", Model)
        </div>
    </div>
</form>
@if (Model.status.Equals("Draft"))
{
    <button class="btn btn-warning btn-draft" onclick="SaveAsDraft();" data-toggle="tooltip" title="Save As Draft">
        <i class="far fa-save fa-3x"></i>
    </button>
}
else
{
    <button class="btn btn-warning btn-draft" onclick="SaveTask(this);" data-toggle="tooltip" title="Save">
        <i class="far fa-save fa-3x"></i>
    </button>
}

@section scripts{
    <!-- Range Slider -->
    <script src="~/Content/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="~/Content/plugins/bootstrap-toggle/js/bootstrap4-toggle.min.js"></script>
    <!-- JQUERY UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="modal fade animate__animated animate__fadeIn" id="material-selector-modal"></div>

    <script type="text/template" id="student-template">
        <div class="col-lg-6 col-sm-12 student-card animate__animated animate__fadeIn" data-student-no="{{NO}}">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user"></i> @DT.LOCAL.Components.Labels.Student {{NO}}
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-student-no="{{NO}}" onclick="RemoveStudent(this);">
                            <i class="fas fa-trash"></i>&nbsp;@DT.LOCAL.Components.Buttons.Delete
                        </button>
                        <button type="button" class="btn btn-tool" data-modal="#material-selector-modal" data-student-no="{{NO}}" onclick="AssignMaterial(this);">
                            <i class="fas fa-plus"></i>&nbsp;@DT.LOCAL.Components.Buttons.AssignMaterial
                        </button>
                    </div>
                </div>
                <div class="card-body student-materials" data-student-no="{{NO}}">

                </div>
                <div class="card-footer">
                    <div class="form-group-sm">
                        <label>Specific instructions for this student</label>
                        <textarea class="form-control font student-instructions" data-student-no="{{NO}}" onchange="SetStudentInstruction(this);" rows="2" placeholder="Write a specific instruction to this student."></textarea>
                    </div>
                </div>
                <div class="card-footer answerer-footer {{IS_COLLABORATIVE}}">
                    <div class="icheck-primary">
                        <input type="checkbox" class="chk-answerer" data-no="{{NO}}" id="answerer_{{NO}}" name="answerer_{{NO}}">
                        <label for="answerer_{{NO}}">
                            @DT.LOCAL.Components.Labels.CanWriteAnswer
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="assigned-material-template">
        <div class="card card-outline student-material animate__animated animate__fadeIn" id="sm_{{NO}}_{{ID}}" data-material-id="{{ID}}" data-student-no="{{NO}}" data-time="{{TIME}}" data-instructions="{{INSTRUCTIONS}}" data-student-instructions="{{STUDENT_INSTRUCTIONS}}">
            <div class="card-header">
                <h3 class="card-title" title="Material Type">{{TYPE}}</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool" data-url="@Url.Action("Details","MaterialManagement")/{{ID}}" data-modal="#material-selector-modal" onclick="PartialShow(this);">
                        <i class="fa fa-eye"></i> Show
                    </a>
                    <button type="button" class="btn btn-tool" data-student-no="{{NO}}" data-material-id="{{ID}}" onclick="RemoveMaterial(this);">
                        <i class="fa fa-trash"></i> Remove
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <textarea class="form-control" readonly title="Material Title">{{TITLE}}</textarea>
                    </div>
                    <div class="col-lg-4 col-md-12 text-right">
                        <input type="time" class="form-control" data-student-no="{{NO}}" data-material-id="{{ID}}" step="1" onchange="SetMaterialTiming(this);" title="Activation Time"/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <textarea class="form-control" data-student-no="{{NO}}" data-material-id="{{ID}}" onkeyup="$(this).trigger('change')" onchange="SetMaterialInstruction(this);" rows="2" placeholder="Write an instruction about this material." title="Write an instruction about this material.">{{INSTRUCTIONS}}</textarea>
            </div>
        </div>
    </script>


    <script>
        var task = @Html.Raw(Model.ToJson());
        var lastCall = 'Database';
        var isProcessContinue = false;
        var target_ages = $('#target_ages').ionRangeSlider({
            from: @Model.target_min_age,
            to: @Model.target_max_age,
            min: 8,
            max: 99,
            type: 'double',
            step: 1,
            prefix: '',
            prettify: false,
            hasGrid: true,
            onChange: function (data) {
                $('#target_min_age').val(data.from);
                task.target_min_age = data.from;
                $('#target_max_age').val(data.to);
                task.target_max_age = data.to;
            },
        });


        var time_relevant = @(Model.time_relevant == 0 ? 360: Model.time_relevant);
        var estimated_duration = @(Model.estimated_duration== 0 ? 360: Model.estimated_duration);
        $('#duration').val(estimated_duration.toHHMMSS());
        function SetCompletionType(val) {
            var e = $('[data-type="ExactValue"]');
            var w = $('[data-type="WordLimits"]');
            var t = $('[data-type="TimeRelevant"]');
            $(e).addClass('d-none');
            $(w).addClass('d-none');
            $(t).addClass('d-none');
            if (val == 'E') {
                $(e).removeClass('d-none');
                $(w).addClass('d-none');
                $(t).addClass('d-none');
                var input = document.getElementById('exact_value');
                var tagify = new Tagify(input);
            }
            else if (val == 'W') {
                $(e).addClass('d-none');
                $(w).removeClass('d-none');
                $(t).addClass('d-none');
            }
            else if (val == 'T') {
                $(e).addClass('d-none');
                $(w).addClass('d-none');
                $(t).removeClass('d-none');
            }
            else if (val == 'ET') {
                $(e).removeClass('d-none');
                $(w).addClass('d-none');
                $(t).removeClass('d-none');
                var input = document.getElementById('exact_value');
                var tagify = new Tagify(input);
            }
            else if (val == 'WT') {
                $(e).addClass('d-none');
                $(w).removeClass('d-none');
                $(t).removeClass('d-none');
            }
            else if (val == 'N') {
                $(e).addClass('d-none');
                $(w).addClass('d-none');
                $(t).addClass('d-none');
            }
        }
        function GetHMSValue(hms) {
            var a = hms.split(':');
            return (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
        }
        function SetMaterialTiming(elm) {
            var student_no = $(elm).data('student-no');
            var material_id = $(elm).data('material-id');
            var time = GetHMSValue($(elm).val());
            console.log('Student :' + student_no + ', MatID :' + material_id + ', Time :' + time + ', Element : sm_' + student_no + '_' + material_id);
            $('#sm_' + student_no + '_' + material_id).attr('data-time', time);
            var $sMats = $('.student-materials[data-student-no="' + student_no + '"]');

            $sMats.find('.student-material').sort(function (a, b) {
                console.log('A Time : ' + a.dataset.time);
                console.log('B Time : ' + b.dataset.time);
                return +a.dataset.time - +b.dataset.time;
            }).appendTo($sMats);
        }
        function SetMaterialInstruction(elm) {
            var student_no = $(elm).data('student-no');
            var material_id = $(elm).data('material-id');
            var instructions = $(elm).val();
            $('#sm_' + student_no + '_' + material_id).attr('data-instructions', instructions);
        }
        function SetStudentInstruction(elm) {
            var student_no = $(elm).data('student-no');
            var instructions = $(elm).val();
            $('.student-material[data-student-no="' + student_no + '"]').attr('data-student-instructions', instructions);
        }
        $(function () {
            $('#_CoDesigners').val(task.CoDesigners);
            $('#_CoDesigners').trigger('change');

            jQuery('#_CoDesigners').select2({
                allowClear: true,
                placeholder: PleaseChoose[Credentials.Language.iso_code],
                language: Credentials.Language.iso_code,
                ajax: {
                    url: '@Url.Action("GetTeachers","UserManagement")',
                    data: function (params) {
                        var query = {
                            search: params.term
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json'
                }
            }).trigger('change');

            if (task.exact_value && task.exact_value.startsWith('[')) {
                var input = document.getElementById('exact_value');
                var tagify = new Tagify(input);
                tagify.addTags(JSON.parse(task.exact_value));
            }
            SetReminder();
            $('#duration').change(function () {
                var hms = $(this).val();
                estimated_duration = GetHMSValue(hms);
                //SetDuration();
            });
            if (task.information_gap) {
                $('#information_gap').val(task.information_gap);
                $('#other-gap').val(task.information_gap);
            }
            $('#information_gap').change(function () {
                if ($(this).val() == 'Other')
                    $('#other-gap').removeClass('hidden');
                else
                    $('#other-gap').addClass('hidden');
            });
            $('#completion_type').change(function () {
                SetCompletionType($(this).val());
            });
            $('#completion_type').val(task.completion_type);
            SetCompletionType(task.completion_type);
            $('#tags')
                .tagify({
                    whitelist: @Html.Raw(Json.Encode(StaticDB.Tags.Select(s => s.phrase))),
                    dropdown: {
                        classname: "color-blue",
                        enabled: 0,              // show the dropdown immediately on focus
                        maxItems: 5,
                        position: "text",         // place the dropdown near the typed text
                        closeOnSelect: false,          // keep the dropdown open after selecting a suggestion
                        highlightFirst: true
                    }
                })
                .on('add', function (e, tagData) {
                    console.log('added', tagData);
                });

            console.log('TASK : ' + JSON.stringify(task));
            for (const property in task) {
                if (property != 'information_gap' || property != 'expiration_date') {
                    var value = task[property];
                    $('[name="' + property + '"]').val(value);
                    if (task[property])
                        console.log(property + ' : ' + value);
                }
            }
            $('.task-prop').change(function () {
                var name = $(this).attr('name');
                var value = $(this).val();
                if (task.hasOwnProperty(name))
                    task[name] = value;
            });
            if (!task.answerers || task.answerers != '') {
                answerers = JSON.parse(task.answerers);
            }

            let tr_hour = Math.floor(time_relevant / 3600);
            let tr_min = Math.floor((time_relevant - (tr_hour * 3600)) / 60);
            let tr_sec = time_relevant - (tr_hour * 3600) - (tr_min * 60);
            $('#tr_hour').val(tr_hour);
            $('#tr_minute').val(tr_min);
            $('#tr_second').val(tr_sec);

            $('.timing').change(function () {
                var tr_hour = parseInt($('#tr_hour').val());
                var tr_min = parseInt($('#tr_minute').val());
                var tr_sec = parseInt($('#tr_second').val());
                time_relevant = (tr_hour * 3600) + (tr_min * 60) + tr_sec;
                $('#time_relevant').val(time_relevant);
            });
            $('#is_collabrative_writing').change(function () {
                if (task.is_collabrative_writing = $(this).prop('checked')) {
                    $('.answerer-footer').addClass('hidden');
                } else {
                    $('.answerer-footer').removeClass('hidden');
                }
            });
            $('#is_collabrative_writing').prop('checked', task.is_collabrative_writing);
            $('#task_instructions').summernote({
                height: 300,
                dialogsInBody: true,
                toolbar: [
                    ['file', ['undo', 'redo']],
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['view', ['fullscreen', 'codeview', 'preview']],
                    ['insert', ['link', 'insertimage', 'insertvideo', 'insertaudio', 'hr']]
                ],

                buttons: {
                    preview: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-eye"></i>',
                            tooltip: 'Preview',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.Preview',
                                    content: $("#task_instructions").summernote('code'),
                                    columnClass: 'col-md-12',
                                    theme: 'material',
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Ok': function () {

                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertvideo: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-video"></i>',
                            tooltip: 'Insert Video',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.YoutubeLinkLabel</label>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:left;">' +
                                        '<input type="checkbox" onchange="ToggleTI(this)" data-target="#media-start-ti"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start-ti" onchange="ChangeEndTI(this);"/>' +
                                        '<label id="media-start-time-ti"></label>' +
                                        '</div>' +
                                        '<div class="form-group" style="width:48% !important;float:right;">' +
                                        '<input type="checkbox"  onchange="ToggleTI(this)" data-target="#media-end-ti"/> @DT.LOCAL.Objects.Columns.media_end_time' +
                                        '<input type="number" step="1" min="0"  class="form-control hidden" id="media-end-ti" onchange="ChangeStartTI(this);"/>' +
                                        '<label id="media-end-time-ti"></label>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                if (!media_link)
                                                    return;
                                                var media_start = this.$content.find('input#media-start').val();
                                                var media_end = this.$content.find('input#media-end').val();
                                                var YT_ID = YoutubeIdParser(media_link);
                                                if (!YT_ID) {
                                                    ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.EnterValidYoutubeURL', '@DT.LOCAL.Components.Buttons.Ok');
                                                    return;
                                                }
                                                var source_link = 'https://www.youtube.com/embed/' + YT_ID + '?start=' + media_start;
                                                if (media_end != 0)
                                                    source_link += '&end=' + media_end;
                                                source_link += '&rel=0';


                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '640');
                                                iframe.setAttribute('height', '360');
                                                iframe.setAttribute('class', 'material-body-video');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });

                        return button.render();
                    },
                    insertaudio: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="fas fa-volume-up"></i>',
                            tooltip: 'Insert Audio',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                        '<label>@DT.LOCAL.Components.Labels.SoundcloudLinkLabel</label>' +
                                        '<small>(Only SoundCloud links are accepted)</small>' +
                                        '<input class="form-control" id="media-link"/>' +
                                        '</div>' +
                                        '<div class="form-group">' +
                                        '<input type="checkbox" onchange="ToggleTI(this)" data-target="#media-start-ti"/> @DT.LOCAL.Objects.Columns.media_start_time' +
                                        '<label id="media-end-time-ti"></label>' +
                                        '<input type="number" step="1" min="0" class="form-control hidden" id="media-start-ti" onchange="ChangeTimeViewTI(this)"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var media_link = this.$content.find('input#media-link').val();
                                                var media_start = this.$content.find('input#media-start').val();
                                                if (!media_link)
                                                    return;

                                                var source_link = 'https://w.soundcloud.com/player/?url=' + media_link;
                                                if (media_start != 0) {
                                                    var dt = new Date(media_start * 1000).toISOString().substr(14, 5).replace('-', ':');
                                                    source_link += '#t=' + dt;
                                                }



                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var iframe = document.createElement('iframe');
                                                iframe.src = source_link;
                                                iframe.setAttribute('frameborder', 0);
                                                iframe.setAttribute('width', '100%');
                                                iframe.setAttribute('class', 'material-body-audio');
                                                div.appendChild(iframe);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + source_link + '" target="_blank"><strong>SOURCE : </strong>' + source_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    },
                    insertimage: function (context) {
                        var ui = $.summernote.ui;
                        var button = ui.button({
                            contents: '<i class="far fa-image"></i>',
                            tooltip: 'Insert Image',
                            click: function () {
                                $.confirm({
                                    title: '@DT.LOCAL.Components.Labels.PleaseEnter',
                                    content:
                                        '<div class="form-group">' +
                                            '<label>@DT.LOCAL.Components.Labels.ImageLink</label>' +
                                            '<input class="form-control" id="image-link"/>' +
                                        '</div>'
                                    ,
                                    buttons: {
                                        '@DT.LOCAL.Components.Buttons.Cancel': function () {

                                        },
                                        '@DT.LOCAL.Components.Buttons.Ok': {
                                            btnClass: 'btn-orange',
                                            action: function () {
                                                var image_link = this.$content.find('input#image-link').val();
                                                if (!image_link)
                                                    return;

                                                var div = document.createElement('div');
                                                div.classList.add('material-body-content');
                                                div.setAttribute('style', 'text-align: center;');
                                                var a = document.createElement('a');
                                                a.href = image_link;
                                                a.setAttribute('data-toggle', 'lightbox');
                                                a.setAttribute('data-title', image_link);
                                                var img = document.createElement('img');
                                                img.src = image_link;
                                                img.setAttribute('class', 'material-body-image');
                                                img.setAttribute('class', 'img-responsive');
                                                a.appendChild(img);
                                                div.appendChild(a);
                                                var sourceDiv = document.createElement('div');
                                                sourceDiv.classList.add('source-link');
                                                sourceDiv.setAttribute('style', 'text-align: center;');
                                                $(sourceDiv).html('<a href="' + image_link + '" target="_blank"><strong>SOURCE : </strong>' + image_link + '</a>');
                                                div.appendChild(sourceDiv);
                                                context.invoke('editor.insertNode', div);

                                            }
                                        }
                                    }
                                });
                            }
                        });
                        return button.render();
                    }
                }
            });
            $('.select2-container').css('width', '100%');
            $('#btn-add-material-to-all').hide();

            for (var i = 0; i < task.group_range; i++) {
                AddStudent();
                $('#btn-add-material-to-all').show();
            }

            for (var i = 0; i < answerers.length; i++) {
                var answerer = answerers[i];
                $('.chk-answerer[data-no="' + answerer.no + '"]').prop('checked', answerer.can);
            }
            for (var i = 0; i < task.TaskMaterials.length; i++) {
                var taskMaterial = task.TaskMaterials[i];
                material_ids.push(taskMaterial.material_id);
                var time = taskMaterial.activation_time;
                var material_id = taskMaterial.material_id;
                var material_title = taskMaterial.title;
                var material_type = taskMaterial.type;
                var instructions = taskMaterial.details;
                var student_instructions = taskMaterial.attributes;
                if (instructions == null)
                    instructions = ' ';
                if (student_instructions == null)
                    student_instructions = ' ';
                // Add Material to relevant student
                AddMaterialToStudent(time, taskMaterial.index_order, material_id, material_title, material_type, instructions, student_instructions);
            }

            if ('@Model.id' != '0') {
                console.log('TASK : ' + JSON.stringify(task));
            }
            $('#target_proficiency_levels').trigger('change');

            $('#can_preview').removeAttr('checked'); $('#can_preview').bootstrapToggle(task.can_preview ? 'on' : 'off');

            $('input[data-toggle="toggle"]').change(function () {
                var name = $(this).attr('name');
                task[name] = $(this).prop('checked');
            });
        });
        function SetReminder() {
            setTimeout(function () { toastr.info('@DT.LOCAL.Messages.Infos.SaveDraftReminder'); SetReminder(); }, @reminder_interval);
        }

        function GenerateQR(elm) {
            if (isPartialContinue) {
                ShowAlert('Info', "Previous request is being continued. Please wait...",'OK');
                return;
            }
            toastr.info('Please save to see changes.', 'Reminder');
            isPartialContinue = true;
            var container = $(elm).data('container');
            $.ajax({
                url: '@Url.Action("GenerateShareButtons","TaskManagement",new {id=Model.id})',
                data: {
                    id:task.id
                },
                method: 'GET',
                beforeSend: function () {
                    $(container).html('<i class="fa fa-spinner fa-spin fa-5x"></i>');
                },
                complete: function () {
                    isPartialContinue = false;
                },
                success: function (data) {
                    $(container).html('');
                    var div = $('<div>').appendTo(container);
                    $(div).click(function () {
                        ShowModal('#partial-modal', $(elm).data('url'), $('#title').val());
                    });
                    $(div).qrcode({
                        text: $(elm).data('url'),
                        size: 550,
                        quiet: 1
                    });
                    $(container).append('<br/>');
                    $(container).append(data);
                    $('.share-buttons').css('width', $('.qr-code-img').width);
					$('.copylink').click(function () {
						var link = $(this).data('url');
                        navigator.clipboard.writeText(link);
                        toastr.success(link, $(this).data('message'));
					});
                }
            });
        }
        function ShowPreview(elm) {
            if (isPartialContinue) {
                alert("Previous request is being continued. Please wait...");
                return;
            }
            isPartialContinue = true;
            var url = $(elm).data('url');
            var container = $(elm).data('container');
            $.ajax({
                url: url,
                type : 'POST',
                data: {
                    tms: GetTMS()
                },
                success: function (data) {
                    $(container).html(data);
                },
                beforeSend: function () {
                    $(container).html('<i class="fa fa-spinner fa-spin fa-5x"></i>');
                },
                complete: function () {
                    isPartialContinue = false;
                },
            });
        }
        function Warning(msg, name) {
            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', msg, '@DT.LOCAL.Components.Buttons.Ok');
            if (name) {
                ShineElement(name, msg);
            }
        }
        function SaveAsDraft() {

            if (isProcessContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
			if ($('#information_gap').val() == 'Other')
				task.information_gap = $('#other-gap').val();
			else
				task.information_gap = $('#information_gap').val();
			task.author_id = parseInt($('#author_id').val());
			task.created_date = $('#created_date').val();
			task.created_by = parseInt($('#created_by').val());
			task.status = 'Published';
			task.title = $('#title').val();
			task.can_preview = $('#can_preview').is(":checked");
			task.institution = $('#institution').val();
            task.target_subject = $('#target_subject').val();

            var slider = $("#target_ages").data("ionRangeSlider");
            task.target_min_age = slider.result.from;
            task.target_max_age = slider.result.to;
			task.target_proficiency_levels = $('#target_proficiency_levels').val();
			task.estimated_duration = estimated_duration;
			task.group_range = students.length;
			task.objectives = $('#objectives').val();

			task.completion_type = $('#completion_type').val();
			task.exact_value = $('#exact_value').val();
			task.minimum_word = parseInt($('#minimum_word').val());
			task.maximum_word = parseInt($('#maximum_word').val());
			task.time_relevant = time_relevant;
			if (task.completion_type == 'E') {
				task.minimum_word = task.maximum_word = task.time_relevant = 0;
			} else if (task.completion_type == 'W') {
				task.exact_value = null;
				task.time_relevant = 0;
			} else if (task.completion_type == 'T') {
				task.exact_value = null;
				task.minimum_word = task.maximum_word = 0;
			} else if (task.completion_type == 'ET') {
				task.minimum_word = task.maximum_word = 0;
			} else if (task.completion_type == 'WT') {
				task.exact_value = null;
            } else if (task.completion_type == 'N') {
                task.exact_value = null;
                task.minimum_word = task.maximum_word = 0;
                task.time_relevant = 0;
            }
			if (task.time_relevant == 0) {
				$('#tr_hour').val(0);
				$('#tr_minute').val(0);
				$('#tr_second').val(0);
				time_relevant = 0;
			}

			task.expiration_date = $('#expiration_date').val();
			task.publish_date = $('#publish_date').val();
            task.details = $('#details').val();
            task.target_skill = $('#target_skill').val();
            task.target_languages = $('#target_languages').val();
            task._CoDesigners = $('#_CoDesigners').val();
			task.TaskMaterials = GetTMS();
			task.is_collabrative_writing = $('#is_collabrative_writing').prop('checked');
			var answerers = GetAnswerers();
			var answererCount = 0;
			for (var i = 0; i < answerers.length; i++) {
				if (answerers[i].can)
					++answererCount;
			}
			console.log('Answerer Count : ' + answererCount);
			task.answerers = JSON.stringify(answerers);
			task.task_instructions = $('#task_instructions').val();
            if (!task.title) {
                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)');
                return;
            }
            task.status = "Draft";

            var btnContent = $('.btn-draft').html();
            console.log('DRAFT TASK : ' + JSON.stringify(task));
            $.ajax({
                url: '@Url.Action("AddUpdate", "TaskManagement")',
                type: "POST",
                data: task,
                beforeSend: function () {
                    isProcessContinue = true;
                    $('.btn-draft').html('<i class="fas fa-3x fa-sync-alt fa-spin"></i>');
                },
                success: function (data, textStatus, xhr) {
                    console.log("Saving Task As Draft : " + JSON.stringify(xhr));
                    if (data.Result) {
                        $('#id').val(data.id);
                        task.id = data.id;
                        toastr.success('@DT.LOCAL.Messages.Infos.TaskSavedAsDraft');
                    }else
                        ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                },
                complete: function () {
                    isProcessContinue = false;
                    $('.btn-draft').html(btnContent);
                }
            });
        }
        function GetTMS() {
            var tms = [];
            var Nos = [];
            $('.student-material').each(function (i, item) {
                var st_no = $(item).data('student-no');
                var mat_id = $(item).data('material-id');
                var val = $('input[data-material-id="' + mat_id + '"][data-student-no="' + st_no + '"]').val().split(':');
                var hh = parseInt(val[0]);
                var mm = parseInt(val[1]);
                var ss = parseInt(val[2]);
                var act_value = (3600 * hh) + (60 * mm) + ss;

                var tm = {
                    task_id: task.id,
                    material_id: mat_id,
                    index_order: st_no,
                    activation_time: act_value,
                    details: $(item).data('instructions'),
                    attributes: $(item).data('student-instructions')
                }
                if (!Nos.includes(tm.index_order))
                    Nos.push(tm.index_order);
                tms.push(tm);
            });
            console.log('TMS : ' + JSON.stringify(tms));
            return tms;
        }
        function GetAnswerers() {
            var ans = [];
            $('.chk-answerer').each(function (i, item) {
                var answerer = {
                    no: $(item).data('no'),
                    can: $(item).is(':checked')
                }
                ans.push(answerer);
            });
            console.log('Answerers : ' + JSON.stringify(ans));
            return ans;
        }
        function SaveTask(btn) {
            if (isProcessContinue) {
                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.PreviousProgressHasBeenContinued', '@DT.LOCAL.Components.Buttons.Ok');
                return;
            }
            $.confirm({
                title: '@DT.LOCAL.Messages.Questions.ApproveTitle',
                theme: 'supervan',
                content: '@DT.LOCAL.Messages.Questions.WannaSaveTask',
                draggable: true,
                dragWindowBorder: false,
                buttons: {
                    cancel: {
                        text: '@DT.LOCAL.Components.Buttons.No',
                        keys: ['esc']
                    },
                    ok: {
                        text: '@DT.LOCAL.Components.Buttons.Yes',
                        keys: ['enter', 'space'],
                        action: function () {
                            if ($('#information_gap').val() == 'Other')
                                task.information_gap = $('#other-gap').val();
                            else
                                task.information_gap = $('#information_gap').val();
                            task.author_id = parseInt($('#author_id').val());
                            task.created_date = $('#created_date').val();
                            task.created_by = parseInt($('#created_by').val());
                            task.status = 'Published';
                            task.title = $('#title').val();
                            task.can_preview = $('#can_preview').is(":checked");
                            task.institution = $('#institution').val();
                            task.target_subject = $('#target_subject').val();

                            var slider = $("#target_ages").data("ionRangeSlider");
                            task.target_min_age = slider.result.from;
                            task.target_max_age = slider.result.to;
                            task.target_proficiency_levels = $('#target_proficiency_levels').val();
                            task.estimated_duration = estimated_duration;
                            task.group_range = students.length;
                            task.objectives = $('#objectives').val();

                            task.completion_type = $('#completion_type').val();
                            task.exact_value = $('#exact_value').val();
                            task.minimum_word = parseInt($('#minimum_word').val());
                            task.maximum_word = parseInt($('#maximum_word').val());
                            task.time_relevant = time_relevant;
                            if (task.completion_type == 'E') {
                                task.minimum_word = task.maximum_word = task.time_relevant = 0;
                            } else if (task.completion_type == 'W') {
                                task.exact_value = null;
                                task.time_relevant = 0;
                            } else if (task.completion_type == 'T') {
                                task.exact_value = null;
                                task.minimum_word = task.maximum_word = 0;
                            } else if (task.completion_type == 'ET') {
                                task.minimum_word = task.maximum_word = 0;
                            } else if (task.completion_type == 'WT') {
                                task.exact_value = null;
                            } else if (task.completion_type == 'N') {
                                task.exact_value = null;
                                task.minimum_word = task.maximum_word = 0;
                                task.time_relevant = 0;
                            }
                            if (task.time_relevant == 0) {
                                $('#tr_hour').val(0);
                                $('#tr_minute').val(0);
                                $('#tr_second').val(0);
                                time_relevant = 0;
                            }

                            task.expiration_date = $('#expiration_date').val();
                            task.publish_date = $('#publish_date').val();
                            task.details = $('#details').val();
                            task.target_skill = $('#target_skill').val();
                            task.target_languages = $('#target_languages').val();
                            task._CoDesigners = $('#_CoDesigners').val();
                            task.TaskMaterials = GetTMS();
                            task.is_collabrative_writing = $('#is_collabrative_writing').prop('checked');
                            var answerers = GetAnswerers();
                            var answererCount = 0;
                            for (var i = 0; i < answerers.length; i++) {
                                if (answerers[i].can)
                                    ++answererCount;
                            }
                            console.log('Answerer Count : ' + answererCount);
                            task.answerers = JSON.stringify(answerers);
                            task.task_instructions = $('#task_instructions').val();

                            console.log('TASK : ' + JSON.stringify(task));
                            if (!task.title) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.title)', 'title');
                            } else if (!task.target_proficiency_levels) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_proficiency_level)', 'target_proficiency_levels');
                            }else if (task.group_range <= 0) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.group_range)', 'group_range');
                            } else if (answererCount == 0 && !task.is_collabrative_writing) {
                                ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', '@DT.LOCAL.Messages.Warnings.MissingAnswerer', '@DT.LOCAL.Components.Buttons.Ok');;
                            }else if (!task.target_languages) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_languages)', 'target_languages');
                            }  else if (task.target_languages.length <= 0) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_languages)', 'target_languages');
                            } else if (task.TaskMaterials == null || task.TaskMaterials.length == 0) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Tables.TaskMaterials)');
                            }else if (!task.information_gap) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.information_gap)', 'information_gap');
                            } else if (task.completion_type == null) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.completion_type)', 'completion_type');
                            } else if (task.target_skill == null) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.target_skill)', 'target_skill');
                            } else if (task.completion_type == 'E' && !task.exact_value) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.task_answer)', 'completion_type');
                            } else if (task.completion_type == 'W' && (task.minimum_word <= 0 || task.minimum_word <= 0)) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Enums.CompletionTypes.WordLimits)', 'completion_type');
                            } else if (task.completion_type.includes('T') && task.time_relevant <= 0) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Enums.CompletionTypes.TimeRelevant)', 'completion_type');
                            } else if (!task.task_instructions) {
                                Warning('@string.Format(DT.LOCAL.Messages.Warnings.FieldRequired, DT.LOCAL.Objects.Columns.task_instructions)', 'task_instructions');
                            } else {
                                var btnContent = $(btn).html();
                                $.ajax({
                                    url: '@Url.Action("AddUpdate", "TaskManagement")',
                                    type: "POST",
                                    data: task,
                                    beforeSend: function () {
                                        isProcessContinue = true;
                                        $(btn).html('<i class="fas fa-3x fa-sync-alt fa-spin"></i>');
                                    },
                                    success: function (data, textStatus, xhr) {
                                        if (data.Result) {
                                            toastr.success('Task has been saved and published successfully!');
                                        }else
                                            ShowAlert('@DT.LOCAL.Messages.Warnings.DialogTitle', data.Message, '@DT.LOCAL.Components.Buttons.Ok');
                                    },
                                    complete: function () {
                                        isProcessContinue = false;
                                        $(btn).html(btnContent);
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        ShowAlert('ERROR', errorThrown, 'OK');
                                    }
                                });
                            }
                        }
                    }
                }
            });
        }
        function GetCompletionType() {
            var ExactValue = task.exact_value != null && task.exact_value != undefined;
            var MaximumWordLimit = task.maximum_word != null && task.maximum_word != undefined && task.maximum_word != 0;
            var MinimumWordLimit = task.minimum_word != null && task.minimum_word != undefined && task.minimum_word != 0;
            var TimeRelevant = task.time_relevant != null && task.time_relevant != undefined && task.time_relevant != 0;

            if (!ExactValue && !MaximumWordLimit && !MinimumWordLimit && !TimeRelevant)
                return null;
            if (ExactValue && !MaximumWordLimit && !MinimumWordLimit && !TimeRelevant)
                return 'ExactValue';
            if (!ExactValue && MaximumWordLimit && !MinimumWordLimit && !TimeRelevant)
                return 'MaximumWordLimit';
            if (!ExactValue && !MaximumWordLimit && MinimumWordLimit && !TimeRelevant)
                return 'MinimumWordLimit';
            if (!ExactValue && !MaximumWordLimit && !MinimumWordLimit && TimeRelevant)
                return 'TimeRelevant';
            if (!ExactValue && MaximumWordLimit && MinimumWordLimit && !TimeRelevant)
                return 'WordLimits';
            return 'Multiple';
        }
        function ShineElement(elm, label) {
            var tab_id = $("#" + elm).closest('.tab-pane').attr('id');
            activaTab(tab_id);
            var div = $('#' + elm).closest('.form-group');
            $(div).append('<small class="text-red" id="missing-warning">' + label + '</small>')
            $(div).css('box-shadow', '0 0 15px rgba(0,0,0,1)');
            $(div).css('padding', '10px');
            setTimeout(function () {
                $({ alpha: 1 }).animate({ alpha: 0 }, {
                    duration: 2000,
                    step: function () {
                        div.css('box-shadow', '0 0 15px rgba(0,0,0,' + this.alpha + ')');
                    },
                    complete: function () {
                        div.css('box-shadow', '');
                        $(div).css('padding', '0px');
                    }
                });
                $('#missing-warning').fadeOut(2000, function () { $(this).remove(); });
            }, 3000);
        }
        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };

        var hours = 0;
        var minutes = 5;
        var seconds = 0;

        var students = [];
        var answerers = [];
        var material_ids = [];
        var Current = '00:00:00';
        var Duration = 300;
        function GetNo() {
            if (students.length == 0)
                return 1;
            for (var i = 0; i < students.length; i++) {
                var n = students[i];
                if (i + 1 != n) {
                    return i + 1;
                }
            }
            return students.length + 1;
        }
        function AddStudent() {
            var no = GetNo();
            var ans_class = $('#is_collabrative_writing').prop('checked') ? 'hidden' : '';
            var student_element = $('#student-template').html().replaceAll('{{NO}}', no).replaceAll('{{IS_COLLABORATIVE}}', ans_class);
            $('#students-box').append(student_element);
            students.push(no);
            $('#btn-add-material-to-all').show();
        }
        function RemoveStudent(elm) {
            var student_no = $(elm).data('student-no');
            $('[data-student-no="' + student_no + '"').fadeOut("slow", function () { $(this).remove(); });
            const index = students.indexOf(student_no);
            if (index > -1) {
                students.splice(index, 1);
            }

            var answererCount = answerers.length;
            for (var i = 0; i < answererCount; i++) {
                var answerer = answerers[i];
                if (!answerer && answerer.no == student_no) {
                    answerers.splice(i, 1);
                }
            }

            if (students.length == 0)
                $('#btn-add-material-to-all').hide();
        }

        function SetDuration() {
            // Get TS Modal values
            var val = $('#duration').val().split(':');
            hours = parseInt(val[0]);
            minutes = parseInt(val[1]);
            seconds = parseInt(val[2]);
            // Set Trackbar
            Duration = (3600 * hours) + (60 * minutes) + seconds;
            $('#trackbar').attr('max', Duration);


            // Warn (if) Materials TS
            var studentsNos = '';
            $('.student-material').each(function (i, item) {
                var materialTime = parseInt($(item).data('time'));
                if (materialTime > Duration) {
                    var no = $(item).data('student-no');
                    studentsNos += no + ', ';
                }
            });
            if (studentsNos != '') {
                toastr.error('@DT.LOCAL.Messages.Warnings.MaterialTiming');
            }
        }
        var assignableStudentNo = 0;
        function AssignMaterial(elm) {
            assignableStudentNo = $(elm).data('student-no');
            // Open Material Selector
            ShowPartial('@Url.Action("Selector","MaterialManagement")', elm);
        }
        function AssignMaterialToAll(elm) {
            assignableStudentNo = -1;
            // Open Material Selector
            ShowPartial('@Url.Action("Selector","MaterialManagement")', elm);
        }
        function SelectMaterial(elm) {
            // Select Material and close
            var selectedMaterialId = $(elm).data('id');
            var selectedMaterialTitle = $(elm).data('title');
            var selectedMaterialType = $(elm).data('type');
            $('#material-selector-modal').modal('hide');
            var currentTime = 0;

            material_ids.push(selectedMaterialId);
            // Add Material to relevant student
            if (assignableStudentNo == -1) {
                for (var i = 0; i < students.length; i++) {
                    var no = students[i];
                    AddMaterialToStudent(currentTime, no, selectedMaterialId, selectedMaterialTitle, selectedMaterialType);
                }
            }
            else
                AddMaterialToStudent(currentTime, assignableStudentNo, selectedMaterialId, selectedMaterialTitle, selectedMaterialType);
        }
        function AddMaterialToStudent(currentTime, no, selectedMaterialId, selectedMaterialTitle, selectedMaterialType, instructions, student_instructions) {
            if (!instructions)
                instructions = '';

            var studentMaterial = $('.student-material[data-student-no="' + no + '"][data-material-id="' + selectedMaterialId + '"]');

            if ($(studentMaterial).length > 0) {
                $(studentMaterial).data('time', currentTime);
                $('input[data-student-no="' + no + '"][data-material-id="' + selectedMaterialId + '"]').val(currentTime.toHHMMSS());
            } else {
                if (instructions == null || typeof instructions === 'undefined' || instructions === 'undefined')
                    instructions = '';
                if (student_instructions == null || typeof student_instructions === 'undefined' || student_instructions === 'undefined')
                    student_instructions = $('.student-instructions[data-student-no="' + no + '"]').val();
                var material_element = $('#assigned-material-template').html()
                    .replaceAll('{{NO}}', no)
                    .replaceAll('{{ID}}', selectedMaterialId)
                    .replaceAll('{{TITLE}}', selectedMaterialTitle)
                    .replaceAll('{{TYPE}}', selectedMaterialType)
                    .replaceAll('{{TIME}}', currentTime)
                    .replaceAll('{{INSTRUCTIONS}}', instructions.trim())
                    .replaceAll('{{STUDENT_INSTRUCTIONS}}', student_instructions.trim());
                $('.student-materials[data-student-no="' + no + '"]').append(material_element);
                $('.student-instructions[data-student-no="' + no + '"]').html(student_instructions.trim());

                $('input[data-student-no="' + no + '"][data-material-id="' + selectedMaterialId + '"]').val(currentTime.toHHMMSS());
            }

        }
        function RemoveMaterial(elm) {
            var student_no = $(elm).data('student-no');
            var material_id = $(elm).data('material-id');
            const index = material_ids.indexOf(material_id);
            if (index > -1) {
                material_ids.splice(index, 1);
            }
            var studentMaterial = $('.student-material[data-student-no="' + student_no + '"][data-material-id="' + material_id + '"]');
            $(studentMaterial).fadeOut("slow", function () { $(this).remove(); });
        }

        var playerStarted = true;
        function playing() {
            playerStarted = false;
            var current = parseInt($('#trackbar').val());
            if (current >= Duration) {
                Stop();
                return;
            }
            if (isPlaying) {
                var value = current + 5;
                $('#trackbar').val(value);
                Current = $('#trackbar').val().toHHMMSS()
                $('#current-min').html(Current);
                $('.student-material').each(function (i, item) {
                    var timespan = $(item).find('input[type="time"]').val();
                    var val = timespan.split(':');
                    hours = parseInt(val[0]);
                    minutes = parseInt(val[1]);
                    seconds = parseInt(val[2]);
                    var dur = (3600 * hours) + (60 * minutes) + seconds;
                    if (dur <= value) {
                        $(item).fadeIn();
                    }
                });
            }
        }
        function Stop() {
            isPlaying = false;
            $('#trackbar').val(0);
            $('#btn-play').css('color', 'green');
            $('#btn-play').html('<i class="fa fa-play"></i>');
            $('.student-material').fadeIn();
            Current = '00:00:00';
            $('#current-min').html(Current);

        }
        var isPlaying = false;
        function PlayPause() {
            if (isPlaying) {
                $('#btn-play').css('color', 'green');
                $('#btn-play').html('<i class="fa fa-play"></i>')
            } else {
                $('.student-material').fadeOut();
                if (playerStarted)
                    setInterval(playing, 500);
                var current = parseInt($('#trackbar').val());
                if (current >= Duration)
                    $('#trackbar').val(0);
                $('#btn-play').css('color', 'orange');
                $('#btn-play').html('<i class="fa fa-pause"></i>')
            }
            isPlaying = !isPlaying;
        }
        function ChangeEndTI(elm) {
            var value = $(elm).val();
            $('#media-end-ti').attr('min', value);
            if (value) {
                $('#media-start-time-ti').html(parseInt($(elm).val()).toHHMMSS());
            }
        }
        function ChangeStartTI(elm) {
            var value = $(elm).val();
            $('#media-start-ti').attr('max', value);
            if (value) {
                $('#media-end-time-ti').html(parseInt($(elm).val()).toHHMMSS());
            }
        }
        function ChangeTimeViewTI(elm) {
            var value = $(elm).val();
            if (value) {
                $('#media-start-time-ti').html(parseInt($(elm).val()).toHHMMSS());
            }
        }
        function ToggleTI(elm) {
            var target = $(elm).data('target');
            $(target).toggleClass('hidden');
        }
    </script>
}
