﻿@model List<_Task>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
}
<!-- /.card -->
<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    @ViewBag.SubDirectory
                </h3>
            </div>
            <div class="card-body">
                <table class="index-table cell-border display table-bordered table-responsive responsive" id="tasks-table" style="width:100% !important;">
                    <thead>

                        <tr>
                            <th></th>
                            <th>@DT.LOCAL.Objects.Columns.deleted_date</th>
                            <th>@DT.LOCAL.Objects.Columns.task_type</th>
                            <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                            <th>@DT.LOCAL.Objects.Columns.title</th>
                            <th>@DT.LOCAL.Objects.Columns.adapted_by</th>
                            <th>@DT.LOCAL.Objects.Columns.original_designer</th>
                            <th>@DT.LOCAL.Objects.Columns.institution</th>
                            <th>@DT.LOCAL.Objects.Columns.target_subject</th>
                            <th>@DT.LOCAL.Objects.Columns.created_date</th>
                            <th>@DT.LOCAL.Objects.Columns.publish_date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (_Task task in Model)
                        {
                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="#" data-id="@task.id" onclick="UndoDelete(this);" class="btn btn-default hover-orange">
                                        <i class="fa fa-undo"></i>
                                    </a>
                                    @if (!task.being_used || ViewBag.Admin)
                                    {
                                        <a href="@Url.Action("AddUpdate", "TaskManagement",new {id=task.id })" class="btn btn-default hover-orange">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                    }
                                    @if (current_user.role_id == 1 ||current_user.role_id == 2)
                                    {
                                        <a href="#" data-id="@task.id" onclick="HardDelete(this);" class="btn btn-default hover-orange">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                            <td>
                                @task.modified_date.ToString("dd.MM.yyyy, HH:mm")
                            </td>
                            <td>
                                @task.type.ToStr()
                            </td>
                            <td>
                                @task.information_gap.ToStr()
                            </td>
                            <td>
                                @task.title.ToStr()
                            </td>
                            <td>
                                @(task.created_by != task.author_id ? StaticDB.Users.GetById(task.created_by).ToStr() : "")
                            </td>
                            <td>
                                @StaticDB.Users.GetById(task.author_id).ToStr()
                            </td>
                            <td>
                                @task.institution.ToStr()
                            </td>
                            <td>
                                @task.target_subject.ToStr()
                            </td>
                            <td>
                                @task.created_date.ToString("dd.MM.yyyy, HH:mm")
                            </td>
                            <td>
                                @task.PublishDate
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="task-related-modal"></div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        // Setup - add a text input to each footer cell
        $(document).ready(function () {
            var datatable = $('#tasks-table').DataTable({
                'responsive': true,
                'autoWidth': false,
                'ordering': true,
                'order': [[6, 'desc']],
                'paging': true,
                'searching': true,
                'info': false,
                'pageLength': 10,
                'orderCellsTop': true,
                'fixedHeader': true,
                'dom': 'Bfrtip',
                'language': {
                    'url': Credentials.Server + 'Content/plugins/datatables/en.json'
                },
                'buttons': [
                     {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'p',
                            altKey: true
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'x',
                            altKey: true
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: '@ViewBag.Title',
                        key: {
                            key: 'r',
                            altKey: true
                        }
                    }
                ],
                'columnDefs': [
                    { width: "80px", targets: [0] },
                ]
            });
        });
        function UndoDelete(elm) {
            var task_id = $(elm).data('id');
            $.confirm({
                    title: 'Confirmation',
                    content: 'Do you want to recover this task?',
                    buttons: {
                        yes: {
                            text: '@DT.LOCAL.Components.Buttons.Yes',
                            btnClass: 'btn-success',
                            action: function () {
                                location.href = '@Url.Action("RecoverTask", "TaskManagement")' + '/' + task_id;
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
        function HardDelete(elm) {
           var task_id = $(elm).data('id');
            $.confirm({
                    title: 'Confirmation',
                    content: 'Task will be deleted with all relations. Before deleting the task please check "Data Relations". There may be relations of the task with other tables.',
                    buttons: {
                        relations: {
                            text: '@DT.LOCAL.Components.Labels.DataRelations',
                            btnClass: 'btn-primary',
                            action: function () {
                                if (isPartialContinue) {
                                    alert("Previous request is being continued. Please wait...");
                                    return;
                                }
                                isPartialContinue = true;
                                var content = $(elm).html();
                                $.ajax({
                                    url: '@Url.Action("GetRelatedInfo", "TaskManagement")',
                                    data: {
                                        id: task_id
                                    },
                                    success: function (data) {
                                        $('#task-related-modal').html(data).modal({ backdrop: 'static', keyboard: false });
                                    },
                                    beforeSend: function () {
                                        if (elm)
                                            $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
                                    },
                                    complete: function () {
                                        if (elm)
                                            $(elm).html(content);
                                        isPartialContinue = false;
                                    },
                                });
                            }
                        },
                        delete: {
                            text: '@DT.LOCAL.Components.Buttons.Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                location.href = '@Url.Action("HardDelete", "TaskManagement")' + '/' + task_id;
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
    </script>

}
