﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    User current_user = Request.User();
    bool IsBookmarkedList = ViewBag.Type == "bookmarked";
}

@section styles{
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <style>
        thead input {
            width: 100%;
        }

        .filters.th:nth-child(0).input {
            display: none;
        }
    </style>
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <a href="@Request.Url.ToString()">
                @ViewBag.SubDirectory
            </a>
        </h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">

        <table class="index-table cell-border display table-bordered table-responsive responsive" id="tasks-table" style="width:100% !important;">
            <thead>

                <tr>
                    <th></th>
                    <th>@DT.LOCAL.Objects.Columns.title</th>
                    <th>@DT.LOCAL.Objects.Columns.target_skill</th>
                    <th>@DT.LOCAL.Objects.Columns.information_gap</th>
                    <th>@DT.LOCAL.Objects.Columns.adapted_by</th>
                    <th>@DT.LOCAL.Objects.Columns.original_designer (s)</th>
                    <th>@DT.LOCAL.Objects.Columns.target_ages</th>
                    <th>@DT.LOCAL.Objects.Columns.group_range</th>
                    <th>@DT.LOCAL.Objects.Columns.target_languages</th>
                    <th>@DT.LOCAL.Objects.Columns.can_preview</th>
                    <th>@DT.LOCAL.Objects.Columns.created_date</th>
                    <th>@DT.LOCAL.Objects.Columns.publish_date</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- /.card-footer-->
</div>
<div class="card">
    <div class="card-header">
        <div class="btn-group btn-tab-group" id="details-btn-grp">

        </div>
    </div>
    <div class="card-body detail-body">

    </div>
    <!-- /.card-footer-->
</div>
<div class="modal fade" id="task-menu-modal"></div>
<div class="modal fade" id="task-related-modal"></div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script>
        var tasks = [];

        // Setup - add a text input to each footer cell
        $(document).ready(function () {

        $('#tasks-table thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#tasks-table thead');
        var datatable = $('#tasks-table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': false,
            'rowReorder': true,
            'ordering': true,
            'order': [[6, 'desc']],
            'paging': true,
            'searching': true,
            'info': false,
            'pageLength': 10,
            'orderCellsTop': true,
            'fixedHeader': true,
            'dom': 'Bfrtip',
            'language': {
                'url': Credentials.Server + 'Content/plugins/datatables/en.json'
            },
            'buttons': [
                {
                    text: '<i class="fas fa-plus"></i> @DT.LOCAL.Components.Buttons.New',
                    className: 'btn-create-new',
                    action: function () {
                        CreateTask();
                    }
                },
                {
                    extend: 'collection',
                    text: '<i class="fas fa-bars"></i>',
                    className: 'table-buttons btn-default',
                    autoClose: true,
                    buttons: [
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i> @DT.LOCAL.Components.Buttons.PrintPreview',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'p',
                                altKey: true
                            }
                        },
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fas fa-copy"></i> @DT.LOCAL.Components.Buttons.Copy',
                            key: {
                                key: 'c',
                                altKey: true
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i> @DT.LOCAL.Components.Buttons.DownloadAsExcel',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'x',
                                altKey: true
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i> @DT.LOCAL.Components.Buttons.DownloadAsPdf',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            title: '@ViewBag.Title',
                            key: {
                                key: 'r',
                                altKey: true
                            }
                        }
                    ]
                }
            ],
            'ajax': {
                'url': '@Url.Action("GetList", "TaskManagement")',
                'method': 'POST',
                'data': function (d) {
                    d.type = '@ViewBag.Type';
                }
            },
            'columnDefs': [
                { width: "90px", targets: [0] }
            ],
            'columns': [
                {
                    'data': function (data) {
                        var icon = data.IsBookmarked ? '<i class="fas fa-star text-yellow"></i>' : '<i class="far fa-star"></i>';
                        var editButton = '';
                        if (data.UserCanEdit) {
                            editButton = '<a href="@Url.Action("AddUpdate", "TaskManagement")/' + data.id + '" class="btn btn-default hover-orange"><i class="fa fa-pencil-alt"></i></a>'
                        } else if (data.created_by == @current_user.id){
                            editButton = '<a href="#" class="btn btn-default" data-id="' + data.id +'" onclick="BeingUsed('+data.id+');"><i class="fa fa-pencil-alt" style="opacity:0.4;"></i> </a>'
                        }
                        @*else {
                            editButton = '<a href="@Url.Action("Clone", "TaskManagement")/' + data.id + '" class="btn btn-default hover-orange"><i class="fa fa-copy"></i></a>'
                        }*@
                        return '<div class="btn-group btn-group-sm">' +
                            '<button type="button" class="btn btn-default btn-fav hover-orange" data-id="' + data.id + '" data-url="@Url.Action("Bookmark", "TaskManagement")" onclick="Bookmarking(this)">' +
                                    icon +
                            '</button>' +
                            editButton +
                            '<a href="#" class="btn btn-default hover-orange" data-url="@Url.Action("Details","TaskManagement")'+'/' + data.id+'" onclick="PartialShow(this)" data-modal="#partial-modal">' +
                                    '<i class="fa fa-info-circle"></i>' +
                            '</a>' +
                            '<a href="#" data-modal="#task-menu-modal" onclick="PartialShow(this);" data-url="@Url.Action("Menu", "TaskManagement")/' + data.id + '" class="btn btn-default hover-orange" title="@DT.LOCAL.Components.Labels.Options">' +
                                    '<i class="fas fa-bars"></i>' +
                            '</a>' +
                        '</div>';
                    }
                },
                {
                    'data': function (data) {
                        var original_writer = '';
                        if (data.author_id != data.created_by) {
                            original_writer = '<br />' +
                                '<a href="#" data-url="@Url.Action("Details","TaskManagement")/' + data.original_id + '" onclick="PartialShow(this);" data-modal="#partial-modal" title="@DT.LOCAL.Components.Labels.SeeOriginal (originally designed by ' + data.Author +')">Cloned</a>';
                        }
                        return '<span class="text-truncate">' + data.title + '</span>' + original_writer;
                    },
                    'name':'title'
                },
                { 'data': 'TargetSkill' },
                { 'data': 'information_gap' },
                { 'data': 'Creator' },
                {
                    'data': function (task) {
                        var originalDesigners = '<p title="Designer">' + task.Author + '</p>';
                        if (task.CoDesignerUsers.length > 0) {
                            originalDesigners += '<ul>';
                            for (var i = 0; i < task.CoDesignerUsers.length; i++) {
                                var coDesigner = task.CoDesignerUsers[i];
                                originalDesigners += '<li title="Co-Designer">' + coDesigner.FullName + '</li>';
                            }
                            originalDesigners += '</ul>';
                        }
                        return originalDesigners;
                    }
                },
                {
                    'data': function (data) {
                        return data.target_min_age + '-' + data.target_max_age;
                    }
                },
                { 'data': 'group_range' },
                { 'data': 'target_languages_str' },
                {
                    'data': function (data) {
                        return data.can_preview ? '<i class="fas fa-check text-success"></i>' :'<i class="fas fa-times text-danger"></i>';
                    }
                },
                { 'data': 'CreatedDate' },
                { 'data': 'PublishDate' }
            ],
            'createdRow': function (row, data, dataIndex) {
                    if ('@ViewBag.Type' == 'my' && data.status == 'Draft') {
                        $(row).addClass("bg-draft");
                    }
            },
            'initComplete': function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        if (colIdx == 0 || colIdx == 9) {
                            $(cell).html('');
                            return;
                        }
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();

                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', this.value)
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();

                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            }
        });

        datatable.columns().every(function () {
            var dataTableColumn = this;

            $(this.footer()).find('input').on('keyup change', function () {
                dataTableColumn.search(this.value).draw();
            });
        });
        datatable.on('xhr', function () {
            var json = datatable.ajax.json();
            tasks = json.data;
            $('.detail-actions').html('');
            $('.detail-body').html('');
            $('.btn-detail-navigation').hide();
            if (tasks.length > 0)
                CreateDetail(0);
        });
        });

        function Navigate(navigator) {
            var index = $(navigator).data('index');
            CreateDetail(index);
        }
        function CreateDetail(index) {
            var task = tasks[index];
            $.ajax({
                url: '@Url.Action("TaskDetails", "TaskManagement")',
                data: {
                    id:task.id
                },
                success: function (data) {
                    $('.detail-body').html(data);
                    if (task.status == 'Draft') {
                        $('.detail-body').append('<h1 class="draft-overlay">@DT.LOCAL.Enums.StatusTypes.Draft</h1>');
                        $('.detail-body').addClass('bg-draft');
                    }

                    var prevDisable = index > 0 ? '' : ' disabled';
                    var nextDisable = index + 1 < tasks.length ? '' : ' disabled';
                    var icon = task.IsBookmarked ? '<i class="fas fa-star text-yellow"></i> <span class="d-none d-md-block">Bookmarked</span>' : '<i class="far fa-star"></i> <span class="d-none d-md-block">Bookmark</span>';
                        var editButton = '';
                    if ((task.UserCanEdit && !task.being_used)  || @current_user.role_id == 1 || @current_user.role_id == 2) {
                        editButton = '<a href="@Url.Action("AddUpdate", "TaskManagement")/' + task.id + '" class="btn btn-default hover-orange"><i class="fa fa-pencil-alt"></i> <span class="d-none d-md-block">@DT.LOCAL.Components.Buttons.Edit</span></a>'
                    } else if (task.being_used) {
                        editButton = '<a href="#" class="btn btn-default" data-id="' + task.id + '" onclick="BeingUsed(' + task.id +');"><i class="fa fa-pencil-alt" style="opacity:0.4;"></i> <span class="d-none d-md-block">@DT.LOCAL.Components.Buttons.Edit</span></a>'
                    }
                    var prevButton = '<button data-index="' + (index - 1) + '" data-current-index="' + index + '" class="btn btn-primary btn-detail-navigation btn-previous btn-tab' + prevDisable +'" onclick="Navigate(this);">' +
                            '<i class="fas fa-angle-left"></i> <span class="d-none d-md-block">@DT.LOCAL.Components.Buttons.Previous</span>' +
                            '</button>';
                    var nextButton = '<button data-index="' + (index + 1) + '" data-current-index="' + index + '" class="btn btn-primary btn-detail-navigation btn-next btn-tab' + nextDisable +'" onclick="Navigate(this);">' +
                            '<i class="fas fa-angle-right"></i> <span class="d-none d-md-block">@DT.LOCAL.Components.Buttons.Next</span>' +
                            '</button>';
                    $('#details-btn-grp').html(
                        prevButton +

                        '<button type="button" class="btn btn-default btn-fav hover-orange btn-tab" data-id="' + task.id + '" data-url="@Url.Action("Bookmark", "TaskManagement")" onclick="Bookmarking(this)">' +
                                    icon +
                            '</button>' +
                        editButton +
                        '<a href="@Url.Action("Clone", "TaskManagement")/' + task.id + '" class="btn btn-default hover-orange btn-tab">' +
                            '<i class="fa fa-copy"></i> <span class="d-none d-md-block">@DT.LOCAL.Components.Buttons.Clone</span>' +
                        '</a>' +
                        '<button data-modal="#task-menu-modal" onclick="PartialShow(this);" data-url="@Url.Action("Menu", "TaskManagement")/' + task.id + '" class="btn btn-default hover-orange" title="@DT.LOCAL.Components.Labels.Options">' +
                                    '<i class="fas fa-bars"></i> <span class="d-none d-md-block">Options</span>' +
                            '</button>' +

                        nextButton
                    );
                },
                beforeSend: function () {
                    $('.detail-actions').html('');
                    $('.detail-body').html('');
                    $('.detail-body').removeClass('bg-draft');
                    $('.btn-detail-navigation').hide();
                    $('.detail-card').append('<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>');
                },
                complete: function () {
                    $('.detail-card.overlay').fadeOut("slow", function () {
                        $(this).remove();
                    });
                },
            });
        }
        function BeingUsed(task_id) {
            var elm = $('.btn[data-id="' + task_id + '"]');
            $.confirm({
                    title: '@DT.LOCAL.Messages.Warnings.DialogTitle',
                content: '@Html.Raw(DT.LOCAL.Messages.Warnings.ThisTaskIsBeingUsed)',
                    buttons: {
                        relations: {
                            text: '@DT.LOCAL.Components.Labels.DataRelations',
                            btnClass: 'btn-primary',
                            action: function () {
                                if (isPartialContinue) {
                                    alert("Previous request is being continued. Please wait...");
                                    return;
                                }
                                isPartialContinue = true;
                                var content = $(elm).html();
                                $.ajax({
                                    url: '@Url.Action("GetRelatedInfo", "TaskManagement")',
                                    data: {
                                        id: task_id
                                    },
                                    success: function (data) {
                                        $('#task-related-modal').html(data).modal({ backdrop: 'static', keyboard: false });
                                    },
                                    beforeSend: function () {
                                        if (elm)
                                            $(elm).html('<i class="fa fa-spinner fa-spin"></i>');
                                    },
                                    complete: function () {
                                        if (elm)
                                            $(elm).html(content);
                                        isPartialContinue = false;
                                    },
                                });
                            }
                        },
                        cancel: {
                            text: '@DT.LOCAL.Components.Buttons.Cancel'
                        }
                    }
                });
        }
    </script>

}
