﻿@model  _Task
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool canPreview = Model.can_preview || Model.author_id == Request.User().id || Model.created_by == Request.User().id;
}
<div class="row">
    <div class="col-md-3">

        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="https://freeiconshop.com/wp-content/uploads/edd/task-done-flat.png"
                         alt="Task picture">
                </div>

                <h3 class="profile-username text-center">@Model.title</h3>

                <p class="text-muted text-center">@Model.status</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Task Materials</b> <a class="float-right">@Model.TaskMaterials.Count</a>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Task</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <strong><i class="fas fa-user mr-1"></i> @DT.LOCAL.Objects.Columns.original_designer</strong>

                <p class="text-muted">
                    @StaticDB.Users.GetById(Model.author_id).ToStr()
                </p>

                <hr>
                @if (Model.CoDesigners != null && Model.CoDesigners.Count > 0)
                {

                    <strong><i class="fas fa-award mr-1"></i> @DT.LOCAL.Objects.Columns.co_designers</strong>
                    <ul>

                        @foreach (int designer_id in Model.CoDesigners)
                        {
                            <li class="text-muted">
                                @StaticDB.Users.GetById(designer_id).ToStr()
                            </li>
                        }
                    </ul>

                    <hr>
                }
                <strong><i class="fas fa-book mr-1"></i> @DT.LOCAL.Objects.Columns.target_subject</strong>

                <p class="text-muted">
                    @Model.target_subject.ToStr()
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @DT.LOCAL.Objects.Columns.objectives</strong>

                <p class="text-muted">
                    @Model.objectives.ToStr()
                </p>

                <hr>
                <strong><i class="fas fa-book mr-1"></i> Previewable</strong>

                <p class="text-muted">
                    @(Model.can_preview?DT.LOCAL.Components.Labels.Yes:DT.LOCAL.Components.Labels.No)
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Expiration Date</strong>

                <p class="text-muted">
                    @Model.expiration_date.ToStr()
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_languages</strong>

                <p class="text-muted">
                    @Model.target_languages
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_proficiency_level</strong>

                <p class="text-muted">
                    @Model.target_proficiency_level.ToStr()
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.target_ages</strong>

                <p class="text-muted">
                    @Model.target_min_age - @Model.target_max_age
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.information_gap</strong>

                <p class="text-muted">
                    @Model.information_gap.ToStr()
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.estimated_duration</strong>

                <p class="text-muted">
                    @Model.estimated_duration
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> @DT.LOCAL.Objects.Columns.group_range</strong>

                <p class="text-muted">
                    @Model.group_range
                </p>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->

    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item active"><a class="nav-link" href="#taskInstructions" data-toggle="tab">@DT.LOCAL.Components.TaskWizard._TaskInstructions</a></li>
                    @if (canPreview)
                    {
                        <li class="nav-item"><a class="nav-link" href="#preview" data-toggle="tab">@DT.LOCAL.Components.Labels.MaterialsPreview</a></li>
                    }
                    <li class="nav-item"><a class="nav-link active" href="#completionOptions" data-toggle="tab">@DT.LOCAL.Components.TaskWizard._CompletionOptions</a></li>
                </ul>
            </div><!-- /.card-header -->

            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane active" id="taskInstructions">

                        <div class="row">
                            <div class="col-lg-12 col-12">

                                <div class="card-body">

                                    @Html.Raw(Model.task_instructions.ToStr())

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="completionOptions">

                        <div class="row">
                            <div class="col-lg-12 col-6">

                                <div class="card-body">

                                    @if (Model.exact_value != null)
                                    {
                                        List<TagifyValueModel> values = JsonConvert.DeserializeObject<List<TagifyValueModel>>(Model.exact_value.ToStr("[]"));
                                        <strong><i class="fas fa-book mr-1"></i> Exact Value</strong>
                                        <ul>
                                            @foreach (TagifyValueModel item in values)
                                            {
                                                <li class="text-muted">
                                                    @item.value
                                                </li>
                                            }
                                        </ul>
                                    }



                                    @if (@Model.minimum_word != 0)
                                    {
                                        <strong><i class="fas fa-book mr-1"></i> Minimum Word Limit</strong>

                                        <p class="text-muted">
                                            @Model.minimum_word
                                        </p>

                                    }

                                    @if (@Model.maximum_word != 0)
                                    {
                                        <strong><i class="fas fa-book mr-1"></i> Maximum Word Limit</strong>

                                        <p class="text-muted">
                                            @Model.maximum_word
                                        </p>

                                    }

                                    @if (Model.time_relevant != 0)
                                    {
                                        <strong><i class="fas fa-book mr-1"></i> Time Relevant</strong>

                                        <p class="text-muted">
                                            @Model.time_relevant
                                        </p>
                                    }


                                </div>
                            </div>

                        </div>

                    </div>




                    @if (canPreview)
                    {
                        <div class="tab-pane" id="preview">
                            @Html.Partial("_PreviewBodyPartial", Model.TaskMaterials)
                        </div>
                    }
                </div>
                <!-- tab content -->
            </div>
            <!-- card body -->
        </div>
        <!--card -->
    </div>
    <!-- col -->
</div>

